Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

chore: Remove bundle analysis flags (#2693)
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/index.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/index.ts
  src/pages/RepoPage/BundlesTab/BundleContent/EmptyTable/EmptyTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/EmptyTable/EmptyTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/EmptyTable/index.ts
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.tsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

fix: remove the space
  codecov.yml
Due: none

fix: remove the thingy
  codecov.yml
Due: none

whitespace
  codecov.yml
Due: none

whitespace!
  codecov.yml
Due: none

tweak Sentry webpack config to set the release name
  craco.config.js
Due: none

one more tweak
  craco.config.js
Due: none

fix: click on label and subtitle changes state, tests
  src/pages/TermsOfService/TermsOfService.tsx
  src/ui/RadioInput/RadioInput.jsx
  src/ui/RadioInput/RadioInput.spec.jsx
Due: Pages, UI

Prepare release 24.4.1
  VERSION
Due: none

Prepare release 24.4.1 (#2737)
  VERSION
Due: none

build: grab github sha from env (#2672)
  craco.config.js
  craco.stats.config.js
  package-lock.json
  package.json
Due: none

ref: Convert file entry stuff to ts (#2698)
  src/services/file/useCoverageWithFilters.js
  src/services/file/useCoverageWithFilters.spec.js
  src/services/file/utils.ts
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.js
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/constants.ts
  src/services/pathContents/pull/file/index.ts
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.js
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.js
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.tsx
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.tsx
  src/shared/ContentsTable/constants.js
  src/shared/ContentsTable/constants.ts
Due: Services, Shared

fix: Handle guest feature error, no nested catch (#2709)
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
  src/shared/api/api.js
  src/shared/api/api.test.js
Due: Pages, Shared

Update to use react props with children
  src/services/repo/useRepoComponents.spec.tsx
Due: Services

Update src/services/repo/useRepoFlags.spec.tsx
  src/services/repo/useRepoFlags.spec.tsx
Due: Services

Pull out of func
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
Due: Pages

Update the suggestion
  src/services/repo/useRepoFlags.spec.tsx
Due: Services

ref: Refactor usRepoFlags to ts (#2729)
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/services/repo/useRepoFlags.js
  src/services/repo/useRepoFlags.spec.tsx
  src/services/repo/useRepoFlags.tsx
Due: Pages, Services

Update select placement on PR detail page (#2675)
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.spec.jsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/services/repo/useComponentsBackfilled.tsx
Due: Pages, Services

remove custom error
  src/shared/CustomError/CustomError.jsx
  src/shared/CustomError/index.js
Due: Shared

initial commit
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileViewer/CommitDetailFileViewer.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTab.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
Due: Pages

build: Fix Sentry webpack plugin config (#2735)
  craco.config.js
Due: none

New toggle header
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileViewer/CommitDetailFileViewer.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

Add upload n
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTab.spec.jsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

Try 90 percent
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

update styles
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

styles
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

Change selector widths
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.jsx
Due: Pages, UI

feat: Create useRepoComponents hook (#2733)
  src/services/repo/index.js
  src/services/repo/useRepoComponents.spec.tsx
  src/services/repo/useRepoComponents.tsx
Due: Services

globally mock out setUser method from Sentry
  src/setupTests.js
Due: none

use Sentry setUser in useTracking hook
  src/services/tracking/hooks.spec.js
  src/services/tracking/useTracking.js
Due: Services

add in Sentry feedback integration and cleanup config
  src/sentry.ts
Due: none

[client] Show install guides on un-configured private repos (#2685)
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/shared/UnauthorizedRepoDisplay.tsx
  src/shared/CustomError/CustomError.jsx
  src/shared/CustomError/index.js
Due: Layouts, Pages, Shared

don't render if it's loading
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
Due: Layouts

set custom colours for submit button and hover state
  src/globals.css
Due: none

set name label to Username to align with what we set the Sentry values to
  src/sentry.ts
Due: none

Style changes
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTab.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.jsx
Due: Pages, UI

update tests
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTab.spec.jsx
Due: Pages
