Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

make branch arg required
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.tsx
  src/services/branches/useBranchComponents.tsx
Due: Pages, Services

update yml to yaml in code
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/CommitDetailPage/UploadsCard/UploadsCard.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/ImpactAnalysisToken/RegenerateProfilingTokenModal.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RegenerateTokenModal.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/RegenerateStaticTokenModal.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/StaticAnalysisToken.spec.jsx
Due: Pages

update team file
  src/pages/RepoPage/CoverageTab/SummaryTeamPlan/SummaryTeamPlan.tsx
Due: Pages

More updates
  src/pages/AccountSettings/tabs/YAML/SuccessModal/SuccessModal.jsx
  src/pages/AccountSettings/tabs/YAML/YAML.spec.jsx
Due: Pages

Bunch of YAMLs
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/ManageAdminCard.jsx
  src/pages/AccountSettings/tabs/YAML/SuccessModal/SuccessModal.jsx
  src/pages/AccountSettings/tabs/YAML/SuccessModal/SuccessModal.spec.jsx
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/AccountSettings/tabs/YAML/YAML.spec.jsx
  src/pages/CommitDetailPage/UploadsCard/UploadsCard.spec.jsx
  src/pages/CommitDetailPage/YamlModal/YamlModal.jsx
  src/pages/RepoPage/CoverageTab/Summary/Summary.spec.jsx
  src/pages/RepoPage/CoverageTab/SummaryTeamPlan/SummaryTeamPlan.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/SecretString/SecretString.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/SecretString/SecretString.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/ValidateYaml/ValidateYaml.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/ValidateYaml/ValidateYaml.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YamlTab.spec.jsx
Due: Pages

uppercase
  src/pages/CommitDetailPage/UploadsCard/UploadsCard.jsx
  src/pages/CommitDetailPage/UploadsCard/UploadsCard.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/ImpactAnalysisToken/ImpactAnalysisToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/ImpactAnalysisToken/RegenerateProfilingTokenModal.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RegenerateTokenModal.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/RegenerateStaticTokenModal.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/StaticAnalysisToken.spec.jsx
Due: Pages

Update test
  src/pages/RepoPage/CoverageTab/Summary/Summary.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YamlTab.spec.jsx
Due: Pages

Update yml to YAML in text references (#2455)
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/ManageAdminCard.jsx
  src/pages/AccountSettings/tabs/YAML/SuccessModal/SuccessModal.jsx
  src/pages/AccountSettings/tabs/YAML/SuccessModal/SuccessModal.spec.jsx
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/AccountSettings/tabs/YAML/YAML.spec.jsx
  src/pages/CommitDetailPage/UploadsCard/UploadsCard.jsx
  src/pages/CommitDetailPage/UploadsCard/UploadsCard.spec.jsx
  src/pages/CommitDetailPage/YamlModal/YamlModal.jsx
  src/pages/RepoPage/CoverageTab/Summary/Summary.jsx
  src/pages/RepoPage/CoverageTab/Summary/Summary.spec.jsx
  src/pages/RepoPage/CoverageTab/SummaryTeamPlan/SummaryTeamPlan.spec.tsx
  src/pages/RepoPage/CoverageTab/SummaryTeamPlan/SummaryTeamPlan.tsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/ImpactAnalysisToken/ImpactAnalysisToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/ImpactAnalysisToken/RegenerateProfilingTokenModal.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RegenerateTokenModal.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/RegenerateStaticTokenModal.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/StaticAnalysisToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/SecretString/SecretString.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/SecretString/SecretString.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/ValidateYaml/ValidateYaml.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/ValidateYaml/ValidateYaml.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YamlTab.spec.jsx
Due: Pages

fix tests
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/ComponentsSelector.tsx
Due: Pages

Create a components selector that fetches components by head commit of a branch (#2452)
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.tsx
Due: Pages

feat: refactored components + cleanup
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/Controller.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/Controller.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/constants.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpgradeForm2.jsx
Due: Pages

test: add test for dedicated namespace envar
  src/config.spec.js
Due: none

feat: add banners for seats + license expiration (#2440)
  src/config.js
  src/config.spec.js
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/services/selfHosted/index.js
  src/services/selfHosted/useSelfHostedSeatsAndLicense.spec.tsx
  src/services/selfHosted/useSelfHostedSeatsAndLicense.ts
  src/shared/GlobalBanners/GlobalBanners.jsx
  src/shared/GlobalBanners/GlobalBanners.spec.jsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/LicenseExpirationModal/LicenseExpirationModal.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/LicenseExpirationModal/index.ts
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.jsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.spec.jsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/index.js
Due: Services, Shared

undo hook changes
  src/services/branches/useBranchComponents.tsx
Due: Services

clean up variables into constatns
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/Controller.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/ProPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/TeamPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/constants.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/constants.tsx
Due: Pages

bug: adjust NewPlanType typo
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/constants.tsx
Due: Pages

another typo fix
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
Due: Pages

775 sentry plan controllers (#2456)
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/Controller.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/Controller.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/ProPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/BillingOptions/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/PriceCallout/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/SentryPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/UserCount/UserCount.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/UserCount/UserCount.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/UserCount/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpgradeForm2.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpgradeForm2.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/constants.tsx
  src/shared/utils/billing.js
  src/shared/utils/upgradeForm.js
Due: Pages, Shared

change filter logic
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/services/file/useCommitBasedCoverageForFileViewer.js
  src/services/file/useCoverageWithFilters.js
Due: Pages, Services

code review changes
  src/pages/CommitDetailPage/subRoute/FilesChangedTab/FilesChangedTab.tsx
  src/services/commit/useCommit.tsx
Due: Pages, Services

Conditionally render outer divcomponents select
  src/pages/CommitDetailPage/subRoute/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/PullRequestPage/subroute/ComponentsTab/ComponentsTab.jsx
  src/pages/PullRequestPage/subroute/ComponentsTab/ComponentsTab.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChangedTab.tsx
Due: Pages

update tests
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChangedTab.spec.tsx
Due: Pages

[feat] Add components selector to file viewer (#2442)
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/services/commit/index.js
  src/services/file/index.js
  src/services/file/useCommitBasedCoverageForFileViewer.js
  src/services/file/useCommitBasedCoverageForFileViewer.spec.js
  src/services/file/useCoverageWithFilters.js
  src/services/file/useCoverageWithFilters.spec.js
  src/services/file/utils.js
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.jsx
  src/shared/RawFileviewer/RawFileviewer.jsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.jsx
Due: Pages, Services, Shared, UI

feat: add default branch specifc message to file explorer in coverage page
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
Due: Pages

feat: Add components selector for commits tab (#857)(#858) (#2454)
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/index.js
  src/pages/CommitDetailPage/subRoute/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/subRoute/FilesChangedTab/FilesChangedTable/FilesChangedTable.jsx
  src/services/commit/useCommit.tsx
  src/services/commit/useCommitComponents.tsx
Due: Pages, Services

feat: Update fileViewer with components selector
  src/pages/PullRequestPage/subroute/FileViewer/FileViewer.jsx
  src/pages/PullRequestPage/subroute/FileViewer/FileViewer.spec.jsx
Due: Pages

fix some other sad file viewers
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/shared/RawFileviewer/RawFileviewer.jsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.jsx
Due: Pages, Shared, UI

update with commit details filw viewer
  src/pages/CommitDetailPage/subRoute/CommitDetailFileViewer/CommitDetailFileViewer.jsx
  src/pages/CommitDetailPage/subRoute/CommitDetailFileViewer/CommitDetailFileViewer.spec.jsx
Due: Pages

fix: adjust argument return type
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
Due: Pages

test: add test for repocontentsresult
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.spec.tsx
Due: Pages

feat: add default branch specifc message to file explorer in coverage page (#2458)
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
Due: Pages

update with z index
  src/ui/MultiSelect/MultiSelect.jsx
Due: UI

feat: Update fileViewers with the right components selector (#2460)
  src/pages/CommitDetailPage/subRoute/CommitDetailFileViewer/CommitDetailFileViewer.jsx
  src/pages/CommitDetailPage/subRoute/CommitDetailFileViewer/CommitDetailFileViewer.spec.jsx
  src/pages/PullRequestPage/subroute/FileViewer/FileViewer.jsx
  src/pages/PullRequestPage/subroute/FileViewer/FileViewer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/shared/RawFileviewer/RawFileviewer.jsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.jsx
  src/ui/MultiSelect/MultiSelect.jsx
Due: Pages, Shared, UI

Revert "feat: add default branch specifc message to file explorer in coverage page (#2458)"
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
Due: Pages

fix: Fix the z index
  src/ui/MultiSelect/MultiSelect.jsx
Due: UI

Add components select to file explorer
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/ui/ComponentsSelect/ComponentsSelectCommit.spec.tsx
  src/ui/ComponentsSelect/ComponentsSelectCommit.tsx
  src/ui/ComponentsSelect/index.ts
Due: Pages, UI

fix: Fix the z index (#2462)
  src/ui/MultiSelect/MultiSelect.jsx
Due: UI

add test
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/ui/ComponentsSelect/ComponentsSelectCommit.tsx
Due: Pages, UI

[feat] Place the new multi selector for components in file explorer (#2463)
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/ui/ComponentsSelect/ComponentsSelectCommit.spec.tsx
  src/ui/ComponentsSelect/ComponentsSelectCommit.tsx
  src/ui/ComponentsSelect/index.ts
Due: Pages, UI

add components select to indirect changed tab
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesTab.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesTab.spec.jsx
Due: Pages
