Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

refactor: convert Button and Sidemenu to TS
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/shared/AppLink/AppLink.jsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/LicenseExpirationModal/LicenseExpirationModal.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/ui/Button/Button.stories.jsx
  src/ui/Button/Button.stories.tsx
  src/ui/Button/Button.test.tsx
  src/ui/Button/Button.tsx
  src/ui/Button/index.ts
  src/ui/LoadingLogo/LoadingLogo.stories.tsx
  src/ui/LoadingLogo/LoadingLogo.tsx
  src/ui/LoadingLogo/index.ts
  src/ui/Modal/Modal.stories.tsx
  src/ui/Sidemenu/Sidemenu.stories.jsx
  src/ui/Sidemenu/Sidemenu.stories.tsx
  src/ui/Sidemenu/Sidemenu.test.tsx
  src/ui/Sidemenu/Sidemenu.tsx
  src/ui/TabNavigation/TabNavigation.stories.tsx
  src/ui/TabNavigation/TabNavigation.test.tsx
  src/ui/TabNavigation/TabNavigation.tsx
Due: Pages, Shared, UI

refactor: convert TabNavigation to TS
  src/ui/TabNavigation/TabNavigation.jsx
  src/ui/TabNavigation/TabNavigation.stories.jsx
  src/ui/TabNavigation/TabNavigation.test.jsx
Due: UI

fix: review changes
  src/layouts/Header/components/Navigator/MyContextSwitcher.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
Due: Layouts, Shared

fix: Resolve merge conflict markers
  src/ui/ContextSwitcher/ContextSwitcher.stories.tsx
Due: none

tests, a lot of tests
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileListTable/FileListTable.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.test.tsx
  src/services/pathContents/branch/dir/constants.ts
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.test.tsx
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.test.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/services/pathContents/commit/dir/constants.ts
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.test.jsx
Due: Pages, Services, Shared

refactor: Convert UI files to TS (#3475)
  .storybook/preview.tsx
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/shared/AppLink/AppLink.jsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/LicenseExpirationModal/LicenseExpirationModal.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/ui/Avatar/Avatar.jsx
  src/ui/Button/Button.stories.jsx
  src/ui/Button/Button.stories.tsx
  src/ui/Button/Button.test.tsx
  src/ui/Button/Button.tsx
  src/ui/Button/index.ts
  src/ui/ContextSwitcher/ContextSwitcher.stories.jsx
  src/ui/ContextSwitcher/ContextSwitcher.stories.tsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
  src/ui/ContextSwitcher/index.js
  src/ui/ContextSwitcher/index.ts
  src/ui/LoadingLogo/LoadingLogo.stories.jsx
  src/ui/LoadingLogo/LoadingLogo.stories.tsx
  src/ui/LoadingLogo/LoadingLogo.tsx
  src/ui/LoadingLogo/index.ts
  src/ui/Modal/Modal.stories.tsx
  src/ui/Sidemenu/Sidemenu.stories.jsx
  src/ui/Sidemenu/Sidemenu.stories.tsx
  src/ui/Sidemenu/Sidemenu.test.tsx
  src/ui/Sidemenu/Sidemenu.tsx
  src/ui/TabNavigation/TabNavigation.stories.jsx
  src/ui/TabNavigation/TabNavigation.stories.tsx
  src/ui/TabNavigation/TabNavigation.test.tsx
  src/ui/TabNavigation/TabNavigation.tsx
Due: Pages, Shared, UI

test eslint bpr
  .eslintrc.cjs
  src/shared/propTypes/dataMarketingType.ts
  src/ui/A/A.jsx
  src/ui/Button/Button.jsx
Due: Shared, UI

Add Amplitude browser js SDK
  package.json
  yarn.lock
Due: none

fix merge conflict
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
Due: UI

fix: Fix link to custom gh app for self-hosted (#3492)
  src/config.js
  src/services/navigation/useNavLinks/useStaticNavLinks.test.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.ts
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Services, UI

feat: new UI to clarify adding token
  src/assets/onboarding/org_secret_dark.png
  src/assets/onboarding/org_secret_light.png
  src/assets/onboarding/repo_secret_dark.png
  src/assets/onboarding/repo_secret_light.png
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/MergeStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/MergeStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/types.ts
  src/services/codecovEventMetrics/useStoreCodecovEventMetric.tsx
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.js
Due: Pages, Services

test: Fix tests
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
Due: Pages

chore: styling
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.test.tsx
Due: Pages

update zod schema to match that of the API
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

update tests
  src/pages/CommitDetailPage/CommitDetailPage.test.tsx
Due: Pages

add new deps for eslint rules
  yarn.lock
Due: none

update eslint related packages
  yarn.lock
Due: none

also remove storybook create-react-app preset
  yarn.lock
Due: none

apply recommended rules
  .eslintrc.cjs
  src/layouts/Header/components/Navigator/MyContextSwitcher.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageSummary/hooks/useCommitForSummary.test.jsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/utils.js
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/NameColumn/NameColumn.jsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.test.jsx
  src/pages/RepoPage/ConfigTab/tabs/BadgesAndGraphsTab/Badges/Badges.test.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useBranchSelector.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/summaryHooks/useCoverageRedirect.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.tsx
  src/sentry.ts
  src/services/branches/useBranches.test.tsx
  src/services/charts/useReposCoverageMeasurements.ts
  src/services/user/useMyContexts.test.tsx
  src/shared/ContentsTable/TableEntries/BaseEntries/DirEntry.jsx
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.jsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.jsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/useRedirect/hooks.test.js
  src/ui/MultiSelect/MultiSelect.jsx
  src/ui/Select/Select.jsx
Due: Layouts, Pages, Services, Shared, UI

enable base eslint recomendations
  .eslintrc.cjs
Due: none

enable typescript-eslint recommended rules
  .eslintrc.cjs
Due: none

remove these two quick changes that aren't lint related
  src/services/access/useDeleteSession.ts
  src/services/access/useRevokeUserToken.ts
Due: Services

expect ts error for useUpdateRepo as it's not typed yet
  src/services/repo/useUpdateRepo.test.tsx
Due: Services

resovle new lint violations
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/ui/Button/Button.tsx
Due: Pages, UI

remove type ignore and type issue
  src/ui/TopBanner/TopBanner.tsx
  src/ui/VirtualRenderers/LineNumber.tsx
Due: UI

remove ignored unused arg
  src/ui/Sparkline/Sparkline.tsx
Due: UI

lower the hash count down to 21
  vite.config.mjs
Due: none

fix: Incorrect Zod schema for CommitPageDataQueryOpts (#3557)
  src/pages/CommitDetailPage/CommitDetailPage.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

update with more tests
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileListTable/FileListTable.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.test.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
Due: Pages, Services

more refactoring
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.test.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.test.jsx
Due: Services, Shared

chore: Add Amplitude browser JS SDK (#3555)
  package.json
  yarn.lock
Due: none

Fix tests that break with custom gh app set locally
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.test.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.test.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.ts
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
Due: Layouts, Pages, Services, UI

fix: Render and style changes
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
Due: Pages

fix: Broken tests when custom GH_APP set locally (#3558)
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.test.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.test.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.ts
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
Due: Layouts, Pages, Services, UI

update useBundleAssetsTable
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.ts
Due: Pages

update for TSQ V5 and grab new bundle info data
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

update BundleContent
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
Due: Pages

request plugin name in the new info field and move to only query options
  src/services/bundleAnalysis/BundleAssetsQueryOpts.test.tsx
  src/services/bundleAnalysis/BundleAssetsQueryOpts.tsx
Due: Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
