Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

Allow more than 10 seats to be entered in team plan seats input (#2705)
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
Due: Pages

Convert usePullTreePaths to ts (#2697)
  src/shared/treePaths/usePullTreePaths.js
  src/shared/treePaths/usePullTreePaths.ts
Due: Shared

fix: Update GH onboarding token link (#2700)
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

remove sentry from stats config
  craco.stats.config.js
Due: none

update Sentry and BA plugin
  package-lock.json
  package.json
Due: none

grab github sha from env
  craco.config.js
Due: none

swap to use proper plugin
  craco.config.js
Due: none

update config for new version of sentry webpack plugin
  craco.config.js
Due: none

update config to grab value from env, and default to timestamp if env isn't present
  craco.config.js
Due: none

update those package versions just one more time
  package-lock.json
  package.json
Due: none

ref: Update usePullPageData to grab commit count (#2715)
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.spec.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/index.ts
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.spec.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.ts
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/hooks/usePullPageData.spec.tsx
  src/pages/PullRequestPage/hooks/usePullPageData.tsx
Due: Pages

feat: Improve component searching (#2710)
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
Due: Pages

Nick in person review changes
  src/pages/AdminSettings/AdminAccess/AdminAccess.spec.tsx
Due: Pages

ref: Convert AdminAccessTable to tanstack table (#2718)
  src/pages/AdminSettings/AdminAccess/AdminAccess.spec.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccess.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.jsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.spec.jsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.spec.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/index.ts
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.js
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.spec.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.ts
  src/pages/AdminSettings/AdminAccess/index.ts
Due: Pages

break long emails
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
Due: Pages

Use Refactored tables
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.jsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/TableEntries/TableSparkline.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/TableEntries/TableSparkline.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.js
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.spec.js
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

tighten up the max width a little more
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
Due: Pages

make sure activationStatus is right aligned
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
Due: Pages

ref: Update Self Hosted Admin Members Table (#2724)
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.spec.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.spec.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
  src/services/selfHosted/useSelfHostedSettings.js
  src/services/selfHosted/useSelfHostedSettings.spec.tsx
  src/services/selfHosted/useSelfHostedSettings.ts
  src/services/selfHosted/useSelfHostedUserList.js
  src/services/selfHosted/useSelfHostedUserList.spec.tsx
  src/services/selfHosted/useSelfHostedUserList.ts
Due: Pages, Services

feat: Create useRepoComponents hook
  src/services/repo/index.js
  src/services/repo/useRepoComponents.spec.tsx
  src/services/repo/useRepoComponents.tsx
Due: Services

We need branch not term
  src/services/repo/useRepoComponents.tsx
Due: Services

fix: Handle guest feature error, no nested catch (#2709)
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
  src/shared/api/api.js
  src/shared/api/api.test.js
Due: Pages, Shared

updated to v1.2.16
  package-lock.json
  package.json
Due: none

build: grab github sha from env (#2672)
  craco.config.js
  craco.stats.config.js
  package-lock.json
  package.json
Due: none

ref: Convert file entry stuff to ts (#2698)
  src/services/file/useCoverageWithFilters.js
  src/services/file/useCoverageWithFilters.spec.js
  src/services/file/utils.ts
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.js
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/constants.ts
  src/services/pathContents/pull/file/index.ts
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.js
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.js
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.tsx
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.tsx
  src/shared/ContentsTable/constants.js
  src/shared/ContentsTable/constants.ts
Due: Services, Shared

remove flags from CommitDetailPage
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
Due: Pages

remove flags from CommitsTableTeam
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
Due: Pages

remove flags from CommitsTable
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
Due: Pages

remove flags from PullRequestPage
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
Due: Pages

remove flags from RepoPage
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

remove flags from RepoPageTabs
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

remove flags from CommitsTableTeam
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
Due: Pages

remove flags from PullsTable
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
Due: Pages

remove old BundleSummary
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/index.ts
Due: Pages

remove flags from BundleContent
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

remove flags from CommitsTable
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
Due: Pages

remove old BundleTable
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/index.ts
Due: Pages

remove old EmptyTable
  src/pages/RepoPage/BundlesTab/BundleContent/EmptyTable/EmptyTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/EmptyTable/EmptyTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/EmptyTable/index.ts
Due: Pages

remove flags from PullsTableTeam
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.tsx
Due: Pages

fix type issue
  src/pages/RepoPage/RepoPageTabs.spec.tsx
Due: Pages
