Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

fix: Add back needed z-index style (#3447)
  src/ui/SummaryDropdown/SummaryDropdown.tsx
Due: UI

update index file
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/index.ts
Due: Pages

remove feature flag and refactor commit file diff
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

update tests
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.tsx
Due: Pages

feoaij
  src/shared/GlobalTopBanners/TokenlessBanner/TokenRequiredBanner/TokenRequiredBanner.tsx
Due: Shared

fix not logged in case
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/ui/Label/Label.tsx
Due: Layouts, UI

chore: upgrade sentry/react version
  package.json
  yarn.lock
Due: none

fix so margin is not baked in
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
  src/ui/Label/Label.tsx
Due: Layouts, Shared, UI

some demo magic
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsFlags/useTestResultsFlags.tsx
Due: Pages

feat: Add 'viewing as visitor' label (#3445)
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/Label/Label.stories.tsx
  src/ui/Label/Label.tsx
Due: Layouts, Shared, UI

change this
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

force invalid yaml
  codecov.yml
Due: none

feat: Remove token from Other CI onboarding step 3
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

feat: Improve commit yaml error messaging
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModalErrorBanner.jsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

test: modify tests for changes
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.test.tsx
Due: Pages

wip
  src/services/access/useGenerateUserToken.test.tsx
  src/services/access/useGenerateUserToken.ts
  src/services/navigation/normalize.ts
  src/services/pull/utils/transformImpactedFileToDiff.test.ts
  src/services/pull/utils/transformImpactedFileToDiff.ts
  src/services/selfHosted/useSelfHostedHasAdmins.ts
  src/services/usePaginatedContents/usePaginatedContents.ts
Due: Services

chore: Remove virtual diff feature flag from commits indirect changes diff (#3448)
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/index.ts
Due: Pages

chore: Remove virtual renderer flag pulls files changed diff (#3442)
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/index.js
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
  src/services/pull/fragments.ts
  src/services/pull/usePrefetchSingleFileComp.tsx
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
  src/services/pull/utils/index.ts
  src/services/pull/utils/transformImpactedFileToDiff.js
  src/services/pull/utils/transformImpactedFileToDiff.test.js
  src/services/pull/utils/transformImpactedPullFileToDiff.test.ts
  src/services/pull/utils/transformImpactedPullFileToDiff.ts
Due: Pages, Services

rename to PullFileDiff
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/index.js
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/index.ts
Due: Pages

remove virtual diff feature flag and refactor to ts
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.tsx
Due: Pages

tidy up tests
  src/pages/PullRequestPage/PullCoverage/PullCoverage.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.test.tsx
Due: Pages

Initial commit
  src/assets/codecovAI/pr-review-example-dark-mode.png
  src/assets/codecovAI/pr-review-example-light-mode.png
  src/index.tsx
  src/pages/CodecovAIPage/CodecovAICommands/CodecovAICommands.tsx
  src/pages/CodecovAIPage/ConfiguredRepositories/ConfiguredRepositories.tsx
Due: Pages

chore: Remove virtual diff feature flag from pulls indirect tab file diff (#3454)
  src/pages/PullRequestPage/PullCoverage/PullCoverage.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/index.js
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/index.ts
Due: Pages

Update copy
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
  src/pages/CodecovAIPage/LearnMoreBlurb/LearnMoreBlurb.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
Due: Pages, Services

Copy tweak
  src/pages/CodecovAIPage/CodecovAIPage.tsx
Due: Pages

chore: upgrade sentry/react version (#3450)
  package.json
  yarn.lock
Due: none

Update
  src/config.js
  src/services/navigation/useNavLinks/useStaticNavLinks.js
Due: Services

add default system color
  src/globals.css
  src/shared/ThemeContext/ThemeContext.test.tsx
  src/shared/ThemeContext/ThemeContext.tsx
Due: Shared

fix: change back to only remove token
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

fix tests
  src/App.test.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.test.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.test.tsx
  src/layouts/LoginLayout/LoginLayout.test.tsx
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.test.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
  src/pages/LoginPage/LoginButton.test.jsx
  src/pages/LoginPage/LoginPage.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressCard.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.test.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.test.tsx
Due: Layouts, Pages

implement error messaging
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/index.ts
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModal.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModalErrorBanner.jsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  tailwind.config.mjs
Due: Pages, Services

fix tests
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModal.test.jsx
  src/services/commit/useCommitCoverageDropdownSummary.test.tsx
Due: Pages, Services

some flakes
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsFlags/useTestResultsFlags.test.tsx
  src/shared/utils/testingTests.test.ts
Due: Pages, Shared

better demo file
  src/shared/utils/testingTests.test.ts
  src/shared/utils/testingTests.ts
Due: Shared

cleanup
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

remove metrics utils
  src/shared/utils/metrics.test.ts
  src/shared/utils/metrics.ts
Due: Shared

remove metrics from ThemeToggle
  src/layouts/Header/components/ThemeToggle/ThemeToggle.test.tsx
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
Due: Layouts

remove metrics from CommitBundleAnalysis
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
Due: Pages

remove metrics from CommitCoverage
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
Due: Pages

remove planMetrics
  src/pages/PlanPage/PlanMetrics/planMetrics.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
