Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

Resolve confilcts
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChanged.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChanged.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/index.js
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/Table/Table.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/Table/Table.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/Table/index.js
  src/services/pull/usePull.tsx
Due: Pages, Services

no need for repo in url params now
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

feat: Update circleci with global token if exists (#2534)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
Due: Pages

fix: Update with components specfic errors
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.spec.tsx
  src/shared/ContentsTable/MissingFileData/MissingFileData.jsx
  src/shared/ContentsTable/MissingFileData/MissingFileData.spec.jsx
  src/shared/ContentsTable/MissingFileData/MissingFileData.spec.tsx
  src/shared/ContentsTable/MissingFileData/MissingFileData.tsx
Due: Pages, Shared

feat: Fetch product status in use pull page data (#2537)
  src/pages/PullRequestPage/FirstPullBanner/FirstPullBanner.spec.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.spec.js
  src/pages/PullRequestPage/PullRequestPage.spec.jsx
  src/pages/PullRequestPage/hooks/usePullPageData.spec.tsx
  src/pages/PullRequestPage/hooks/usePullPageData.tsx
Due: Pages

[feat] Add metric to monitor app install shares (#2532)
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.spec.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
Due: Shared

quick style updates to summary dropdown
  src/ui/SummaryDropdown/SummaryDropdown.tsx
Due: UI

update formatSizeToString to handle negative size values
  src/shared/utils/bundleAnalysis.spec.ts
  src/shared/utils/bundleAnalysis.ts
Due: Shared

remove MissingComparison from commit bundle list and commit dropdown summary hooks
  src/services/commit/useCommitBADropdownSummary.tsx
  src/services/commit/useCommitBundleList.tsx
Due: Services

Default to billing rate
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/shared/utils/upgradeForm.js
Due: Pages, Shared

Update variable name
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
Due: Pages

Update upgrade details
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/UpgradeDetails.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/UpgradeDetails.tsx
Due: Pages

add in new CommitCoverageDropdown component
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

add in new CommitBundleDropdown component
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.tsx
Due: Pages

add extra check
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
Due: Pages

update tests
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.spec.tsx
Due: Pages

update commit detail page and also move to TS
  src/pages/CommitDetailPage/CommitDetailPage.jsx
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
Due: Pages

remove top border from bundle anaylsis table
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.tsx
Due: Pages

extra check
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
Due: Pages

update CommitBundleAnaylsis component to render bundle anaylsis table properly
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
Due: Pages

update onclick
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
Due: Pages

small refactor to summary queries to just return the commit
  src/services/commit/useCommitBADropdownSummary.spec.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
  src/services/commit/useCommitCoverageDropdownSummary.spec.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
Due: Services

update CommitCoverageDropdown
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

update CommitBundleDropdown
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.tsx
Due: Pages

update CommitBundleAnalysis
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
Due: Pages

slight style tweak
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

update formatSizeToString to handle negative values
  src/shared/utils/bundleAnalysis.spec.ts
  src/shared/utils/bundleAnalysis.ts
Due: Shared

update commit coverage summary to return just the commit info
  src/services/commit/useCommitCoverageDropdownSummary.spec.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
Due: Services

update commit bundle analysis summary hook to just return the commit
  src/services/commit/useCommitBADropdownSummary.spec.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
Due: Services

fix commit bundle list hook
  src/services/commit/useCommitBundleList.tsx
Due: Services

quick style tweaks for the summary dropdown component
  src/ui/SummaryDropdown/SummaryDropdown.tsx
Due: UI

create CommitCoverageDropdown component
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

create CommitBundleDropdown component
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.tsx
Due: Pages

ref: Refactor pull request impacted files to use the new table (#2524)
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChanged.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChanged.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/index.js
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/Table/Table.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/Table/Table.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/Table/index.js
  src/services/pull/usePull.tsx
Due: Pages, Services

feat: Fetch to see if bundle or coverage is enabled on a repository for a given commit (#2535)
  src/pages/CommitDetailPage/CommitDetailPage.spec.jsx
  src/pages/CommitDetailPage/hooks/useCommitPageData.spec.tsx
  src/pages/CommitDetailPage/hooks/useCommitPageData.tsx
Due: Pages

fix: Small tweaks to utils and hooks for BA on the Commit Detail Page (#2540)
  src/services/commit/useCommitBADropdownSummary.spec.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
  src/services/commit/useCommitBundleList.tsx
  src/services/commit/useCommitCoverageDropdownSummary.spec.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
  src/shared/utils/bundleAnalysis.spec.ts
  src/shared/utils/bundleAnalysis.ts
Due: Services, Shared

fix: Update with components specfic errors (#2543)
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.spec.tsx
  src/shared/ContentsTable/MissingFileData/MissingFileData.jsx
  src/shared/ContentsTable/MissingFileData/MissingFileData.spec.jsx
  src/shared/ContentsTable/MissingFileData/MissingFileData.spec.tsx
  src/shared/ContentsTable/MissingFileData/MissingFileData.tsx
Due: Pages, Shared

feat: Create drop downs for Commit Detail page (#2541)
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
  src/ui/SummaryDropdown/SummaryDropdown.tsx
Due: Pages, UI

update commit detail page to conditionally render coverage, ba, or both and also move it to TS
  src/pages/CommitDetailPage/CommitDetailPage.jsx
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
Due: Pages

slight style tweak to the commit ba table
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
