Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

update useREposCoverageMeasurements to grab avg instead of max
  src/services/charts/useReposCoverageMeasurements.spec.tsx
  src/services/charts/useReposCoverageMeasurements.ts
Due: Services

update useCoverage to use avg instead of max
  src/pages/AnalyticsPage/Chart/useCoverage.js
  src/pages/AnalyticsPage/Chart/useCoverage.spec.js
Due: Pages

update Chart tests
  src/pages/AnalyticsPage/Chart/Chart.spec.jsx
Due: Pages

get list of possible variants from variant object through Object.keys()
  src/ui/Button/Button.jsx
Due: UI

update SyncButton to support enterprise providers
  src/pages/SyncProviderPage/SyncButton.spec.tsx
  src/pages/SyncProviderPage/SyncButton.tsx
Due: Pages

move and rename useServiceProviders to useLoginProviders
  src/services/config/index.ts
  src/services/config/useLoginProviders.spec.tsx
  src/services/config/useLoginProviders.ts
Due: Services

update to use useLoginProviders
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.spec.tsx
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.tsx
Due: Pages

fetch a list of sync providers from the API
  src/pages/SyncProviderPage/SyncProviderPage.spec.tsx
  src/pages/SyncProviderPage/SyncProviderPage.tsx
Due: Pages

add new hook to fetch sync providers
  src/services/config/index.ts
  src/services/config/useSyncProviders.spec.tsx
  src/services/config/useSyncProviders.ts
Due: Services

add in static link to self hosted install guide
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
Due: Services

fix up ts issues
  src/pages/SyncProviderPage/SyncProviderPage.tsx
Due: Pages

add in error message if no sync providers are returned
  src/pages/SyncProviderPage/SyncProviderPage.spec.tsx
  src/pages/SyncProviderPage/SyncProviderPage.tsx
Due: Pages

Prepare release 24.2.1
  VERSION
Due: none

feat: adjust to typescript and add test
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.tsx
Due: Pages

add in check to disable the query if the branch is not present
  src/services/branches/useBranchBundles.tsx
Due: Services

feat: Create hook to fetch branch summary for a branch (#2554)
  src/services/branches/index.js
  src/services/branches/useBranchBundles.spec.tsx
  src/services/branches/useBranchBundles.tsx
Due: Services

update tests
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.tsx
Due: Pages

update useRepoOverview to fetch product status, languages, and refactor to TS
  src/services/repo/useRepoOverview.js
  src/services/repo/useRepoOverview.spec.js
  src/services/repo/useRepoOverview.spec.tsx
  src/services/repo/useRepoOverview.tsx
Due: Services

update tests affected by refactor to TS
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
  src/pages/RepoPage/CoverageTab/Summary/Summary.spec.jsx
  src/pages/RepoPage/CoverageTab/SummaryTeamPlan/SummaryTeamPlan.spec.tsx
  src/pages/RepoPage/CoverageTab/hooks/useRepoCoverageTimeseries.spec.js
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/CoverageChart/CoverageChart.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.spec.js
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/Sunburst.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/hooks/useConvertD3ToBreadcrumbs.spec.js
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/hooks/useSunburstChart.spec.js
  src/pages/RepoPage/CoverageTab/summaryHooks/useSummary.spec.js
  src/shared/treePaths/useTreePaths.spec.js
Due: Pages, Shared

more refactor to tests
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
Due: Pages

update useBranchBundles to grab commit id
  src/services/branches/useBranchBundles.spec.tsx
  src/services/branches/useBranchBundles.tsx
Due: Services

Prepare release 24.2.1 (#2557)
  VERSION
Due: none

create new BundleSummary component
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/index.ts
Due: Pages

create new bundle content component
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/index.ts
Due: Pages

fix small type error
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
Due: Pages

ref: Refactor flags table in PR page (#2556)
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.tsx
  src/services/pull/usePull.tsx
Due: Pages, Services

small tweaks to summary header
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
Due: Pages

Fix type, duplicate name
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/services/commit/useCommit.tsx
Due: Pages, Services

use return directly
  src/services/repo/useRepoFlagsSelect.js
Due: Services

fix up tests
  src/services/branches/useBranchBundles.spec.tsx
  src/services/branches/useBranchBundles.tsx
Due: Services

ref: Update anchor functionality
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileViewer/CommitDetailFileViewer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.jsx
  src/ui/CodeRenderer/SingleLine/SingleLine.jsx
Due: Pages, UI

feat: Putting it all together on the commit page (#2542)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.tsx
  src/pages/CommitDetailPage/CommitDetailPage.jsx
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
Due: Pages

feat: Create pull bundle dropdown (#2553)
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.spec.tsx
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/index.ts
  src/services/pull/usePullBADropdownSummary.spec.tsx
  src/services/pull/usePullBADropdownSummary.tsx
  src/services/pull/usePullBundleList.tsx
Due: Pages, Services

override does not work on stage/prod
  src/ui/CodeRenderer/SingleLine/SingleLine.jsx
Due: UI

attempt 2
  src/ui/CodeRenderer/SingleLine/SingleLine.jsx
Due: UI

Update flag select in pull request view to only show relevant flags (#2531)
  src/services/repo/useRepoFlagsSelect.js
  src/services/repo/useRepoFlagsSelect.spec.js
Due: Services

refactor to handle targeted
  src/shared/utils/fileviewer.js
  src/shared/utils/fileviewer.spec.tsx
  src/shared/utils/fileviewer.tsx
  src/ui/CodeRenderer/DiffLine/DiffLine.jsx
  src/ui/CodeRenderer/SingleLine/SingleLine.jsx
Due: Shared, UI

update to old code
  src/ui/CodeRenderer/SingleLine/SingleLine.jsx
Due: UI

Refactor to as const
  src/shared/utils/fileviewer.tsx
  src/ui/CodeRenderer/SingleLine/SingleLine.jsx
Due: Shared, UI

Reformat queries
  src/services/repos/useRepos.tsx
Due: Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
