Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

remove bundle report from bundle dropdown as it's moved to bundle message component
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.tsx
Due: Pages

clean up commit bundle analysis component and move bundle message out
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
Due: Pages

clean up bundle message a little bit
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
Due: Pages

add in emoji for unknown error
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
Due: Pages

update bundle dropdown to render error message
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.tsx
Due: Pages

some progress
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.tsx
  src/pages/CommitDetailPage/hooks/useCommitPageData.tsx
Due: Pages

create new bundle message component
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/index.ts
Due: Pages

move bundle analysis comparison result into it's own schema
  src/pages/CommitDetailPage/hooks/useCommitPageData.tsx
Due: Pages

update commit detail page to conditionally render coverage, ba, or both and also move it to TS
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
Due: Pages

add in empty table component to render in an error state
  src/pages/CommitDetailPage/CommitBundleAnalysis/EmptyTable/EmptyTable.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/EmptyTable/EmptyTable.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/EmptyTable/index.ts
Due: Pages

add first pull banner for commit bundle analysis
  src/pages/CommitDetailPage/CommitBundleAnalysis/FirstPullBanner/FirstPullBanner.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/FirstPullBanner/FirstPullBanner.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/FirstPullBanner/index.ts
Due: Pages

update bundle message to handle first pull requests properly
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
Due: Pages

update tests
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
Due: Pages

initial commit
  src/services/account/useUpgradePlan.js
Due: Services

update to default to 10 (#2571)
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
Due: Pages

update bundler plugin version
  package-lock.json
  package.json
Due: none

bump node version up to 20
  .github/workflows/ci.yml
Due: none

update tests
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
Due: Pages

update dockerfile to node 20 and alpine 3.17
  docker/Dockerfile
Due: none

build: Move bundler plugin to beta version and move to Node 20 (#2573)
  .github/workflows/ci.yml
  docker/Dockerfile
  package-lock.json
  package.json
Due: none

fix: Update to teamplan when selecting team plan
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/shared/utils/upgradeForm.js
  src/shared/utils/upgradeForm.spec.js
Due: Pages, Shared

fix: Update to teamplan when selecting team plan (#2574)
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/shared/utils/upgradeForm.js
  src/shared/utils/upgradeForm.spec.js
Due: Pages, Shared

Use setup args
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.spec.tsx
  src/services/commit/useCommit.tsx
Due: Pages, Services

update useRepoOverview to check to see if js or ts is present
  src/services/repo/useRepoOverview.spec.tsx
  src/services/repo/useRepoOverview.tsx
Due: Services

update setup args types
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.spec.tsx
Due: Pages

Refactor files changed table on commit detail page (#2569)
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/services/commit/useCommit.tsx
Due: Pages, Services

stop using useMemo
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

update first pull banner
  src/pages/CommitDetailPage/CommitBundleAnalysis/FirstPullBanner/FirstPullBanner.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/FirstPullBanner/FirstPullBanner.tsx
Due: Pages

fix up error banner
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.tsx
Due: Pages

update commit bundle analysis tests
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
Due: Pages

feat: Handle errors for commit bundles (#2550)
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/index.ts
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/EmptyTable/EmptyTable.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/EmptyTable/EmptyTable.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/EmptyTable/index.ts
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/index.ts
  src/pages/CommitDetailPage/CommitBundleAnalysis/FirstPullBanner/FirstPullBanner.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/FirstPullBanner/FirstPullBanner.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/FirstPullBanner/index.ts
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.tsx
  src/pages/CommitDetailPage/hooks/useCommitPageData.tsx
Due: Pages

feat: Update conditional render logic for repo page tabs (#2570)
  src/App.spec.jsx
  src/pages/RepoPage/RepoPage.jsx
  src/pages/RepoPage/RepoPage.spec.jsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
  src/services/repo/useRepoOverview.spec.tsx
  src/services/repo/useRepoOverview.tsx
  src/services/tier/useTier.ts
Due: Pages, Services

create new RepoPageTabs component to handle conditional rendering of repo page tabs
  src/pages/RepoPage/RepoPageTabs/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs/RepoPageTabs.tsx
  src/pages/RepoPage/RepoPageTabs/index.ts
Due: Pages

move repo page tabs up one level
  src/pages/RepoPage/RepoPageTabs/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs/RepoPageTabs.tsx
  src/pages/RepoPage/RepoPageTabs/index.ts
Due: Pages

update RepoPage to render bundles tab
  src/pages/RepoPage/RepoPage.jsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

fix up last few tweaks for the routes
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

setup routes in bundles tab component
  src/pages/RepoPage/BundlesTab/BundlesTab.tsx
Due: Pages

add in new tests and refactor to TS
  src/pages/RepoPage/RepoPage.spec.jsx
  src/pages/RepoPage/RepoPage.spec.tsx
Due: Pages

update tests
  src/pages/RepoPage/BundlesTab/BundlesTab.spec.tsx
Due: Pages

fix bundle onboarding not being rendered
  src/pages/RepoPage/RepoPage.tsx
Due: Pages
