Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

create initial bundle onboarding page
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/index.ts
Due: Pages

setup inital bundles tab component
  src/pages/RepoPage/BundlesTab/BundlesTab.spec.tsx
  src/pages/RepoPage/BundlesTab/BundlesTab.tsx
  src/pages/RepoPage/BundlesTab/index.ts
Due: Pages

address some feedback on onboarding text content
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
Due: Pages

ref: Move coverage onboarding to coverage tab (#2504)
  .github/workflows/ci.yml
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.jsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/index.js
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/index.js
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.jsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/index.js
  src/pages/RepoPage/CoverageOnboarding/OtherCI/index.js
  src/pages/RepoPage/CoverageOnboarding/index.js
  src/pages/RepoPage/RepoPage.jsx
  src/pages/RepoPage/RepoPage.spec.jsx
  src/pages/RepoPage/hooks/pathMatchersHooks.js
  src/pages/RepoPage/hooks/pathMatchersHooks.spec.tsx
  src/pages/RepoPage/hooks/pathMatchersHooks.ts
Due: Pages

remove tabs place holder
  src/pages/RepoPage/BundlesTab/BundlesTab.tsx
Due: Pages

feat: move payment card into billing details folder
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CardInformation.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CreditCardForm.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/hooks.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/hooks.spec.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/index.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/index.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/PaymentCard/PaymentCard.jsx
  src/shared/utils/billing.js
  src/shared/utils/billing.spec.js
Due: Pages, Shared

feat: create email update mutation
  src/services/account/index.js
  src/services/account/useUpdateBillingEmail.spec.tsx
  src/services/account/useUpdateBillingEmail.ts
Due: Services

ref: Refactor commits table in PR page (#2508)
  src/pages/PullRequestPage/subroute/CommitsTab/CommitsTable/CommitsTable.jsx
  src/pages/PullRequestPage/subroute/CommitsTab/CommitsTable/CommitsTable.spec.jsx
  src/pages/PullRequestPage/subroute/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/PullRequestPage/subroute/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/subroute/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/PullRequestPage/subroute/CommitsTab/CommitsTable/createCommitsTableData.tsx
Due: Pages

ref: Refactor usePull and all of its tests
  src/pages/PullRequestPage/Summary/CompareSummary/CompareSummary.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/FilesChanged.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/Table/Table.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/hooks/useImpactedFilesTable.spec.js
  src/pages/PullRequestPage/subroute/FlagsTab/FlagsTab.spec.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.spec.js
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesTab.spec.jsx
  src/services/pull/hooks.spec.js
  src/services/pull/index.js
  src/services/pull/usePull.js
  src/services/pull/usePull.tsx
Due: Pages, Services

fix tests and update with fragment
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/FilesChanged.spec.jsx
  src/services/pull/fragments.js
  src/services/pull/usePull.tsx
Due: Pages, Services

more tests for usePull
  src/services/pull/hooks.spec.js
Due: Services

update with more tests
  src/services/pull/hooks.spec.js
Due: Services

update with compare summary spec tests
  src/pages/PullRequestPage/Summary/CompareSummary/CompareSummary.spec.jsx
Due: Pages

Formatting
  src/services/repos/useRepos.js
  src/services/repos/useRepos.tsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.jsx
  src/shared/ListRepo/ReposTable/NoRepoCoverage.jsx
  src/shared/ListRepo/ReposTable/ReposTable.jsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
Due: Services, Shared

feat: Create commit page table for bundle analysis (#2499)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/index.ts
  src/pages/CommitDetailPage/CommitBundleAnalysis/index.ts
  src/services/commit/useCommitBundleList.spec.tsx
  src/services/commit/useCommitBundleList.tsx
Due: Pages, Services

update test
  src/services/repos/useRepos.tsx
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
Due: Services, Shared

feat: use intl library instead of date-fns for date functions
  .env.development
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.spec.jsx
  src/shared/utils/billing.js
  src/shared/utils/billing.spec.js
Due: Pages, Shared

fix: uncomment deevelopment env file
  .env.development
Due: none

add userepos test
  src/services/repos/useRepos.spec.tsx
  src/services/repos/useRepos.tsx
Due: Services

remove sorting tests
  src/shared/ListRepo/ListRepo.spec.jsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.spec.tsx
Due: Shared

remove spec
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.spec.tsx
Due: Shared

update to test strictObject locally, remove pull commitids
  src/pages/PullRequestPage/Summary/CompareSummary/CompareSummary.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/FilesChanged.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/Table/Table.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/hooks/useImpactedFilesTable.spec.js
  src/pages/PullRequestPage/subroute/FlagsTab/FlagsTab.spec.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.spec.js
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesTab.spec.jsx
  src/services/pull/hooks.spec.js
  src/services/pull/index.js
  src/services/pull/usePull.tsx
Due: Pages, Services

Resolve errors in schema validation of tests
  src/pages/PullRequestPage/Summary/CompareSummary/CompareSummary.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/FilesChanged.spec.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesTab.spec.jsx
Due: Pages

feat: Create bundle analysis table for a given pull (#2510)
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysisTable/PullBundleAnalysisTable.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysisTable/PullBundleAnalysisTable.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysisTable/index.ts
  src/pages/PullRequestPage/PullBundleAnalysis/index.ts
  src/services/pull/usePullBundleList.tsx
Due: Pages, Services

one more test for the schema validation
  src/services/pull/hooks.spec.js
Due: Services

ref: Refactor usePull and all of its tests (#2517)
  src/pages/PullRequestPage/Summary/CompareSummary/CompareSummary.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/FilesChanged.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/Table/Table.spec.jsx
  src/pages/PullRequestPage/subroute/FilesChangedTab/FilesChanged/hooks/useImpactedFilesTable.spec.js
  src/pages/PullRequestPage/subroute/FlagsTab/FlagsTab.spec.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.spec.js
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesTab.spec.jsx
  src/services/pull/fragments.js
  src/services/pull/hooks.spec.js
  src/services/pull/usePull.js
  src/services/pull/usePull.tsx
Due: Pages, Services

Add tests to useRepos
  src/services/repos/useRepos.spec.tsx
Due: Services

Add wait for
  src/services/repos/useRepos.spec.tsx
Due: Services

Remove extra params
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.jsx
Due: Shared

move pr coverage summary into pull coverage dir
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummary.jsx
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummary.spec.jsx
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummarySkeleton.jsx
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummarySkeleton.spec.jsx
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/index.ts
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/usePullForCompareSummary.js
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/usePullForCompareSummary.spec.js
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.spec.tsx
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.tsx
  src/pages/PullRequestPage/PullCoverage/Summary/index.ts
Due: Pages

update chart selectors
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
Due: Pages

Fix css
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
Due: Shared

chart selector tests
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.spec.jsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Pages, Shared

feat: move payment card into billing details folder (#2515)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CardInformation.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CreditCardForm.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/hooks.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/hooks.spec.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/index.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/index.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/PaymentCard/PaymentCard.jsx
  src/shared/utils/billing.js
  src/shared/utils/billing.spec.js
Due: Pages, Shared

move error banner and refactor tests
  src/pages/PullRequestPage/PullCoverage/ErrorBanner/ErrorBanner.jsx
  src/pages/PullRequestPage/PullCoverage/ErrorBanner/ErrorBanner.spec.jsx
  src/pages/PullRequestPage/PullCoverage/ErrorBanner/index.js
  src/pages/PullRequestPage/PullRequestPageContent/ErrorBanner/ErrorBanner.spec.jsx
Due: Pages

move and rename pull coverage tabs
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/index.js
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.js
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.spec.js
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/index.ts
  src/pages/PullRequestPage/PullRequestPageTabs/index.ts
Due: Pages

rename pull request page content to pull coverage
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/index.js
  src/pages/PullRequestPage/PullRequestPageContent/index.js
Due: Pages

move a lot of stuff out of the pull request page in preperation for bundle analysis stuff
  src/pages/PullRequestPage/PullRequestPage.jsx
  src/pages/PullRequestPage/PullRequestPage.spec.jsx
Due: Pages

bring back null return and test for null return
  src/pages/PullRequestPage/PullCoverage/ErrorBanner/ErrorBanner.jsx
  src/pages/PullRequestPage/PullCoverage/ErrorBanner/ErrorBanner.spec.jsx
Due: Pages
