Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

fix: cleanup
  src/ui/Dropdown/Dropdown.stories.tsx
  src/ui/Dropdown/Dropdown.tsx
Due: UI

fix: fix test variable names and cleanup
  src/ui/Dropdown/Dropdown.spec.tsx
Due: UI

build: set yarn hardenedMode to false
  .yarnrc.yml
Due: none

build: set yarn enableImmutableInstalls to false
  .yarnrc.yml
Due: none

chore: run yarn install
  yarn.lock
Due: none

feat: new ui dropdown component (#3020)
  .yarnrc.yml
  package.json
  src/ui/Dropdown/Dropdown.spec.tsx
  src/ui/Dropdown/Dropdown.stories.tsx
  src/ui/Dropdown/Dropdown.tsx
  yarn.lock
Due: UI

fix: Update navigation footer
  src/layouts/Footer/Footer.jsx
Due: Layouts

Fix Whitespace in `BotErrorBanner` (#3024)
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
Due: Pages

refactor CoverageSelect to TS
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.spec.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.spec.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.stories.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.stories.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.tsx
Due: UI

update TitleHitCount to new copy and convert Title to TS
  src/ui/FileViewer/ToggleHeader/Title/Title.spec.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.stories.jsx
  src/ui/FileViewer/ToggleHeader/Title/Title.stories.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.tsx
  src/ui/FileViewer/ToggleHeader/Title/index.ts
Due: UI

fix up issues in Title
  src/ui/FileViewer/ToggleHeader/Title/Title.stories.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.tsx
Due: UI

move hit count to first position and refactor to TS
  src/ui/FileViewer/ToggleHeader/ToggleHeader.spec.tsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.stories.jsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.stories.tsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.tsx
Due: UI

reorder hit count in commit and pulls toggler headers
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

rename BundleSummary to BundleSelection
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/index.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleDetails.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleDetails.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/index.ts
Due: Pages

move BundleDetails into its own dir
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/index.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
Due: Pages

use BundleDetails directly in BundleContent
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

fix small mock error
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
Due: Pages

another test mock fix
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.spec.tsx
Due: Pages

Update
  src/services/user/useOwnerRateLimitStatus.tsx
Due: Services

Update schema
  src/services/user/useOwnerRateLimitStatus.tsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.spec.tsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.tsx
Due: Services, Shared

Update
  src/services/user/useOwnerRateLimitStatus.spec.tsx
  src/services/user/useOwnerRateLimitStatus.tsx
Due: Services

Update test
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.spec.tsx
Due: Shared

feat: Replace line count title (#3034)
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.spec.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.spec.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.stories.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.stories.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.spec.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.stories.jsx
  src/ui/FileViewer/ToggleHeader/Title/Title.stories.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.tsx
  src/ui/FileViewer/ToggleHeader/Title/index.ts
  src/ui/FileViewer/ToggleHeader/ToggleHeader.spec.tsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.stories.jsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.stories.tsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.tsx
Due: Pages, UI

Add impersonation banner and adjust Guest header layout
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.tsx
Due: Layouts

Hide self-hosted items on small screen sizes
  src/layouts/Header/Header.tsx
Due: Layouts

Bump semver
  package.json
  yarn.lock
Due: none

feat: Add impersonation banner to new header (#3036)
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.tsx
Due: Layouts

style: Hide self-hosted header items on small screen sizes (#3037)
  src/layouts/Header/Header.tsx
Due: Layouts

[vuln] Bump semver to 7.5.2 (#3038)
  package.json
  yarn.lock
Due: none

Add configuration manager tab to repo settings
  src/layouts/SidebarLayout/SidebarLayout.jsx
  src/pages/RepoPage/SettingsTab/SettingsTab.spec.jsx
  src/pages/RepoPage/SettingsTab/SettingsTab.spec.tsx
  src/pages/RepoPage/SettingsTab/SettingsTab.tsx
  src/pages/RepoPage/SettingsTab/SideMenuSettings.jsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/index.ts
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Layouts, Pages, Services

fix: Update navigation footer
  .yarnrc.yml
  package.json
  src/layouts/Footer/Footer.jsx
  src/layouts/Footer/Footer.spec.tsx
  src/layouts/Footer/Footer.tsx
  src/layouts/Footer/FooterItem.jsx
  src/layouts/Footer/FooterItem.spec.tsx
  src/layouts/Footer/FooterItem.tsx
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.tsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
  src/ui/Dropdown/Dropdown.spec.tsx
  src/ui/Dropdown/Dropdown.stories.tsx
  src/ui/Dropdown/Dropdown.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.spec.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.spec.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.stories.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.stories.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.spec.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.stories.jsx
  src/ui/FileViewer/ToggleHeader/Title/Title.stories.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.tsx
  src/ui/FileViewer/ToggleHeader/Title/index.ts
  src/ui/FileViewer/ToggleHeader/ToggleHeader.spec.tsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.stories.jsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.stories.tsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.tsx
  yarn.lock
Due: Layouts, Pages, Services, UI

fix: Update navigation footer (#3033)
  src/layouts/Footer/Footer.jsx
  src/layouts/Footer/Footer.spec.tsx
  src/layouts/Footer/Footer.tsx
  src/layouts/Footer/FooterItem.jsx
  src/layouts/Footer/FooterItem.spec.tsx
  src/layouts/Footer/FooterItem.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Layouts, Services

fix: use api_url variable instead of qa
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

chore: add a comma
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

fix: remove self-hosted instruction
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/instructions.ts
Due: Pages

fix: update Other CLI new repo instructions text
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

fix: step 2 and step 3 tweaks
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/instructions.ts
Due: Pages

fix: correct api url copy flags and spacing
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

fix spec, decent stopping place for part 1
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/index.ts
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Pages, Services

Other CLI New repo onboarding text changes (#2956)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/instructions.ts
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
