Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

more tests
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.spec.tsx
Due: Pages

update to use value
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.tsx
Due: Pages

Update TokenRequiredModal.spec.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenRequiredModal.spec.tsx
Due: Pages

not required check
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.spec.tsx
Due: Pages

fix vitest conflict
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.test.jsx
Due: Pages

feat: Tokenless section in global upload token tab (#3223)
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.jsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.test.jsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenRequiredModal.spec.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenRequiredModal.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.spec.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/index.ts
Due: Pages

chore: update ui/ToggleElement to Vitest (#3230)
  src/ui/ToggleElement/ToggleElement.test.tsx
Due: UI

chore: Update ui/TextInput to Vitest (#3233)
  src/ui/TextInput/TextInput.spec.tsx
  src/ui/TextInput/TextInput.test.tsx
  src/ui/TextInput/TextInput.tsx
  src/ui/TextInput/index.ts
Due: UI

update helpers tests
  src/shared/api/helpers.test.ts
Due: Shared

update api tests
  src/shared/api/api.test.ts
Due: Shared

chore: Update ui/SummaryDropdown to Vitest (#3235)
  src/ui/SummaryDropdown/SummaryDropdown.test.tsx
Due: UI

update shared/AppLink tests to vitest
  src/shared/AppLink/AppLink.spec.jsx
  src/shared/AppLink/AppLink.test.jsx
Due: Shared

update assertIsError tests to vitest
  src/shared/asserts/assertIsError.test.ts
Due: Shared

update assertIsString tests to vitest
  src/shared/asserts/assertIsString.test.ts
Due: Shared

update ComparisonErrorBanner tests to vitest
  src/shared/ComparisonErrorBanner/ComparisonErrorBanner.test.tsx
Due: Shared

set icon label on icon
  src/shared/ComponentsNotConfigured/ComponentsNotConfigured.tsx
Due: Shared

update ComponentsNotConfigured tests to vitest
  src/shared/ComponentsNotConfigured/ComponentsNotConfigured.test.tsx
Due: Shared

chore: Update ui/Sparkline tests to Vitest (#3239)
  src/ui/Sparkline/Sparkline.spec.tsx
  src/ui/Sparkline/Sparkline.test.tsx
Due: UI

chore: Update ui/Card tests to Vitest (#3269)
  src/ui/Card/Card.test.tsx
Due: UI

update adjustListIfUpDir tests
  src/shared/ContentsTable/utils/adjustListIfUpDir.test.tsx
Due: Shared

update useTableDefaultSort tests
  src/shared/ContentsTable/useTableDefaultSort/useTableDefaultSort.test.tsx
Due: Shared

update PullFileEntry tests to vitest
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.test.tsx
Due: Shared

update PullDirEntry tests to vitest
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.test.tsx
Due: Shared

update CommitFileEntry tests to vitest
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.test.tsx
Due: Shared

update CommitDirEntry tests to vitest
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.test.tsx
Due: Shared

update BranchFileEntry tests to vitest
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchFileEntry.test.jsx
Due: Shared

update BranchDirEntry tests to vitest
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.test.jsx
Due: Shared

update FileEntry tests to vitest
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.test.jsx
Due: Shared

update DirEntry tests to vitest
  src/shared/ContentsTable/TableEntries/BaseEntries/DirEntry.test.jsx
Due: Shared

update MissingFileData tests to vitest
  src/shared/ContentsTable/MissingFileData/MissingFileData.test.tsx
Due: Shared

update FileBreadcrumb tests to vitest
  src/shared/ContentsTable/FileBreadcrumb/FileBreadcrumb.test.jsx
Due: Shared

update DisplayTypeButton tests to vitest
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.test.jsx
Due: Shared

update ContentsTableHeader tests to vitest
  src/shared/ContentsTable/ContentsTableHeader/ContentsTableHeader.spec.jsx
  src/shared/ContentsTable/ContentsTableHeader/ContentsTableHeader.test.jsx
Due: Shared

Remove session expiry cleanup code
  src/config.js
  src/index.tsx
  src/shared/utils/metrics.ts
Due: Shared

chore: Update ui/BundleTrendChart tests to Vitest (#3271)
  src/ui/BundleTrendChart/BundleTrendChart.test.tsx
Due: UI

update feature flag tests to vitest
  src/shared/featureFlags/featureFlag.test.jsx
Due: Shared

update FlagsNotConfigured
  src/shared/FlagsNotConfigured/FlagsNotConfigured.test.tsx
Due: Shared

udpate BenefitsList
  src/shared/plan/BenefitList/BenefintList.spec.jsx
  src/shared/plan/BenefitList/BenefintList.test.jsx
Due: Shared

update ScheduledPlanDetails
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.test.jsx
Due: Shared

update RawFileViewer
  src/shared/RawFileViewer/RawFileViewer.test.tsx
Due: Shared
