Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

feat: Create new hook useRepoComponentsSelect
  src/services/repo/index.js
Due: Services

remove from index
  src/services/repo/index.js
  src/services/repo/useRepoComponentsSelect.spec.tsx
  src/services/repo/useRepoComponentsSelect.tsx
Due: Services

Update to remove export from index
  src/services/repo/index.js
Due: Services

fix: Don't set default org if personal mutation is yet to be done
  src/layouts/BaseLayout/hooks/useUserAccessGate.spec.tsx
Due: Layouts

feat: Create new hook useRepoComponentsSelect (#2732)
  src/services/repo/useRepoComponentsSelect.spec.tsx
  src/services/repo/useRepoComponentsSelect.tsx
Due: Services

address PR review
  src/pages/RepoPage/ComponentsTab/BackfillBanners/BackfillBanners.spec.jsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/hooks.spec.js
  src/pages/RepoPage/ComponentsTab/BackfillBanners/hooks.spec.ts
  src/pages/RepoPage/ComponentsTab/ComponentsTab.spec.jsx
  src/pages/RepoPage/ComponentsTab/Header/Header.spec.jsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/TableEntries/TableSparkline.spec.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
Due: Pages, Services

Add overflow classes
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

Update overflow auto
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

conditionally add in query string to commit detail direct changes file diff
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.spec.jsx
Due: Pages

conditionally add in query string to commit detail indirect changes file diff
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.spec.jsx
Due: Pages

conditionally add in query string to pr page direct changes file diff
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/shared/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/shared/FileDiff/FileDiff.spec.jsx
Due: Pages

conditionally add in query string to pr page indirect changes file diff
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.spec.jsx
Due: Pages

add in overview mocks to tests
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.tsx
Due: Pages

Change font size
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
Due: Pages

Resolve merge conflict
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/constants.ts
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Services, Shared

Fix tests
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Shared

Remove unneeded function
  src/services/pathContents/constants.ts
Due: Services

Convert dir entry stuff to ts
  src/services/pathContents/constants.ts
  src/services/pathContents/pull/dir/constants.js
  src/services/pathContents/pull/dir/constants.ts
  src/services/pathContents/pull/dir/index.ts
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.js
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.spec.tsx
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.tsx
Due: Services, Shared

Fix tests
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
Due: Services, Shared

fix import
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
Due: Shared

remove unused function
  src/services/pathContents/constants.ts
Due: Services

Fix tests
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
Due: Services, Shared

Replace as Array<any> with as Array<string>
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.spec.tsx
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Services, Shared

ref: Convert pull dir entry stuff to ts (#2699)
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/pull/dir/constants.js
  src/services/pathContents/pull/dir/constants.ts
  src/services/pathContents/pull/dir/index.ts
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.js
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.spec.tsx
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Services, Shared

Update class
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTab.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTab.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.jsx
Due: Pages, UI

update tests
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.spec.js
Due: Pages

move feedback init into conditional
  src/sentry.ts
Due: none

modify way of setting Sentry user
  src/services/tracking/useTracking.js
Due: Services

update email to sales from success (#2730)
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/ActivationBanner.jsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationCount.spec.jsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationLimit.jsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationLimit.spec.jsx
Due: Pages

update tests 2
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.spec.js
Due: Pages

tighten up the gap for the bundle tab error banner
  src/pages/RepoPage/BundlesTab/BundleContent/ErrorBanner/ErrorBanner.tsx
Due: Pages

create a new banner that's used to inform the user to select a branch or bundle
  src/pages/RepoPage/BundlesTab/BundleContent/InfoBanner/InfoBanner.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/InfoBanner/InfoBanner.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/InfoBanner/index.ts
Due: Pages

redirect the user to have the default branch in the url on first navigation to properly display the info banners
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
Due: Pages

use the new info banners in the bundle content component
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

feat: Add in Sentry feedback util (#2740)
  src/globals.css
  src/sentry.ts
  src/services/tracking/hooks.spec.js
  src/services/tracking/useTracking.js
  src/setupTests.js
Due: Services

update types
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
  src/shared/utils/determineProgressColor.ts
Due: Pages, Services, Shared

Update select placement on commit details page (#2738)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileViewer/CommitDetailFileViewer.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTab.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTab.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.jsx
Due: Pages, UI

Update style of ..
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
Due: Shared

Update style
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
  src/ui/A/A.jsx
Due: Shared, UI

[ref] Refactor CodeTree and FileList table on repo page (#2708)
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.js
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.js
  src/services/pathContents/branch/dir/useRepoBranchContents.spec.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/services/repo/useRepoConfig.ts
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.jsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchFileEntry.jsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchFileEntry.spec.jsx
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
  src/shared/treePaths/useTreePaths.js
  src/ui/A/A.jsx
Due: Pages, Services, Shared, UI
