Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

update tests
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTab.jsx
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTab.spec.jsx
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.jsx
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesTab.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesTab.spec.jsx
Due: Pages

feat: use 2nd upgrade form
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
Due: Pages

Update test
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.jsx
Due: Pages

Update variable name
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTab.spec.jsx
Due: Pages

add components selector to commit detail file explorer
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/CommitDetailFileExplorer.spec.jsx
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.js
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.spec.js
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
Due: Pages, Services, Shared

Update spacing
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
Due: Pages

[feat] Place components selector in commit details in file explorer (#2466)
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/CommitDetailFileExplorer.spec.jsx
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.js
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.spec.js
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
Due: Pages, Services, Shared

[feat] Place components selector in commit details indirect changed files tab (#2464)
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTab.jsx
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTab.spec.jsx
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.jsx
  src/pages/CommitDetailPage/subRoute/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.jsx
Due: Pages

feat: use 2nd upgrade form (#2465)
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
Due: Pages

clean: clean up a bunch of unused code
  src/pages/PlanPage/subRoutes/UpgradePlanPage/PlanDetailsControls/PlanDetailsControls.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/BillingControls/BillingControls.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/BillingControls/BillingControls.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/BillingControls/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/TotalBanner/TotalBanner.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/TotalBanner/TotalBanner.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/TotalBanner/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UserCount/UserCount.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UserCount/UserCount.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UserCount/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/hooks/index.js
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/hooks/useUpgradeControls.js
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/index.js
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/shared/utils/billing.js
  src/shared/utils/upgradeForm.js
  src/shared/utils/upgradeForm.spec.js
Due: Pages, Shared

feat: make flag entries links
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

fix: Take out components selector from ui + rename it
  src/pages/RepoPage/CoverageTab/subroute/ComponentsSelectCoverage/ComponentsSelectCoverage.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsSelectCoverage/ComponentsSelectCoverage.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsSelectCoverage/index.ts
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/ui/ComponentsSelect/index.ts
Due: Pages, UI

update name:
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/index.ts
  src/pages/RepoPage/CoverageTab/subroute/ComponentsSelectCoverage/index.ts
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
Due: Pages

fix: Take out components selector from ui + rename it (#2469)
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/index.ts
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/ui/ComponentsSelect/index.ts
Due: Pages, UI

allow search params to be appended to upgradeOrgPlan link
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Services

update team plan special offer card to link with plan search param
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.spec.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.tsx
Due: Pages

upgrade FreePlanCard PlanUpgradeTeam to link with plan search param
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.spec.jsx
Due: Pages

add new hook to grab plan search param
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/hooks/usePlanParams.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/hooks/usePlanParams.ts
Due: Pages

update UpgradePlanPage to set selected plan value to be team plan when plan params is in url
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
Due: Pages

have PlanTypeOptions set plan value to team when plan param is in the url
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.tsx
Due: Pages

check params not qs
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Services

feat: Have upgrade to team plan links include URL search param (#2470)
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.spec.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/hooks/usePlanParams.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/hooks/usePlanParams.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

test: get rid of the .only
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.jsx
Due: Pages

feat: make flag entries links (#2468)
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

fix: Update installation nav link to use config value
  src/config.js
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
Due: Services

feat: make trial ctas appear only if there's a private repo in org
  src/pages/OwnerPage/Tabs/TrialReminder/TrialReminder.spec.tsx
  src/pages/OwnerPage/Tabs/TrialReminder/TrialReminder.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/ProPlanSubheading/ProPlanSubheading.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/ProPlanSubheading/ProPlanSubheading.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/services/account/usePlanData.spec.tsx
  src/services/account/usePlanData.ts
Due: Pages, Services

fix: Update onboarding docs with global token
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.tsx
  src/services/repo/useRepo.js
Due: Pages, Services

fix: Update onboarding docs with global token
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.tsx
Due: Pages

fix: Update installation nav link to use config value (#2473)
  src/config.js
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
Due: Services

fix: Update onboarding docs with global token (#2474)
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.tsx
  src/services/repo/useRepo.js
Due: Pages, Services

merge
  src/config.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.spec.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/hooks/usePlanParams.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/hooks/usePlanParams.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/index.ts
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.jsx
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/services/repo/useRepo.js
  src/ui/ComponentsSelect/index.ts
Due: Pages, Services, UI

clean: clean up a bunch of unused code (#2467)
  src/pages/PlanPage/subRoutes/UpgradePlanPage/PlanDetailsControls/PlanDetailsControls.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/BillingControls/BillingControls.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/BillingControls/BillingControls.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/BillingControls/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/TotalBanner/TotalBanner.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/TotalBanner/TotalBanner.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/TotalBanner/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UserCount/UserCount.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UserCount/UserCount.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UserCount/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/hooks/index.js
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/hooks/useUpgradeControls.js
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/index.js
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/shared/utils/billing.js
  src/shared/utils/upgradeForm.js
  src/shared/utils/upgradeForm.spec.js
Due: Pages, Shared

typo on comment
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/ProPlanSubheading/ProPlanSubheading.tsx
Due: Pages

feat: made new param non-nullable
  src/pages/DefaultOrgSelector/DefaultOrgSelector.spec.jsx
  src/pages/MembersPage/MembersActivation/Activation/Activation.spec.jsx
  src/pages/MembersPage/MembersActivation/MembersActivation.spec.jsx
  src/pages/OwnerPage/Header/HeaderBanners/ExceededUploadsAlert/ExceededUploadsAlert.spec.jsx
  src/pages/OwnerPage/Header/HeaderBanners/HeaderBanners.spec.jsx
  src/pages/OwnerPage/Header/HeaderBanners/ReachingUploadLimitAlert/ReachingUploadLimitAlert.spec.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/ProPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/SentryPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpgradeForm2.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
  src/services/account/usePlanData.ts
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.spec.tsx
Due: Pages, Services, Shared

feat: adjusted useplan hook
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/services/account/usePlanData.spec.tsx
  src/services/account/usePlanData.ts
Due: Pages, Services

677 remove trials from all public repos (#2472)
  src/pages/DefaultOrgSelector/DefaultOrgSelector.spec.jsx
  src/pages/MembersPage/MembersActivation/Activation/Activation.spec.jsx
  src/pages/MembersPage/MembersActivation/MembersActivation.spec.jsx
  src/pages/OwnerPage/Header/HeaderBanners/ExceededUploadsAlert/ExceededUploadsAlert.spec.jsx
  src/pages/OwnerPage/Header/HeaderBanners/HeaderBanners.spec.jsx
  src/pages/OwnerPage/Header/HeaderBanners/ReachingUploadLimitAlert/ReachingUploadLimitAlert.spec.jsx
  src/pages/OwnerPage/Tabs/TrialReminder/TrialReminder.spec.tsx
  src/pages/OwnerPage/Tabs/TrialReminder/TrialReminder.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/ProPlanSubheading/ProPlanSubheading.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/ProPlanSubheading/ProPlanSubheading.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
  src/services/account/usePlanData.spec.tsx
  src/services/account/usePlanData.ts
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.spec.tsx
Due: Pages, Services, Shared

Revert "fix: Update onboarding docs with global token (#2474)"
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.jsx
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.spec.jsx
  src/services/repo/useRepo.js
Due: Pages, Services

revert: Revert upload token to repo token
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
