Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

update BundleContent tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
Due: Pages

Update src/ui/LoginForm/LoginForm.tsx
  src/ui/LoginForm/LoginForm.tsx
Due: UI

Apply suggestions from code review
  src/ui/LoginForm/LoginForm.tsx
Due: UI

small logic error
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
Due: Pages

resolve some rendering issues
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
Due: Pages

final touches
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
Due: Pages

make comment make a bit more sense
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
Due: Pages

feat: Plan specific details, flake rate related stuff (#3394)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestsResultsAggregates.test.tsx
Due: Pages

add init buttons, no logic
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

feat: Add useInfiniteAccountOrganizations hook (#3385)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useInfiniteAccountOrganizations.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useInfiniteAccountOrganizations.ts
Due: Pages

make no results look better
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
Due: Pages

feat: Add filter param onchange logic and link to test results query (#3388)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
  src/pages/RepoPage/shared/constants.ts
Due: Pages

Add AccountOrgs card to plan page for Accounts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/AccountOrgs/AccountOrgs.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/AccountOrgs/AccountOrgs.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/AccountOrgs/index.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useEnterpriseAccountDetails.ts
Due: Pages

Add small title size to Card
  src/ui/Card/Card.tsx
Due: UI

Remove unnecessary gql field in query
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useEnterpriseAccountDetails.ts
Due: Pages

spalmurray/account details card (#3382)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/AccountOrgs/AccountOrgs.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/AccountOrgs/AccountOrgs.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/AccountOrgs/index.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useEnterpriseAccountDetails.ts
  src/ui/Card/Card.tsx
Due: Pages, UI

feat: Format date for durations
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/shared/utils/dates.js
  src/shared/utils/dates.test.js
Due: Pages, Shared

remove alias from package and update to latest version of msw
  package.json
  yarn.lock
Due: none

update mockServiceWorker with msw generated file
  public/mockServiceWorker.js
Due: none

update README
  README.md
Due: none

update browser and handler files
  src/mocks/browser.js
  src/mocks/handlers.js
Due: none

update test
  src/shared/utils/dates.test.js
Due: Shared

make impactedFile nullable
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
Due: Services

conditionally use new diff renderer on commit detail page files changed route
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
Due: Pages

update tests
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.jsx
Due: Pages

actually implment this correctly
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
Due: Pages

missed within
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.jsx
Due: Pages

update file diff to conditionally use the new virtual renderer
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.jsx
Due: Pages

update tests
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.test.jsx
Due: Pages

chore: Add new diff viewer to commit files changed (#3356)
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.jsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
Due: Pages, Services

chore: Update pulls page files changed diff to new renderer (#3359)
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.test.jsx
Due: Pages

pull out pointer events disable to their own shared util
  src/shared/useDisablePointerEvents/index.ts
  src/shared/useDisablePointerEvents/useDisablePointerEvents.test.tsx
  src/shared/useDisablePointerEvents/useDisablePointerEvents.ts
Due: Shared

rename directory
  src/shared/RawFileViewer/RawFileViewer.tsx
  src/ui/VirtualRenderers/ColorBar.test.tsx
  src/ui/VirtualRenderers/ColorBar.tsx
  src/ui/VirtualRenderers/LineNumber.tsx
  src/ui/VirtualRenderers/VirtualDiffRenderer.test.tsx
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.css
  src/ui/VirtualRenderers/VirtualFileRenderer.test.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
  src/ui/VirtualRenderers/constants.ts
  src/ui/VirtualRenderers/index.ts
  src/ui/VirtualRenderers/types.ts
Due: Shared, UI

move the syncing scroll margin logic to it's own hook
  src/ui/VirtualRenderers/useSyncScrollMargin.ts
Due: UI

remove logic from renderers and utilize the new util hooks
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
Due: UI

move the left scrolling sync logic into it's own hook
  src/ui/VirtualRenderers/useLeftScrollSync.ts
Due: UI

fix import issue
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.jsx
Due: Pages
