Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

chore: Update ui/Button tests to Vitest (#3270)
  src/ui/Button/Button.spec.jsx
  src/ui/Button/Button.test.jsx
  src/ui/Button/index.ts
Due: UI

update ThemeContext
  src/shared/ThemeContext/ThemeContext.spec.tsx
  src/shared/ThemeContext/ThemeContext.test.tsx
Due: Shared

add global jest timer override so RTL can access it in any tests
  src/vitest.setup.ts
Due: none

updates MissingDesignatedAdmins tests to vitest
  src/shared/GlobalBanners/MissingDesignatedAdmins/MissingDesignatedAdmins.test.jsx
Due: Shared

update self hosted license expiration
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.jsx
Due: Shared

bind jest.fn to vi.fn ... cause of dependencies
  src/vitest.setup.ts
Due: none

chore: Update shared/GlobalBanners to Vitest (#3288)
  src/shared/GlobalBanners/MissingDesignatedAdmins/MissingDesignatedAdmins.test.jsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.jsx
  src/vitest.setup.ts
Due: Shared

chore: Update ui/Breadcrumb tests to Vitest (#3272)
  src/ui/Breadcrumb/Breadcrumb.spec.jsx
  src/ui/Breadcrumb/Breadcrumb.test.jsx
  src/ui/Breadcrumb/index.ts
Due: UI

PR comments
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/index.ts
Due: Pages

chore: Update ui/Banner tests to Vitest (#3273)
  src/ui/Banner/Banner.spec.jsx
  src/ui/Banner/Banner.test.jsx
  src/ui/Banner/BannerContent/BannerContent.spec.jsx
  src/ui/Banner/BannerContent/BannerContent.test.jsx
  src/ui/Banner/BannerHeading/BannerHeading.spec.jsx
  src/ui/Banner/BannerHeading/BannerHeading.test.jsx
Due: UI

chore: Remove old session expiry cleanup code (#3284)
  src/config.js
  src/index.tsx
  src/shared/utils/metrics.ts
Due: Shared

ref: refactor page components into separate sections (#3231)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/BranchSelector.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/index.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/index.ts
Due: Pages

update trial banner
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.test.tsx
Due: Shared

update ongoing banner
  src/shared/GlobalTopBanners/TrialBanner/OngoingBanner.test.tsx
Due: Shared

update expired banner
  src/shared/GlobalTopBanners/TrialBanner/ExpiredBanner.test.tsx
Due: Shared

update team plan feedback banner
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.test.tsx
Due: Shared

update request install banner
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.test.tsx
Due: Shared

update pro plan feedback banner
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/ProPlanFeedbackBanner.test.tsx
Due: Shared

update okta error banners
  src/shared/GlobalTopBanners/OktaErrorBanners/OktaErrorBanners.test.tsx
Due: Shared

update okta enforced banner
  src/shared/GlobalTopBanners/OktaEnforcedBanner/OktaEnforcedBanner.test.tsx
Due: Shared

update okta enabled banner
  src/shared/GlobalTopBanners/OktaEnabledBanner/OktaEnabledBanner.test.tsx
Due: Shared

chore: Update ui/Badge tests to Vitest (#3274)
  src/ui/Badge/Badge.test.tsx
Due: UI

update okta banners
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.test.tsx
Due: Shared

update bundle feedback banner
  src/shared/GlobalTopBanners/BundleFeedbackBanner/BundleFeedbackBanner.test.tsx
Due: Shared

update global top banners
  src/shared/GlobalTopBanners/GlobalTopBanners.test.tsx
Due: Shared

chore: Update ui/Avatar tests to Vitest (#3275)
  src/ui/Avatar/Avatar.test.jsx
  src/ui/Avatar/AvatarSVG.test.jsx
Due: UI

update RepoTitleLink
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.test.jsx
Due: Shared

update ReposTableTeam
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.jsx
Due: Shared

update ReposTable
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
Due: Shared

update RepoOrgNotFound tests
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.test.tsx
Due: Shared

update org control table tests
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.jsx
Due: Shared

update NoReposBlock tests
  src/shared/ListRepo/NoReposBlock/NoReposBlock.test.jsx
Due: Shared

update InactiveRepo
  src/shared/ListRepo/InactiveRepo/InactiveRepo.test.tsx
Due: Shared

update ListRepo
  src/shared/ListRepo/ListRepo.test.jsx
Due: Shared

update useCommitTreePaths tests
  src/shared/treePaths/useCommitTreePaths.test.jsx
Due: Shared

update useTreePaths
  src/shared/treePaths/useTreePaths.test.jsx
Due: Shared

update useRedirect
  src/shared/useRedirect/hooks.test.js
Due: Shared

chore: Update ui/Alert tests to Vitest (#3276)
  src/ui/Alert/Alert.test.tsx
  src/ui/Alert/Alert.tsx
Due: UI

update and break up services/yaml tests
  src/services/yaml/useUpdateYaml.test.jsx
  src/services/yaml/useYamlConfig.spec.jsx
Due: Services

update usePaginatedContents
  src/services/usePaginatedContents/usePaginatedContents.test.js
Due: Services
