Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

refactor to TS and expand language support for language mapper
  src/shared/utils/prismLanguageMapper.js
  src/shared/utils/prismLanguageMapper.spec.js
  src/shared/utils/prismLanguageMapper.spec.ts
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

tidy up refs and accept file name to pass to language mapper
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

add packages in yarn after rebase
  yarn.lock
Due: none

remove color bar tests from virtual file renderer tests
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
Due: UI

first iteration of the virtual file renderer
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

add in virtual list library
  package.json
Due: none

add in index file for easier importing
  src/ui/VirtualFileRenderer/index.ts
Due: UI

small tweaks to comments and cleaning up some ts-ignores to expect errors
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

it.each file extension ;3Btests
  src/shared/utils/prismLanguageMapper.spec.ts
Due: Shared

fix up types in prismLanguageMapper
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

add Mock to resize observer mock
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
Due: UI

condense two tests into one
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
Due: UI

tidy up highlight tests
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
Due: UI

add in fixed linked to prismLanguageMapper util
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

get rid of this shared directory
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/index.js
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
Due: Pages

remove data fetching of hit counts
  src/services/pull/fragments.ts
  src/services/pull/hooks.spec.js
  src/services/pull/useSingularImpactedFileComparison.spec.tsx
Due: Services

remove hitCounts from indirect changes diff
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.spec.jsx
Due: Pages

update other tests
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/NameColumn/NameColumn.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/NameColumn/NameColumn.spec.jsx
Due: Pages

make this nullable
  src/services/repo/useRepoRateLimitStatus.tsx
  src/services/user/useOwnerRateLimitStatus.tsx
Due: Services

fix: Make isGithubRateLimited param nullable (#3094)
  src/services/repo/useRepoRateLimitStatus.tsx
  src/services/user/useOwnerRateLimitStatus.tsx
Due: Services

ref: Update org dropdown call to action text
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
Due: Pages, UI

Prepare release 24.8.1
  VERSION
Due: none

try this
  docker/Dockerfile
Due: none

fix: display file explorer even when missing base commit (#3050)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
Due: Pages

corepack enable, remove copy
  docker/Dockerfile
Due: none

fix: Fix suspense err in HeaderBanners
  src/pages/OwnerPage/HeaderBanners/HeaderBanners.jsx
  src/services/account/usePlanData.ts
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
Due: Pages, Services, Shared

fix: handle loading state
  src/pages/OwnerPage/HeaderBanners/HeaderBanners.jsx
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
Due: Pages, Shared

tidy up ColorBar to capture invalid coverage types in case something new is introduced
  src/ui/VirtualFileRenderer/ColorBar.spec.tsx
  src/ui/VirtualFileRenderer/ColorBar.tsx
Due: UI

apply suggestions and update tests as well
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

Render user feedback widget only on user onboarding
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.spec.jsx
  src/pages/TermsOfService/TermsOfService.spec.tsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/sentry.ts
Due: Pages

Remove console log
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
Due: Pages

Refactor HelpDropdown sentry feedback setup
  src/layouts/Header/components/HelpDropdown/HelpDropdown.spec.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
  src/pages/TermsOfService/TermsOfService.spec.tsx
  src/sentry.ts
Due: Layouts, Pages

Adjust placeholder copy for help dropdown feedback
  src/sentry.ts
Due: none

update copy for onboarding feedback as well
  src/sentry.ts
Due: none

Nick suggestions
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
Due: Layouts

Update @sentry/react to 8.24.0
  package.json
  yarn.lock
Due: none

feat: Adjust Sentry user feedback instances (#3089)
  package.json
  src/layouts/Header/components/HelpDropdown/HelpDropdown.spec.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.spec.jsx
  src/pages/TermsOfService/TermsOfService.spec.tsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/sentry.ts
  yarn.lock
Due: Layouts, Pages

unfeat: Remove branch breadcrumb on repo page (#3092)
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.tsx
Due: Pages

chore: Remove hit counts from pulls page (#3093)
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/index.js
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/NameColumn/NameColumn.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/NameColumn/NameColumn.spec.jsx
  src/services/pull/fragments.ts
  src/services/pull/hooks.spec.js
  src/services/pull/useSingularImpactedFileComparison.spec.tsx
Due: Pages, Services

feat: improve cancel plan messaging
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/CancelButton.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/CancelButton.spec.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.spec.jsx
  src/ui/Modal/BaseModal.tsx
  src/ui/Modal/Modal.tsx
Due: Pages, UI
