Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

fix: Remove use of structuredClone (#3766)
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

ref: Add rejectNetworkError to calls (part two) (#3765)
  src/services/commit/useCompareTotals.test.tsx
  src/services/commit/useCompareTotals.tsx
  src/services/commit/useCompareTotalsTeam.test.tsx
  src/services/commit/useCompareTotalsTeam.tsx
  src/services/commitErrors/useCommitErrors.test.tsx
  src/services/commitErrors/useCommitErrors.tsx
  src/services/commits/useCommits.test.tsx
  src/services/commits/useCommits.tsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.test.tsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
  src/services/config/LoginProvidersQueryOpts.test.tsx
  src/services/config/LoginProvidersQueryOpts.ts
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.test.tsx
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.test.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/services/pathContents/commit/dir/usePrefetchCommitDirEntry.test.tsx
  src/services/pathContents/commit/dir/usePrefetchCommitDirEntry.tsx
  src/services/pathContents/commit/dir/useRepoCommitContents.test.tsx
  src/services/pathContents/commit/dir/useRepoCommitContents.tsx
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.test.tsx
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.tsx
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.test.tsx
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.tsx
  src/services/pathContents/pull/dir/useRepoPullContents.test.tsx
  src/services/pathContents/pull/dir/useRepoPullContents.tsx
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.test.tsx
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.tsx
  src/services/pathContents/useFileWithMainCoverage.test.tsx
  src/services/pathContents/useFileWithMainCoverage.tsx
  src/services/pull/usePrefetchSingleFileComp.test.tsx
  src/services/pull/usePrefetchSingleFileComp.tsx
  src/services/pull/usePull.test.tsx
  src/services/pull/usePull.tsx
  src/services/pull/usePullBADropdownSummary.test.tsx
  src/services/pull/usePullBADropdownSummary.tsx
Due: Services

update usePullTeam
  src/services/pull/usePullTeam.test.tsx
  src/services/pull/usePullTeam.tsx
Due: Services

update useSingularImpactedFileComparison
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
Due: Services

update usePulls
  src/services/pulls/usePulls.test.tsx
  src/services/pulls/usePulls.tsx
Due: Services

update useActivateMeasurements
  src/services/repo/useActivateMeasurements.test.tsx
  src/services/repo/useActivateMeasurements.tsx
Due: Services

update useComponentsBackfilled
  src/services/repo/useComponentsBackfilled.test.tsx
  src/services/repo/useComponentsBackfilled.tsx
Due: Services

update useRepo
  src/services/repo/useRepo.test.tsx
  src/services/repo/useRepo.tsx
Due: Services

update useRepoBackfilled
  src/services/repo/useRepoBackfilled.test.tsx
  src/services/repo/useRepoBackfilled.tsx
Due: Services

update useRepoComponentsArgs
  src/services/repo/useRepoComponents.test.tsx
  src/services/repo/useRepoComponents.tsx
Due: Services

update from not found to bad request
  src/pages/RepoPage/RepoPage.test.tsx
Due: Pages

update useRepoComponentsSelect
  src/services/repo/useRepoComponentsSelect.test.tsx
  src/services/repo/useRepoComponentsSelect.tsx
Due: Services

update useRepoConfig
  src/services/repo/useRepoConfig.test.tsx
  src/services/repo/useRepoConfig.tsx
Due: Services

update useRepoCoverage
  src/services/repo/useRepoCoverage.test.tsx
  src/services/repo/useRepoCoverage.tsx
Due: Services

update useRepoFlags
  src/services/repo/useRepoFlags.test.tsx
  src/services/repo/useRepoFlags.tsx
Due: Services

update useRepoFlagsSelect
  src/services/repo/useRepoFlagsSelect.test.tsx
  src/services/repo/useRepoFlagsSelect.tsx
Due: Services

update useRepoOverview
  src/services/repo/useRepoOverview.test.tsx
  src/services/repo/useRepoOverview.tsx
Due: Services

update useRepoRateLimitStatus
  src/services/repo/useRepoRateLimitStatus.test.tsx
  src/services/repo/useRepoRateLimitStatus.tsx
Due: Services

update useRepoSettings
  src/services/repo/useRepoSettings.test.tsx
  src/services/repo/useRepoSettings.tsx
Due: Services

update useRepoSettingsTeam
  src/services/repo/useRepoSettingsTeam.test.tsx
  src/services/repo/useRepoSettingsTeam.tsx
Due: Services

update useUploadTokenRequired
  src/services/uploadTokenRequired/useUploadTokenRequired.test.tsx
  src/services/uploadTokenRequired/useUploadTokenRequired.tsx
Due: Services

update useIsTeamPlan
  src/services/useIsTeamPlan/useIsTeamPlan.test.tsx
  src/services/useIsTeamPlan/useIsTeamPlan.ts
Due: Services

update useInternalUser
  src/services/user/useInternalUser.test.tsx
  src/services/user/useInternalUser.ts
Due: Services

fix: Pull owner query out into separate hook
  src/services/user/TokenlessQueryOpts.test.tsx
  src/services/user/TokenlessQueryOpts.ts
  src/services/user/useOwner.ts
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
  src/ui/TopBanner/TopBanner.tsx
Due: Services, Shared, UI

remove extra console log
  src/services/repo/useRepoOverview.tsx
Due: Services

feat: Add rejectNetworkError to calls (part three) (#3767)
  src/pages/RepoPage/RepoPage.test.tsx
  src/services/pull/usePullBundleComparisonList.test.tsx
  src/services/pull/usePullBundleComparisonList.tsx
  src/services/pull/usePullBundleHeadList.test.tsx
  src/services/pull/usePullBundleHeadList.tsx
  src/services/pull/usePullCompareTotalsTeam.test.tsx
  src/services/pull/usePullCompareTotalsTeam.tsx
  src/services/pull/usePullComponents.test.tsx
  src/services/pull/usePullComponents.tsx
  src/services/pull/usePullCoverageDropdownSummary.test.tsx
  src/services/pull/usePullCoverageDropdownSummary.tsx
  src/services/pull/usePullTeam.test.tsx
  src/services/pull/usePullTeam.tsx
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
  src/services/pulls/usePulls.test.tsx
  src/services/pulls/usePulls.tsx
  src/services/repo/useActivateMeasurements.test.tsx
  src/services/repo/useActivateMeasurements.tsx
  src/services/repo/useComponentsBackfilled.test.tsx
  src/services/repo/useComponentsBackfilled.tsx
  src/services/repo/useRepo.test.tsx
  src/services/repo/useRepo.tsx
  src/services/repo/useRepoBackfilled.test.tsx
  src/services/repo/useRepoBackfilled.tsx
  src/services/repo/useRepoComponents.test.tsx
  src/services/repo/useRepoComponents.tsx
Due: Pages, Services

fix incorrect name with useRepoSettings
  src/services/repo/useRepoSettings.test.tsx
  src/services/repo/useRepoSettings.tsx
Due: Services

Remove old onboarding metrics code, replacing with amplitude where we want it
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.test.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OutputCoverageStep/OutputCoverageStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/OutputCoverageStep/OutputCoverageStep.tsx
  src/services/codecovEventMetrics/useStoreCodecovEventMetric.test.tsx
  src/services/codecovEventMetrics/useStoreCodecovEventMetric.tsx
  src/services/events/types.ts
Due: Pages, Services

Fix tests
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
Due: Pages

Pull copied type out to its own type
  src/services/events/types.ts
Due: Services

feat: Add rejectNetworkError to API calls (part four) (#3768)
  src/services/repo/useRepoComponentsSelect.test.tsx
  src/services/repo/useRepoComponentsSelect.tsx
  src/services/repo/useRepoConfig.test.tsx
  src/services/repo/useRepoConfig.tsx
  src/services/repo/useRepoCoverage.test.tsx
  src/services/repo/useRepoCoverage.tsx
  src/services/repo/useRepoFlags.test.tsx
  src/services/repo/useRepoFlags.tsx
  src/services/repo/useRepoFlagsSelect.test.tsx
  src/services/repo/useRepoFlagsSelect.tsx
  src/services/repo/useRepoOverview.test.tsx
  src/services/repo/useRepoOverview.tsx
  src/services/repo/useRepoRateLimitStatus.test.tsx
  src/services/repo/useRepoRateLimitStatus.tsx
  src/services/repo/useRepoSettings.test.tsx
  src/services/repo/useRepoSettings.tsx
  src/services/repo/useRepoSettingsTeam.test.tsx
  src/services/repo/useRepoSettingsTeam.tsx
  src/services/uploadTokenRequired/useUploadTokenRequired.test.tsx
  src/services/uploadTokenRequired/useUploadTokenRequired.tsx
  src/services/useIsTeamPlan/useIsTeamPlan.test.tsx
  src/services/useIsTeamPlan/useIsTeamPlan.ts
  src/services/user/useInternalUser.test.tsx
  src/services/user/useInternalUser.ts
Due: Services

Add type for buttonLocation (I messed it up in a previous commit in exactly the way having typesafety fixes lol)
  src/pages/RepoPage/CoverageOnboarding/OutputCoverageStep/OutputCoverageStep.tsx
  src/services/events/events.test.tsx
  src/services/events/types.ts
Due: Pages, Services

update useMyContexts
  src/services/user/useMyContexts.test.tsx
  src/services/user/useMyContexts.ts
Due: Services

update useOwnerRateLimitStatus
  src/services/user/useOwnerRateLimitStatus.test.tsx
  src/services/user/useOwnerRateLimitStatus.tsx
Due: Services

update useUser
  src/services/user/useUser.test.tsx
  src/services/user/useUser.ts
Due: Services

update useInfiniteUsers
  src/services/users/useInfiniteUser.test.tsx
  src/services/users/useInfiniteUser.tsx
Due: Services

fix test issues
  src/services/repo/useRepoComponents.test.tsx
Due: Services

Convert FileEntry to TSX
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.test.tsx
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.tsx
Due: Shared

Test default runPrefetch
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.test.tsx
Due: Shared

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
