Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

cleanup
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/pages/OwnerPage/hooks/useOwnerPageData.js
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/Label/Label.tsx
Due: Layouts, Pages, UI

wip
  src/services/access/useGenerateUserToken.test.tsx
  src/services/navigation/useNavLinks/useNavLinks.test.tsx
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/services/navigation/useNavLinks/useStaticNavLinks.ts
  src/services/selfHosted/useSelfHostedCurrentUser.test.tsx
  src/services/selfHosted/useSelfHostedCurrentUser.ts
  src/services/selfHosted/useSelfHostedHasAdmins.test.tsx
  src/services/selfHosted/useSelfHostedSeatsConfig.test.tsx
  src/services/selfHosted/useSelfHostedSeatsConfig.ts
Due: Services

remove useLeftScrollSync
  src/ui/VirtualRenderers/useLeftScrollSync.test.tsx
  src/ui/VirtualRenderers/useLeftScrollSync.ts
Due: UI

add in new hook to detect if an element is overflowing
  src/ui/VirtualRenderers/useIsOverflowing.test.ts
  src/ui/VirtualRenderers/useIsOverflowing.ts
Due: UI

add in hook to sync scroll left between an element and n elements
  src/ui/VirtualRenderers/useSyncScrollLeft.test.tsx
  src/ui/VirtualRenderers/useSyncScrollLeft.ts
Due: UI

add in a custom scroll bar for the virtual renderers
  src/ui/VirtualRenderers/ScrollBar.tsx
Due: UI

update virtual renderers to use custom scroll bar implementation
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
Due: UI

make hit counters slightly smaller
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
Due: UI

move hit counter to the left of the content because we don't line wrap anymore
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
Due: UI

use an object syntax for useSyncScrollLeft
  src/ui/VirtualRenderers/useSyncScrollLeft.ts
Due: UI

use new object syntax and reset having hit counters on the right
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
Due: UI

missed updating this test
  src/ui/VirtualRenderers/useSyncScrollLeft.test.tsx
Due: UI

add test id to the scroll bar
  src/ui/VirtualRenderers/ScrollBar.tsx
Due: UI

add in tests for checking for the scroll bar
  src/ui/VirtualRenderers/VirtualDiffRenderer.test.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.test.tsx
Due: UI

word things to be in a bit better order
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
  src/ui/VirtualRenderers/useScrollLeftSync.test.tsx
  src/ui/VirtualRenderers/useScrollLeftSync.ts
Due: UI

add in some extra comments
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
  src/ui/VirtualRenderers/useIsOverflowing.ts
  src/ui/VirtualRenderers/useScrollLeftSync.ts
Due: UI

fix: Scrolling issues with virtual renderers (#3446)
  src/ui/VirtualRenderers/ScrollBar.tsx
  src/ui/VirtualRenderers/VirtualDiffRenderer.test.tsx
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.test.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
  src/ui/VirtualRenderers/useIsOverflowing.test.ts
  src/ui/VirtualRenderers/useIsOverflowing.ts
  src/ui/VirtualRenderers/useLeftScrollSync.ts
  src/ui/VirtualRenderers/useScrollLeftSync.test.tsx
  src/ui/VirtualRenderers/useScrollLeftSync.ts
  src/ui/VirtualRenderers/useSyncTotalWidth.test.tsx
  src/ui/VirtualRenderers/useSyncTotalWidth.ts
Due: UI

rexport coverage value type
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
Due: UI

reduce the amount of stuff we're returning from useComparisonForCommitAndParent
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.test.tsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
Due: Services

handle loading via suspense in the parent component
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

update tests
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
Due: Pages

allow parent component to handle loading state via suspense
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.jsx
Due: Pages

update indirect files changed with updates to data fetching hook
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.jsx
Due: Pages

enable hook to be disabled
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.test.tsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
Due: Services

remove feature flag, refactor to TS, and memo data
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/index.ts
Due: Pages

make things a bit easier to read and optimize how we calculate hit count
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

remove return and just return right away
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

rename transformImpactedFileData to transformImpactedFileToDiff so people know what it's doing
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/services/comparison/utils.ts
  src/services/pull/usePrefetchSingleFileComp.tsx
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
  src/services/pull/utils/index.ts
  src/services/pull/utils/transformImpactedFileToDiff.js
  src/services/pull/utils/transformImpactedFileToDiff.test.js
Due: Pages, Services

some more tidying up
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

tidy things up a little bit
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

fix vertial spacing for hit counters and just inline the hashed path
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

fix: Add back needed z-index style
  src/ui/SummaryDropdown/SummaryDropdown.tsx
Due: UI

chore: Remove VirtualDiff feature flag FilesChanged CommitDiff (#3435)
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/index.ts
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.jsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.test.tsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
  src/services/comparison/utils.ts
  src/services/pull/usePrefetchSingleFileComp.tsx
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
  src/services/pull/utils/index.ts
  src/services/pull/utils/transformImpactedFileToDiff.js
  src/services/pull/utils/transformImpactedFileToDiff.test.js
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
Due: Pages, Services, UI

update/refactor/rename transformImpactedPullFileToDiff
  src/services/pull/utils/index.ts
  src/services/pull/utils/transformImpactedFileToDiff.js
  src/services/pull/utils/transformImpactedFileToDiff.test.js
  src/services/pull/utils/transformImpactedPullFileToDiff.test.ts
  src/services/pull/utils/transformImpactedPullFileToDiff.ts
Due: Services

update hooks, and schema
  src/services/pull/fragments.ts
  src/services/pull/usePrefetchSingleFileComp.tsx
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
Due: Services

add in test for the error message
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.test.tsx
Due: Pages

be more specific that we want path to be a string
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.tsx
Due: Pages

update/refactor and remove feature flag in PullFileDiff
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/index.js
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/index.ts
Due: Pages

update affected things with rename
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
Due: Pages

Update BA endpoint to use a separate secret (#3437)
  .github/workflows/ci.yml
  vite.config.mjs
Due: none

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
