Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

chore: Remove size delta references (#2942)
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.tsx
Due: Pages

update commits tab to coverage status instead of ci state
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CommitsTab/index.ts
Due: Pages

add emoji to mutli-select options
  src/pages/RepoPage/CommitsTab/enums.ts
  src/pages/RepoPage/CommitsTab/enums.tsx
Due: Pages

add aria-labels to emojis in commits tables
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
Due: Pages

fix up issues with having components as the render value
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CommitsTab/enums.tsx
Due: Pages

remove skipped and add completed to commitstab enum
  src/pages/RepoPage/CommitsTab/enums.ts
Due: Pages

update CommitsTable to accept coverage status prop
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
Due: Pages

swap commit states to commit statuses
  src/services/commits/useCommits.tsx
Due: Services

initial commit
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/EraseRepoContent/EraseRepoContent.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/EraseRepoContent/useEraseContent.js
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.jsx
  src/services/repo/useEraseRepoContent.tsx
  src/services/repo/useUpdateRepo.js
  src/services/repo/useUpdateRepo.tsx
  src/services/repoUploadToken/useRegenerateRepoUploadToken.js
  src/services/repoUploadToken/useRegenerateRepoUploadToken.tsx
Due: Pages, Services

Setup IP address for sentry user
  src/services/tracking/useTracking.js
Due: Services

Prepare release 24.6.1
  VERSION
Due: none

update tests
  src/services/tracking/hooks.spec.js
Due: Services

Prepare release 24.6.12
  VERSION
Due: none

Release 24.6.12 (#2946)
  VERSION
Due: none

create reusable alert component
  src/globals.css
  src/ui/Alert/Alert.spec.tsx
  src/ui/Alert/Alert.stories.tsx
  src/ui/Alert/Alert.tsx
  src/ui/Alert/assets/check-circle.svg
  src/ui/Alert/assets/exclamation.svg
  src/ui/Alert/assets/information-circle.svg
  src/ui/Alert/assets/x-circle.svg
  src/ui/Alert/index.ts
  tailwind.config.js
Due: UI

font weight update
  src/ui/Alert/Alert.tsx
Due: UI

wip
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/RepoState/hooks/useRepoActivation.js
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DefaultBranch/DefaultBranch.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/SecretString/useGenerateSecretSring.js
  src/services/repo/hooks.spec.tsx
  src/services/repo/useEncodeString.js
  src/services/repo/useEncodeString.tsx
Due: Pages, Services

Update
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/EraseRepoContent/EraseRepoContent.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/SecretString/SecretString.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/SecretString/useGenerateSecretSring.js
  src/services/repo/useEraseRepoContent.js
  src/services/repo/useEraseRepoContent.tsx
Due: Pages, Services

restore repo update
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/RepoState/hooks/useRepoActivation.js
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DefaultBranch/DefaultBranch.jsx
  src/services/repo/useUpdateRepo.js
  src/services/repo/useUpdateRepo.tsx
Due: Pages, Services

Undo
  src/services/repo/hooks.spec.tsx
Due: Services

Add some tests
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/EraseRepoContent/EraseRepoContent.spec.jsx
  src/services/repo/useEraseRepoContent.tsx
Due: Pages, Services

remove assets and use icon, remove cruft
  src/ui/Alert/Alert.tsx
  src/ui/Alert/assets/check-circle.svg
  src/ui/Alert/assets/exclamation.svg
  src/ui/Alert/assets/information-circle.svg
  src/ui/Alert/assets/x-circle.svg
  src/ui/Icon/svg/outline/index.js
  src/ui/Icon/svg/solid/index.js
Due: UI

change to p
  src/ui/Alert/Alert.tsx
Due: UI

fix tests and add variant tests
  src/ui/Alert/Alert.spec.tsx
  src/ui/Alert/Alert.tsx
Due: UI

remove unnecessary styles
  src/ui/Alert/Alert.tsx
Due: UI

eslint update
  src/ui/Alert/Alert.tsx
Due: UI

feat: Add Reusable Alert Component (#2947)
  src/globals.css
  src/ui/Alert/Alert.spec.tsx
  src/ui/Alert/Alert.stories.tsx
  src/ui/Alert/Alert.tsx
  src/ui/Alert/index.ts
  src/ui/Icon/svg/outline/index.js
  src/ui/Icon/svg/solid/index.js
  tailwind.config.js
Due: UI

update link and text content
  src/pages/LoginPage/LoginPage.jsx
Due: Pages

update tests
  src/pages/LoginPage/LoginPage.spec.jsx
Due: Pages

fix: clarify MultiSelect deselect button text
  src/ui/MultiSelect/MultiSelect.jsx
  src/ui/MultiSelect/MultiSelect.spec.jsx
Due: UI

fix: modify text to be shorter
  src/pages/RepoPage/PullsTab/PullsTab.tsx
  src/ui/MultiSelect/MultiSelect.jsx
  src/ui/MultiSelect/MultiSelect.spec.jsx
Due: Pages, UI

Idk maybe this will fix it
  src/App.spec.tsx
Due: none

Remove everything but test runners
  .github/workflows/ci.yml
Due: none

asdf
  .github/workflows/cache_cleanup.yml
  .github/workflows/ci.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/self-hosted-release-pr.yml
  .github/workflows/self-hosted-release.yml
  .github/workflows/trigger-gazebo-preview.yml
Due: none

More tests
  .github/workflows/ci.yml
Due: none

Fix test for wrong result
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.tsx
Due: Pages

Revert changes to CI
  .github/workflows/cache_cleanup.yml
  .github/workflows/ci.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/self-hosted-release-pr.yml
  .github/workflows/self-hosted-release.yml
  .github/workflows/trigger-gazebo-preview.yml
Due: none

ref: update uses of impactedFilesDeprecated to impactedFiles resolver
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTableTeam/FilesChangedTableTeam.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTableTeam/FilesChangedTableTeam.tsx
  src/services/commit/useCommitTeam.spec.tsx
  src/services/commit/useCommitTeam.tsx
  src/services/commit/useCompareTotals.spec.tsx
  src/services/commit/useCompareTotals.tsx
  src/services/commit/useCompareTotalsTeam.spec.tsx
  src/services/commit/useCompareTotalsTeam.tsx
  src/services/pull/usePullCompareTotalsTeam.tsx
Due: Pages, Services

fix: fix impactFiles query to new structure
  src/services/commit/useCommitTeam.tsx
  src/services/commit/useCompareTotals.tsx
  src/services/commit/useCompareTotalsTeam.tsx
  src/services/pull/usePullCompareTotalsTeam.tsx
Due: Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
