Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

this should solve any remaining issues
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

remove if statement
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

fix: Fix bundle select not updating list of bundles when changing branch (#2765)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

feat: Move to components hooks in components tab 1/? (#2763)
  src/pages/RepoPage/ComponentsTab/BackfillBanners/BackfillBanners.spec.jsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/BackfillBanners.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/BackfillBanners.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/hooks.spec.js
  src/pages/RepoPage/ComponentsTab/BackfillBanners/hooks.ts
  src/pages/RepoPage/ComponentsTab/ComponentsTab.spec.jsx
Due: Pages

feat: Update to use components hooks in components tab (#2766)
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/ComponentsTab/Header/Header.jsx
  src/pages/RepoPage/ComponentsTab/Header/Header.spec.jsx
Due: Pages

feat: Move to components hook 3/3
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.js
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.spec.js
  src/services/repo/useRepoComponents.spec.tsx
  src/services/repo/useRepoComponents.tsx
Due: Pages, Services

it can be also null
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
Due: Pages

invalidate query
  src/services/repo/useActivateMeasurements.tsx
Due: Services

update express
  package-lock.json
Due: none

update webpack-dev-middleware
  package-lock.json
Due: none

fix: Update Express, and Webpack Dev Middleware (#2769)
  package-lock.json
Due: none

fix: Click on label and subtitle changes state, tests (#2736)
  src/pages/TermsOfService/TermsOfService.tsx
  src/ui/RadioInput/RadioInput.jsx
  src/ui/RadioInput/RadioInput.spec.jsx
Due: Pages, UI

last piece
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.spec.js
  src/services/repo/useRepoComponents.spec.tsx
  src/services/repo/useRepoComponents.tsx
Due: Pages, Services

access num repos in the cache currently
  src/services/user/useResyncUser.js
Due: Services

change to < 20
  src/services/user/useResyncUser.js
Due: Services

did my braces disappear
  src/services/user/useResyncUser.js
Due: Services

use this instead
  src/services/user/useResyncUser.js
Due: Services

remove magic num
  src/services/user/useResyncUser.js
Due: Services

fix: View full file not expanding tab (#2742)
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/shared/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/shared/FileDiff/FileDiff.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.tsx
Due: Pages

feat: 3/3 moving components tab to components hooks (#2768)
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.js
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.spec.js
  src/services/repo/useActivateMeasurements.tsx
  src/services/repo/useRepoComponents.spec.tsx
  src/services/repo/useRepoComponents.tsx
Due: Pages, Services

fix: Fix a couple of quick stuff for components tab
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.js
Due: Pages

update to fix test
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.spec.js
Due: Pages

adjust padding from 14px to 20px
  src/ui/FileList/FileList.css
  src/ui/Table/Table.css
Due: UI

remove Coverage components
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Coverage/Coverage.jsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Coverage/Coverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Coverage/index.js
  src/pages/RepoPage/CommitsTab/CommitsTable/Coverage/Coverage.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Coverage/Coverage.spec.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Coverage/index.js
Due: Pages

remove the word yet
  src/ui/CoverageProgress/CoverageProgress.tsx
Due: UI

update repo page pulls tab styles and use - instead of text
  src/pages/RepoPage/PullsTab/PullsTable/Coverage/Coverage.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/Coverage/Coverage.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.tsx
Due: Pages

update repo page commits tab table styles
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
Due: Pages

also fix up commits table team table
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
Due: Pages

update pulls page commits table
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
Due: Pages

update sentry config
  craco.config.js
Due: none

update query cache optimization + fix UTs
  src/services/repos/useRepos.tsx
  src/services/user/useResyncUser.js
  src/services/user/useResyncUser.spec.js
Due: Services

handle when bundle type is unknown and no bundle is selected
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

update tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
Due: Pages

build: Update sentry config (#2771)
  craco.config.js
Due: none

fix: Not showing select bundle when there is no bundle selected (#2773)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

fix: Fix a couple of quick stuff for components tab (#2770)
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.js
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.spec.js
Due: Pages

silence warning about no onChange prop
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages
