Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

Fix tests
  src/services/repo/useRepo.tsx
  src/services/user/useUser.ts
Due: Services

Fix type errors
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/utils/provider.ts
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Shared, UI

Add tests for EventTracker code
  src/layouts/BaseLayout/BaseLayout.tsx
  src/services/events/amplitude/amplitude.test.tsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/events.test.tsx
  src/services/events/events.ts
  src/services/events/hooks.test.tsx
  src/services/events/hooks.tsx
  src/services/events/types.ts
Due: Layouts, Services

Fix coverage
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.test.jsx
  src/services/events/__mocks__/events.ts
  src/services/events/events.test.tsx
  src/services/events/hooks.test.tsx
  src/shared/ListRepo/InactiveRepo/InactiveRepo.test.tsx
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
Due: Layouts, Pages, Services, Shared, UI

Add error logging for zod errors
  src/services/events/hooks.tsx
Due: Services

Add path to EventContext
  src/services/events/hooks.test.tsx
  src/services/events/hooks.tsx
  src/services/events/types.ts
Due: Services

Change buttonType -> buttonName
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.test.jsx
  src/services/events/amplitude/amplitude.test.tsx
  src/services/events/events.test.tsx
  src/services/events/types.ts
  src/shared/ListRepo/InactiveRepo/InactiveRepo.test.tsx
  src/shared/ListRepo/InactiveRepo/InactiveRepo.tsx
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Pages, Services, Shared, UI

fix: Remove duplicate localStorage set on dismiss
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.tsx
Due: Pages

Reword the "Erase Repo" action (#3670)
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/DangerZone.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepo.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepo.test.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepoModal.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/index.js
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepoContent/index.js
  src/services/repo/useEraseRepoContent.test.tsx
  src/services/repo/useEraseRepoContent.tsx
Due: Pages, Services

feat: Implement EventTracker abstraction and Amplitude implementation (#3650)
  src/index.tsx
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.test.jsx
  src/services/events/__mocks__/events.ts
  src/services/events/amplitude/amplitude.test.tsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/events.test.tsx
  src/services/events/events.ts
  src/services/events/hooks.test.tsx
  src/services/events/hooks.tsx
  src/services/events/types.ts
  src/services/user/useOwner.ts
  src/services/user/useUser.ts
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
  src/shared/ListRepo/InactiveRepo/InactiveRepo.test.tsx
  src/shared/ListRepo/InactiveRepo/InactiveRepo.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/utils/provider.ts
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Pages, Services, Shared, UI

fix: Infer name if not in billing details
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.tsx
Due: Pages

fix tests
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.tsx
Due: Pages

fix tests
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
Due: Pages

remove stray test comment
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
Due: Pages

remove email fallback
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.tsx
Due: Pages

fix: Infer name if not in billing details (#3676)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.tsx
Due: Pages

Appless non-PAT org dropdown clarity changes (#3628)
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: UI

Cy/new tos (#3642)
  src/pages/TermsOfService/TermsOfService.test.tsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.test.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
Due: Pages

feat: Add appless pre-PAT onboarding container
  src/App.tsx
  src/assets/onboarding/org_list_install_app.png
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/constants.ts
  src/pages/DefaultOrgSelector/index.js
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.tsx
  src/pages/OwnerPage/OnboardingOrg/constants.ts
  src/pages/OwnerPage/OnboardingOrg/index.ts
  src/pages/OwnerPage/OwnerPage.jsx
  src/services/navigation/useLocationParams.ts
  src/shared/ListRepo/ListRepo.jsx
Due: Layouts, Pages, Services, Shared

feat: Make adjustments to add new install modal version
  src/assets/onboarding/click_here_to_install.png
  src/pages/OwnerPage/OnboardingContainerContext/context.test.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.test.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.tsx
  src/pages/OwnerPage/OwnerPage.test.jsx
  src/shared/AppInstallModal/AppInstallModal.test.tsx
  src/shared/AppInstallModal/AppInstallModal.tsx
Due: Pages, Shared

fix: Add onboarding container context to UserDropdown tests
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
Due: Layouts

fix: Revert type changes
  src/App.tsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/services/navigation/useLocationParams.ts
Due: Pages, Services

test: Add user dropdown toggle test
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
Due: Layouts

test: Modify test
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
Due: Layouts

chore: Remove unnecessary console log
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
Due: Layouts

test: remove it.only
  src/layouts/BaseLayout/hooks/useUserAccessGate.test.tsx
Due: Layouts

fix: copy tweak
  src/shared/AppInstallModal/AppInstallModal.tsx
Due: Shared

fix: Only show onboarding for new users, remove older app install modal, remove customer intent
  src/App.test.tsx
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.jsx
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.test.jsx
  src/layouts/BaseLayout/InstallationHelpBanner/index.ts
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
  src/layouts/BaseLayout/hooks/useUserAccessGate.test.tsx
  src/layouts/Header/Header.test.tsx
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/AccountSettings/AccountSettings.test.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.test.jsx
  src/pages/AccountSettings/tabs/Access/Access.test.tsx
  src/pages/AccountSettings/tabs/Admin/Admin.test.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.test.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/pages/DefaultOrgSelector/index.js
  src/pages/OwnerPage/OnboardingContainerContext/context.test.tsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/pages/RepoPage/RepoPage.test.tsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/pages/TermsOfService/constants.ts
  src/services/user/useUser.test.tsx
  src/services/user/useUser.ts
  src/shared/AppInstallModal/AppInstallModal.test.tsx
  src/shared/AppInstallModal/AppInstallModal.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.test.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.test.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/index.ts
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
Due: Layouts, Pages, Services, Shared

test: fix starting test await
  src/layouts/BaseLayout/hooks/useUserAccessGate.test.tsx
Due: Layouts

fix: Remove unused defaultOrgSelector
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
  src/layouts/BaseLayout/hooks/useUserAccessGate.test.tsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.test.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/index.ts
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.test.tsx
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.ts
  src/pages/DefaultOrgSelector/index.js
Due: Layouts, Pages

chore: Remove unnecessary prop
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.tsx
Due: Pages

fix: Review changes
  src/assets/onboarding/click_here_to_install.png
  src/assets/onboarding/org_list_install_app.png
  src/layouts/BaseLayout/BaseLayout.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.tsx
  src/pages/OwnerPage/OwnerPage.jsx
  src/shared/AppInstallModal/AppInstallModal.tsx
Due: Layouts, Pages, Shared

test: Remove test
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.test.tsx
Due: Pages

fix: Merge resolution fix
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
Due: UI

fix: Pixel push fixes and only show for GH
  src/App.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/OwnerPage/OnboardingContainerContext/context.test.tsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.test.tsx
  src/shared/AppInstallModal/AppInstallModal.test.tsx
  src/shared/AppInstallModal/AppInstallModal.tsx
  src/ui/Modal/BaseModal.tsx
Due: Layouts, Pages, Shared, UI

fix: Switch to using wrapper
  src/ui/LightDarkImg/LightDarkImg.test.tsx
Due: UI

wip
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/services/account/useAccountDetails.ts
  src/services/account/useUpdatePaymentMethod.ts
Due: Pages, Services

handle upgrade flow
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
Due: Pages
