Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

fix: Only show GH config app if admin
  src/pages/OwnerPage/OwnerPage.jsx
  src/shared/ListRepo/ListRepo.test.tsx
  src/shared/ListRepo/ListRepo.tsx
  src/ui/Icon/svg/outline/index.jsx
Due: Pages, Shared, UI

add in config option to override and control the sunburst
  src/config.js
  src/config.test.js
Due: none

update overview tab to use new config option
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
Due: Pages

feat: Allow build time configuration of sunburst (#3689)
  src/config.js
  src/config.test.js
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
Due: Pages

Only show auto activate for admins on enterprise cloud plans
  src/pages/MembersPage/MembersActivation/MembersActivation.jsx
  src/pages/MembersPage/MembersActivation/MembersActivation.test.jsx
Due: Pages

Add tests for non-enterprise case
  src/pages/MembersPage/MembersActivation/MembersActivation.test.jsx
Due: Pages

Remove .only on test
  src/pages/MembersPage/MembersActivation/MembersActivation.test.jsx
Due: Pages

Make conditional more readable
  src/pages/MembersPage/MembersActivation/MembersActivation.jsx
Due: Pages

Remove another only
  src/pages/MembersPage/MembersActivation/MembersActivation.test.jsx
Due: Pages

feat: Only show auto-activate toggle for admins when on enterprise cloud plan (#3690)
  src/pages/MembersPage/MembersActivation/MembersActivation.jsx
  src/pages/MembersPage/MembersActivation/MembersActivation.test.jsx
Due: Pages

ref: Flatten Amplitude context properties (#3687)
  src/services/events/amplitude/amplitude.test.tsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/hooks.test.tsx
  src/services/events/hooks.tsx
  src/services/events/types.ts
Due: Services

fix: Hide tokenless banner for signed out user
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
Due: Shared

feat: Add img component for light and dark src (#3675)
  src/pages/CodecovAIPage/CodecovAICommands/CodecovAICommands.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
  src/ui/LightDarkImg/LightDarkImg.stories.tsx
  src/ui/LightDarkImg/LightDarkImg.test.tsx
  src/ui/LightDarkImg/LightDarkImg.tsx
  src/ui/LightDarkImg/index.ts
Due: Pages, UI

fix: use new screen widths and limit modal width
  src/ui/Modal/Modal.tsx
  tailwind.config.mjs
Due: UI

fix: Only show GH app config banner if admin (#3691)
  src/pages/OwnerPage/OwnerPage.jsx
  src/shared/ListRepo/ListRepo.test.tsx
  src/shared/ListRepo/ListRepo.tsx
  src/ui/Icon/svg/outline/index.jsx
Due: Pages, Shared, UI

fix: Add modal max width on wide screens (#3674)
  src/ui/Modal/Modal.tsx
  tailwind.config.mjs
Due: UI

chore: Cleanup payment related components
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
Due: Pages

cleanup
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/services/account/useUpdatePaymentMethod.ts
Due: Pages, Services

feat: Add ACH microdeposits handling
  src/pages/PlanPage/PlanPage.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageStripeCallback/InfoMessageStripeCallback.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeFormModal.tsx
  src/services/account/index.ts
  src/services/account/useCurrentOrgPlanPageData.test.tsx
  src/services/account/useCurrentOrgPlanPageData.tsx
  src/services/account/useUnverifiedPaymentMethods.test.tsx
  src/services/account/useUnverifiedPaymentMethods.tsx
Due: Pages, Services

cleanup
  src/pages/PlanPage/PlanPage.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/services/account/useCurrentOrgPlanPageData.test.tsx
  src/services/account/useCurrentOrgPlanPageData.tsx
Due: Pages, Services

change copy
  src/pages/PlanPage/PlanPage.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeFormModal.tsx
Due: Pages

add tests
  src/pages/PlanPage/PlanPage.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageStripeCallback/InfoMessageStripeCallback.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeFormModal.test.tsx
Due: Pages

Add users developer to plans enum
  src/shared/utils/billing.ts
Due: Shared

feat: Add users-developer to plans enum (#3694)
  src/shared/utils/billing.ts
Due: Shared

chore: prettier
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
Due: Shared

fix: Hide tokenless banner for signed out user (#3677)
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
Due: Shared

DISPLAY_SELF_HOSTED_EXPIRATION_BANNER probably
  src/config.js
  src/config.test.js
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
Due: Shared

comment out test for now
  src/config.js
  src/config.test.js
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.tsx
Due: Shared

fix logic
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
Due: Shared

bring back test
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.tsx
Due: Shared

fix test
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.tsx
Due: Shared

DISPLAY_SELF_HOSTED_EXPIRATION_BANNER probably (#3695)
  src/config.js
  src/config.test.js
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
Due: Shared

incorporate pr comments
  src/pages/PlanPage/PlanPage.test.tsx
  src/pages/PlanPage/PlanPage.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/useCurrentOrgPlanPageData.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/useCurrentOrgPlanPageData.tsx
  src/services/account/index.ts
  src/services/account/useUnverifiedPaymentMethods.tsx
Due: Pages, Services

fix tests
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/useCurrentOrgPlanPageData.test.tsx
  src/services/account/useUnverifiedPaymentMethods.tsx
Due: Pages, Services

feat: Add ACH microdeposits handling (#3693)
  src/pages/PlanPage/PlanPage.test.tsx
  src/pages/PlanPage/PlanPage.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageStripeCallback/InfoMessageStripeCallback.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageStripeCallback/InfoMessageStripeCallback.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/useCurrentOrgPlanPageData.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/useCurrentOrgPlanPageData.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeFormModal.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeFormModal.tsx
  src/services/account/index.ts
  src/services/account/useUnverifiedPaymentMethods.test.tsx
  src/services/account/useUnverifiedPaymentMethods.tsx
Due: Pages, Services

fix: Handle ach case
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageStripeCallback/InfoMessageStripeCallback.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageStripeCallback/InfoMessageStripeCallback.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
Due: Pages

fix tests
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
Due: Pages

update mutation to use TSQ V5
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useUpdateOktaConfig.test.tsx
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useUpdateOktaConfig.tsx
Due: Pages

update OktaConfigForm to use Provider type
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
