Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

ref all header files to TS
  src/layouts/Header/AdminLink.spec.tsx
  src/layouts/Header/AdminLink.tsx
  src/layouts/Header/DesktopMenu.spec.tsx
  src/layouts/Header/DesktopMenu.tsx
  src/layouts/Header/Dropdown.spec.tsx
  src/layouts/Header/Dropdown.tsx
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/SeatDetails.spec.tsx
  src/layouts/Header/SeatDetails.tsx
  src/layouts/Header/index.ts
Due: Layouts

remove prop types and rebase
  src/layouts/Header/Dropdown.tsx
Due: Layouts

ref: 1548 Part 1: Convert all Header files to TS (#2821)
  src/layouts/Header/AdminLink.spec.tsx
  src/layouts/Header/AdminLink.tsx
  src/layouts/Header/DesktopMenu.spec.tsx
  src/layouts/Header/DesktopMenu.tsx
  src/layouts/Header/Dropdown.spec.tsx
  src/layouts/Header/Dropdown.tsx
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/SeatDetails.spec.tsx
  src/layouts/Header/SeatDetails.tsx
  src/layouts/Header/index.ts
Due: Layouts

Prepare release 24.5.1
  VERSION
Due: none

remove repository from header
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.jsx
Due: Pages

remove repository from toast
  src/pages/AccountSettings/tabs/OrgUploadToken/useGenerateOrgUploadToken.js
Due: Pages

update tests
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.spec.jsx
Due: Pages

fix: Remove repository from GUT settings page header (#2823)
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.jsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.spec.jsx
  src/pages/AccountSettings/tabs/OrgUploadToken/useGenerateOrgUploadToken.js
Due: Pages

update deps
  package-lock.json
  package.json
Due: none

fix up some tests that were initially yelling at me
  src/layouts/shared/ErrorBoundary/ErrorBoundary.spec.jsx
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
Due: Layouts, Pages

Install radix-ui react radio group
  package-lock.json
  package.json
Due: none

Install radix-ui react radio group (#2825)
  package-lock.json
  package.json
Due: none

Update repo onboarding steps with new Card component (#2819)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/pages/RepoPage/CoverageOnboarding/index.ts
Due: Pages

Refactor Other CI repo onboarding into one file (#2807)
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/index.js
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/index.ts
  src/pages/RepoPage/CoverageOnboarding/OtherCI/index.ts
Due: Pages

Refactor CircleCI repo onboarding into one file (#2806)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/index.ts
Due: Pages

Update repo onboarding title position and page alignment (#2818)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.jsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

sec: 390 - Add validation for potential XSS vuln (#2797)
  src/shared/api/api.js
  src/shared/api/api.test.js
  src/shared/api/helpers.ts
Due: Shared

Update tests
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/TrialEligibleBanner/TrialEligibleBanner.spec.tsx
Due: Pages

Update to correct import orders
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/TrialEligibleBanner/TrialEligibleBanner.spec.tsx
Due: Pages

Update tests
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
Due: Pages

feat: Add hasSeatsLeft to plan query
  src/pages/DefaultOrgSelector/DefaultOrgSelector.spec.jsx
  src/pages/MembersPage/MembersActivation/Activation/Activation.spec.jsx
  src/pages/MembersPage/MembersActivation/MembersActivation.spec.jsx
  src/pages/OwnerPage/Header/HeaderBanners/ExceededUploadsAlert/ExceededUploadsAlert.spec.jsx
  src/pages/OwnerPage/Header/HeaderBanners/HeaderBanners.spec.jsx
  src/pages/OwnerPage/Header/HeaderBanners/ReachingUploadLimitAlert/ReachingUploadLimitAlert.spec.jsx
  src/pages/OwnerPage/Tabs/TrialReminder/TrialReminder.spec.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/ProPlanSubheading/ProPlanSubheading.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
  src/services/account/usePlanData.spec.tsx
  src/services/account/usePlanData.ts
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.spec.tsx
Due: Pages, Services, Shared

feat: Add activation banner for trial eligible owners 1/4 (#2817)
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/TrialEligibleBanner/TrialEligibleBanner.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/TrialEligibleBanner/TrialEligibleBanner.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/TrialEligibleBanner/index.ts
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/index.ts
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
Due: Pages

chore: Update to react 18.3.1 (#2824)
  package-lock.json
  package.json
  src/layouts/shared/ErrorBoundary/ErrorBoundary.spec.jsx
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
Due: Layouts, Pages

Update to reflect SeatsLimitReachedBanner
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/PaidPlanBanner/index.ts
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/SeatsLimitReachedBanner/SeatsLimitReachedBanner.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/SeatsLimitReachedBanner/SeatsLimitReachedBanner.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/SeatsLimitReachedBanner/index.ts
Due: Pages

feat: paid plan activation banner
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/SeatsLimitReachedBanner/SeatsLimitReachedBanner.spec.tsx
Due: Pages

Update
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/repo/useRepo.tsx
Due: Pages, Services

Update test
  src/services/repo/useRepo.spec.tsx
Due: Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
