Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

tidy things up a little bit
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

remove return and just return right away
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

make things a bit easier to read and optimize how we calculate hit count
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

some more tidying up
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

rename transformImpactedFileData to transformImpactedFileToDiff so people know what it's doing
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/services/comparison/utils.ts
  src/services/pull/usePrefetchSingleFileComp.tsx
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
  src/services/pull/utils/index.ts
  src/services/pull/utils/transformImpactedFileToDiff.js
  src/services/pull/utils/transformImpactedFileToDiff.test.js
Due: Pages, Services

fix vertial spacing for hit counters and just inline the hashed path
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
Due: Pages, UI

remove Sentry.captureMessage from NetworkErrorBoundary
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.test.jsx
Due: Layouts

globally ignore Sentry.withScope calls
  src/vitest.setup.ts
Due: none

create a new function to handle network errors and send them to sentry
  src/shared/api/helpers.test.ts
  src/shared/api/helpers.ts
Due: Shared

update two example hooks
  src/services/bundleAnalysis/useBundleSummary.tsx
  src/services/commit/useCommit.test.tsx
  src/services/commit/useCommit.tsx
Due: Services

rename function
  src/services/bundleAnalysis/useBundleSummary.tsx
  src/services/commit/useCommit.tsx
  src/shared/api/helpers.test.ts
  src/shared/api/helpers.ts
Due: Services, Shared

Update BA endpoint to use a separate secret
  .github/workflows/ci.yml
Due: none

Add var into vite config
  vite.config.mjs
Due: none

use const
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useFlakeAggregates/useFlakeAggregates.test.tsx
Due: Pages

add debug + remove env var for testing
  vite.config.mjs
Due: none

PR comments
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

remove unnecessary return
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

fix: Pass in interval to aggregate functions, dynamic copy updates for intervals (#3425)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useFlakeAggregates/useFlakeAggregates.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useFlakeAggregates/useFlakeAggregates.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestsResultsAggregates.test.tsx
  src/pages/RepoPage/shared/constants.ts
Due: Pages

chore: Convert to TS - shared context, plan, propTypes, treePaths
  src/shared/context/activeContext.ts
  src/shared/context/index.ts
  src/shared/plan/BenefitList/BenefintList.test.tsx
  src/shared/plan/BenefitList/BenefitList.jsx
  src/shared/plan/BenefitList/BenefitList.tsx
  src/shared/plan/BenefitList/index.ts
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.test.tsx
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.tsx
  src/shared/plan/ScheduledPlanDetails/index.ts
  src/shared/propTypes/commitRequestType.ts
  src/shared/propTypes/dataMarketingType.ts
  src/shared/propTypes/index.ts
  src/shared/treePaths/index.ts
  src/shared/treePaths/useCommitTreePath.ts
  src/shared/treePaths/useCommitTreePaths.test.tsx
  src/shared/treePaths/useTreePaths.test.tsx
  src/shared/treePaths/useTreePaths.ts
Due: Shared

chore: Convert to TS - services selfHosted, access, pull, nav
  src/services/access/useGenerateUserToken.test.tsx
  src/services/access/useGenerateUserToken.ts
  src/services/navigation/index.ts
  src/services/navigation/normalize.test.ts
  src/services/navigation/normalize.ts
  src/services/navigation/useLocationParams.test.tsx
  src/services/navigation/useLocationParams.ts
  src/services/navigation/useNavLinks/index.ts
  src/services/navigation/useNavLinks/useNavLinks.test.tsx
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/services/navigation/useNavLinks/useStaticNavLinks.test.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.ts
  src/services/pull/utils/transformImpactedFileData.test.ts
  src/services/pull/utils/transformImpactedFileData.ts
  src/services/selfHosted/useSelfHostedCurrentUser.test.tsx
  src/services/selfHosted/useSelfHostedCurrentUser.ts
  src/services/selfHosted/useSelfHostedHasAdmins.test.tsx
  src/services/selfHosted/useSelfHostedHasAdmins.ts
  src/services/selfHosted/useSelfHostedSeatsConfig.test.tsx
  src/services/selfHosted/useSelfHostedSeatsConfig.ts
  src/services/usePaginatedContents/constants.ts
  src/services/usePaginatedContents/index.ts
  src/services/usePaginatedContents/usePaginatedContents.test.ts
  src/services/usePaginatedContents/usePaginatedContents.ts
Due: Services

chore: Convert to TS - services charts, user, orgUploadToken, image
  src/services/charts/useLegacyRepoCoverage.test.tsx
  src/services/charts/useLegacyRepoCoverage.ts
  src/services/image/index.ts
  src/services/image/useImage.test.ts
  src/services/image/useImage.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.test.tsx
  src/services/orgUploadToken/useRegenerateOrgUploadToken.ts
  src/services/pathContents/branch/file/index.ts
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.test.tsx
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.ts
  src/services/user/useIsCurrentUserAnAdmin.test.tsx
  src/services/user/useIsCurrentUserAnAdmin.ts
  src/services/user/useOnboardUser.test.tsx
  src/services/user/useOnboardUser.ts
  src/services/user/useOwner.test.tsx
  src/services/user/useOwner.ts
  src/services/user/useResyncUser.test.tsx
  src/services/user/useResyncUser.ts
  src/services/user/useUpdateProfile.test.tsx
  src/services/user/useUpdateProfile.ts
Due: Services

fixes
  src/shared/plan/BenefitList/BenefitList.test.tsx
  src/shared/plan/BenefitList/BenefitList.tsx
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.test.tsx
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.tsx
  src/shared/propTypes/dataMarketingType.ts
  src/shared/treePaths/useCommitTreePath.ts
  src/shared/treePaths/useCommitTreePaths.test.tsx
Due: Shared

set the breadcrumb as the error.dev message
  src/shared/api/helpers.test.ts
  src/shared/api/helpers.ts
Due: Shared

remove ui/BundleTrendChart
  src/ui/BundleTrendChart/BundleTrendChart.stories.tsx
  src/ui/BundleTrendChart/BundleTrendChart.test.tsx
  src/ui/BundleTrendChart/BundleTrendChart.tsx
  src/ui/BundleTrendChart/NoBundleData.tsx
  src/ui/BundleTrendChart/chart.css
  src/ui/BundleTrendChart/index.ts
Due: UI

update vite and vitest related things
  package.json
Due: none

update lock file
  yarn.lock
Due: none

remove c8 coverage as we don't use it, and actually update vitest
  package.json
  yarn.lock
Due: none

fix types
  src/shared/treePaths/useCommitTreePath.ts
  src/shared/treePaths/useCommitTreePaths.test.tsx
  src/shared/treePaths/useTreePaths.ts
Due: Shared

fix types
  src/shared/treePaths/useTreePaths.test.tsx
  src/shared/treePaths/useTreePaths.ts
Due: Shared

add in hook that was missing to sync widths
  src/ui/VirtualRenderers/useSyncTotalWidth.test.tsx
  src/ui/VirtualRenderers/useSyncTotalWidth.ts
Due: UI

use new hook to sync total widths
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
Due: UI

chore: Remove ui/BundleTrendChart (#3441)
  src/ui/BundleTrendChart/BundleTrendChart.stories.tsx
  src/ui/BundleTrendChart/BundleTrendChart.test.tsx
  src/ui/BundleTrendChart/BundleTrendChart.tsx
  src/ui/BundleTrendChart/NoBundleData.tsx
  src/ui/BundleTrendChart/chart.css
  src/ui/BundleTrendChart/index.ts
Due: UI

Add submission form
  src/pages/FormSubmission.tsx
Due: Pages

Update src/pages/FormSubmission.tsx
  src/pages/FormSubmission.tsx
Due: Pages

chore: Update Vite and Vitest deps (#3443)
  package.json
  yarn.lock
Due: none

feat: Rework how we capture service errors to sentry (#3436)
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.test.jsx
  src/services/bundleAnalysis/useBundleSummary.tsx
  src/services/commit/useCommit.test.tsx
  src/services/commit/useCommit.tsx
  src/shared/api/helpers.test.ts
  src/shared/api/helpers.ts
  src/vitest.setup.ts
Due: Layouts, Services, Shared

fix more types per pr comments!
  src/layouts/EnterpriseLoginLayout/EnterpriseLoginLayout.test.tsx
  src/layouts/EnterpriseLoginLayout/Header/Header.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressCard.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.test.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/BackfillBanners.test.tsx
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/repo/useActivateMeasurements.test.tsx
  src/services/repo/useRepoComponentsSelect.test.tsx
  src/services/repo/useRepoFlagsSelect.test.tsx
  src/services/repo/useRepoOverview.tsx
  src/services/repo/useRepoSettings.test.tsx
  src/services/repo/useRepoSettingsTeam.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenRequiredBanner/TokenRequired.test.tsx
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.test.tsx
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.tsx
  src/shared/treePaths/useCommitTreePaths.test.tsx
  src/shared/treePaths/useTreePaths.test.tsx
Due: Layouts, Pages, Services, Shared

chore: Convert to TS - shared context, plan, propTypes, treePaths (#3438)
  src/layouts/EnterpriseLoginLayout/EnterpriseLoginLayout.test.tsx
  src/layouts/EnterpriseLoginLayout/Header/Header.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressCard.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.test.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/BackfillBanners.test.tsx
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/repo/useActivateMeasurements.test.tsx
  src/services/repo/useRepoComponentsSelect.test.tsx
  src/services/repo/useRepoFlagsSelect.test.tsx
  src/services/repo/useRepoOverview.tsx
  src/services/repo/useRepoSettings.test.tsx
  src/services/repo/useRepoSettingsTeam.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenRequiredBanner/TokenRequired.test.tsx
  src/shared/context/activeContext.ts
  src/shared/context/index.ts
  src/shared/plan/BenefitList/BenefitList.test.tsx
  src/shared/plan/BenefitList/BenefitList.tsx
  src/shared/plan/BenefitList/index.ts
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.test.tsx
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.tsx
  src/shared/plan/ScheduledPlanDetails/index.ts
  src/shared/propTypes/commitRequestType.ts
  src/shared/propTypes/dataMarketingType.ts
  src/shared/propTypes/index.ts
  src/shared/treePaths/index.ts
  src/shared/treePaths/useCommitTreePath.ts
  src/shared/treePaths/useCommitTreePaths.test.tsx
  src/shared/treePaths/useTreePaths.test.tsx
  src/shared/treePaths/useTreePaths.ts
Due: Layouts, Pages, Services, Shared

feat: Add 'viewing as visitor' label
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
  src/ui/Label/Label.tsx
Due: Layouts, Shared, UI

fix tests
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/pages/OwnerPage/hooks/useOwnerPageData.js
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
  src/ui/Label/Label.stories.tsx
  src/ui/Label/Label.tsx
Due: Layouts, Pages, Shared, UI

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
