Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

also remove useProPlans
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradePro/PlanUpgradePro.jsx
  src/shared/utils/billing.test.ts
  src/shared/utils/billing.ts
Due: Pages, Shared

convert isBasicPlan to isFreePlan gql prop
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.tsx
  src/shared/utils/billing.test.ts
  src/shared/utils/billing.ts
Due: Pages, Shared

fix test
  src/layouts/BaseLayout/BaseLayout.test.tsx
Due: Layouts

chore: Migrate useOwner to ts
  src/services/user/useOwner.test.tsx
  src/services/user/useOwner.ts
Due: Services

add zod schema validation
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/services/user/useOwner.ts
Due: Pages, Services

chore: Migrate orgUploadToken to ts
  src/pages/AccountSettings/tabs/OrgUploadToken/GenerateOrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.test.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/RegenerateOrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/RegenrateTokenModal.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/index.ts
  src/pages/AccountSettings/tabs/OrgUploadToken/useGenerateOrgUploadToken.ts
Due: Pages

lint this
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/UpgradeDetails.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/Controller.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
Due: Pages

format this
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/shared/utils/upgradeForm.ts
Due: Pages, Shared

fix: Fix rendered header error (#3590)
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
Due: Layouts

Pin demo repo to top during sort
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

Hide demo if 2 or more repos are configured
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

fix: Pin demo repo to top during sort (#3598)
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

try this fix
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
Due: Pages

Update spacing
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.jsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.jsx
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/shared/utils/loginProviders.ts
  src/shared/utils/provider.test.ts
  src/shared/utils/provider.ts
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Pages, Shared, UI

Update GithubIntegrationSection.jsx
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.jsx
Due: Pages

Update InstallCodecovAI.tsx
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
Due: Pages

Update tests
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
  src/shared/utils/provider.ts
Due: Pages, Shared

removing unneccessary mock to speed up tests
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.test.tsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.test.tsx
Due: Pages, UI

update jsdom to remove punycode warning
  package.json
  yarn.lock
Due: none

dev: Clean up some unneccesary mocks to speed up gazebo tests (#3604)
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.test.tsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.test.tsx
Due: Pages, UI

wip
  src/services/user/useOnboardUser.ts
Due: Services

use Provider type
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.tsx
Due: Pages

dev: update jsdom to remove punycode warning (#3605)
  package.json
  yarn.lock
Due: none

ref: Convert isBasicPlan to isFreePlan GQL property (#3600)
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.tsx
  src/shared/utils/billing.test.ts
  src/shared/utils/billing.ts
Due: Pages, Shared

migrate useSelfHostedSeatsAndLicense to SelfHostedSeatsAndLicenseQueryOpts
  src/services/selfHosted/SelfHostedSeatsAndLicenseQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedSeatsAndLicenseQueryOpts.ts
  src/services/selfHosted/index.ts
Due: Services

update usage in SelfHostedLicenseExpiration and refactor to TS
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
Due: Shared

add in comment about short circut
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
Due: Shared

fix typo
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
Due: Shared

add isTeamPlan to this test mock
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/ProPlanFeedbackBanner.test.tsx
Due: Shared

chore: Migrate useSyncProviders to TS Query V5 (#3573)
  src/pages/SyncProviderPage/SyncProviderPage.test.tsx
  src/pages/SyncProviderPage/SyncProviderPage.tsx
  src/services/config/SyncProvidersQueryOpts.test.tsx
  src/services/config/SyncProvidersQueryOpts.ts
  src/services/config/index.ts
Due: Pages, Services

chore: Migrate useSelfHostedSettings to TS Query V5 (#3574)
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationCount.test.tsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationCount.tsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/index.js
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationInfo.test.tsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationInfo.tsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.test.tsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.tsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/index.js
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.test.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
  src/services/account/useUpdateSelfHostedSettings.test.tsx
  src/services/account/useUpdateSelfHostedSettings.tsx
  src/services/selfHosted/SelfHostedSettingsQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedSettingsQueryOpts.tsx
  src/services/selfHosted/index.ts
Due: Pages, Services

migrate useSelfHostedUserList to SelfHostedUserListQueryOpts
  src/services/selfHosted/SelfHostedUserListQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedUserListQueryOpts.ts
  src/services/selfHosted/index.ts
  src/services/selfHosted/useSelfHostedUserList.test.tsx
Due: Services

update usage in MemberTable
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.test.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
Due: Pages

fix typo
  src/services/selfHosted/SelfHostedUserListQueryOpts.test.tsx
Due: Services

remove spread operation
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
Due: Pages

chore: Migrate useSelfHostedUserList to TS Query V5 (#3575)
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.test.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
  src/services/selfHosted/SelfHostedUserListQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedUserListQueryOpts.ts
  src/services/selfHosted/index.ts
  src/services/selfHosted/useSelfHostedUserList.test.tsx
Due: Pages, Services

migrate useSelfHostedHasAdmins to SelfHostedHasAdminsQueryOpts
  src/services/selfHosted/SelfHostedHasAdminsQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedHasAdminsQueryOpts.ts
  src/services/selfHosted/index.ts
  src/services/selfHosted/useSelfHostedHasAdmins.ts
Due: Services

update usage in MissingDesignatedAdmins
  src/shared/GlobalBanners/MissingDesignatedAdmins/MissingDesignatedAdmins.test.jsx
  src/shared/GlobalBanners/MissingDesignatedAdmins/MissingDesignatedAdmins.tsx
Due: Shared

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
