Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

fix: display file explorer even when missing base commit
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
Due: Pages

chore: prettier
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
Due: Pages

feat: Remove unneeded utm tracking code (#3082)
  src/App.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
  src/services/tracking/utm.js
  src/services/tracking/utm.spec.js
  src/shared/utils/url.spec.ts
  src/shared/utils/url.ts
Due: Services, Shared

convert to .md
  src/ui/Table/Table.stories.md
Due: UI

remove MDX stuff
  src/ui/Table/Table.stories.md
Due: UI

dev: Upgrade storybook from ^7.6.17 -> ^8.2.6 (#3069)
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  src/ui/Table/Table.stories.md
  yarn.lock
Due: UI

chore: fix tests
  src/layouts/Header/components/HelpDropdown/HelpDropdown.spec.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.spec.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/ui/Dropdown/Dropdown.spec.tsx
  src/ui/Dropdown/Dropdown.tsx
Due: Layouts, UI

add in recharts package
  package.json
  yarn.lock
Due: none

small tidying up in Chart.tsx
  src/ui/Chart/Chart.tsx
Due: UI

add in test for formatter
  src/ui/Chart/Chart.spec.tsx
Due: UI

small tweaks to colour choice in charts
  src/ui/Chart/Chart.tsx
Due: UI

add in chart stories
  src/ui/Chart/Chart.stories.tsx
Due: none

add in example of mixed bar charts
  src/ui/Chart/Chart.stories.tsx
Due: none

add in some more tests
  src/ui/Chart/Chart.spec.tsx
Due: UI

some more tests
  src/ui/Chart/Chart.spec.tsx
  src/ui/Chart/Chart.tsx
Due: UI

add in initial tests
  src/ui/Chart/Chart.spec.tsx
Due: UI

small tweaks to story
  src/ui/Chart/Chart.stories.tsx
Due: none

add in tests for getPayloadConfigFromPayload
  src/ui/Chart/Chart.spec.tsx
Due: UI

export getPayloadConfigFromPayload to test locally
  src/ui/Chart/Chart.tsx
Due: UI

add in tests for icons
  src/ui/Chart/Chart.spec.tsx
  src/ui/Chart/Chart.tsx
Due: UI

add in test for value formatter
  src/ui/Chart/Chart.spec.tsx
Due: UI

add some basic chart colours to start off with
  src/globals.css
Due: none

add in chart helpers
  src/ui/Chart/Chart.tsx
  src/ui/Chart/index.ts
Due: UI

change y-axis side in stories
  src/ui/Chart/Chart.stories.tsx
Due: none

add link to recharts in the top comment
  src/ui/Chart/Chart.tsx
Due: UI

Rebase to main
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useOktaConfig.tsx
Due: Pages

fix: Fix schema of isUserOktaAuthenticated so it accepts nullable returned values (#3083)
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useOktaConfig.tsx
Due: Pages

temp remove loadTypes as it's not supportted yet in filter args
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
  src/services/bundleAnalysis/useBundleTrendData.spec.tsx
  src/services/bundleAnalysis/useBundleTrendData.tsx
Due: Pages, Services

feat: Add in new charting library (#3061)
  package.json
  src/globals.css
  src/ui/Chart/Chart.spec.tsx
  src/ui/Chart/Chart.stories.tsx
  src/ui/Chart/Chart.tsx
  src/ui/Chart/index.ts
  yarn.lock
Due: UI

feat: Create multi-select for load types (#3070)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/constants.ts
  src/services/bundleAnalysis/useBundleTrendData.tsx
Due: Pages, Services

chore: fix focus outline
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/ui/Avatar/Avatar.jsx
  src/ui/Dropdown/Dropdown.tsx
Due: Layouts, UI

Remove branch breadcrumb
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.tsx
Due: Pages

ref: Use new component for Help, User dropdowns (#3088)
  src/layouts/Header/components/HelpDropdown/HelpDropdown.spec.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.spec.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/ui/Avatar/Avatar.jsx
  src/ui/Dropdown/Dropdown.spec.tsx
  src/ui/Dropdown/Dropdown.tsx
Due: Layouts, UI

remove hit count from shared file diff
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/shared/FileDiff/FileDiff.jsx
Due: Pages

update tests
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/shared/FileDiff/FileDiff.spec.jsx
Due: Pages

fix prettier and lint issues
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

add in first test id
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

move ColorBar into it's own file to tidy things up a bit more
  src/ui/VirtualFileRenderer/ColorBar.spec.tsx
  src/ui/VirtualFileRenderer/ColorBar.tsx
Due: UI

remove color bar from virtual file renderer code
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

first round of tests
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
Due: UI

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
