Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

Add tests for useRepoPullContents
  src/services/pathContents/pull/dir/useRepoPullContents.spec.tsx
Due: Services

Add test for component selector
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
Due: Pages

Remove flags logic from file explorer table
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/FileExplorerTable.tsx
Due: Pages

Pull table data hook out to its own file
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/FileExplorerTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/useFileExplorerTableData.tsx
Due: Pages

Fix test
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.spec.tsx
Due: Services

Update other file explorer table layouts
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.js
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.js
Due: Pages

more whitespace
  src/config.js
Due: none

fix: whitespace
  codecov.yml
Due: none

whitespace
  codecov.yml
Due: none

fix; add space
  codecov.yml
Due: none

Remove search box from flags tab
  src/pages/RepoPage/FlagsTab/Header/Header.jsx
  src/pages/RepoPage/FlagsTab/Header/Header.spec.jsx
Due: Pages

fix; the most whitespace
  codecov.yml
Due: none

Working styles
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesTab.jsx
Due: Pages

spacing
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

Passing tests
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.spec.jsx
Due: Pages

fix test
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.spec.jsx
Due: Pages

fix: show tabs AND error message on page
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/shared/FlagsNotConfigured/FlagsNotConfigured.jsx
Due: Pages, Shared

fix: remove the space
  codecov.yml
Due: none

fix: show tabs AND error message on page (#2678)
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/shared/FlagsNotConfigured/FlagsNotConfigured.jsx
Due: Pages, Shared

add new fields to useAccountDetails
  src/services/account/useAccountDetails.ts
Due: Services

add in id field as well
  src/services/account/useAccountDetails.ts
Due: Services

actually make it nullish
  src/services/account/useAccountDetails.ts
Due: Services

fix: add new fields to useAccountDetails (#2680)
  src/services/account/useAccountDetails.ts
Due: Services

Remove search box from flags tab (#2677)
  src/pages/RepoPage/FlagsTab/Header/Header.jsx
  src/pages/RepoPage/FlagsTab/Header/Header.spec.jsx
Due: Pages

Convert TotalsNumber storybook to tsx
  src/ui/TotalsNumber/TotalsNumber.stories.jsx
  src/ui/TotalsNumber/TotalsNumber.stories.tsx
Due: UI

Redirect to general login instead of github
  src/App.jsx
  src/App.spec.jsx
Due: none

ref: redirect on 401 unauthorization error
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
  src/shared/api/api.js
Due: Pages, Shared

Show install help banner in global top banners
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
Due: Shared

Show install help banner in global top banners (#2684)
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
Due: Shared

show install guide on private repos
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

Do the same to logout button
  src/layouts/Header/Dropdown.spec.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Layouts, Services

convert majority of related components to TS
  src/pages/RepoPage/FlagsTab/BackfillBanners/SyncingBanner/SyncingBanner.spec.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/SyncingBanner/SyncingBanner.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/SyncingBanner/index.ts
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/index.ts
  src/pages/RepoPage/FlagsTab/BackfillBanners/index.ts
  src/pages/RepoPage/FlagsTab/FlagsTab.spec.jsx
  src/pages/RepoPage/FlagsTab/TimescaleDisabled/TimescaleDisabled.spec.tsx
  src/pages/RepoPage/FlagsTab/TimescaleDisabled/TimescaleDisabled.tsx
  src/pages/RepoPage/FlagsTab/TimescaleDisabled/index.ts
  src/pages/RepoPage/FlagsTab/constants.ts
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/DeleteFlagModal/DeleteFlagModal.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/DeleteFlagModal/DeleteFlagModal.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/DeleteFlagModal/index.ts
  src/shared/FlagsNotConfigured/FlagsNotConfigured.spec.tsx
  src/shared/FlagsNotConfigured/FlagsNotConfigured.tsx
  src/shared/FlagsNotConfigured/index.ts
Due: Pages, Shared

redirect on err tests
  src/shared/api/api.test.js
Due: Shared

feat: Redirect to general login instead of github (#2682)
  src/App.jsx
  src/App.spec.jsx
  src/layouts/Header/Dropdown.spec.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Layouts, Services

Convert TotalsNumber storybook to tsx (#2681)
  src/ui/TotalsNumber/TotalsNumber.stories.jsx
  src/ui/TotalsNumber/TotalsNumber.stories.tsx
Due: UI

remove sizeTotal from useBundleSummary
  src/services/bundleAnalysis/useBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Services

remove sizeTotal from tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleDetails.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
Due: Pages

convert majority of related components to TS (#2686)
  src/pages/RepoPage/FlagsTab/BackfillBanners/SyncingBanner/SyncingBanner.spec.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/SyncingBanner/SyncingBanner.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/SyncingBanner/index.ts
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/index.ts
  src/pages/RepoPage/FlagsTab/BackfillBanners/index.ts
  src/pages/RepoPage/FlagsTab/FlagsTab.spec.jsx
  src/pages/RepoPage/FlagsTab/TimescaleDisabled/TimescaleDisabled.spec.tsx
  src/pages/RepoPage/FlagsTab/TimescaleDisabled/TimescaleDisabled.tsx
  src/pages/RepoPage/FlagsTab/TimescaleDisabled/index.ts
  src/pages/RepoPage/FlagsTab/constants.ts
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/DeleteFlagModal/DeleteFlagModal.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/DeleteFlagModal/DeleteFlagModal.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/DeleteFlagModal/index.ts
  src/shared/FlagsNotConfigured/FlagsNotConfigured.spec.tsx
  src/shared/FlagsNotConfigured/FlagsNotConfigured.tsx
  src/shared/FlagsNotConfigured/index.ts
Due: Pages, Shared

fix: Remove last remaining use of size total (#2687)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleDetails.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/services/bundleAnalysis/useBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Pages, Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
