Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

This PR has been updated to add tests for #3818
  src/services/codecovAI/getRandomFact.test.ts
  src/services/codecovAI/space.test.ts
  src/services/codecovAI/space.ts
  src/services/codecovAI/topics.test.ts
Due: Services

This PR has been updated to add tests for #3818
  src/services/codecovAI/space.test.ts
  src/services/codecovAI/space.ts
Due: Services

This PR has been updated to add tests for #3818
  src/services/codecovAI/space.test.ts
Due: Services

Add Tests for PR#3811
  src/services/codecovAI/space.test.tsx
Due: Services

This PR has been updated to add tests for #3819
  src/services/codecovAI/space.test.tsx
Due: Services

Add Tests for PR#3811
  src/services/codecovAI/space.test.ts
Due: Services

This PR has been updated to add tests for #3820
  src/services/codecovAI/space.test.ts
Due: Services

This PR has been updated to add tests for #3820
  src/services/codecovAI/space.ts
Due: Services

more testing changes
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
Due: Pages

changes
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
Due: Pages

arbitrary change
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
Due: Pages

docs: Set fetch-depth to 2 in our GHA examples (#3800)
  src/pages/RepoPage/CoverageOnboarding/UseFrameworkInstructions.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
Due: Pages

This PR has been updated to add tests for #3822
  src/services/codecovAI/getRandomTopic.test.ts
  src/services/codecovAI/getRandomTopic.ts
  src/services/codecovAI/index.test.ts
  src/services/codecovAI/index.ts
  src/services/codecovAI/space.test.ts
  src/services/codecovAI/useTopic.test.tsx
  src/services/codecovAI/useTopic.ts
Due: Services

This PR has been updated to add tests for #3822
  src/services/codecovAI/getRandomTopic.test.ts
  src/services/codecovAI/getRandomTopic.ts
  src/services/codecovAI/index.test.ts
  src/services/codecovAI/index.ts
  src/services/codecovAI/space.ts
  src/services/codecovAI/useTopic.test.tsx
  src/services/codecovAI/useTopic.ts
Due: Services

chore: Trigger overwatch cli
  gazebo
Due: none

trigger test
  package.json
Due: none

fix: Remove commit author link to base owner page
  src/pages/RepoPage/CommitsTab/CommitsTable/Title/Title.tsx
Due: Pages

Rename Okta redirect uri -> redirect url
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.test.tsx
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
Due: Pages

Rename to Okta Base URL
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.test.tsx
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
Due: Pages

Fix flake
  src/services/commit/useCommit.test.tsx
Due: Services

Fix flake!
  src/ui/FileViewer/ToggleHeader/Title/Title.test.tsx
Due: UI

Prepare release 25.4.1
  VERSION
Due: none

trying something
  .github/workflows/ci.yml
Due: none

fix broken test
  src/services/commit/useCommit.test.tsx
Due: Services

Revert "fix broken test"
  src/services/commit/useCommit.test.tsx
Due: Services

Ignore flags select flake
  vitest.config.mjs
Due: none

Fix MembersActivation flake
  src/pages/MembersPage/MembersActivation/MembersActivation.jsx
Due: Pages

Remove ignored flake
  vitest.config.mjs
Due: none

Fix flagmultiselect flake
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FlagMultiSelect.test.jsx
Due: Pages

Fix UserDropdown flake
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
Due: Layouts

chore: Silence launchDarkly, sentry console logs
  src/sentry.ts
  src/shared/featureFlags/featureFlag.ts
Due: Shared

Fix failedteststable flake:
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
Due: Pages

Fix ComponentsMultiSelect flake:
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.test.tsx
Due: Pages

fix: some flakes (#3830)
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/pages/MembersPage/MembersActivation/MembersActivation.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FlagMultiSelect.test.jsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/services/commit/useCommit.test.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.test.tsx
Due: Layouts, Pages, Services, UI

chore(overwatch): Fix overwatch CI step
  .github/workflows/ci.yml
Due: none
