Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

do not redirect on empty branch
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
Due: Pages

add in test for Select branch
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
Due: Pages

swap to check to not redirect when head is null over branch name
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
Due: Pages

fix: Do not redirect on select branch (#2774)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

feat: Invalidate queries on poll when syncing repos (#2755)
  src/services/repos/useRepos.tsx
  src/services/user/useResyncUser.js
  src/services/user/useResyncUser.spec.js
Due: Services

fix: whitespace
  src/App.jsx
Due: none

fix: more whitespace
  src/App.jsx
Due: none

fix: whitespace
  src/pages/AccountSettings/AccountSettings.jsx
Due: Pages

feat: Adjust Commit and Pull columns to be more consistent (#2772)
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Coverage/Coverage.jsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Coverage/Coverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Coverage/index.js
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Coverage/Coverage.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Coverage/Coverage.spec.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Coverage/index.js
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
  src/pages/RepoPage/PullsTab/PullsTable/Coverage/Coverage.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/Coverage/Coverage.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.tsx
  src/ui/CoverageProgress/CoverageProgress.tsx
  src/ui/FileList/FileList.css
  src/ui/Table/Table.css
Due: Pages, UI

Add branch selector to Badge generator
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.jsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/BadgesAndGraphsTab.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/BadgesAndGraphsTab.tsx
Due: Pages

Fix test
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.spec.tsx
Due: Pages

Add Learn more link and clean up layouts
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/BadgesAndGraphsTab.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Graphs/URLEmbed.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/GeneralTab.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/GraphToken/GraphToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/ImpactAnalysisToken/ImpactAnalysisToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/StaticAnalysisToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YamlTab.jsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/ui/SettingsDescriptor/SettingsDescriptor.jsx
Due: Pages, Services, UI

Fix lint issue
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.tsx
Due: Pages

Nick changes
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/BadgesAndGraphsTab.spec.tsx
Due: Pages

Resolve merge conflict
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/constants.ts
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Services, Shared

Fix tests
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Shared

Remove unneeded function
  src/services/pathContents/constants.ts
Due: Services

Convert dir entry stuff to ts
  src/services/pathContents/constants.ts
Due: Services

Fix tests
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
Due: Shared

fix import
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
Due: Shared

remove unused function
  src/services/pathContents/constants.ts
Due: Services

Fix tests
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
Due: Services, Shared

Resolve merge conflict
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/FileExplorerTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/hooks/index.js
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/hooks/useRepoPullContentsTable.js
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/hooks/useRepoPullContentsTable.spec.js
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/index.ts
  src/services/pathContents/pull/dir/index.ts
  src/services/pathContents/pull/dir/useRepoPullContents.js
  src/services/pathContents/pull/dir/useRepoPullContents.spec.tsx
  src/services/pathContents/pull/dir/useRepoPullContents.tsx
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Pages, Services, Shared

Fix and use adjustListIfUpDir
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/FileExplorerTable.tsx
Due: Pages

Resolve merge conflict
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.tsx
Due: Services

Add tests for useRepoPullContents
  src/services/pathContents/pull/dir/useRepoPullContents.spec.tsx
Due: Services

Add test for component selector
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
Due: Pages

Remove flags logic from file explorer table
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/FileExplorerTable.tsx
Due: Pages

Resolve merge conflict
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/FileExplorerTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/useFileExplorerTableData.tsx
Due: Pages

Update other file explorer table layouts
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.js
Due: Pages

Fix type issue
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Shared

Add back toPathContentsFilterParameter
  src/services/pathContents/constants.ts
Due: Services

Reconcile changes with Rohit's updates to coverage tab file explorer
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/useFileExplorerTableData.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
Due: Pages, Services, Shared

Fix a few little things
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/services/pathContents/pull/dir/useRepoPullContents.spec.tsx
Due: Pages, Services

Fix bad type
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
Due: Pages

Remove unused prop to ToggleHeader
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

Add filtering by flag
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/FileExplorerTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/useFileExplorerTableData.tsx
Due: Pages

Fix oopsie
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.tsx
Due: Pages

Revert change to ToggleHeader.tsx
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
Due: Pages

Use ToggleHeader in PR file explorer
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.tsx
Due: Pages
