Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

update useBranchBundlesNames
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBranchBundlesNames.test.tsx
  src/services/bundleAnalysis/useBranchBundlesNames.tsx
Due: Services

update affected tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.tsx
Due: Pages

update useBranchBundleSummary
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBranchBundleSummary.test.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
Due: Services

update affected things
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

fix: Separate header render from main app (#3401)
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/shared/ErrorBoundary/ErrorBoundary.test.tsx
  src/layouts/shared/ErrorBoundary/ErrorBoundary.tsx
  src/layouts/shared/ErrorBoundary/index.ts
Due: Layouts

be quite app.test.tsx
  src/App.test.tsx
Due: none

update useBundleAssetModules
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBundleAssetModules.test.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
Due: Services

update affected things
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
Due: Pages

update useBundleAssets
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBundleAssets.test.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

update affected things
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
Due: Pages

update useBundleSummary
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBundleSummary.test.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Services

update BundleDetails
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.test.tsx
Due: Pages

remove index.tsx
  src/services/bundleAnalysis/index.ts
Due: Services

update BundleTrendDataQuery to Opts API
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.test.tsx
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.tsx
Due: Services

update affected
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
Due: Pages

update BranchBundlesNamesQueryOpts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.tsx
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.test.tsx
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.tsx
Due: Pages, Services

feat: Add CI status tooltip
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/ui/CIStatus/CIStatus.test.jsx
  src/ui/CIStatus/CIStatus.tsx
Due: Services, UI

fix: Remove not needed styles
  src/ui/CIStatus/CIStatus.tsx
Due: UI

fix: remove testing line
  src/ui/CIStatus/CIStatus.tsx
Due: UI

test: Fixing no testid attempt
  src/ui/CIStatus/CIStatus.test.jsx
  src/ui/CIStatus/CIStatus.tsx
  src/ui/SummaryDropdown/SummaryDropdown.tsx
Due: UI

test: Add static nav links test
  src/services/navigation/useNavLinks/useStaticNavLinks.test.jsx
Due: Services

feat: Change errored uploads and uploads list text
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/ErroredUploads/ErroredUploads.jsx
  src/pages/CommitDetailPage/CommitCoverage/ErroredUploads/ErroredUploads.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

fix: modify copy
  src/pages/CommitDetailPage/CommitCoverage/ErroredUploads/ErroredUploads.jsx
Due: Pages

update sentry config
  src/sentry.ts
Due: none

Adjust api_url to be ingest.codecov.io
  .github/workflows/ci.yml
Due: none

feat: Change errored uploads and uploads list text (#3429)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/ErroredUploads/ErroredUploads.jsx
  src/pages/CommitDetailPage/CommitCoverage/ErroredUploads/ErroredUploads.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

update filepath jsx and test
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.test.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.tsx
Due: Pages

feat: Add CI status tooltip (#3411)
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.test.jsx
  src/ui/CIStatus/CIStatus.test.jsx
  src/ui/CIStatus/CIStatus.tsx
  src/ui/SummaryDropdown/SummaryDropdown.tsx
Due: Services, UI

chore: Collect addtl info on useCommit error
  src/services/commit/useCommit.tsx
Due: Services

PR comments, maybe test fix?
  src/App.test.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.tsx
Due: Pages

feat: Update Jest TA onboarding copy to include filepath setting (#3433)
  src/App.test.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.test.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.tsx
Due: Pages

rev: Revert ignoring failing to import module in Sentry (#3431)
  src/sentry.ts
Due: none

rexport coverage value type
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
Due: UI

reduce the amount of stuff we're returning from useComparisonForCommitAndParent
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.test.tsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
Due: Services

update indirect files changed with updates to data fetching hook
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.jsx
Due: Pages

remove feature flag, refactor to TS, and memo data
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/index.ts
Due: Pages

update tests
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
Due: Pages

enable hook to be disabled
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.test.tsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
Due: Services

handle loading via suspense in the parent component
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

allow parent component to handle loading state via suspense
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.jsx
Due: Pages
