Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

tidy up chart selectors
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
Due: Pages

resovle linting issues
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.jsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
Due: Pages, Shared

fix issue with after being an empty string causing a server error
  src/services/repos/ReposQueryOpts.test.tsx
  src/services/repos/ReposQueryOpts.tsx
  src/services/repos/ReposTeamQueryOpts.test.tsx
  src/services/repos/ReposTeamQueryOpts.tsx
Due: Services

rename argument interface to reflect V5 migration
  src/services/repos/ReposQueryOpts.tsx
Due: Services

remove type coercion
  src/services/repos/ReposTeamQueryOpts.tsx
Due: Services

feat: Create CachedBundleContentBanner Component (#3632)
  src/shared/CachedBundleContentBanner/CachedBundleContentBanner.test.tsx
  src/shared/CachedBundleContentBanner/CachedBundleContentBanner.tsx
Due: Shared

fix up tests
  src/services/repos/ReposTeamQueryOpts.test.tsx
Due: Services

feat: Fetch isCached Field in PullPageDataQueryOpts (#3622)
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.test.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/useTabsCounts.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.test.jsx
  src/pages/PullRequestPage/PullRequestPage.test.tsx
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.test.tsx
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.tsx
Due: Pages

add in cached bundle banner to commits page
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
Due: Pages

add in tests for rendering new bundle
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
Due: Pages

revert converting isPublic to a boolean
  src/services/repos/ReposQueryOpts.tsx
Due: Services

ref: Migrate useRepos to TS Query V5 (#3617)
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/services/repos/ReposQueryOpts.test.tsx
  src/services/repos/ReposQueryOpts.tsx
  src/services/repos/ReposTeamQueryOpts.test.tsx
  src/services/repos/ReposTeamQueryOpts.tsx
  src/services/repos/index.ts
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.jsx
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
  src/shared/utils/demo.ts
  src/shared/utils/queries.ts
Due: Pages, Services, Shared

refactor onHover check
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
Due: Pages

fix: Update viewFile toggle in commit detail page (#3623)
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
Due: Pages

feat: Make adjustments to add new install modal version
  src/assets/onboarding/click_here_to_install.png
  src/pages/OwnerPage/OnboardingContainerContext/context.test.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.test.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.tsx
  src/pages/OwnerPage/OwnerPage.test.jsx
  src/shared/AppInstallModal/AppInstallModal.test.tsx
  src/shared/AppInstallModal/AppInstallModal.tsx
Due: Pages, Shared

feat: Add Cache Bundle Banner to Commits Page (#3634)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
Due: Pages

replace incorrect string values
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/RepoConfigurationStatusQueryOpts.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/RepoConfigurationStatusQueryOpts.tsx
Due: Pages

add banner to the pulls page
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
Due: Pages

add in tests
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
Due: Pages

update InfiniteAccountOrganizationsQueryOpts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/queries/InfiniteAccountOrganizationsQueryOpts.ts
Due: Pages

update BundleAssetsQueryOpts
  src/services/bundleAnalysis/BundleAssetsQueryOpts.tsx
Due: Services

update ReposQueryOpts
  src/services/repos/ReposQueryOpts.tsx
Due: Services

update ReposTeamQueryOpts
  src/services/repos/ReposTeamQueryOpts.tsx
Due: Services

update SelfHostedUserListQueryOpts
  src/services/selfHosted/SelfHostedUserListQueryOpts.ts
Due: Services

[fix] Update GitHub, GitLab, BitBucket copy (#3603)
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.jsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.jsx
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
  src/pages/CommitDetailPage/Header/PullLabel/PullLabel.test.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.test.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/SyncProviderPage/SyncButton.test.tsx
  src/pages/SyncProviderPage/SyncProviderPage.test.tsx
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
  src/shared/utils/loginProviders.test.ts
  src/shared/utils/loginProviders.ts
  src/shared/utils/provider.test.ts
  src/shared/utils/provider.ts
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Pages, Shared, UI

feat: Add Cache Bundle Banner to Pulls Page (#3636)
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
Due: Pages

fix: Rewrite infinite queries to be consist using undefined over null (#3637)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/queries/InfiniteAccountOrganizationsQueryOpts.ts
  src/services/bundleAnalysis/BundleAssetsQueryOpts.tsx
  src/services/repos/ReposQueryOpts.tsx
  src/services/repos/ReposTeamQueryOpts.tsx
  src/services/selfHosted/SelfHostedUserListQueryOpts.ts
Due: Pages, Services

fix: Add onboarding container context to UserDropdown tests
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
Due: Layouts

fix: Revert type changes
  src/App.tsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/services/navigation/useLocationParams.ts
Due: Pages, Services

remove feature flag from commit page
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
Due: Pages

remove feature flag from pull page
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
Due: Pages

tidy up imports
  src/services/toast/ErrorToast/ErrorToast.test.tsx
  src/services/toast/ErrorToast/ErrorToast.tsx
  src/services/toast/ErrorToast/index.ts
  src/services/toast/GenericToast/GenericToast.test.tsx
  src/services/toast/GenericToast/GenericToast.tsx
  src/services/toast/GenericToast/index.ts
Due: Services

add in success toast
  src/services/toast/SuccessToast/SuccessToast.test.tsx
  src/services/toast/SuccessToast/SuccessToast.tsx
Due: Services

add in tests for success toast
  src/services/toast/renderToast.test.tsx
  src/services/toast/renderToast.tsx
Due: Services

Update
  .eslintrc.cjs
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.test.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
  src/pages/SyncProviderPage/SyncButton.test.tsx
  src/shared/utils/loginProviders.ts
  src/shared/utils/provider.test.ts
  src/shared/utils/provider.ts
Due: Pages, Shared

Update
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
Due: Pages

Update
  .eslintrc.cjs
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
Due: Pages

Update .eslintrc.cjs
  .eslintrc.cjs
Due: none

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
