Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

add codecov webpack plugin
  package-lock.json
  package.json
Due: none

add staging config for craco
  craco.staging.config.js
Due: none

update ci to upload stats to staging
  .github/workflows/ci.yml
Due: none

update step name
  .github/workflows/ci.yml
Due: none

its uploadToken not token
  craco.staging.config.js
Due: none

Use first
  src/services/repos/useRepos.tsx
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
Due: Services, Shared

move call to toLowerString()
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
Due: Pages

feat: Update useRepoOverview to fetch product status and languages (#2558)
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
  src/pages/RepoPage/CoverageTab/Summary/Summary.spec.jsx
  src/pages/RepoPage/CoverageTab/SummaryTeamPlan/SummaryTeamPlan.spec.tsx
  src/pages/RepoPage/CoverageTab/hooks/useRepoCoverageTimeseries.spec.js
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/CoverageChart/CoverageChart.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.spec.js
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/Sunburst.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/hooks/useConvertD3ToBreadcrumbs.spec.js
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/hooks/useSunburstChart.spec.js
  src/pages/RepoPage/CoverageTab/summaryHooks/useSummary.spec.js
  src/services/branches/useBranchBundles.tsx
  src/services/repo/useRepoOverview.js
  src/services/repo/useRepoOverview.spec.js
  src/services/repo/useRepoOverview.spec.tsx
  src/services/repo/useRepoOverview.tsx
  src/shared/treePaths/useTreePaths.spec.js
Due: Pages, Services, Shared

update with the right ci version
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
Due: Pages

ref: Update anchor functionality (#2561)
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileViewer/CommitDetailFileViewer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.jsx
  src/shared/utils/fileviewer.js
  src/shared/utils/fileviewer.spec.tsx
  src/shared/utils/fileviewer.tsx
  src/ui/CodeRenderer/DiffLine/DiffLine.jsx
  src/ui/CodeRenderer/SingleLine/SingleLine.jsx
Due: Pages, Shared, UI

ref: Indirect changes table refactor (#2552)
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/services/commit/useCommit.tsx
Due: Pages, Services

Refactor Repos table in owner page and analytics page (#2518)
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.spec.jsx
  src/services/repos/useRepos.js
  src/services/repos/useRepos.spec.tsx
  src/services/repos/useRepos.tsx
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/ListRepo.spec.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.jsx
  src/shared/ListRepo/ReposTable/NoRepoCoverage.jsx
  src/shared/ListRepo/ReposTable/ReposTable.jsx
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
Due: Pages, Services, Shared

quick fixes for two tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
Due: Pages

i needed something to commit
  package.json
Due: none

update with the right ci version (#2564)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
Due: Pages

initial commit
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
Due: Pages

convert comparison from JS to TS
  src/shared/utils/comparison.ts
Due: Shared

add first pull banner to commit detail page
  src/pages/CommitDetailPage/CommitCoverage/FirstPullBanner/FirstPullBanner.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/FirstPullBanner/FirstPullBanner.tsx
  src/pages/CommitDetailPage/CommitCoverage/FirstPullBanner/index.ts
Due: Pages

update commit coverage dropdown to handle errors
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

ipdate commit detail page tests
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
Due: Pages

create coverage error banners for commit detail page
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.tsx
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/index.ts
Due: Pages

update useCommitCoverageDropdownSummary to grab uplaods to see if there are any errored uploads
  src/services/commit/useCommitCoverageDropdownSummary.spec.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
Due: Services

render first pull request banner in commit coverage
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
Due: Pages

handle first pull request error as well
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.tsx
Due: Pages

remove handling of first pr error from error banner
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.tsx
Due: Pages

grab comparison typename from commit page data hook
  src/pages/CommitDetailPage/hooks/useCommitPageData.spec.tsx
  src/pages/CommitDetailPage/hooks/useCommitPageData.tsx
Due: Pages

handle first pull by itself
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

add render logic for rendering first pull banner in commit coverage
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
Due: Pages

fix failing test
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
Due: Pages

remove condtionally render logic from FirstPullBanner
  src/pages/CommitDetailPage/CommitCoverage/FirstPullBanner/FirstPullBanner.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/FirstPullBanner/FirstPullBanner.tsx
Due: Pages

simplify commit coverage dropdown
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

add in emoji for missing lines and unknown error
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
Due: Pages

cherry pick commit
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/shared/utils/upgradeForm.js
  src/shared/utils/upgradeForm.spec.js
Due: Pages, Shared

remove is valid
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
Due: Pages

update test
  src/shared/utils/upgradeForm.js
  src/shared/utils/upgradeForm.spec.js
Due: Shared

update tests
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/shared/utils/upgradeForm.spec.js
Due: Pages, Shared

remove console log
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
Due: Pages

Remove feedback link
  src/layouts/Header/DesktopMenu.jsx
Due: Layouts

Remove feedback link
  src/layouts/Header/DesktopMenu.spec.jsx
Due: Layouts

resolve feedback
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
Due: Pages, Services
