Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

replace missed or newly added jest things
  src/layouts/shared/ErrorBoundary/ErrorBoundary.test.jsx
  src/pages/AccountSettings/shared/Header/Header.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.test.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.test.tsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/InvoiceDetail.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/useComponentComparison.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/NameColumn/NameColumn.test.jsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DefaultBranch/DefaultBranch.test.jsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/TrialEligibleBanner/TrialEligibleBanner.test.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.test.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/BranchSelector/BranchSelector.test.tsx
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.test.tsx
  src/services/account/useUpdateCard.test.tsx
  src/services/deleteFlag/useDeleteFlag.test.jsx
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.test.tsx
  src/services/user/useOnboardUser.test.jsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenNotRequiredBanner/TokenNotRequiredBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenRequiredBanner/TokenRequired.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/ui/CopyClipboard/CopyClipboard.test.tsx
Due: Layouts, Pages, Services, Shared, UI

remove jest setup things
  src/setupTestGlobal.js
  src/setupTests.js
Due: none

remove jest things from package json and craco config
  craco.config.cjs
  craco.stats.config.cjs
  package.json
  yarn.lock
Due: none

adjust type exceptions in vitest setup
  src/vitest.setup.ts
Due: none

fix: Add script in the index.html if unable to dynamically load asset (#3373)
  index.html
Due: none

Add useEnterpriseAccountDetails hook
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useEnterpriseAccountDetails.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useEnterpriseAccountDetails.ts
Due: Pages

PR comments
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestsResultsAggregates.test.tsx
Due: Pages

feat: Add new hook to fetch test results aggregates (#3368)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/index.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/index.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestsResultsAggregates.test.tsx
Due: Pages

Update RepoUploadToken.test.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.test.jsx
Due: Pages

feat: Add useEnterpriseAccountDetails hook (#3374)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useEnterpriseAccountDetails.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useEnterpriseAccountDetails.ts
Due: Pages

Add flags error message to upload item
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/RenderError.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadItem.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadItem.tsx
Due: Pages

small readme change
  README.md
Due: none

add in testing library eslint plugin and remove stryker
  .eslintrc.json
  package.json
  stryker.conf.js
  yarn.lock
Due: none

feat: Add multiple flags error message to upload items (#3375)
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/RenderError.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadItem.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadItem.tsx
Due: Pages

Add login link to error message in fileviewer
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.jsx
  src/shared/RawFileViewer/RawFileViewer.test.tsx
  src/shared/RawFileViewer/RawFileViewer.tsx
Due: Pages, Shared

feat: Use new nested testAnalytics graphql schema (#3354)
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.test.tsx
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.tsx
Due: Pages

wip
  src/services/commit/useCommit.tsx
  src/services/commit/useCompareTotals.tsx
Due: Services

missed a spot
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.test.tsx
Due: Pages

chore: Handle merge conflicts with graphql restructure (#3378)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
Due: Pages

linking hook to metrics section, create dynamic badge mini component
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestsResultsAggregates.test.tsx
Due: Pages

Update tests to use mocks
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.test.tsx
Due: Pages

create screenshotable version
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/services/commit/useCommit.tsx
  src/services/commit/useCompareTotals.tsx
Due: Pages, Services

cleanup
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/services/commit/useCommit.tsx
  src/services/commit/useCompareTotals.test.tsx
  src/services/commit/useCompareTotals.tsx
Due: Pages, Services

cleanup
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.test.tsx
Due: Pages

update dockerfile build command
  docker/Dockerfile
Due: none

update start-nginx and how it inline replaces given strings
  docker/start-nginx.sh
Due: none

move eslint config file from json to js
  .eslintrc.cjs
  .eslintrc.json
  package.json
Due: none

actually use the recommend lint rules from testing library
  .eslintrc.cjs
Due: none

migrate to testing library eslint plugin v6
  .eslintrc.cjs
  src/ui/RadioInput/RadioInput.test.tsx
  src/vitest.setup.ts
Due: UI

bind to vitest timers not jest
  src/ui/CopyClipboard/CopyClipboard.test.tsx
Due: UI

Add Account usage banners to plan page
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.test.jsx
Due: Pages, Services

Fix async coverage flake
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
Due: Pages

chore: Move Dockerfile over to Vite (#3380)
  docker/Dockerfile
  docker/start-nginx.sh
Due: none

fix: add nullables to new zod schemas
  src/pages/CommitDetailPage/hooks/useCommitPageData.tsx
  src/pages/PullRequestPage/hooks/usePullPageData.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useCoverageTabData.tsx
  src/services/branches/useBranchComponents.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
  src/services/bundleAnalysis/useBranchBundlesNames.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
  src/services/bundleAnalysis/useBundleTrendData.tsx
  src/services/commit/useCommit.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
  src/services/commit/useCommitBundleList.tsx
  src/services/commit/useCommitComponents.tsx
  src/services/commits/useCommits.tsx
  src/services/pathContents/constants.ts
  src/services/pull/usePull.tsx
  src/services/pull/usePullBundleHeadList.tsx
  src/services/repo/useRepoCoverage.tsx
Due: Pages, Services

fix: fix componentsMultiSelect
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
Due: Pages

Add Account usage banners to plan page (#3381)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.test.jsx
Due: Pages, Services

starting tests
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
  src/services/repo/useRepoOverview.tsx
Due: Pages, Services

remove logs and fix test
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
  src/services/repo/useRepoOverview.tsx
Due: Pages, Services

add more tests
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
