Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

fix: Only fallback to monthly plans
  src/shared/utils/upgradeForm.ts
Due: Shared

fix: Bot comment fixes
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.tsx
  src/shared/utils/upgradeForm.ts
Due: Pages, Shared

fix: Fix default UI to state mismatch
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
Due: Pages

fix: More changes to fix default choosing
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/shared/utils/upgradeForm.test.ts
  src/shared/utils/upgradeForm.ts
Due: Pages, Shared

chore: Cleanup
  src/shared/utils/upgradeForm.ts
Due: Shared

chore: Add pro plan url to upgrade buttons
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
Due: Pages

fix: Revert pro plan param to upgrade buttons and push down isSentryUpgrade weight for default
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
  src/shared/utils/upgradeForm.ts
Due: Pages, Shared

fix: Add pro url param only for upgrading from free to Pro button
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradePro/PlanUpgradePro.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradePro/PlanUpgradePro.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.test.jsx
Due: Pages

fix: Do not require both team plans to show team card
  src/shared/utils/billing.ts
Due: Shared

fix: Use new scheduled phase data for next bill price
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
  src/services/account/useAccountDetails.ts
  src/shared/utils/billing.ts
Due: Pages, Services, Shared

fix: Use new scheduled phase data for next bill price (#3959)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
  src/services/account/useAccountDetails.ts
  src/shared/utils/billing.ts
Due: Pages, Services, Shared

Release 25.12.1 (#3956)
  VERSION
Due: none

fix: Handle missing segments from ImpactedFileComparison response
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.tsx
  src/services/comparison/utils.ts
  src/services/pull/fragments.ts
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
  src/services/pull/utils/transformImpactedPullFileToDiff.ts
Due: Pages, Services

feat: Inject runtime configuration for GH_APP in NGINX startup script
  docker/start-nginx.sh
Due: none

feat: Base64 encode GH_APP in NGINX startup script for safer injection
  docker/start-nginx.sh
Due: none

feat: Make GH_APP injection idempotent in NGINX startup script
  docker/start-nginx.sh
Due: none

Prepare release 26.1.15
  VERSION
Due: none

Release 26.1.15 (#3963)
  VERSION
Due: none

fix: Allow yearly plan upgrades if on yearly plan
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/Controller.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/shared/utils/billing.ts
  src/shared/utils/upgradeForm.ts
Due: Pages, Shared

feat: Add workflow to upload bundle stats to new env
  .github/workflows/ci.yml
Due: none

test: Fix tests
  src/shared/utils/upgradeForm.test.ts
  src/shared/utils/upgradeForm.ts
Due: Shared

feat: Add workflow to upload bundle stats to new env (#3964)
  .github/workflows/ci.yml
Due: none

Prepare release 26.1.20
  VERSION
Due: none

Release 26.1.20 (#3966)
  VERSION
Due: none

fix: Add fallback chain and error message instead of blank screen
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
Due: Pages

fix: Fix race condition if plans aren't loaded and default plan
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
Due: Pages

fix: Fix sentry plan next billing price calculation
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.test.jsx
Due: Pages

feat: Hide Codecov AI from the UI
  src/App.tsx
  src/pages/AccountSettings/shared/Header/Header.test.tsx
  src/pages/AccountSettings/shared/Header/Header.tsx
  src/pages/AnalyticsPage/Tabs/Tabs.test.tsx
  src/pages/AnalyticsPage/Tabs/Tabs.tsx
  src/pages/MembersPage/Tabs/Tabs.test.tsx
  src/pages/MembersPage/Tabs/Tabs.tsx
  src/pages/OwnerPage/Tabs/Tabs.test.tsx
  src/pages/OwnerPage/Tabs/Tabs.tsx
  src/pages/PlanPage/Tabs/Tabs.test.tsx
  src/pages/PlanPage/Tabs/Tabs.tsx
  src/services/navigation/useNavLinks.ts
Due: Pages, Services

feat: Hide Codecov AI from the UI
  src/services/navigation/useStaticNavLinks.ts
Due: Services
