Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

stuff
  src/pages/AnalyticsPage/components/TestResultsChart/TestResultsChart.tsx
Due: Pages

stuff
  src/pages/RepoPage/CoverageTab/OverviewTab/components/CoverageMetrics/CoverageMetrics.tsx
Due: Pages

stuff
  src/pages/RepoPage/shared/components/CommitInfo/CommitInfo.tsx
Due: Pages

comments
  src/pages/AnalyticsPage/components/TestResultsChart/TestResultsChart.tsx
Due: Pages

comments
  src/pages/RepoPage/CoverageTab/OverviewTab/components/CoverageMetrics/CoverageMetrics.tsx
Due: Pages

fix: Change tests benefits text
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.test.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.test.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/PlanDetailsControls/PlanDetailsControls.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.test.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/UpgradeDetails.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/Controller.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/ErrorBanner/ErrorBanner.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.test.jsx
  src/shared/utils/billing.test.ts
  src/shared/utils/upgradeForm.test.ts
Due: Pages, Shared

stuff
  src/pages/RepoPage/shared/components/FileExplorerState/FileExplorerState.tsx
Due: Pages

stuff
  src/pages/AnalyticsPage/components/TestTrendAnalyzer/TestTrendAnalyzer.tsx
Due: Pages

stuff
  src/pages/RepoPage/shared/components/SearchFilters/SearchFilters.tsx
Due: Pages

fix: Use scheduled seat count for next bill price if exists
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
Due: Pages

commit
  src/pages/AnalyticsPage/components/TestResultsChart/TestResultsChart.tsx
Due: Pages

swap back
  src/pages/AnalyticsPage/components/TestResultsChart/TestResultsChart.tsx
Due: Pages

Prepare release 25.10.6
  VERSION
Due: none

update state
  src/pages/RepoPage/shared/components/FileExplorerState/FileExplorerState.tsx
Due: Pages

fix some stuff
  src/pages/AnalyticsPage/components/TestResultsChart/TestResultsChart.tsx
Due: Pages

changes
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/components/CoverageMetrics/CoverageMetrics.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/components/CoverageMetrics/index.ts
Due: Pages

changes
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/components/CoverageMetrics/CoverageMetrics.tsx
Due: Pages

feat: Always show plan cancelled confirmation
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
Due: Pages

feat: Always show plan cancelled confirmation (#3949)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
Due: Pages

Release 25.10.6 (#3948)
  VERSION
Due: none

Prepare release 25.11.3
  VERSION
Due: none

Release 25.11.3 (#3950)
  VERSION
Due: none

convert erase repo stuff to TS and clean up some copy
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepo.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepo.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepoModal.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/index.ts
Due: Pages

chore: Convert erase repository files to TS (#3951)
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepo.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepo.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepoModal.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/index.ts
Due: Pages

chore: upgrade Alpine Linux from 3.21 to 3.22
  docker/Dockerfile
Due: none

fix: remove fossa restriction on forks
  .github/workflows/ci.yml
Due: none

fix: remove fossa restriction on forks (#3953)
  .github/workflows/ci.yml
Due: none

Th/upgrade alpine 3.22 (#3954)
  docker/Dockerfile
Due: none

feat: Use scheduledPhase price and billing rate for next bill price
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/services/account/useAccountDetails.ts
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.tsx
  src/shared/utils/billing.ts
Due: Pages, Services, Shared

feat: Use names instead of id for component dropdown
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/Header.tsx
Due: Pages

Prepare release 25.12.1
  VERSION
Due: none

get rid of baremetrics
  .env
  .env.development
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/CancelButton.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/CancelButton.test.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/hooks.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/useBarecancel.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/useBarecancel.test.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/utils.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/utils.test.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.jsx
  src/services/account/mocks.ts
  src/services/account/useAccountDetails.ts
Due: Pages, Services

test: get rid of a non-existent key in a test
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.test.tsx
Due: Pages

test: adjust tests to pass missing prop and erase obsolete prop
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/CancelButton.test.jsx
Due: Pages

get rid of baremetrics (#3957)
  .env
  .env.development
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/CancelButton.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/CancelButton.test.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/hooks.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/useBarecancel.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/useBarecancel.test.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/utils.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/utils.test.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.test.tsx
  src/services/account/mocks.ts
  src/services/account/useAccountDetails.ts
Due: Pages, Services

fix: Fix upgradeForm tests and cleanup
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
  src/shared/utils/upgradeForm.test.ts
  src/shared/utils/upgradeForm.ts
Due: Pages, Shared
