Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

Implement better component searching
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
Due: Pages

feat: support setting `GH_APP` in docker
  docker/start-nginx.sh
Due: none

Same for pulls tab component selector
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
Due: Pages

Same for commit tab component selector
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
Due: Pages

ref: Refactor useInfiniteUsers to TS
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.spec.jsx
  src/services/users/useInfiniteUser.js
  src/services/users/useInfiniteUser.spec.js
  src/services/users/useInfiniteUser.spec.tsx
  src/services/users/useInfiniteUser.tsx
Due: Pages, Services

more tests
  src/services/users/useInfiniteUser.spec.tsx
Due: Services

fix tests, remove the sorting stuff from hook, fix rerender issue by memoizing component
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.js
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.js
  src/services/repo/useRepoFlags.js
  src/ui/Sparkline/Sparkline.tsx
  src/ui/Sparkline/sparkline.css
Due: Pages, Services, UI

Update usePullPageData to grab commit count
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.spec.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.js
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.spec.js
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/hooks/usePullPageData.spec.tsx
  src/pages/PullRequestPage/hooks/usePullPageData.tsx
Due: Pages

infinite scroll update and revert back the hook sort thing
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.js
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.js
Due: Pages

ref useRepos to use new repository obj and update related tests
  src/pages/CommitDetailPage/CommitCoverage/FirstPullBanner/FirstPullBanner.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/DeactivatedRepo/DeactivatedRepo.spec.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.jsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/services/repo/hooks.spec.js
  src/services/repo/useRepo.spec.tsx
  src/services/repo/useRepo.ts
  src/services/repo/useRepo.tsx
Due: Pages, Services

my bad bro
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
Due: Pages

Support regex searching
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
Due: Pages

fix spec and add spec for link itself
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
Due: Pages

PR styling comments
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

useTabCounts -> ts + tests
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/index.ts
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.spec.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.ts
Due: Pages

eyes emoji
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.ts
Due: Pages

add NetworkErrorObject clarity
  src/services/repo/useRepo.tsx
Due: Services

Convert file list table
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
Due: Pages, Shared

Remove some comments
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchFileEntry.jsx
  src/shared/treePaths/useTreePaths.js
Due: Shared

remove z-index
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
Due: Pages

Update codetree table tests
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
Due: Pages, Services

ref: Refactor useInfiniteUsers to TS (#2713)
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.spec.jsx
  src/services/users/useInfiniteUser.js
  src/services/users/useInfiniteUser.spec.js
  src/services/users/useInfiniteUser.spec.tsx
  src/services/users/useInfiniteUser.tsx
Due: Pages, Services

ref: Refactor members table
  src/pages/MembersPage/MembersList/MembersList.spec.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.spec.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
Due: Pages

Resolve conflictS
  src/services/users/useInfiniteUser.spec.tsx
Due: Services

ref: Members table refactor (#2717)
  src/pages/MembersPage/MembersList/MembersList.spec.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.spec.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
Due: Pages

fix text-right flag styling
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

change to reactnode from jsx element
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

use initializer function to set intial state value
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

add in small comment
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

Make patch coverage nullable
  src/services/pull/usePullTeam.tsx
Due: Services

all tests
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.spec.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.spec.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchFileEntry.spec.jsx
Due: Pages, Services, Shared

Add extra tests
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
Due: Pages

remove console log
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
Due: Services

fix: Bundle dropdown being empty when bundles are present (#2720)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

AdminAccess to ts and prep old table for removal
  src/pages/AdminSettings/AdminAccess/AdminAccess.spec.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccess.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTableOld.jsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTableOld.spec.jsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/index.ts
Due: Pages

Convert AdminAccessTable to TS
  src/pages/AdminSettings/AdminAccess/AdminAccess.spec.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccess.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.spec.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTableOld.jsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTableOld.spec.jsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.js
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.spec.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.ts
  src/pages/AdminSettings/AdminAccess/index.ts
Due: Pages

update zod schema and test
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.spec.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.ts
Due: Pages

Make nick suggestions
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.ts
Due: Pages
