Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

fix up type issue in test
  src/services/bundleAnalysis/useBranchBundleSummary.test.tsx
Due: Services

Update styles
  src/globals.css
  src/ui/Button/Button.jsx
  tailwind.config.mjs
Due: UI

Update codecov AI tab with screenshot and remove copilot features (#3455)
  src/assets/codecovAI/pr-review-example-dark-mode.png
  src/assets/codecovAI/pr-review-example-light-mode.png
  src/config.js
  src/globals.css
  src/pages/CodecovAIPage/CodecovAICommands/CodecovAICommands.tsx
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
  src/pages/CodecovAIPage/CodecovAIPage.tsx
  src/pages/CodecovAIPage/ConfiguredRepositories/ConfiguredRepositories.tsx
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
  src/pages/CodecovAIPage/LearnMoreBlurb/LearnMoreBlurb.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/ui/Button/Button.jsx
  tailwind.config.mjs
Due: Pages, Services, UI

Bump rollup
  package.json
  yarn.lock
Due: none

fix up useBundleAssetsLogic
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

remove redundent logic
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

feat: Improve commit yaml error messaging (#3453)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/index.ts
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModal.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModal.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModalErrorBanner.jsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.test.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
  src/services/commit/useCommitCoverageDropdownSummary.test.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  tailwind.config.mjs
Due: Pages, Services

init shared utils ts conversions
  src/services/pull/usePull.test.tsx
  src/services/pull/usePull.tsx
  src/shared/api/helpers.ts
  src/shared/utils/billing.test.ts
  src/shared/utils/billing.ts
  src/shared/utils/provider.test.ts
  src/shared/utils/provider.ts
  src/shared/utils/user.js
  src/shared/utils/user.test.js
Due: Services, Shared

Prepare release 24.11.1
  VERSION
Due: none

feat: Remove token from Other CI onboarding step 3 (#3452)
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

Release 24.11.1 (#3462)
  VERSION
Due: none

fix: Handle access for outside collaborator
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

wip
  src/services/access/useGenerateUserToken.test.tsx
  src/services/navigation/useLocationParams.ts
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/services/selfHosted/useSelfHostedHasAdmins.test.tsx
  src/services/selfHosted/useSelfHostedHasAdmins.ts
  src/services/usePaginatedContents/usePaginatedContents.ts
Due: Services

wip
  src/services/charts/useLegacyRepoCoverage.test.tsx
  src/services/charts/useLegacyRepoCoverage.ts
  src/services/image/useImage.test.ts
  src/services/image/useImage.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.ts
Due: Services

fix types
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/services/access/useGenerateUserToken.test.tsx
  src/services/navigation/useLocationParams.test.tsx
  src/services/navigation/useLocationParams.ts
  src/services/navigation/useNavLinks/useNavLinks.ts
Due: Pages, Services

wip
  src/services/orgUploadToken/useRegenerateOrgUploadToken.test.tsx
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.test.tsx
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.ts
  src/services/user/useIsCurrentUserAnAdmin.test.tsx
  src/services/user/useIsCurrentUserAnAdmin.ts
  src/services/user/useOnboardUser.test.tsx
  src/services/user/useOnboardUser.ts
  src/services/user/useOwner.test.tsx
  src/services/user/useOwner.ts
  src/services/user/useResyncUser.test.tsx
  src/services/user/useResyncUser.ts
  src/services/user/useUpdateProfile.test.tsx
  src/services/user/useUpdateProfile.ts
Due: Services

fix types
  src/services/image/useImage.test.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.ts
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.test.tsx
  src/services/pathContents/utils.ts
  src/services/user/useOnboardUser.ts
  src/services/user/useResyncUser.test.tsx
  src/services/user/useResyncUser.ts
Due: Services

update chart for the analytics page
  src/pages/AnalyticsPage/Chart/Chart.jsx
  src/pages/AnalyticsPage/Chart/Chart.test.jsx
  src/pages/AnalyticsPage/Chart/Chart.test.tsx
  src/pages/AnalyticsPage/Chart/Chart.tsx
  src/pages/AnalyticsPage/Chart/index.ts
Due: Pages

update other things to TS and to support the new chart
  src/pages/AnalyticsPage/Chart/useCoverage.js
  src/pages/AnalyticsPage/Chart/useCoverage.test.tsx
  src/pages/AnalyticsPage/Chart/useCoverage.ts
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
  src/services/charts/useReposCoverageMeasurements.test.tsx
  src/services/charts/useReposCoverageMeasurements.ts
  src/shared/utils/timeseriesCharts.ts
Due: Pages, Services, Shared

be more specific about not rendering the chart and add in some more tests
  src/pages/AnalyticsPage/Chart/Chart.test.tsx
  src/pages/AnalyticsPage/Chart/Chart.tsx
Due: Pages

fix up types in useBranchCoverageMeasurements
  src/services/charts/useBranchCoverageMeasurements.tsx
Due: Services

remove useChartDesc and useCoverageChart
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/hooks/useChartDesc.js
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/hooks/useCoverageChart.js
Due: Pages

update CoverageChart to use new charting library
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.tsx
Due: Pages

update useRepoCoverageTimeseries to TS and to support updated chart
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.js
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.ts
Due: Pages

small changes
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/hooks/index.js
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/index.ts
  src/shared/utils/timeseriesCharts.ts
Due: Pages, Shared

rework things for better loading patterns and add more tests for more coverage
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/AnalyticsPage/Chart/Chart.test.tsx
  src/pages/AnalyticsPage/Chart/Chart.tsx
  src/pages/AnalyticsPage/Chart/useCoverage.ts
Due: Pages

feat: Adjust repo upload token settings with a new note
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.test.jsx
Due: Pages

Testing stage pr comment
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.test.tsx
Due: Pages

update tests
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.test.tsx
Due: Pages

cleanup
  src/services/image/useImage.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.ts
  src/services/user/useResyncUser.ts
Due: Services

fix types
  src/services/charts/useLegacyRepoCoverage.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.ts
Due: Services

fix type
  src/services/charts/useLegacyRepoCoverage.ts
Due: Services

cleanup
  src/services/navigation/normalize.ts
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/services/usePaginatedContents/usePaginatedContents.ts
Due: Services

feat: Remove no data text for graphs with only one data point
  src/ui/CoverageAreaChart/CoverageAreaChart.jsx
  src/ui/CoverageAreaChart/NoData.jsx
Due: UI

add generic in useLocationParams
  src/App.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/TrendDropdown.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/Header.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.ts
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/services/access/useGenerateUserToken.ts
  src/services/navigation/useLocationParams.ts
  src/services/selfHosted/useSelfHostedCurrentUser.ts
  src/services/selfHosted/useSelfHostedHasAdmins.test.tsx
  src/services/selfHosted/useSelfHostedHasAdmins.ts
  src/services/selfHosted/useSelfHostedSeatsConfig.ts
  src/services/usePaginatedContents/usePaginatedContents.ts
Due: Pages, Services

revert "add generic" 5fb27b except changes i want to keep
  src/App.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/TrendDropdown.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/Header.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.ts
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/services/access/useGenerateUserToken.test.tsx
  src/services/navigation/useLocationParams.ts
  src/services/selfHosted/useSelfHostedHasAdmins.test.tsx
  src/services/selfHosted/useSelfHostedHasAdmins.ts
  src/services/usePaginatedContents/usePaginatedContents.ts
Due: Pages, Services

missed one
  src/services/selfHosted/useSelfHostedHasAdmins.ts
Due: Services

missed another spot
  src/services/selfHosted/useSelfHostedHasAdmins.test.tsx
Due: Services

add parse
  src/services/selfHosted/useSelfHostedCurrentUser.ts
  src/services/selfHosted/useSelfHostedHasAdmins.ts
Due: Services

add zod schemas
  src/services/charts/useLegacyRepoCoverage.test.tsx
  src/services/charts/useLegacyRepoCoverage.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.test.tsx
  src/services/orgUploadToken/useRegenerateOrgUploadToken.ts
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.ts
  src/services/user/useOwner.ts
Due: Services
