Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

update sentry config
  src/sentry.ts
Due: none

Refactor Webpack onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

Refactor Rollup onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
Due: Pages

Fix tests
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
Due: Pages

fix: Taking another peak at Sentry sourcemaps (#2895)
  craco.config.js
  src/sentry.ts
Due: none

update package json version
  package.json
Due: none

update lock file
  package-lock.json
Due: none

update CodeRenderer to disable pointer events on scroll
  src/ui/CodeRenderer/CodeRenderer.spec.jsx
  src/ui/CodeRenderer/CodeRenderer.spec.tsx
  src/ui/CodeRenderer/CodeRenderer.stories.jsx
  src/ui/CodeRenderer/CodeRenderer.stories.tsx
  src/ui/CodeRenderer/CodeRenderer.tsx
  src/ui/CodeRenderer/index.ts
Due: UI

update affected tests
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/shared/FileDiff/FileDiff.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.spec.jsx
  src/shared/RawFileviewer/RawFileviewer.spec.jsx
Due: Pages, Shared

add in animationFrameUtils
  src/shared/utils/animationFrameUtils.spec.ts
  src/shared/utils/animationFrameUtils.ts
Due: Shared

fix up some type issues
  src/ui/CodeRenderer/CodeRenderer.stories.tsx
  src/ui/FileList/FileList.stories.tsx
Due: none

chore: Bump Sentry to 8.4.0 (#2897)
  package-lock.json
  package.json
Due: none

wip
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.jsx
  src/services/account/useUpdateSelfHostedSettings.tsx
Due: Pages, Services

Update tests
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationCount.spec.jsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.spec.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.spec.jsx
Due: Pages

temp
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
Due: Pages

add in some comments explaining why we're doing this work
  src/shared/utils/animationFrameUtils.ts
  src/ui/CodeRenderer/CodeRenderer.tsx
Due: Shared, UI

fix: content layout shift fix, form label common component, and other changes
  src/pages/AccountSettings/tabs/Admin/DetailsSection/DetailsSection.jsx
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/CoverageTab/Summary/Summary.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DefaultBranch/DefaultBranch.jsx
  src/ui/FormLabel/FormLabel.spec.tsx
  src/ui/FormLabel/FormLabel.tsx
  src/ui/FormLabel/index.js
Due: Pages, UI

fix: bundles table align center
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

Update with branch param instead of search
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/ComponentsTab/ComponentsTab.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.ts
  src/pages/RepoPage/RepoPage.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Pages, Services

tests wip
  src/services/account/useUpdateSelfHostedSettings.spec.tsx
  src/services/account/useUpdateSelfHostedSettings.tsx
Due: Services

fix test
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.jsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.spec.jsx
  src/services/account/useUpdateSelfHostedSettings.spec.tsx
  src/services/account/useUpdateSelfHostedSettings.tsx
Due: Pages, Services

Convert CoverageTab.jsx to TypeScript
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.tsx
  src/pages/RepoPage/CoverageTab/CoverageTab.tsx
  src/pages/RepoPage/CoverageTab/index.ts
Due: Pages

remove code
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
  src/services/account/useUpdateSelfHostedSettings.spec.tsx
  src/services/account/useUpdateSelfHostedSettings.tsx
  src/services/selfHosted/useSelfHostedSettings.tsx
Due: Pages, Services

fix: change all UI rendered githubs to GitHub
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.jsx
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/ManageAdminCard.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.spec.jsx
  src/pages/CommitDetailPage/Header/PullLabel/PullLabel.jsx
  src/pages/CommitDetailPage/Header/PullLabel/PullLabel.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
  src/pages/SyncProviderPage/SyncButton.spec.tsx
  src/pages/SyncProviderPage/SyncButton.tsx
  src/pages/SyncProviderPage/SyncProviderPage.spec.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/shared/utils/provider.js
  src/shared/utils/provider.spec.js
Due: Pages, Services, Shared

fix type
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
Due: Pages

fix: change all UI rendered gitlabs to GitLab
  src/pages/SyncProviderPage/SyncButton.spec.tsx
  src/pages/SyncProviderPage/SyncProviderPage.spec.tsx
  src/shared/utils/provider.js
  src/shared/utils/provider.spec.js
Due: Pages, Shared

fix: change all UI rendered BitBucket to Bitbucket
  src/pages/SyncProviderPage/SyncButton.spec.tsx
  src/shared/utils/provider.js
  src/shared/utils/provider.spec.js
Due: Pages, Shared

fix: change login buttons and fix icons
  src/pages/LoginPage/LoginButton.jsx
  src/pages/LoginPage/LoginButton.spec.jsx
  src/shared/utils/loginProviders.ts
Due: Pages, Shared

Create the tests tab placholder
  src/assets/svg/testsFailedOnboarding.svg
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/pages/RepoPage/FailedTestsTab/index.ts
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Assets, Pages, Services

fix: fix provider name test
  src/shared/utils/loginProviders.spec.ts
Due: Shared

Update with tests
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

Few renames
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
Due: Pages

Add more tests, handle some edge cases
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

Why not more tests
  src/pages/RepoPage/RepoPage.spec.tsx
Due: Pages

feat: Create expandable section in ui
  src/ui/ExpandableSection/ExpandableSection.spec.tsx
  src/ui/ExpandableSection/ExpandableSection.stories.tsx
  src/ui/ExpandableSection/ExpandableSection.tsx
  src/ui/ExpandableSection/index.ts
Due: UI

remove direct imports of table.css
  src/pages/AccountSettings/tabs/Access/SessionsTable.tsx
  src/pages/AccountSettings/tabs/Access/TokensTable.tsx
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.tsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/EmptyTable/EmptyTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTableTeam/FilesChangedTableTeam.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/EmptyTable/EmptyTable.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleComparisonTable/PullBundleComparisonTable.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleHeadTable/PullBundleHeadTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorerTable/FileExplorerTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
Due: Pages, Shared

import styles at root app level
  src/App.tsx
Due: none

update table markdown file
  src/ui/Table/Table.mdx
Due: UI

swap to using a multi-line comment
  src/ui/CodeRenderer/CodeRenderer.tsx
Due: UI

remove redundent comment as the function itself is pretty self explainitory
  src/shared/utils/animationFrameUtils.ts
Due: Shared

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
