Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

update PullCoverageTabs
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.test.jsx
Due: Pages

update useTabsCounts
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.test.tsx
Due: Pages

feat: Add new checkbox component (#3321)
  package.json
  src/ui/Checkbox/CheckboxNew.stories.tsx
  src/ui/Checkbox/CheckboxNew.test.tsx
  src/ui/Checkbox/CheckboxNew.tsx
  yarn.lock
Due: UI

update CommitsTable
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTab.test.tsx
Due: Pages

update CommitsTable
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.test.tsx
Due: Pages

update createCommitsTableData
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.test.tsx
Due: Pages

update Title
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Title/Title.test.tsx
Due: Pages

update ComponentsSelector
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.test.tsx
Due: Pages

update ComponentsTable
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.test.jsx
Due: Pages

update ComponentsNotConfigured
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsNotConfigured/ComponentsNotConfigured.test.jsx
Due: Pages

update useComponentComparison
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/useComponentComparison.test.tsx
Due: Pages

chore: Update ui/FileViewer to Vitest (#3263)
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.test.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.test.tsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.test.tsx
  src/ui/FileViewer/ToggleHeader/index.ts
Due: UI

update FileExplorer
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.test.tsx
Due: Pages

update FilesChangedTab
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.test.tsx
Due: Pages

update FilesChanged
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChanged.test.jsx
Due: Pages

update FileDiff
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FileDiff/FileDiff.test.jsx
Due: Pages

update FilesChangedTable
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.test.tsx
Due: Pages

update useImpactedFilesTable
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/hooks/useImpactedFilesTable.test.jsx
Due: Pages

i am too lazy to commit the rest by themselves
  src/pages/PullRequestPage/Header/HeaderDefault/hooks/index.ts
  src/pages/PullRequestPage/Header/HeaderTeam/hooks/index.ts
  src/pages/PullRequestPage/Header/index.ts
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummary.test.jsx
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummarySkeleton.test.jsx
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/usePullForCompareSummary.test.js
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/NameColumn/NameColumn.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/NameColumn/NameColumn.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesTab.test.jsx
  src/pages/PullRequestPage/hooks/index.ts
  src/pages/PullRequestPage/index.ts
  src/pages/PullRequestPage/utils/paths.test.js
Due: Pages

Update
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
  src/pages/CodecovAIPage/CodecovAIPage.tsx
  src/services/codecovAI/useCodecovAIInstallation.tsx
Due: Pages, Services

fix logic error
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummary.spec.jsx
  src/shared/utils/extractUploads.ts
Due: Pages, Shared

Remove old checkbox and fix the one instance
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/Upload.jsx
  src/ui/Checkbox/Checkbox.jsx
  src/ui/Checkbox/Checkbox.stories.jsx
  src/ui/Checkbox/Checkbox.stories.tsx
  src/ui/Checkbox/Checkbox.test.jsx
  src/ui/Checkbox/Checkbox.test.tsx
  src/ui/Checkbox/Checkbox.tsx
  src/ui/Checkbox/index.ts
Due: Pages, UI

cff fix
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.spec.tsx
Due: Pages

tsc
  src/shared/utils/extractUploads.ts
Due: Shared

refactor, revert the test that shouldve failed
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.spec.tsx
  src/shared/utils/extractUploads.ts
Due: Pages, Shared

Fix test
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/Upload.jsx
Due: Pages

ref: Remove old checkbox component (#3325)
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/Upload.jsx
  src/ui/Checkbox/Checkbox.jsx
  src/ui/Checkbox/Checkbox.stories.jsx
  src/ui/Checkbox/Checkbox.stories.tsx
  src/ui/Checkbox/Checkbox.test.jsx
  src/ui/Checkbox/Checkbox.test.tsx
  src/ui/Checkbox/Checkbox.tsx
  src/ui/Checkbox/index.ts
Due: Pages, UI

cleanup
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
Due: Pages

Update commit page copy
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/RenderError.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/Upload.spec.jsx
Due: Pages

fix test
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/Upload.spec.jsx
Due: Pages

update tests
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
Due: Pages

fix tests
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.spec.js
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.spec.jsx
  src/services/charts/useBranchCoverageMeasurements.tsx
Due: Pages, Services

fix tests
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.spec.jsx
  src/services/charts/useBranchCoverageMeasurements.tsx
Due: Pages, Services

update paths
  src/pages/RepoPage/utils/paths.test.ts
Due: Pages

update useJSorTSPendoTracking
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.test.tsx
Due: Pages

update pathMatchersHooks
  src/pages/RepoPage/hooks/pathMatchersHooks.test.tsx
Due: Pages

update context
  src/pages/RepoPage/context.test.tsx
Due: Pages

update RepoPage
  src/pages/RepoPage/RepoPage.test.tsx
Due: Pages

update RepoPageTabs
  src/pages/RepoPage/RepoPageTabs.test.tsx
Due: Pages

update ActivationAlert
  src/pages/RepoPage/ActivationAlert/ActivationAlert.test.tsx
Due: Pages
