Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

uncomment asset column
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

fix test descriptions
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
Due: Services

Use lowercase file name
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
Due: Pages

remove use of suspense, I had orignally removed this but brought it back when attempting to fix the sorting
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

Change Current Plan to sentence case
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/EnterprisePlanCard/EnterprisePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.jsx
Due: Pages

feat: Create table to display list of assets (#2631)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/index.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Pages, Services

build: final commit to add the test results action to gazebo
  .github/workflows/ci.yml
  src/ui/TextInput/TextInput.spec.tsx
Due: UI

build: add test results action to the CI
  .github/workflows/ci.yml
Due: none

chore: fail a test
  src/ui/TextInput/TextInput.spec.tsx
Due: UI

update rollup onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
Due: Pages

update vite onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
Due: Pages

update webpack onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

Adjust Sentry Pro plan details to look like the others
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradePro/PlanUpgradePro.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
Due: Pages

Add missing space
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
Due: Pages

Use gray-senary instead of gray-quaternary for plan details price disclaimer
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
Due: Pages

build: add test results action to the CI (#2633)
  .github/workflows/ci.yml
Due: none

Add comma to plan details disclaimer
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
Due: Pages

Fix tests
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.spec.jsx
Due: Pages

build: Clarify envs for test result uploads
  .github/workflows/ci.yml
Due: none

slight tweak to useBundleAssetModules
  src/services/bundleAnalysis/useBundleAssetModules.tsx
Due: Services

add in new modules table component
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
Due: Pages

update AssetsTable to use new modules table component
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

style: Polish plan and upgrade plan pages (#2629)
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/EnterprisePlanCard/EnterprisePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradePro/PlanUpgradePro.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/PlanPricing/PlanPricing.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
Due: Pages

fix up small issue with bundle content not passing branch
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

fix up modules table styling
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
Due: Pages

rename
  src/pages/PlanPage/PlanMetrics/planMetrics.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
Due: Pages

[feat] Add initial billing metrics (#2625)
  src/pages/PlanPage/PlanMetrics/planMetrics.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
Due: Pages

fix responsive styles for assets table
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

small fix to tests
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
Due: Pages

should be the last test fix
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
Due: Pages

style: Fix settings style inconsistencies (#2630)
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/RepoPage/SettingsTab/SettingsTab.jsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Graphs/URLEmbed.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/GraphToken/GraphToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YamlTab.jsx
  src/ui/SettingsDescriptor/SettingsDescriptor.jsx
Due: Pages, UI

bump up storybook version
  package-lock.json
  package.json
Due: none

Spencer deletes a file
  src/pages/AccountSettings/tabs/Access/Access.jsx
  src/pages/AccountSettings/tabs/Access/Access.spec.jsx
  src/pages/AccountSettings/tabs/Access/SessionsTable.jsx
  src/pages/AccountSettings/tabs/Access/SessionsTable.spec.jsx
Due: Pages

asdf
  src/pages/AccountSettings/tabs/Access/Access.jsx
Due: Pages

bump up storybook version (#2636)
  package-lock.json
  package.json
Due: none

feat: Update assets table to have modules table expander (#2635)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
Due: Pages, Services

update useCommits to also grab bundle analysis report
  src/services/commits/useCommits.spec.tsx
  src/services/commits/useCommits.tsx
Due: Services

make field nullable
  src/services/commits/useCommits.tsx
Due: Services

update CommitsTab to support bundle analysis column
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
Due: Pages

update PR page commits table to display ba column
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.spec.js
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
