Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

update AnalyticsPage
  src/pages/AnalyticsPage/AnalyticsPage.spec.jsx
  src/pages/AnalyticsPage/AnalyticsPage.test.jsx
Due: Pages

update CodecovAIPage
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
Due: Pages

Add --host flag to vite:dev command
  package.json
Due: none

Move to better script
  package.json
Due: none

fix: Add host flag to vite start script (#3312)
  package.json
Due: none

feat: Tokenless admin and memeber banners
  src/shared/GlobalTopBanners/GlobalTopBanners.test.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.spec.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/index.ts
  src/ui/Button/Button.jsx
Due: Shared, UI

update to vitest
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
Due: Shared

more tests
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.spec.tsx
Due: Shared

vitest is easy huh
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
Due: Shared

missing one more test
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/ui/Icon/Icon.tsx
Due: Shared, UI

Ajay's comment
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
Due: Shared

update tests, resolve conflict
  src/shared/GlobalTopBanners/GlobalTopBanners.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
Due: Shared

update PR request template
  .github/pull_request_template.md
Due: none

update useMyOrganizations
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.test.tsx
Due: Pages

update index file
  src/pages/DefaultOrgSelector/GitHubHelpBanner/index.ts
Due: Pages

update GitHubHelpBanner
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.test.tsx
Due: Pages

update DefaultOrgSelector
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
Due: Pages

update ProviderCard
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
Due: Pages

update useEnterpriseRedirect
  src/pages/EnterpriseLandingPage/useEnterpriseRedirect.test.tsx
Due: Pages

update index file
  src/pages/EnterpriseLandingPage/index.ts
Due: Pages

update EnterpriseLandingPage
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.test.tsx
Due: Pages

update LoginPage
  src/pages/LoginPage/LoginPage.test.jsx
Due: Pages

update LoginButton
  src/pages/LoginPage/LoginButton.test.jsx
Due: Pages

chore: Update pages/CodecovAIPage tests to Vitest (#3311)
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
Due: Pages

update MembersPage
  src/pages/MembersPage/MembersPage.test.jsx
Due: Pages

update MembersActivation
  src/pages/MembersPage/MembersActivation/MembersActivation.test.jsx
Due: Pages

update Activation
  src/pages/MembersPage/MembersActivation/Activation/Activation.test.jsx
Due: Pages

update ChangePlanLink
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.test.jsx
Due: Pages

update AutoActivate
  src/pages/MembersPage/MembersActivation/AutoActivate/AutoActivate.test.jsx
Due: Pages

update MembersList
  src/pages/MembersPage/MembersList/MembersList.test.jsx
Due: Pages

update MembersTable
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.test.jsx
Due: Pages

update UpgradeModal
  src/pages/MembersPage/MembersList/UpgradeModal/UpgradeModal.test.jsx
Due: Pages

update MissingMemberBanner
  src/pages/MembersPage/MissingMemberBanner/MissingMemberBanner.test.jsx
Due: Pages

update Tabs
  src/pages/MembersPage/Tabs/Tabs.test.tsx
Due: Pages

set label in Toggle
  src/ui/Toggle/Toggle.tsx
Due: UI

update useTermsOfService
  src/pages/TermsOfService/hooks/useTermsOfService.test.tsx
Due: Pages

update TermsOfService
  src/pages/TermsOfService/TermsOfService.test.tsx
Due: Pages

update index
  src/pages/TermsOfService/index.ts
Due: Pages

update SyncProviderPage
  src/pages/SyncProviderPage/SyncProviderPage.test.tsx
Due: Pages
