Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

remove lazy from PullCoverage
  src/pages/PullRequestPage/PullCoverage/PullCoverage.tsx
Due: Pages

remove lazy from BundleSelection
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.tsx
Due: Pages

remove lazy from CommitsTab
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
Due: Pages

remove lazy from ConfigTab
  src/pages/RepoPage/ConfigTab/ConfigTab.tsx
Due: Pages

remove lazy from TableTeam
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
Due: Pages

remove BundleContent
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

remove lazy from BundlesTab
  src/pages/RepoPage/BundlesTab/BundlesTab.tsx
Due: Pages

remove lazy from OktaBanners
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.tsx
Due: Shared

remove lazy from GlobalTopBanners
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
Due: Shared

remove lazy from OverviewTab
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
Due: Pages

remove lazy from CoverageTab
  src/pages/RepoPage/CoverageTab/CoverageTab.tsx
Due: Pages

remove lazy from NewRepoTab
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
Due: Pages

remove lazy from PullsTab
  src/pages/RepoPage/PullsTab/PullsTab.tsx
Due: Pages

remove lazy from TokenlessBanner
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
Due: Shared

remove check for suspense
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
Due: Pages

fix: Migrate from isCached to cacheConfig (#3718)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.test.tsx
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.test.tsx
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.tsx
  src/services/bundleAnalysis/CachedBundlesQueryOpts.test.tsx
  src/services/bundleAnalysis/CachedBundlesQueryOpts.tsx
  src/services/bundleAnalysis/useUpdateBundleCache.test.tsx
  src/services/bundleAnalysis/useUpdateBundleCache.tsx
Due: Pages, Services

ref: Remove over application of lazy (#3738)
  src/layouts/BaseLayout/BaseLayout.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccess.tsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationInfo.tsx
  src/pages/AdminSettings/AdminMembers/AdminMembers.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberList.jsx
  src/pages/AdminSettings/AdminSettings.jsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModal.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTableTeam/FilesChangedTableTeam.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTab.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/MembersPage/MembersList/MembersList.jsx
  src/pages/OwnerPage/Tabs/Tabs.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTab.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.tsx
  src/pages/RepoPage/BundlesTab/BundlesTab.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/ConfigTab/ConfigTab.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageTab/CoverageTab.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/pages/RepoPage/PullsTab/PullsTab.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
Due: Layouts, Pages, Shared

reorder setup so that Sentry is setup before LD
  src/index.tsx
Due: none

add Sentry LD integration to Sentry config
  src/sentry.ts
Due: none

add Sentry LD inspector to LD setup
  src/shared/featureFlags/featureFlag.ts
Due: Shared

feat: Add Sentry feature flag integration with LD (#3746)
  src/index.tsx
  src/sentry.ts
  src/shared/featureFlags/featureFlag.ts
Due: Shared

feat: Org page UI improvements (#3727)
  src/services/repos/ReposQueryOpts.tsx
  src/shared/ListRepo/ListRepo.test.tsx
  src/shared/ListRepo/ListRepo.tsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.tsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.tsx
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/ui/TextInput/TextInput.tsx
Due: Services, Shared, UI

remove the random new lines
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Fileviewer/Fileviewer.test.jsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.test.tsx
  src/services/file/useCommitBasedCoverageForFileViewer.test.jsx
  src/services/pathContents/commit/dir/useRepoCommitContents.test.tsx
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.test.tsx
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.test.tsx
  src/services/pathContents/useFileWithMainCoverage.test.tsx
  src/services/pull/usePrefetchSingleFileComp.test.tsx
  src/services/pull/usePullCompareTotalsTeam.test.tsx
  src/services/pull/usePullTeam.test.tsx
  src/services/pull/useSingularImpactedFileComparison.test.tsx
  src/services/pull/utils/transformImpactedPullFileToDiff.test.ts
Due: Pages, Services

remove barrel file from defaultOrganization
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
  src/services/defaultOrganization/index.ts
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Services, UI

remove barrel file
  src/services/account/index.ts
Due: Services

add back ts expect error
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
Due: Pages

move arcVisible to sunburst utils
  src/ui/SunburstChart/utils.js
Due: none

move the initial state to be stored in react state
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

remove barrel file
  src/services/pull/index.ts
Due: Services

update imports
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/usePullForCompareSummary.js
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/usePullForCompareSummary.test.js
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/NameColumn/NameColumn.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/hooks/useImpactedFilesTable.js
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/NameColumn/NameColumn.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.ts
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.tsx
Due: Pages

fix typo
  src/ui/SunburstChart/utils.js
Due: none

tidy up the state function and add in comments
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

remove barrel file from codecovEventMetrics
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageOnboarding/OutputCoverageStep/OutputCoverageStep.tsx
  src/services/codecovEventMetrics/index.ts
Due: Pages, Services

remove barrel file from services/commitErrors
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModal.jsx
  src/services/commitErrors/index.ts
Due: Pages, Services

remove barrel file from services/commits
  src/services/commits/index.ts
Due: Services

remove barrel files from services comparisons
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/Header/HeaderTeam/queries/CommitHeaderDataTeamQueryOpts.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
  src/pages/PullRequestPage/Header/HeaderTeam/queries/PullHeadDataTeamQueryOpts.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/queries/ComponentComparisonQueryOpts.tsx
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.tsx
  src/services/bundleAnalysis/BranchBundleSummaryQueryOpts.tsx
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.tsx
  src/services/bundleAnalysis/BundleAssetsQueryOpts.tsx
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.tsx
  src/services/bundleAnalysis/CachedBundlesQueryOpts.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
  src/services/commit/useCommit.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
  src/services/commit/useCommitBundleList.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
  src/services/commit/useCommitTeam.tsx
  src/services/commit/useCompareTotals.tsx
  src/services/commit/useCompareTotalsTeam.tsx
  src/services/commits/useCommits.tsx
  src/services/comparison/index.ts
  src/services/comparison/schemas/index.ts
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
  src/services/pathContents/commit/dir/constants.ts
  src/services/pathContents/pull/dir/constants.ts
  src/services/pull/usePrefetchSingleFileComp.tsx
  src/services/pull/usePull.tsx
  src/services/pull/usePullBADropdownSummary.tsx
  src/services/pull/usePullBundleComparisonList.tsx
  src/services/pull/usePullCompareTotalsTeam.tsx
  src/services/pull/usePullComponents.tsx
  src/services/pull/usePullCoverageDropdownSummary.tsx
  src/services/pull/usePullTeam.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
  src/services/pulls/usePulls.tsx
  src/services/repo/useRepoFlagsSelect.tsx
Due: Pages, Services
