Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

update Profile
  src/pages/AccountSettings/tabs/Profile/Profile.jsx
Due: Pages

chore: Migrate useSelfHostedCurrentUser to TS Query V5 (#3582)
  src/layouts/Header/components/AdminLink/AdminLink.test.tsx
  src/layouts/Header/components/AdminLink/AdminLink.tsx
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/ActivationBanner.jsx
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/useSelfActivationMutation.js
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/useSelfActivationMutation.test.jsx
  src/pages/AccountSettings/tabs/Profile/Profile.jsx
  src/pages/AdminSettings/AdminSettings.jsx
  src/pages/AdminSettings/AdminSettings.test.jsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
  src/services/selfHosted/SelfHostedCurrentUserQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedCurrentUserQueryOpts.ts
  src/services/selfHosted/index.ts
Due: Layouts, Pages, Services

update deps
  package.json
Due: none

update lockfile
  yarn.lock
Due: none

rename file to be a bit clearer as to what is contains
  src/services/repos/orderingOptions.ts
Due: Services

migrate hook to query opts service
  src/services/repos/ReposTeamQueryOpts.test.tsx
  src/services/repos/ReposTeamQueryOpts.tsx
Due: Services

update imports
  src/services/repos/index.ts
  src/services/repos/useRepos.tsx
Due: Services

update ReposTableTeam to use updated service
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/ListRepo/ReposTableTeam/index.ts
Due: Shared

use object over any
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
Due: Shared

feat: Add ACH payment method
  .env.development
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditablePaymentMethod/EditablePaymentMethod.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditablePaymentMethod/index.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CardInformation.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CardInformation.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentMethod/PaymentMethod.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentMethod/index.ts
  src/services/account/propTypes.js
  src/services/account/types.ts
  src/services/navigation/useNavLinks/useNavLinks.ts
Due: Pages, Services

ref: Migrate useReposTeam to TS Query V5 (#3615)
  src/services/repos/ReposTeamQueryOpts.test.tsx
  src/services/repos/ReposTeamQueryOpts.tsx
  src/services/repos/index.ts
  src/services/repos/orderingOptions.ts
  src/services/repos/useRepos.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/ListRepo/ReposTableTeam/index.ts
Due: Services, Shared

migrate hook to query options API
  src/services/repos/ReposQueryOpts.test.tsx
  src/services/repos/ReposQueryOpts.tsx
  src/services/repos/index.ts
Due: Services

update usage in ChartSelectors and refactor tests
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.test.jsx
Due: Pages

update usage in ReposTable
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

update affected import changes
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.jsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
Due: Pages, Shared

resolve linting issues
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
  src/services/repos/ReposQueryOpts.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/shared/utils/demo.ts
Due: Pages, Services, Shared

fix typo
  src/shared/utils/queries.ts
Due: Shared

add in TS helpers to extract data from queryOptions and infiniteQueryOptions
  src/shared/utils/queries.ts
Due: Shared

optimize helper types
  src/shared/utils/demo.ts
  src/shared/utils/queries.ts
Due: Shared

resovle linting issues
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.jsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
Due: Pages, Shared

migrate useRepoConfigurationStatus to RepoConfigurationStatusQueryOpts
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/RepoConfigurationStatusQueryOpts.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/RepoConfigurationStatusQueryOpts.tsx
Due: Pages

update usage in ConfigurationManager
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.tsx
Due: Pages

wip
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethod/EditPaymentMethod.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethod/index.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditablePaymentMethod/index.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CardInformation.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentMethod/PaymentMethod.tsx
  src/ui/Button/Button.tsx
Due: Pages, UI

add stripe payment element
  .env.development
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethod/EditPaymentMethod.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentMethod/PaymentMethod.tsx
Due: Pages

cleanup
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CardInformation.tsx
  src/services/account/propTypes.js
  src/services/account/types.ts
  src/services/navigation/useNavLinks/useNavLinks.ts
Due: Pages, Services

fix tests
  src/pages/AccountSettings/tabs/Admin/DetailsSection/DetailsSection.jsx
  src/services/user/useUpdateProfile.test.tsx
  src/services/user/useUpdateProfile.ts
Due: Pages, Services

missed some fields
  src/services/user/useUpdateProfile.ts
Due: Services

chore: Migrate onboardUser to TS
  src/services/user/useOnboardUser.ts
Due: Services

fix tests
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.test.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/RegenerateOrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/useGenerateOrgUploadToken.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.test.tsx
  src/services/orgUploadToken/useRegenerateOrgUploadToken.tsx
Due: Pages, Services

cleanup
  src/pages/AccountSettings/tabs/OrgUploadToken/RegenrateTokenModal.tsx
  src/services/orgUploadToken/useRegenerateOrgUploadToken.tsx
Due: Pages, Services

tidy up chart selectors
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
Due: Pages

fix issue with after being an empty string causing a server error
  src/services/repos/ReposQueryOpts.test.tsx
  src/services/repos/ReposQueryOpts.tsx
  src/services/repos/ReposTeamQueryOpts.test.tsx
  src/services/repos/ReposTeamQueryOpts.tsx
Due: Services

fix tests
  src/services/user/useUpdateProfile.test.tsx
  src/services/user/useUpdateProfile.ts
Due: Services

cleanup
  src/pages/AccountSettings/tabs/Admin/DetailsSection/DetailsSection.jsx
  src/pages/AccountSettings/tabs/OrgUploadToken/RegenerateOrgUploadToken.jsx
  src/services/user/useUpdateProfile.ts
Due: Pages, Services

Fix preemptive plus
  src/index.tsx
  src/ui/TotalsNumber/TotalsNumber.tsx
Due: UI

Update index.tsx
  src/index.tsx
Due: none

chore: Migrate orgUploadToken to ts (#3602)
  src/pages/AccountSettings/tabs/OrgUploadToken/GenerateOrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.test.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/RegenerateOrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/RegenrateTokenModal.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/index.ts
  src/pages/AccountSettings/tabs/OrgUploadToken/useGenerateOrgUploadToken.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.js
  src/services/orgUploadToken/useRegenerateOrgUploadToken.test.jsx
  src/services/orgUploadToken/useRegenerateOrgUploadToken.test.tsx
  src/services/orgUploadToken/useRegenerateOrgUploadToken.tsx
Due: Pages, Services

newline
  src/ui/TotalsNumber/TotalsNumber.test.tsx
Due: UI

rename argument interface to reflect V5 migration
  src/services/repos/ReposQueryOpts.tsx
Due: Services

[fix] +- Change appearing for a PR (#3619)
  src/ui/TotalsNumber/TotalsNumber.test.tsx
  src/ui/TotalsNumber/TotalsNumber.tsx
Due: UI
