Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

update BundleContent tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
Due: Pages

update AssetsTable tests
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
Due: Pages

feat: Okta access new tab (#2964)
  src/pages/AccountSettings/AccountSettings.jsx
  src/pages/AccountSettings/AccountSettings.spec.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.spec.jsx
  src/pages/AccountSettings/tabs/OktaAccess/AdminAuthorizationBanner/AdminAuthorizationBanner.spec.tsx
  src/pages/AccountSettings/tabs/OktaAccess/AdminAuthorizationBanner/AdminAuthorizationBanner.tsx
  src/pages/AccountSettings/tabs/OktaAccess/AdminAuthorizationBanner/index.ts
  src/pages/AccountSettings/tabs/OktaAccess/OktaAccess.spec.tsx
  src/pages/AccountSettings/tabs/OktaAccess/OktaAccess.tsx
  src/pages/AccountSettings/tabs/OktaAccess/index.ts
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

feat: Update useBundleAssets service to grab asset measurements (#2971)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Pages, Services

fix: update Other CLI new repo instructions text
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

chore: add a comma
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

Hide old header when flag is true
  src/layouts/BaseLayout/BaseLayout.jsx
  src/layouts/BaseLayout/BaseLayout.spec.jsx
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/index.ts
  src/layouts/LoginLayout/LoginLayout.spec.tsx
  src/layouts/LoginLayout/LoginLayout.tsx
Due: Layouts

Hide plan page nav
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/PlanPage.spec.jsx
Due: Pages

Hide accounts settings nav
  src/pages/AccountSettings/shared/Header/Header.jsx
  src/pages/AccountSettings/shared/Header/Header.spec.jsx
Due: Pages

Hide analytics page nav
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/AnalyticsPage/AnalyticsPage.spec.jsx
Due: Pages

Hide MembersPage nav
  src/pages/MembersPage/MembersPage.jsx
  src/pages/MembersPage/MembersPage.spec.jsx
Due: Pages

Hide OwnerPage nav
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/OwnerPage/OwnerPage.spec.jsx
Due: Pages

Hide Pulls page breadcrumb
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
Due: Pages

Hide commit page breadcrumb
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
Due: Pages

Hide admin settings page breadcrumb
  src/pages/AdminSettings/AdminSettingsHeader/AdminSettingsHeader.jsx
  src/pages/AdminSettings/AdminSettingsHeader/AdminSettingsHeader.spec.jsx
Due: Pages

Hide repo page breadcrumb
  src/pages/RepoPage/RepoBreadcrumb.jsx
  src/pages/RepoPage/RepoPage.spec.tsx
Due: Pages

Fix test
  src/pages/RepoPage/RepoPage.spec.tsx
Due: Pages

Fix test part 2
  src/pages/RepoPage/RepoPage.spec.tsx
Due: Pages

fix: use api_url variable instead of qa
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

Fix other tests
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
Due: Pages

Fix tests again
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
Due: Pages

Update with okta form
  src/pages/AccountSettings/tabs/OktaAccess/OktaAccess.tsx
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
Due: Pages

Convert useUser to TS and update all failing tests
  src/App.spec.tsx
  src/layouts/BaseLayout/BaseLayout.spec.jsx
  src/layouts/BaseLayout/hooks/useUserAccessGate.spec.tsx
  src/layouts/OldHeader/DesktopMenu.spec.tsx
  src/layouts/OldHeader/DesktopMenu.tsx
  src/pages/AccountSettings/AccountSettings.spec.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.spec.jsx
  src/pages/AccountSettings/tabs/Access/Access.spec.tsx
  src/pages/AccountSettings/tabs/Admin/Admin.spec.jsx
  src/pages/AdminSettings/AdminSettingsHeader/AdminSettingsHeader.spec.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.spec.jsx
  src/services/tracking/hooks.spec.js
  src/services/user/useUser.js
  src/services/user/useUser.spec.js
  src/services/user/useUser.spec.tsx
  src/services/user/useUser.ts
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Layouts, Pages, Services, Shared

Update Avatar to have light and dark border option
  src/ui/Avatar/Avatar.jsx
Due: UI

Implement user drop down + misc fixes
  src/layouts/BaseLayout/BaseLayout.spec.jsx
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.spec.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/layouts/Header/components/UserDropdown/index.ts
  src/layouts/LimitedHeader/LimitedHeader.jsx
  src/layouts/LoginLayout/LoginLayout.spec.tsx
  src/pages/OwnerPage/Header/Header.jsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Title/Title.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Title/Title.tsx
  src/pages/RepoPage/PullsTab/PullsTable/Title/Title.tsx
  src/ui/Avatar/Avatar.jsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/List/List.stories.jsx
Due: Layouts, Pages, UI

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
