Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

wip
  src/assets/billing/bank.svg
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethod/EditPaymentMethod.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethod/index.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethods/Address/AddressForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethods/EditPaymentMethods.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethods/PaymentMethod/PaymentMethodForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethods/index.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CreditCardForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/index.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentMethod/index.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/Address/AddressCard.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/Address/AddressCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/PaymentMethod/BankInformation.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/PaymentMethod/CardInformation.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/PaymentMethod/PaymentMethod.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/PaymentMethod/PaymentMethod.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/ViewPaymentMethod.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/index.ts
  src/services/account/index.ts
  src/services/account/useAccountDetails.ts
  src/services/account/useStripeSetupIntent.ts
  src/services/account/useUpdateBillingEmail.ts
  src/services/account/useUpdatePaymentMethod.test.tsx
  src/services/account/useUpdatePaymentMethod.ts
  src/stripe.ts
Due: Pages, Services

feat: Add mutation to update bundle cache settings (#3649)
  src/services/bundleAnalysis/useUpdateBundleCache.test.tsx
  src/services/bundleAnalysis/useUpdateBundleCache.tsx
Due: Services

update mutation to parse input properly and also fix issue with mutation input being toggleCaching not isCached
  src/services/bundleAnalysis/useUpdateBundleCache.test.tsx
  src/services/bundleAnalysis/useUpdateBundleCache.tsx
Due: Services

add in modal to control bundle cache settings
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/ConfigureCachedBundleModal.tsx
Due: Pages

add in tests for new modal
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/ConfigureCachedBundleModal.test.tsx
Due: Pages

remove use of context as we can just use normal react state
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/ConfigureCachedBundleModal.tsx
Due: Pages

update comments
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/ConfigureCachedBundleModal.tsx
Due: Pages

tidy up isPending
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/ConfigureCachedBundleModal.tsx
Due: Pages

Implement EventTracker abstraction and Amplitude implementation
  src/index.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/events.ts
  src/services/user/useUser.ts
  src/shared/ListRepo/InactiveRepo/InactiveRepo.tsx
  src/shared/utils/provider.ts
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Services, Shared, UI

Ajay changes pt1
  src/services/events/events.ts
  src/services/events/stub.ts
  src/shared/utils/provider.ts
Due: Services, Shared

Convert EventTracker to abstract class and object payloads
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/events.ts
  src/services/events/stub.ts
  src/services/events/types.ts
  src/services/user/useUser.ts
  src/shared/ListRepo/InactiveRepo/InactiveRepo.tsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Pages, Services, Shared, UI

Release 25.1.10 (#3648)
  VERSION
Due: none

move bundle cache modal to repo page shared directory
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.test.tsx
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.tsx
Due: Pages

explicitly remove to prop if component is A
  src/shared/AppLink/AppLink.tsx
Due: Shared

fix: Remove "to" prop if component is <a> (#3654)
  src/shared/AppLink/AppLink.tsx
Due: Shared

Appless non-PAT org dropdown clarity changes (#3628)
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: UI

feat: Add appless pre-PAT onboarding container
  src/App.tsx
  src/assets/onboarding/org_list_install_app.png
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/constants.ts
  src/pages/DefaultOrgSelector/index.js
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.tsx
  src/pages/OwnerPage/OnboardingOrg/constants.ts
  src/pages/OwnerPage/OnboardingOrg/index.ts
  src/pages/OwnerPage/OwnerPage.jsx
  src/services/navigation/useLocationParams.ts
  src/shared/ListRepo/ListRepo.jsx
Due: Layouts, Pages, Services, Shared

feat: Make adjustments to add new install modal version
  src/assets/onboarding/click_here_to_install.png
  src/pages/OwnerPage/OnboardingContainerContext/context.test.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.test.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.tsx
  src/pages/OwnerPage/OwnerPage.test.jsx
  src/shared/AppInstallModal/AppInstallModal.test.tsx
  src/shared/AppInstallModal/AppInstallModal.tsx
Due: Pages, Shared

fix: Add onboarding container context to UserDropdown tests
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
Due: Layouts

test: Add user dropdown toggle test
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
Due: Layouts

chore: Remove unnecessary console log
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
Due: Layouts

fix: Revert type changes
  src/App.tsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/services/navigation/useLocationParams.ts
Due: Pages, Services

fix: copy tweak
  src/shared/AppInstallModal/AppInstallModal.tsx
Due: Shared

test: Modify test
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
Due: Layouts

fix: Only show onboarding for new users, remove older app install modal, remove customer intent
  src/App.test.tsx
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.jsx
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.test.jsx
  src/layouts/BaseLayout/InstallationHelpBanner/index.ts
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
  src/layouts/BaseLayout/hooks/useUserAccessGate.test.tsx
  src/layouts/Header/Header.test.tsx
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/AccountSettings/AccountSettings.test.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.test.jsx
  src/pages/AccountSettings/tabs/Access/Access.test.tsx
  src/pages/AccountSettings/tabs/Admin/Admin.test.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.test.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/pages/DefaultOrgSelector/index.js
  src/pages/OwnerPage/OnboardingContainerContext/context.test.tsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/pages/RepoPage/RepoPage.test.tsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/pages/TermsOfService/constants.ts
  src/services/user/useUser.test.tsx
  src/services/user/useUser.ts
  src/shared/AppInstallModal/AppInstallModal.test.tsx
  src/shared/AppInstallModal/AppInstallModal.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.test.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.test.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/index.ts
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
Due: Layouts, Pages, Services, Shared

test: remove it.only
  src/layouts/BaseLayout/hooks/useUserAccessGate.test.tsx
Due: Layouts

fix: Remove unused defaultOrgSelector
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
  src/layouts/BaseLayout/hooks/useUserAccessGate.test.tsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.test.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/index.ts
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.test.tsx
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.ts
  src/pages/DefaultOrgSelector/index.js
Due: Layouts, Pages

feat: Change to new TOS page
  src/pages/TermsOfService/TermsOfService.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
Due: Pages

fix: bold tweak
  src/pages/TermsOfService/TermsOfService.tsx
Due: Pages

fix: name key change
  src/pages/TermsOfService/TermsOfService.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
Due: Pages

use the graphql endpoint, fix some tests
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethods/Address/AddressForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethods/EditPaymentMethods.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethods/PaymentMethod/PaymentMethodForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/Address/AddressCard.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/Address/AddressCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/ViewPaymentMethod.tsx
  src/services/account/useAccountDetails.ts
  src/services/account/useCreateStripeSetupIntent.ts
  src/services/account/useStripeSetupIntent.ts
  src/services/account/useUpdateBillingEmail.test.tsx
  src/services/account/useUpdatePaymentMethod.test.tsx
Due: Pages, Services

fix tests
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EditPaymentMethods/PaymentMethod/PaymentMethodForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/ViewPaymentMethod/ViewPaymentMethod.test.tsx
  src/services/account/useAccountDetails.test.tsx
  src/services/account/useCreateStripeSetupIntent.test.tsx
  src/services/account/useUpdatePaymentMethod.test.tsx
  src/services/account/useUpdatePaymentMethod.ts
  src/shared/utils/billing.ts
Due: Pages, Services, Shared

address feedback
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.tsx
Due: Pages

fix typo in test
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.test.tsx
Due: Pages

update copy
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.test.tsx
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.tsx
Due: Pages

feat: Create modal for controlling bundle cache settings (#3652)
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.test.tsx
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.tsx
  src/services/bundleAnalysis/useUpdateBundleCache.test.tsx
  src/services/bundleAnalysis/useUpdateBundleCache.tsx
Due: Pages, Services
