Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

create first pull banner for pull bundles
  src/pages/PullRequestPage/PullBundleAnalysis/FirstPullBanner/FirstPullBanner.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/FirstPullBanner/FirstPullBanner.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/FirstPullBanner/index.ts
Due: Pages

create pull bundles error banner
  src/pages/PullRequestPage/PullBundleAnalysis/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/ErrorBanner/ErrorBanner.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/ErrorBanner/index.ts
Due: Pages

create empty table for pull bundles
  src/pages/PullRequestPage/PullBundleAnalysis/EmptyTable/EmptyTable.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/EmptyTable/EmptyTable.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/EmptyTable/index.ts
Due: Pages

update usePullPageData to fetch bundle compare typename
  src/pages/PullRequestPage/hooks/usePullPageData.spec.tsx
  src/pages/PullRequestPage/hooks/usePullPageData.tsx
Due: Pages

update pr page tests
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
Due: Pages

update pull bundle analysis to handle errors
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
Due: Pages

remove commented code
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.spec.tsx
Due: Pages

fix up copy content for config examples
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

Update default org
  src/pages/TermsOfService/TermsOfService.tsx
Due: Pages

fix: Pull bundle text size and warning icons (#2581)
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.tsx
  src/pages/PullRequestPage/Dropdowns/PullCoverageDropdown.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
Due: Pages

update webpack onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

update vite onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
Due: Pages

update rollup onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
Due: Pages

add beta badge to bundles tab
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

update tests to check for beta badge
  src/pages/RepoPage/RepoPageTabs.spec.tsx
Due: Pages

Lets move default org
  src/pages/TermsOfService/TermsOfService.tsx
Due: Pages

Update with const to enums
  src/pages/TermsOfService/TermsOfService.tsx
  src/services/user/enums.ts
  src/services/user/index.js
Due: Pages, Services

redirect to landing page
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/services/user/useUser.js
Due: Pages, Services

create new NetworkErrorObject type in helpers.ts
  src/shared/api/helpers.ts
Due: Shared

create example for useBranch
  src/services/branches/useBranch.spec.tsx
  src/services/branches/useBranch.tsx
Due: Services

add second example in useBranches
  src/services/branches/useBranches.spec.tsx
  src/services/branches/useBranches.tsx
Due: Services

import as a type
  src/services/branches/useBranches.tsx
Due: Services

remove redirect if repo is active from new repo tab
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.jsx
Due: Pages

update tests
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.jsx
Due: Pages

test
  README.md
Due: none

fix: Remove redirect from coverage onboarding (#2588)
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.jsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.jsx
Due: Pages

remove tests >:)
  src/layouts/Footer/Footer.spec.jsx
Due: Layouts

removed a page
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.spec.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.spec.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/index.js
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.ts
  src/pages/DefaultOrgSelector/index.js
Due: Pages

remove to param
  src/layouts/Header/Dropdown.spec.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Layouts, Services

Update test
  src/layouts/Header/Dropdown.spec.jsx
Due: Layouts

ref: Refactor PR components page to use ui/table
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTab.jsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/useComponentComparison.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/index.js
Due: Pages

rename craco stats config
  craco.stats.config.js
Due: none

rename command to build stats
  package.json
Due: none

add step to upload stats to prod for gazebo as well as changing env names so we can use the same config for prod and staging
  .github/workflows/ci.yml
Due: none

feat: Setup beta badge for bundles tab (#2586)
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

actually upload to prod
  .github/workflows/ci.yml
Due: none

fix check to see if envs are passed
  craco.stats.config.js
Due: none

build: Setup Gazebo to upload stats to prod (#2593)
  .github/workflows/ci.yml
  craco.stats.config.js
  package.json
Due: none

chore: update follow-redirects dep
  package-lock.json
Due: none

fix: Bundle onboarding (#2584)
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages
