Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

Make patch coverage nullable (#2721)
  src/services/pull/usePullTeam.tsx
Due: Services

add feature flag, component tab, and related tests
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

Full logic
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
  src/pages/RepoPage/RepoPage.tsx
Due: Layouts, Pages

update useSelfHostedUserList to TS
  src/services/selfHosted/useSelfHostedUserList.js
  src/services/selfHosted/useSelfHostedUserList.spec.tsx
  src/services/selfHosted/useSelfHostedUserList.ts
Due: Services

update useSelfHostedSettings to TS
  src/services/selfHosted/useSelfHostedSettings.js
  src/services/selfHosted/useSelfHostedSettings.spec.tsx
  src/services/selfHosted/useSelfHostedSettings.ts
Due: Services

fix up AutoActivateMembers tests
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.spec.jsx
Due: Pages

refactor and upgrade Members table to new table and TS
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.spec.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
Due: Pages

just testing something
  src/services/access/index.js
  src/services/access/index.ts
  src/services/account/index.js
  src/services/account/index.ts
  src/services/pull/index.js
  src/services/pull/index.ts
  src/services/repo/index.js
  src/services/repo/index.ts
  src/services/user/index.js
  src/services/user/index.ts
  src/services/users/index.js
  src/services/users/index.ts
Due: Services

ref: Refactor the hook to TS / accept other measurments types
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/services/repo/hooks.spec.js
  src/services/repo/useActivateFlagMeasurements.js
  src/services/repo/useActivateFlagMeasurements.tsx
Due: Pages, Services

More tests
  src/services/repo/hooks.spec.js
  src/services/repo/useActivateFlagMeasurements.spec.tsx
  src/services/repo/useActivateFlagMeasurements.tsx
Due: Services

feat: Create new hook for components backfilled data
  src/services/repo/index.js
  src/services/repo/useComponentsBackfilled.spec.tsx
  src/services/repo/useComponentsBackfilled.ts
Due: Services

Add tests
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/shared/UnauthorizedRepoDisplay.tsx
Due: Pages

fix logic
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

updated spotlight to latest version
  package-lock.json
  package.json
Due: none

pretify and lose deprecated
  src/services/repo/useComponentsBackfilled.ts
Due: Services

switch to Username
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.spec.jsx
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
Due: Pages

two small tweaks
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
  src/services/selfHosted/useSelfHostedUserList.ts
Due: Pages, Services

Update to re add catch block
  src/shared/api/api.js
Due: Shared

remove deprecated
  src/services/repo/useComponentsBackfilled.spec.tsx
  src/services/repo/useComponentsBackfilled.ts
Due: Services

update to handle different repo schemas and rename
  src/services/repo/useComponentsBackfilled.tsx
Due: Services

more test
  src/services/repo/useComponentsBackfilled.spec.tsx
Due: Services

update email to sales from success
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/ActivationBanner.jsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationCount.spec.jsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationLimit.jsx
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationLimit.spec.jsx
Due: Pages

feat: Create new hook for components backfilled data (#2727)
  src/services/repo/index.js
  src/services/repo/useComponentsBackfilled.spec.tsx
  src/services/repo/useComponentsBackfilled.tsx
Due: Services

ref/fix: Clarify dialogue on repo page when no default branch selected (#2716)
  src/pages/CommitDetailPage/CommitCoverage/FirstPullBanner/FirstPullBanner.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
  src/pages/RepoPage/DeactivatedRepo/DeactivatedRepo.spec.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.jsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/services/repo/hooks.spec.js
  src/services/repo/useRepo.spec.tsx
  src/services/repo/useRepo.ts
  src/services/repo/useRepo.tsx
Due: Pages, Services

add feature flag, component tab, and related tests (#2723)
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

ref: #597 - Flags Table Refactor Part 3 (#2714)
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/TableEntries/TableSparkline.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/TableEntries/TableSparkline.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.js
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.js
  src/services/repo/useRepoFlags.js
  src/ui/Sparkline/Sparkline.tsx
  src/ui/Sparkline/sparkline.css
Due: Pages, Services, UI

feat: Create new hook useRepoComponentsSelect
  src/services/repo/index.js
  src/services/repo/useRepoComponentsSelect.spec.tsx
  src/services/repo/useRepoComponentsSelect.tsx
Due: Services

Update to resolve conflicts 😑
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/services/repo/useRepoFlags.js
  src/services/repo/useRepoFlags.spec.tsx
  src/services/repo/useRepoFlags.tsx
Due: Pages, Services

or null
  src/services/repo/useRepoFlags.tsx
Due: Services

ref: Refactor the hook to TS / accept other measurements types (#2726)
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/services/repo/hooks.spec.js
  src/services/repo/useActivateFlagMeasurements.js
  src/services/repo/useActivateFlagMeasurements.spec.tsx
  src/services/repo/useActivateFlagMeasurements.tsx
Due: Pages, Services

Tweaks
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
Due: Pages

Remove usememo on ordering direction:
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
Due: Pages

Fix tests
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Services, Shared

Convert file entry stuff to ts
  src/services/file/useCoverageWithFilters.js
  src/services/file/useCoverageWithFilters.spec.js
  src/services/file/utils.ts
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.js
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/constants.ts
  src/services/pathContents/pull/file/index.ts
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.js
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.js
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.tsx
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.tsx
  src/shared/ContentsTable/constants.js
  src/shared/ContentsTable/constants.ts
Due: Services, Shared

Remove unneeded function
  src/services/pathContents/constants.ts
Due: Services

Replace toBeCalled calls with toHaveBeenCalled
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
Due: Services, Shared

rename to options
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
Due: Pages, Services

Update styles
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
Due: Pages

fix: Remove broken graphing token section from repo general settings (#2707)
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/ImpactAnalysisToken/ImpactAnalysisToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/StaticAnalysisToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/Tokens.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/Tokens.spec.js
Due: Pages
