Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

fix: Make sure active style for coverage tab works correctly
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Pages, Services

Update with branch param instead of search (#3147)
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.spec.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.ts
  src/pages/RepoPage/CoverageTab/CoverageTab.tsx
  src/pages/RepoPage/CoverageTab/CoverageTabNavigator.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Pages, Services

feat: pass branch url param across tabs and pages
  src/App.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/CoverageTab/CoverageTab.tsx
  src/pages/RepoPage/CoverageTab/CoverageTabNavigator.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

test: add more tests for RepoPageTabs
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/navigation/useNavLinks/index.js
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Pages, Services

remove unnecessary
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

remove extra ts-ignores
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/BranchSelector/BranchSelector.tsx
Due: Pages

just return the infinite query directly
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

update tests
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.spec.tsx
Due: Pages

update data processing to directly convert the pages to the list of assets
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

fix: Re-render issue with AssetsTable (#3183)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Pages, Services

Persist Selected Branch Across Tabs/Pages (#3181)
  src/App.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/CoverageTab/CoverageTab.tsx
  src/pages/RepoPage/CoverageTab/CoverageTabNavigator.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/navigation/useNavLinks/index.js
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

initial commit
  src/App.tsx
  src/config.js
  src/pages/AccountSettings/shared/Header/Header.jsx
  src/pages/CodecovAIPage/CodecovAICommands/CodecovAICommands.tsx
  src/pages/CodecovAIPage/CodecovAIPage.tsx
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
  src/pages/CodecovAIPage/LearnMoreBlurb/LearnMoreBlurb.tsx
  src/pages/CodecovAIPage/Tabs/Tabs.tsx
  src/pages/CodecovAIPage/index.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.jsx
  src/pages/MembersPage/Tabs/Tabs.jsx
  src/pages/OwnerPage/Tabs/Tabs.jsx
  src/pages/PlanPage/Tabs/Tabs.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.js
Due: Pages, Services

fix: Differentiate flags vs components configuration description
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.tsx
Due: Pages

fix: Continue to show FlagsTable for flag tab with selected branch
  src/pages/RepoPage/CoverageTab/FlagsTab/FlagsTab.jsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

fix: Continue to show FlagsTable for flag tab with selected branch (#3186)
  src/pages/RepoPage/CoverageTab/FlagsTab/FlagsTab.jsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

fix: Differentiate flags vs components configuration description (#3184)
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.tsx
Due: Pages

add the base selectors to flag page
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.tsx
Due: Pages

add dark mode colors
  src/old_ui/Message/Message.jsx
Due: none

the field name is actually after
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.js
Due: Pages

fix: useRepoCoverageTimeseries using wrong field (#3190)
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.js
Due: Pages

rename craco configs over to cjs to be explicit about their JS type
  craco.config.cjs
  craco.stats.config.cjs
Due: none

add in deps for Vite
  package.json
  yarn.lock
Due: none

redo old_ui icons
  src/old_ui/Icon/svg/index.js
  src/old_ui/Icon/svg/index.jsx
Due: none

include everything within the src dir to interact with our tsconfig
  tsconfig.json
Due: none

create scripts to generate icons for vite and for webpack
  scripts/icons.js
  scripts/vite-icons.mjs
  scripts/webpack-icons.mjs
Due: none

remove these ts files as they've been moved to the src/types.ts file
  global.d.ts
  reset.d.ts
Due: none

we have to import icons in a special way for vite that makes the linter complain
  .eslintrc.json
Due: none

add in vite types declartion file
  src/vite-env.d.ts
Due: none

more file type renames
  postcss.config.cjs
  tailwind.config.cjs
Due: none

fix: Dark mode colors on Message component (#3189)
  src/old_ui/Message/Message.jsx
Due: none

rename icon files from .js to .jsx
  scripts/icon-list.mjs
  scripts/vite-icons.mjs
  scripts/webpack-icons.mjs
  src/old_ui/Icon/svg/index.jsx
  src/ui/Icon/svg/developer/index.js
  src/ui/Icon/svg/developer/index.jsx
  src/ui/Icon/svg/outline/index.js
  src/ui/Icon/svg/outline/index.jsx
  src/ui/Icon/svg/solid/index.js
  src/ui/Icon/svg/solid/index.jsx
Due: UI

rename from .test.ts to .spec.ts
  src/shared/api/api.spec.ts
Due: Shared

move ts overrides into src file
  src/ts-override.d.ts
Due: none

rename context to .jsx
  src/services/toastNotification/context.jsx
Due: Services

fix issue with incorrect tailwind config name in eslint config
  .eslintrc.json
Due: none

temp ignore svg icon index files as they're being generated and the current versions are fine
  .gitignore
Due: none

update config to strip out VITE_ or REACT_APP_
  src/config.js
  src/config.spec.js
Due: none

fix up type issues in ui/Alert
  src/ui/Alert/Alert.spec.tsx
  src/ui/Alert/Alert.stories.tsx
  src/ui/Alert/Alert.tsx
Due: UI

small tweaks based off of feedback from vite
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages
