Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

remove lint rule descriptions from readme
  README.md
Due: none

remove lint ignores
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/ui/Dropdown/Dropdown.tsx
Due: Pages, UI

chore: Some fall cleanup of the old_ui dir (#3195)
  src/old_ui/Button/Button.jsx
  src/old_ui/Button/Button.spec.jsx
  src/old_ui/Button/Button.stories.jsx
  src/old_ui/Button/index.js
  src/old_ui/Modal/Modal.jsx
  src/old_ui/Modal/Modal.spec.jsx
  src/old_ui/Modal/index.js
  src/old_ui/Pagination/PageButton.jsx
  src/old_ui/Pagination/Pagination.jsx
  src/old_ui/Pagination/Pagination.spec.jsx
  src/old_ui/Pagination/Pagination.stories.jsx
  src/old_ui/Pagination/index.js
  src/old_ui/TextInput/TextInput.jsx
  src/old_ui/TextInput/TextInput.spec.jsx
  src/old_ui/TextInput/TextInput.stories.jsx
  src/old_ui/TextInput/index.js
  src/old_ui/Toggle/Toggle.jsx
  src/old_ui/Toggle/Toggle.spec.jsx
  src/old_ui/Toggle/Toggle.stories.jsx
  src/old_ui/Toggle/index.js
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/services/file/useCommitBasedCoverageForFileViewer.spec.js
Due: Pages, Services

chore: Remove old lint rules (#3199)
  .eslintrc.json
  README.md
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/ui/Dropdown/Dropdown.tsx
Due: Pages, UI

update UT
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/useBarecancel.spec.js
Due: Pages

fix: Users unable to cancel when have adblock (#3194)
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/CancelButton.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/useBarecancel.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/useBarecancel.spec.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/utils.js
Due: Pages

Rename to more explicit use
  src/shared/GlobalTopBanners/OktaErrorBanners/OktaErrorBanners.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/enums.ts
Due: Shared

fix: Show tests tab for public repos without a user being logged in
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

one more test
  src/pages/RepoPage/RepoPage.spec.tsx
Due: Pages

Send okta error in the tags
  src/shared/GlobalTopBanners/OktaErrorBanners/OktaErrorBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/enums.ts
Due: Shared

feat: Render okta errors based on error param (#3196)
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/OktaErrorBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/OktaErrorBanners.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/enums.ts
  src/shared/GlobalTopBanners/OktaErrorBanners/index.ts
  src/ui/TopBanner/TopBanner.stories.tsx
  src/ui/TopBanner/TopBanner.tsx
Due: Shared, UI

First round tests
  src/pages/AccountSettings/shared/Header/Header.spec.tsx
  src/pages/AccountSettings/shared/Header/Header.tsx
  src/pages/AnalyticsPage/Tabs/Tabs.jsx
  src/pages/AnalyticsPage/Tabs/Tabs.spec.tsx
  src/pages/AnalyticsPage/Tabs/Tabs.tsx
  src/pages/CodecovAIPage/CodecovAICommands/CodecovAICommands.tsx
  src/pages/CodecovAIPage/CodecovAIPage.spec.tsx
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
  src/pages/CodecovAIPage/LearnMoreBlurb/LearnMoreBlurb.tsx
Due: Pages

More tests
  src/pages/CodecovAIPage/CodecovAIPage.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.jsx
  src/pages/MembersPage/Tabs/Tabs.jsx
  src/pages/MembersPage/Tabs/Tabs.spec.tsx
  src/pages/MembersPage/Tabs/Tabs.tsx
  src/pages/OwnerPage/Tabs/Tabs.spec.tsx
  src/pages/OwnerPage/Tabs/Tabs.tsx
  src/pages/PlanPage/Tabs/Tabs.jsx
  src/pages/PlanPage/Tabs/Tabs.spec.tsx
  src/pages/PlanPage/Tabs/Tabs.tsx
Due: Pages

lint
  src/pages/AnalyticsPage/Tabs/Tabs.spec.tsx
  src/pages/OwnerPage/Tabs/Tabs.spec.tsx
Due: Pages

Update tests
  src/pages/CodecovAIPage/CodecovAIPage.spec.tsx
Due: Pages

update test
  src/pages/RepoPage/RepoPageTabs.spec.tsx
Due: Pages

chore: Add and configure Vite plugins (#3197)
  package.json
  vite.config.mjs
  yarn.lock
Due: none

update to git status
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

fix: Show tests tab for public repos without a user being logged in (#3200)
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

fetch line count in coverage tab data hook
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useCoverageTabData.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useCoverageTabData.tsx
Due: Pages

update overview tab to check both line count and file count
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
Due: Pages

Fix pytest coverage command
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
Due: Pages

fix: Pytest coverage command in onboarding (#3204)
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
Due: Pages

save this
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.jsx
Due: Pages

fix: missing l on cancellation (#3205)
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.jsx
Due: Pages

feat: Creating new tests analytics columns / fix styles (#3177)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

remove checking of line counts
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useCoverageTabData.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useCoverageTabData.tsx
Due: Pages

update sunburst to stack based implementation
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

ignore test test files in craco
  craco.config.cjs
Due: none

add in data-testid to icon
  src/old_ui/Icon/Icon.jsx
Due: none

add in coverage stuff for vitest
  package.json
  vitest.config.mjs
  yarn.lock
Due: none

rename old_ui tests from spec to test for vitest
  src/old_ui/AppLink/AppLink.test.jsx
  src/old_ui/Avatar/Avatar.test.jsx
  src/old_ui/Card/Card.test.jsx
  src/old_ui/Icon/Icon.test.jsx
  src/old_ui/Message/Message.test.jsx
  src/old_ui/User/User.test.jsx
Due: none

setup CI to run vitest tests
  .github/workflows/ci.yml
Due: none

add in vitest
  package.json
  src/vitest.setup.js
  vitest.config.mjs
  yarn.lock
Due: none

temp
  src/old_ui/Icon/svg/index.jsx
  src/ui/Icon/svg/developer/index.jsx
  src/ui/Icon/svg/outline/index.jsx
  src/ui/Icon/svg/solid/index.jsx
Due: UI

only include src files in coverage reporting
  vitest.config.mjs
Due: none

whoops didn't mean to commit these
  src/old_ui/Icon/svg/index.jsx
  src/ui/Icon/svg/developer/index.jsx
  src/ui/Icon/svg/outline/index.jsx
  src/ui/Icon/svg/solid/index.jsx
Due: UI

conditionally enable junit test reporter
  .github/workflows/ci.yml
  vitest.config.mjs
Due: none

exclude some files from coverage reporting
  codecov.yml
  src/vitest.setup.ts
  vitest.config.mjs
Due: none
