Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

rename current bundle summary to bundle summary old
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/index.ts
Due: Pages

update bundle content to conditionally render new summary component
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

add tests
  src/pages/OwnerPage/OwnerPage.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
  src/services/trial/useStartTrial.spec.tsx
  src/services/trial/useStartTrial.ts
Due: Pages, Services

No longer send `to` param on logout (#2590)
  src/layouts/Header/Dropdown.spec.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Layouts, Services

fix bug for inactive key due to looking for space
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/context/activeContext.js
Due: Shared

fix for the all button
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
Due: Shared

feat: Add branch selector to new bundle summary (#2607)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/index.ts
Due: Pages

add route to repo page
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

update bundle summary to update the url with the selected branch
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
Due: Pages

update useNavLinks to support branch being passed to bundles tab
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Services

feat: Add branch route param to bundles route (#2611)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

fix: GH Action codeblock in onboarding doc (#2599)
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
Due: Pages

add a replace to the key string to swap space for _
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
Due: Shared

Return rejected promise instead of null when response parse fails
  src/services/access/useSessions.spec.tsx
  src/services/access/useSessions.ts
Due: Services

uncomment icon, add UT's, create box on new repo page
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/ui/Icon/svg/outline/index.js
  src/ui/Icon/svg/solid/index.js
Due: Pages, UI

remove these hooks cause we don't need them anymore
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleBranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleBranchSelector.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleSummary.ts
Due: Pages

create component to contain the branch selector
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
Due: Pages

refactor bundle summary component for upcoming bundle selector to play nicely
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
Due: Pages

rename file to match hook name
  src/services/branches/index.js
  src/services/branches/useBranchBundleSummary.spec.tsx
  src/services/branches/useBranchBundleSummary.tsx
Due: Services

create hook to fetch the list of bundle names for a given branch
  src/services/branches/useBranchBundlesNames.tsx
Due: Services

add in tests
  src/services/branches/useBranchBundlesNames.spec.tsx
Due: Services

feat: Add customer intent to the onboarding page (TOS) (#2591)
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
  src/layouts/BaseLayout/hooks/useUserAccessGate.spec.tsx
  src/pages/TermsOfService/TermsOfService.spec.tsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.spec.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
  src/services/user/enums.ts
  src/services/user/index.js
  src/services/user/useUser.js
Due: Layouts, Pages, Services

cleanup TextInput
  src/ui/TextInput/TextInput.tsx
Due: UI

update billing
  src/shared/utils/billing.js
Due: Shared

update useFileWithMainCoverage
  src/services/pathContents/useFileWithMainCoverage.spec.js
Due: Services

update useCoverageWithFilters
  src/services/file/useCoverageWithFilters.spec.js
Due: Services

update FilesChangedTable
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
Due: Pages

update ComponentsTable
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
Due: Pages

update IndirectChangesTable
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
Due: Pages

update FilesChangedTable
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
Due: Pages

remove changes to tests as chain doesn't seem to want to play nice without importing everything
  src/services/file/useCoverageWithFilters.spec.js
  src/services/pathContents/useFileWithMainCoverage.spec.js
Due: Services

ref: clean up some lodash imports (#2616)
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/shared/utils/billing.js
  src/ui/TextInput/TextInput.tsx
Due: Pages, Shared, UI

feat: Create hook to fetch list of bundles for a branch (#2615)
  src/services/branches/index.js
  src/services/branches/useBranchBundleSummary.spec.tsx
  src/services/branches/useBranchBundleSummary.tsx
  src/services/branches/useBranchBundlesNames.spec.tsx
  src/services/branches/useBranchBundlesNames.tsx
Due: Services

ref: Branch selector into just a single component (#2614)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleBranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleBranchSelector.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleSummary.ts
Due: Pages

slight tweak to mock name
  src/services/branches/useBranchBundlesNames.spec.tsx
Due: Services

allow button text content to be overflow hidden when too big
  src/ui/Select/Select.jsx
Due: UI

add new bundle routes to RepoPage
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

update BundleSummary to create and setup resetSelected for branch and bundle selector
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
Due: Pages

update BranchSelector to accept function that will reset bundle select
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
Due: Pages

add bundle option to bundle route in useNavLinks
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Services
