Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

convert useRepos to TS and fix test mocks
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/pages/RepoPage/DeactivatedRepo/DeactivatedRepo.spec.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.jsx
  src/pages/RepoPage/RepoPage.tsx
  src/services/repo/hooks.spec.js
  src/services/repo/useRepo.js
  src/services/repo/useRepo.ts
Due: Pages, Services

whitespace!
  codecov.yml
Due: none

add basic useRepo spec file
  src/services/repo/useRepo.spec.tsx
  src/services/repo/useRepo.ts
Due: Services

fix: remove the thingy
  codecov.yml
Due: none

Revert "Show install help banner in global top banners (#2684)"
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
Due: Shared

Revert "Show install help banner in global top banners (#2684)" (#2691)
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
Due: Shared

ref: redirect on 401 unauthorization error (#2683)
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
  src/shared/api/api.js
  src/shared/api/api.test.js
Due: Pages, Shared

remove flags from CommitDetailPage
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
Due: Pages

remove flags from PullRequestPage
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
Due: Pages

remove flags from CommitsTable
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
Due: Pages

remove flags from CommitsTableTeam
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
Due: Pages

remove flags from RepoPage
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

remove flags from RepoPageTabs
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

remove flags from BundleContent
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

remove flags from CommitsTable
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
Due: Pages

remove flags from CommitsTableTeam
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
Due: Pages

remove flags from PullsTable
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
Due: Pages

remove flags from PullsTableTeam
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.tsx
Due: Pages

remove old BundleSummary
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/index.ts
Due: Pages

remove old BundleTable
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/index.ts
Due: Pages

remove old EmptyTable
  src/pages/RepoPage/BundlesTab/BundleContent/EmptyTable/EmptyTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/EmptyTable/EmptyTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/EmptyTable/index.ts
Due: Pages

wip
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
Due: Services

Use same length for components select
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
Due: Pages

ref: Convert useRepo to TS (#2688)
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/pages/RepoPage/DeactivatedRepo/DeactivatedRepo.spec.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.jsx
  src/pages/RepoPage/RepoPage.tsx
  src/services/repo/hooks.spec.js
  src/services/repo/useRepo.js
  src/services/repo/useRepo.spec.tsx
  src/services/repo/useRepo.ts
Due: Pages, Services

Revert "Do the same to logout button"
  src/layouts/Header/Dropdown.spec.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Layouts, Services

Revert change to logout button
  src/layouts/Header/Dropdown.spec.jsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Layouts, Services

Move header in indirect changes to table
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
Due: Pages

undo spec changes
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.spec.jsx
Due: Pages

update test
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.spec.jsx
Due: Pages

fix: update discount schema with proper zod object (#2666)
  src/services/account/mocks.js
  src/services/account/useAccountDetails.ts
Due: Services

Convert useTableDefaultSort to ts
  src/shared/ContentsTable/useTableDefaultSort/index.ts
  src/shared/ContentsTable/useTableDefaultSort/useTableDefaultSort.js
  src/shared/ContentsTable/useTableDefaultSort/useTableDefaultSort.spec.tsx
  src/shared/ContentsTable/useTableDefaultSort/useTableDefaultSort.ts
Due: Shared

Use React.FC in test
  src/shared/ContentsTable/useTableDefaultSort/useTableDefaultSort.spec.tsx
Due: Shared

Convert usePullTreePaths to ts
  src/shared/treePaths/usePullTreePaths.js
  src/shared/treePaths/usePullTreePaths.ts
Due: Shared

Convert file entry stuff to ts
  src/services/file/useCoverageWithFilters.js
  src/services/file/useCoverageWithFilters.spec.js
  src/services/file/utils.ts
  src/services/pathContents/branch/file/usePrefetchBranchFileEntry.js
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/services/pathContents/constants.ts
  src/services/pathContents/pull/file/index.ts
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.js
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.js
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.tsx
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.tsx
  src/shared/ContentsTable/constants.js
  src/shared/ContentsTable/constants.ts
Due: Services, Shared

Fix tests
  src/services/pathContents/pull/file/usePrefetchPullFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.tsx
Due: Services, Shared

wip 2
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.js
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.js
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/services/repo/useRepoConfig.ts
  src/shared/utils/determineProgressColor.ts
Due: Pages, Services, Shared

Remove unneeded function
  src/services/pathContents/constants.ts
Due: Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
