Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

test: add tests for missing coverage
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/UserCount/UserCount.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/UserCount/UserCount.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/UserCount/UserCount.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/UserCount/UserCount.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpgradeForm2.spec.jsx
Due: Pages

Update flaky tests (#2431)
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.js
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.spec.js
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.jsx
  src/pages/PullRequestPage/subroute/IndirectChangesTab/IndirectChangesInfo/IndirectChangesInfo.spec.jsx
Due: Pages

feat: Add hook for get components of a repo/branch with filtering (#827) (#2439)
  src/services/branches/index.js
  src/services/branches/useBranchComponents.spec.tsx
  src/services/branches/useBranchComponents.tsx
Due: Services

Add component attrs
  src/services/commit/useCommitComponents.tsx
Due: Services

use activate-user
  src/services/commit/useCommitComponents.tsx
Due: Services

[feat] Add useCommitComponents hook (#2447)
  src/services/commit/useCommitComponents.spec.tsx
  src/services/commit/useCommitComponents.tsx
Due: Services

Fix review issues and bump version
  .github/workflows/ci.yml
  .github/workflows/self-hosted-release-pr.yml
  .github/workflows/self-hosted-release.yml
  Makefile
Due: none

update commit based coverage hook
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.tsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/services/commit/index.js
  src/services/commit/useCommitComponents.tsx
  src/services/file/index.js
  src/services/file/useCommitBasedCoverageForFileViewer.js
  src/services/file/useCoverageWithFilters.js
  src/services/file/useCoverageWithFilters.spec.js
  src/shared/RawFileviewer/RawFileviewer.jsx
Due: Pages, Services, Shared

build: Few tweaks to Codecov yaml (#2445)
  codecov.yml
Due: none

add new useBranchHasCommits hook
  src/services/branches/index.js
  src/services/branches/useBranchHasCommits.spec.tsx
  src/services/branches/useBranchHasCommits.tsx
Due: Services

select all branches when default branch has no commits on initial page view
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
Due: Pages

Add sed for vcs (#2438)
  .github/workflows/ci.yml
  .github/workflows/self-hosted-release-pr.yml
  .github/workflows/self-hosted-release.yml
  Makefile
  docker/start-nginx.sh
Due: none

turn off github annotations for codecov
  codecov.yml
Due: none

swap to using a more constant value
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
Due: Pages

feat: Default to All branches when default branch has no commits (#2446)
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/services/branches/index.js
  src/services/branches/useBranchHasCommits.spec.tsx
  src/services/branches/useBranchHasCommits.tsx
Due: Pages, Services

Revert "feat: Default to All branches when default branch has no commits (#2446)"
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/services/branches/index.js
  src/services/branches/useBranchHasCommits.spec.tsx
  src/services/branches/useBranchHasCommits.tsx
Due: Pages, Services

Revert "feat: Default to All branches when default branch has no commits (#2446)" (#2448)
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/services/branches/index.js
  src/services/branches/useBranchHasCommits.spec.tsx
  src/services/branches/useBranchHasCommits.tsx
Due: Pages, Services

it should be a lowercase I
  src/services/branches/useBranchHasCommits.tsx
Due: Services

fix tests
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/services/branches/useBranchHasCommits.spec.tsx
Due: Pages, Services

feat: add config specification for dedicated namespace environments
  src/config.js
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.jsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.spec.jsx
Due: Shared

Update tests
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.tsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/services/branches/useBranchComponents.tsx
  src/services/commit/useCommitComponents.tsx
  src/services/file/useCoverageWithFilters.js
  src/services/file/useCoverageWithFilters.spec.js
  src/services/file/utils.js
Due: Pages, Services

update vars
  src/services/commit/useCommitComponents.tsx
  src/services/file/useCommitBasedCoverageForFileViewer.spec.js
Due: Services

update tests
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.spec.jsx
Due: Services, Shared

f
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.spec.tsx
Due: Services

test: adjust tests to adhere to better practices
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/UserCount/UserCount.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/UserCount/UserCount.spec.tsx
Due: Pages

update with files explorer components selector
  src/pages/PullRequestPage/subroute/FileExplorer/FileExplorer.jsx
  src/pages/PullRequestPage/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/PullRequestPage/subroute/FileExplorer/hooks/useRepoPullContentsTable.js
  src/pages/PullRequestPage/subroute/FileExplorer/hooks/useRepoPullContentsTable.spec.js
Due: Pages

feat: Update components tab with components selector
  src/pages/PullRequestPage/subroute/ComponentsTab/ComponentsTab.jsx
  src/pages/PullRequestPage/subroute/ComponentsTab/ComponentsTab.spec.jsx
  src/pages/PullRequestPage/subroute/ComponentsTab/hooks/query.ts
  src/pages/PullRequestPage/subroute/ComponentsTab/hooks/useComponentComparison.spec.tsx
  src/pages/PullRequestPage/subroute/ComponentsTab/hooks/useComponentComparison.tsx
Due: Pages

update to no divs
  src/pages/PullRequestPage/subroute/ComponentsTab/ComponentsTab.jsx
Due: Pages

codecov bot suggestions
  src/pages/PullRequestPage/subroute/ComponentsTab/hooks/query.ts
  src/pages/PullRequestPage/subroute/ComponentsTab/hooks/useComponentComparison.spec.tsx
Due: Pages

feat: Update components tab with components selector (#2451)
  src/pages/PullRequestPage/subroute/ComponentsTab/ComponentsTab.jsx
  src/pages/PullRequestPage/subroute/ComponentsTab/ComponentsTab.spec.jsx
  src/pages/PullRequestPage/subroute/ComponentsTab/hooks/query.ts
  src/pages/PullRequestPage/subroute/ComponentsTab/hooks/useComponentComparison.spec.tsx
  src/pages/PullRequestPage/subroute/ComponentsTab/hooks/useComponentComparison.tsx
Due: Pages

add components selector by commit file
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.tsx
  src/services/branches/useBranchComponents.tsx
Due: Pages, Services

update with files explorer components selector (#2450)
  src/pages/PullRequestPage/subroute/FileExplorer/FileExplorer.jsx
  src/pages/PullRequestPage/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/PullRequestPage/subroute/FileExplorer/hooks/useRepoPullContentsTable.js
  src/pages/PullRequestPage/subroute/FileExplorer/hooks/useRepoPullContentsTable.spec.js
Due: Pages

feat: Add team plan controllers (#2444)
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/ProPlanController/UserCount/UserCount.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/BillingOptions/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/PriceCallout/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/TeamPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/UserCount/UserCount.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/UserCount/UserCount.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/UserCount/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/TeamPlanController/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpgradeForm2.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpgradeForm2.spec.jsx
Due: Pages

feat: Default to All branches when default branch has no commits - Round 2 (#2449)
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/services/branches/index.js
  src/services/branches/useBranchHasCommits.spec.tsx
  src/services/branches/useBranchHasCommits.tsx
Due: Pages, Services

use optional
  src/services/branches/useBranchComponents.tsx
Due: Services

update tests
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/ComponentsSelectCommit.tsx
Due: Pages

temp disable ai pr reviewer
  codecov.yml
Due: none

feat: Add components selector for commits and filter by it on the commits impacted files tab
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/index.js
  src/pages/CommitDetailPage/subRoute/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/subRoute/FilesChangedTab/FilesChangedTable/FilesChangedTable.jsx
  src/services/commit/index.js
  src/services/commit/useCommitComponents.tsx
Due: Pages, Services

feat: add sentry plan controllers
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/BillingOptions/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/PriceCallout/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/SentryPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/UserCount/UserCount.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/UserCount/UserCount.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/UserCount/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/Controllers/SentryPlanController/index.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpgradeForm2.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm2/UpgradeForm2.spec.jsx
  src/shared/utils/billing.js
  src/shared/utils/upgradeForm.js
Due: Pages, Shared

build: Disable Codecov Annotations and AI Reviewer (#2453)
  codecov.yml
Due: none

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
