Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

update GitHubActions
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
Due: Pages

update ExampleBlurb
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.test.tsx
Due: Pages

update CircleCI
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.test.tsx
Due: Pages

update TrialEligibleBanner
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/TrialEligibleBanner/TrialEligibleBanner.test.tsx
Due: Pages

update PaidPLanSeatsLimitBanner
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/PaidPlanSeatsLimitBanner/PaidPlanSeatsLimitBanner.test.tsx
Due: Pages

update FreePlanSeatsLimitBanner
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/FreePlanSeatsLimitBanner/FreePlanSeatsLimitBanner.test.tsx
Due: Pages

update ActivationRequiredBanner
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredBanner/ActivationRequiredBanner.test.tsx
Due: Pages

update ActivationBanner
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.test.tsx
Due: Pages

update NewRepoTab
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.test.tsx
Due: Pages

update Title
  src/pages/RepoPage/PullsTab/PullsTable/Title/Title.test.tsx
Due: Pages

update PullsTable
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.test.tsx
Due: Pages

update createPullsTableData
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.test.tsx
Due: Pages

update PullsTab
  src/pages/RepoPage/PullsTab/PullsTab.test.tsx
Due: Pages

update enums and index
  src/pages/RepoPage/PullsTab/enums.ts
  src/pages/RepoPage/PullsTab/index.ts
Due: Pages

Updates from editor
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
Due: Pages

chore: Bump vite to resolve vulnerability (#3331)
  package.json
  yarn.lock
Due: none

update CoverageTab
  src/pages/RepoPage/CoverageTab/CoverageTab.test.tsx
Due: Pages

update BackfillBanners
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/BackfillBanners.test.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/BackfillBanners.tsx
Due: Pages

update ComponentsTab
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.test.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.tsx
Due: Pages

update useRepoBackfillingStatus
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/useRepoBackfillingStatus.test.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/useRepoBackfillingStatus.ts
Due: Pages

update SyncingBanner
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.test.tsx
Due: Pages

update TriggerSyncBanner
  src/pages/RepoPage/CoverageTab/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.test.tsx
Due: Pages

update Header
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/Header.test.tsx
Due: Pages

update BranchSelector
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.test.tsx
Due: Pages

update ComponentsTable
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/ComponentsTable.test.tsx
Due: Pages

update DeleteComponentModal
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.test.tsx
Due: Pages

chore: Resolve vulnerability vite
  yarn.lock
Due: none

use label instead of props
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
  src/ui/Icon/Icon.tsx
Due: Shared, UI

feat: Tokenless banner for admin/member views (#3287)
  src/shared/GlobalTopBanners/GlobalTopBanners.test.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/index.ts
  src/ui/Button/Button.jsx
Due: Shared, UI

pin in resolutions
  package.json
  yarn.lock
Due: none

update sentry version
  package.json
  yarn.lock
Due: none

cleanup
  package.json
  yarn.lock
Due: none

chore: Update sentry version (#3337)
  package.json
  yarn.lock
Due: none

chore: Resolve vulnerabilities - express, path-to-regexp
  package.json
  yarn.lock
Due: none

chore: Resolve vulnerability vite (#3336)
  yarn.lock
Due: none

fix: Use coverageAnalytics new graphql fields
  src/services/repos/useRepos.tsx
Due: Services

fix tests
  src/services/repos/useRepos.test.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/shared/utils/demo.test.ts
Due: Services, Shared

fix syntax
  package.json
Due: none

chore: Resolve vulnerabilities - express, path-to-regexp (#3338)
  package.json
  yarn.lock
Due: none
