Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

feat(sentry): Allow filtering of unwanted third party errors (#3124)
  craco.config.js
  package.json
  src/sentry.ts
  yarn.lock
Due: none

update to login button and spec as well
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.spec.jsx
Due: Layouts

fix tests
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.spec.jsx
Due: Layouts

feat: Add coverage icons to virtual file renderer (#3117)
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

fix: Memoize Highlight so it does not re-render on line click (#3123)
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

Pull AppInstallModal out to its own component for reuse
  src/shared/AppInstallModal/AppInstallModal.spec.tsx
  src/shared/AppInstallModal/AppInstallModal.tsx
  src/shared/AppInstallModal/index.ts
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
Due: Shared

Add AppInstallModal to defaultorgselector
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.spec.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
Due: Pages

Remove extra external link icon from GitHubHelpBanner
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
Due: Pages

fix: Make uploads on commit sticky (#3125)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/ui/SummaryDropdown/SummaryDropdown.tsx
Due: Pages, UI

feat: Add share with admin button to DefaultOrgSelector (#3126)
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.spec.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/shared/AppInstallModal/AppInstallModal.spec.tsx
  src/shared/AppInstallModal/AppInstallModal.tsx
  src/shared/AppInstallModal/index.ts
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
Due: Pages, Shared

Move ToggleElement to ui
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/ui/ToggleElement/ToggleElement.spec.tsx
  src/ui/ToggleElement/ToggleElement.tsx
  src/ui/ToggleElement/index.ts
Due: Pages, UI

Use ui/ToggleElement on OverviewTab
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/ToggleElement/ToggleElement.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/ToggleElement/ToggleElement.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/ToggleElement/index.js
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.jsx
Due: Pages

add clear and reset
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
Due: Layouts

feat: Shift error boundary to include header (#3119)
  src/index.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.spec.jsx
Due: Layouts

add in some more language support
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

update test to add file extension tag to sentry message capture
  src/shared/utils/prismLanguageMapper.spec.ts
Due: Shared

ref: Consolidate ToggleElement components (#3128)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/ToggleElement/ToggleElement.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/ToggleElement/ToggleElement.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/ToggleElement/index.js
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.jsx
  src/ui/ToggleElement/ToggleElement.spec.tsx
  src/ui/ToggleElement/ToggleElement.tsx
  src/ui/ToggleElement/index.ts
Due: Pages, UI

actually use a resize observer
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

use some state to set the scroll margin after everything has rendered
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

switch to using a resize observer
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

Ignore AccountSettings test
  src/App.spec.tsx
Due: none

Add comment
  src/App.spec.tsx
Due: none

chore: Ignore flaky App.spec.tsx - AccountSettings test (#3131)
  src/App.spec.tsx
Due: none

test updates
  src/App.spec.tsx
Due: none

move var outside, mock isAdmin, add other mock hooks
  src/App.spec.tsx
Due: none

remove env var setting when not needed
  src/App.spec.tsx
Due: none

try suspense around it
  src/App.spec.tsx
Due: none

chore: Add support for more languages (#3129)
  src/shared/utils/prismLanguageMapper.spec.ts
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

Add Pro Plan Feedback survey banner
  src/services/navigation/useNavLinks/useNavLinks.js
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/ProPlanFeedbackBanner.spec.tsx
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/ProPlanFeedbackBanner.tsx
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/index.ts
Due: Services, Shared

Fix typo
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/ProPlanFeedbackBanner.spec.tsx
Due: Shared

Add test
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
Due: Shared

Remove console log
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/ProPlanFeedbackBanner.tsx
Due: Shared

non-lazy
  src/App.spec.tsx
  src/App.tsx
Due: none

dev: remove test skip and move login tests to end (#3132)
  src/App.spec.tsx
  src/App.tsx
Due: none

Rola changes
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/ProPlanFeedbackBanner.tsx
Due: Services, Shared

feat: Add Pro Plan feedback survey banner (#3134)
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/ProPlanFeedbackBanner.spec.tsx
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/ProPlanFeedbackBanner.tsx
  src/shared/GlobalTopBanners/ProPlanFeedbackBanner/index.ts
Due: Services, Shared

Add bundle analysis feedback banner
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/shared/GlobalTopBanners/BundleFeedbackBanner/BundleFeedbackBanner.spec.tsx
  src/shared/GlobalTopBanners/BundleFeedbackBanner/BundleFeedbackBanner.tsx
  src/shared/GlobalTopBanners/BundleFeedbackBanner/index.ts
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.tsx
  src/ui/TopBanner/TopBanner.tsx
Due: Services, Shared, UI

feat: Add bundle analysis feedback survey banner (#3135)
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/shared/GlobalTopBanners/BundleFeedbackBanner/BundleFeedbackBanner.spec.tsx
  src/shared/GlobalTopBanners/BundleFeedbackBanner/BundleFeedbackBanner.tsx
  src/shared/GlobalTopBanners/BundleFeedbackBanner/index.ts
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.tsx
  src/ui/TopBanner/TopBanner.tsx
Due: Services, Shared, UI

init
  src/globals.css
Due: none

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
