Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

extend the test timeout
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
Due: Pages

maybe give the sunburst actual data
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
Due: Pages

bump to 200_000
  src/pages/RepoPage/CoverageTab/CoverageTab.jsx
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
Due: Pages

use ternary to be safe
  src/pages/RepoPage/CoverageTab/CoverageTab.jsx
Due: Pages

adjust tests
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
Due: Pages

add default return to useRepoCoverage
  src/services/repo/useRepoCoverage.tsx
Due: Services

bump to 100_000
  src/pages/RepoPage/CoverageTab/CoverageTab.jsx
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
Due: Pages

idk maybe waiting directly for the query client it'll be happier?
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
Due: Pages

mock out the sunburst cause it just is a pain
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
Due: Pages

fix: Hide sunburst on very large repos (#2850)
  src/pages/RepoPage/CoverageTab/CoverageTab.jsx
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
  src/pages/RepoPage/CoverageTab/hooks/useCoverageTabData.spec.tsx
  src/pages/RepoPage/CoverageTab/hooks/useCoverageTabData.tsx
  src/pages/RepoPage/CoverageTab/subroute/CoverageChart/CoverageChart.jsx
  src/services/repo/useRepoCoverage.tsx
Due: Pages, Services

fix: Directly render bundle onboarding (#2890)
  src/pages/RepoPage/BundlesTab/BundlesTab.spec.tsx
  src/pages/RepoPage/BundlesTab/BundlesTab.tsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

Convert CopyClipboard to TS
  src/ui/CopyClipboard/CopyClipboard.spec.tsx
  src/ui/CopyClipboard/CopyClipboard.tsx
  src/ui/CopyClipboard/index.ts
  src/ui/Icon/Icon.tsx
Due: UI

Convert CopyClipboard stories to TS
  src/ui/CopyClipboard/CopyClipboard.stories.jsx
  src/ui/CopyClipboard/CopyClipboard.stories.tsx
Due: none

Overhaul CopyClipboard API
  src/ui/CopyClipboard/CopyClipboard.spec.tsx
  src/ui/CopyClipboard/CopyClipboard.stories.tsx
  src/ui/CopyClipboard/CopyClipboard.tsx
  src/ui/CopyClipboard/index.ts
Due: UI

Refactor CopyClipboard calls to work with new api
  src/pages/AccountSettings/tabs/Access/CreateTokenModal.jsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
  src/ui/CodeRenderer/CodeRendererProgressHeader/CodeRendererProgressHeader.jsx
  src/ui/CodeRenderer/FileHeader/FileHeader.jsx
  src/ui/CopyClipboard/CopyClipboard.spec.tsx
  src/ui/TokenWrapper/TokenWrapper.jsx
Due: Pages, Shared, UI

Fix tests
  src/pages/AccountSettings/tabs/Access/CreateTokenModal.jsx
  src/pages/AccountSettings/tabs/Access/CreateTokenModal.spec.jsx
  src/ui/CodeRenderer/FileHeader/FileHeader.spec.jsx
Due: Pages, UI

Simplify test name
  src/ui/CopyClipboard/CopyClipboard.spec.tsx
Due: UI

Make all copy buttons blue variant
  src/ui/CodeRenderer/CodeRendererProgressHeader/CodeRendererProgressHeader.jsx
  src/ui/CodeRenderer/FileHeader/FileHeader.jsx
Due: UI

Being nice
  src/ui/CodeRenderer/CodeRendererProgressHeader/CodeRendererProgressHeader.jsx
  src/ui/CodeRenderer/FileHeader/FileHeader.jsx
Due: UI

Add test
  src/ui/CodeRenderer/FileHeader/FileHeader.spec.jsx
Due: UI

Add label prop
  src/ui/CopyClipboard/CopyClipboard.spec.tsx
  src/ui/CopyClipboard/CopyClipboard.tsx
Due: UI

Add CopyClipboard labels where appropriate
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/ui/TokenWrapper/TokenWrapper.jsx
Due: Pages, UI

Fix onClick types
  src/ui/CopyClipboard/CopyClipboard.spec.tsx
  src/ui/CopyClipboard/CopyClipboard.tsx
Due: UI

fix: Session Expiration redirects for teams and enterprise (#2889)
  src/config.js
  src/layouts/BaseLayout/BaseLayout.jsx
  src/layouts/EnterpriseLoginLayout/EnterpriseLoginLayout.spec.tsx
  src/layouts/EnterpriseLoginLayout/EnterpriseLoginLayout.tsx
  src/layouts/Header/Dropdown.spec.tsx
  src/layouts/Header/Dropdown.tsx
  src/layouts/LoginLayout/LoginLayout.tsx
  src/ui/A/A.jsx
  src/ui/SessionExpiryTracker/SessionExpiryTracker.spec.tsx
  src/ui/SessionExpiryTracker/SessionExpiryTracker.tsx
  src/ui/SessionExpiryTracker/index.ts
Due: Layouts, UI

initial commit
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.jsx
  src/services/selfHosted/useSelfHostedSettings.spec.tsx
  src/services/selfHosted/useSelfHostedSettings.ts
  src/services/selfHosted/useSelfHostedSettings.tsx
Due: Pages, Services

remove ErasePersonalAccountButton
  src/pages/AccountSettings/tabs/Admin/DeletionCard/ErasePersonalAccountButton.jsx
Due: Pages

update messaging and convert to TS
  src/pages/AccountSettings/tabs/Admin/DeletionCard/DeletionCard.jsx
  src/pages/AccountSettings/tabs/Admin/DeletionCard/DeletionCard.tsx
  src/pages/AccountSettings/tabs/Admin/DeletionCard/index.ts
Due: Pages

Update tests
  src/pages/AccountSettings/tabs/Admin/DeletionCard/DeletionCard.spec.jsx
  src/pages/AccountSettings/tabs/Admin/DeletionCard/DeletionCard.spec.tsx
Due: Pages

ref: Refresh CopyClipboard component (#2882)
  src/pages/AccountSettings/tabs/Access/CreateTokenModal.jsx
  src/pages/AccountSettings/tabs/Access/CreateTokenModal.spec.jsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
  src/ui/CodeRenderer/CodeRendererProgressHeader/CodeRendererProgressHeader.jsx
  src/ui/CodeRenderer/FileHeader/FileHeader.jsx
  src/ui/CodeRenderer/FileHeader/FileHeader.spec.jsx
  src/ui/CopyClipboard/CopyClipboard.jsx
  src/ui/CopyClipboard/CopyClipboard.spec.jsx
  src/ui/CopyClipboard/CopyClipboard.spec.tsx
  src/ui/CopyClipboard/CopyClipboard.stories.jsx
  src/ui/CopyClipboard/CopyClipboard.stories.tsx
  src/ui/CopyClipboard/CopyClipboard.tsx
  src/ui/CopyClipboard/index.js
  src/ui/CopyClipboard/index.ts
  src/ui/Icon/Icon.tsx
  src/ui/TokenWrapper/TokenWrapper.jsx
Due: Pages, Shared, UI

Implement CodeSnippet component
  src/ui/CodeSnippet/CodeSnippet.spec.tsx
  src/ui/CodeSnippet/CodeSnippet.stories.tsx
  src/ui/CodeSnippet/CodeSnippet.tsx
  src/ui/CodeSnippet/index.ts
Due: UI

Fix variable name in test
  src/ui/CodeSnippet/CodeSnippet.spec.tsx
Due: UI

Add prop for onClick in copyclipboard
  src/ui/CodeSnippet/CodeSnippet.spec.tsx
  src/ui/CodeSnippet/CodeSnippet.tsx
Due: UI

Run prettier
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/hooks/useSunburstChart.js
  src/pages/RepoPage/FlagsTab/Header/Header.jsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/ui/Modal/Modal.stories.tsx
  src/ui/RadioInput/RadioInput.spec.jsx
Due: Pages, UI

feat: Implement CodeSnippet component (#2893)
  src/ui/CodeSnippet/CodeSnippet.spec.tsx
  src/ui/CodeSnippet/CodeSnippet.stories.tsx
  src/ui/CodeSnippet/CodeSnippet.tsx
  src/ui/CodeSnippet/index.ts
Due: UI

chore: Run Prettier (#2894)
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/hooks/useSunburstChart.js
  src/pages/RepoPage/FlagsTab/Header/Header.jsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/ui/Modal/Modal.stories.tsx
  src/ui/RadioInput/RadioInput.spec.jsx
Due: Pages, UI

Refactor GitHubActions onboarding
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
Due: Pages

Refactor CircleCI onboarding
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
Due: Pages

Refactor OtherCI onboarding
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
Due: Pages

Refactor Vite onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
Due: Pages

update craco config
  craco.config.js
Due: none

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
