Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

remove the --
  .github/workflows/ci.yml
Due: none

branch clean up
  craco.config.js
  package.json
Due: none

dont commit package-lock
  .gitignore
Due: none

dont need these babel packages
  package.json
  yarn.lock
Due: none

add dev command
  package.json
Due: none

Use alert component
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
Due: Shared

reword some things to make them a bit clearer
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/ToggleElement.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/ToggleElement.tsx
Due: Pages

feat: Move bundle tab trend dropdown (#3019)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/ToggleElement.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/ToggleElement.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/ToggleElement/ToggleElement.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/ToggleElement/index.ts
  src/pages/RepoPage/BundlesTab/BundleContent/TrendDropdown.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/TrendDropdown.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
  src/services/bundleAnalysis/useBundleTrendData.tsx
Due: Pages, Services

Fix Whitespace in `BotErrorBanner`
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
Due: Pages

Update sentry/react
  package-lock.json
  package.json
Due: none

Fix not being able to scroll after sentry feedback form close
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
Due: Layouts

Fix test
  src/layouts/Header/components/HelpDropdown/HelpDropdown.spec.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
Due: Layouts

initial commit
  src/services/user/index.js
  src/services/user/useOwnerRateLimitStatus.spec.tsx
  src/services/user/useOwnerRateLimitStatus.tsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.jsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.spec.tsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.tsx
Due: Services, Shared

fix link
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.tsx
Due: Shared

chore: update braces package to patch vulnerability
  package-lock.json
Due: none

some cleanup
  .github/workflows/ci.yml
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix: Help dropdown user feedback scrolling bug (#3022)
  package-lock.json
  package.json
  src/layouts/Header/components/HelpDropdown/HelpDropdown.spec.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
Due: Layouts

Adjust spacing on header elements
  src/layouts/BaseLayout/BaseLayout.jsx
  src/layouts/Header/Header.tsx
  src/pages/AccountSettings/AccountSettings.jsx
  src/pages/AccountSettings/shared/Header/Header.jsx
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/RepoPage/RepoBreadcrumb.jsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Layouts, Pages

Add guest header behavior to new header
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.spec.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.tsx
  src/layouts/Header/components/GuestHeader/index.ts
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/pages/OwnerPage/hooks/useOwnerPageData.js
  src/pages/OwnerPage/hooks/useOwnerPageData.spec.js
Due: Layouts, Pages

Fix tests
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/components/Navigator/Navigator.spec.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/layouts/LoginLayout/LoginLayout.spec.tsx
  src/layouts/LoginLayout/LoginLayout.tsx
  src/services/user/useMyContexts.spec.tsx
Due: Layouts, Services

Simplify LogoButton
  src/layouts/Header/components/GuestHeader/GuestHeader.tsx
Due: Layouts

Fix commit and pull details breadcrumb
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/CommitDetailPage/hooks/useCommitPageData.spec.tsx
  src/pages/CommitDetailPage/hooks/useCommitPageData.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/pages/RepoPage/context.tsx
  src/services/repo/useRepoOverview.tsx
Due: Pages, Services

Fix test
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
Due: Pages

Remove border on ContextSwitcher avatars
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
Due: Layouts, UI

Ajay changes
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/services/repo/useRepoOverview.tsx
Due: Layouts, Pages, Services

Fix spacing on Members and plan pages
  src/pages/MembersPage/MembersPage.jsx
  src/pages/PlanPage/PlanPage.jsx
Due: Pages

fix enterprise url not properly being set during build
  docker/start-nginx.sh
Due: none

feat: New header polish (#3017)
  src/layouts/BaseLayout/BaseLayout.jsx
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.spec.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.tsx
  src/layouts/Header/components/GuestHeader/index.ts
  src/layouts/Header/components/Navigator/Navigator.spec.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/layouts/LoginLayout/LoginLayout.spec.tsx
  src/layouts/LoginLayout/LoginLayout.tsx
  src/pages/AccountSettings/AccountSettings.jsx
  src/pages/AccountSettings/shared/Header/Header.jsx
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/CommitDetailPage/hooks/useCommitPageData.spec.tsx
  src/pages/CommitDetailPage/hooks/useCommitPageData.tsx
  src/pages/MembersPage/MembersPage.jsx
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/OwnerPage/hooks/useOwnerPageData.js
  src/pages/OwnerPage/hooks/useOwnerPageData.spec.js
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/pages/RepoPage/RepoBreadcrumb.jsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/pages/RepoPage/context.tsx
  src/services/repo/useRepoOverview.tsx
  src/services/user/useMyContexts.spec.tsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
Due: Layouts, Pages, Services, UI

re-run yarn
  yarn.lock
Due: none

[feat] Add repo level exceeded GH rate limit banner (#2999)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/repo/index.ts
  src/services/repo/useRepoRateLimitStatus.spec.tsx
  src/services/repo/useRepoRateLimitStatus.tsx
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
Due: Pages, Services, Shared

Add test
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.spec.tsx
Due: Shared

fix
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.spec.tsx
Due: Shared

fix enterprise url not properly being set during build (#3029)
  docker/start-nginx.sh
Due: none

dev: Use Yarn 4.3.1 instead of npm (#3016)
  .github/workflows/ci.yml
  .gitignore
  .npmrc
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  README.md
  docker/Dockerfile
  netlify.toml
  package-lock.json
  package.json
  public/index.html
  public/mockServiceWorker.js
  src/layouts/LoginLayout/LoginLayout.spec.tsx
  yarn.lock
Due: Layouts

feat: new ui dropdown component
  src/ui/Dropdown/Dropdown.spec.tsx
  src/ui/Dropdown/Dropdown.stories.tsx
  src/ui/Dropdown/Dropdown.tsx
Due: UI

chore: update package.json
  package.json
Due: none

fix: add better styling
  src/ui/Dropdown/Dropdown.tsx
Due: UI

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
