Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

setup the commit bundle analysis component to render a header when there is no coverage present
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
Due: Pages

Update with space in instructions + import type
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/instructions.ts
Due: Pages

update sorting
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

Use newPlan
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/UpgradeDetails.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
Due: Pages

feat: updating email card from gazebo
  src/assets/billing/amex.png
  src/assets/billing/amex.svg
  src/assets/billing/dinners-club.svg
  src/assets/billing/discover.jpg
  src/assets/billing/discover.svg
  src/assets/billing/jcb.svg
  src/assets/billing/mastercard.png
  src/assets/billing/mastercard.svg
  src/assets/billing/union-pay.svg
  src/assets/billing/visa.png
  src/assets/billing/visa.svg
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/index.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CardInformation.jsx
  src/ui/TextInput/TextInput.tsx
Due: Assets, Pages, UI

feat: Update other CI tab with global upload token if exists (#2538)
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/index.js
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/instructions.ts
Due: Pages

first pass
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/FilesChangedTable.tsx
  src/services/commit/useCommit.tsx
Due: Pages, Services

remove getFormValues
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
Due: Pages

Fix default billing control behaviour (#2533)
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/UpgradeDetails.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/UpgradeDetails.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/shared/utils/upgradeForm.js
Due: Pages, Shared

update with v4 instructions for circle ci
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
Due: Pages

add path errors gql messages
  src/services/pathContents/branch/dir/constants.js
  src/services/pathContents/commit/dir/constants.js
  src/services/pathContents/pull/dir/constants.js
  src/services/pull/fragments.js
Due: Services

pass two
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/FilesChangedTable.tsx
Due: Pages

fix: Update with v4 yaml input for repo token
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
Due: Pages

update with global copy
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
Due: Pages

fix: Update repo token with v4 instructions for circle ci (#2547)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
Due: Pages

fix: Update other ci with v4 instructions
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
Due: Pages

Test infinite scroll
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/services/repos/useRepos.tsx
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Pages, Services, Shared

wrap up indirect changes table
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/services/commit/useCommit.tsx
Due: Pages, Services

update usePullCoverageDropdown to just return the pull
  src/services/pull/usePullCoverageDropdownSummary.spec.tsx
  src/services/pull/usePullCoverageDropdownSummary.tsx
Due: Services

create new PullCoverageDropdown component
  src/pages/PullRequestPage/Dropdowns/PullCoverageDropdown.tsx
Due: Pages

add tests for pull coverage dropdown
  src/pages/PullRequestPage/Dropdowns/PullCoverageDropdown.spec.tsx
Due: Pages

ref: Refactor indirect changed tab in commit page to use new ui/table
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
Due: Pages

fix: Update with v4 yaml input for repo token (#2548)
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
Due: Pages

feat: Create pull coverage dropdown (#2551)
  src/pages/PullRequestPage/Dropdowns/PullCoverageDropdown.spec.tsx
  src/pages/PullRequestPage/Dropdowns/PullCoverageDropdown.tsx
  src/services/pull/usePullCoverageDropdownSummary.spec.tsx
  src/services/pull/usePullCoverageDropdownSummary.tsx
Due: Pages, Services

add bundle message component for pull bundle analysis
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/index.ts
Due: Pages

update usePullBADropdownSummary hook to return just the pull
  src/services/pull/usePullBADropdownSummary.spec.tsx
  src/services/pull/usePullBADropdownSummary.tsx
Due: Services

switch to isLoading
  src/services/repos/useRepos.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Services, Shared

fix: Update other ci with v4 instructions (#2549)
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
Due: Pages

small fix to usePullBundleList
  src/services/pull/usePullBundleList.tsx
Due: Services

add in PullBundleDropdown component
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.spec.tsx
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.tsx
Due: Pages

define variable type
  src/services/repos/useRepos.tsx
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
Due: Services, Shared

update with tests
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
Due: Pages

Add sort tests
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
Due: Shared

Additional tests
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
Due: Shared

Uodate with more tests
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.tsx
Due: Pages

create new hook to fetch bundle summary information for a given branch
  src/services/branches/index.js
  src/services/branches/useBranchBundleSummary.tsx
Due: Services

add in tests for new hook
  src/services/branches/useBranchBundleSummary.spec.tsx
Due: Services

fetch list of bundles at the same time as this hook will be replaced very soon
  src/services/branches/useBranchBundles.spec.tsx
  src/services/branches/useBranchBundles.tsx
Due: Services

update index file
  src/services/branches/index.js
Due: Services

ref: Refactor flags table in PR page
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.tsx
  src/services/pull/usePull.tsx
Due: Pages, Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
