Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

remove need for VITE_
  README.md
  craco.config.cjs
  src/config.js
  src/config.spec.js
  src/setupTestGlobal.js
Due: none

add in Vite config and vite index.html file
  index.html
  vite.config.mjs
Due: none

fix order of old icons
  src/old_ui/Icon/svg/index.jsx
Due: none

remove this command
  package.json
Due: none

this runs more often
  package.json
Due: none

remove vite icons when committing
  package.json
Due: none

reorder old icons order
  scripts/icon-list.mjs
Due: none

apply formatting changes
  vite.config.mjs
Due: none

feat: Render okta errors based on error param
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/OktaErrorBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/OktaErrorBanners.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/enums.ts
  src/shared/GlobalTopBanners/OktaErrorBanners/index.ts
  src/ui/TopBanner/TopBanner.stories.tsx
  src/ui/TopBanner/TopBanner.tsx
Due: Shared, UI

tailwind doesn't like this extension it seems
  tailwind.config.js
Due: none

forgot the lint rules are tied to the file name
  .eslintrc.json
Due: none

typo
  README.md
Due: none

git ignore didn't work out as planned
  .gitignore
Due: none

alphabetize icon list
  scripts/icon-list.mjs
  src/old_ui/Icon/svg/index.jsx
Due: none

fix dark mode issue
  index.html
Due: none

update color for dmode
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/SpecialOffer/SpecialOffer.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanSpecialOffer.tsx
Due: Pages

properly format these svg index files
  src/ui/Icon/svg/developer/index.jsx
  src/ui/Icon/svg/outline/index.jsx
  src/ui/Icon/svg/solid/index.jsx
Due: UI

add new UploadErrorEnum values
  src/shared/utils/commit.ts
Due: Shared

add new UploadErrorEnum values (#3193)
  src/shared/utils/commit.ts
Due: Shared

fix: Update cancel color for dark mode (#3192)
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/SpecialOffer/SpecialOffer.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanSpecialOffer.tsx
Due: Pages

commit this and revisit tomorrow
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/hooks.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/useBarecancel.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/utils.js
Due: Pages

swap from :new to :vite
  package.json
Due: none

remove Pagination component
  src/old_ui/Pagination/PageButton.jsx
  src/old_ui/Pagination/Pagination.jsx
  src/old_ui/Pagination/Pagination.spec.jsx
  src/old_ui/Pagination/Pagination.stories.jsx
  src/old_ui/Pagination/index.js
Due: none

remove old ui modal
  src/old_ui/Modal/Modal.jsx
  src/old_ui/Modal/Modal.spec.jsx
  src/old_ui/Modal/index.js
Due: none

remove .only from test files
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/services/file/useCommitBasedCoverageForFileViewer.spec.js
Due: Pages, Services

remove old ui Toggle
  src/old_ui/Toggle/Toggle.jsx
  src/old_ui/Toggle/Toggle.spec.jsx
  src/old_ui/Toggle/Toggle.stories.jsx
  src/old_ui/Toggle/index.js
Due: none

remove old ui button
  src/old_ui/Button/Button.jsx
  src/old_ui/Button/Button.spec.jsx
  src/old_ui/Button/Button.stories.jsx
  src/old_ui/Button/index.js
Due: none

remove old ui TextInput
  src/old_ui/TextInput/TextInput.jsx
  src/old_ui/TextInput/TextInput.spec.jsx
  src/old_ui/TextInput/TextInput.stories.jsx
  src/old_ui/TextInput/index.js
Due: none

refactor enums
  src/shared/GlobalTopBanners/OktaErrorBanners/OktaErrorBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/enums.ts
Due: Shared

okta banners refactor
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.tsx
Due: Shared

add in codecov vite plugin
  package.json
  vite.config.mjs
  yarn.lock
Due: none

add in Sentry Vite plugin
  package.json
  vite.config.mjs
  yarn.lock
Due: none

tweak vite config a little bit
  vite.config.mjs
Due: none

Remove outdated Readme widgets
  README.md
Due: none

capture message in sentry if unknown error
  src/shared/GlobalTopBanners/OktaErrorBanners/OktaErrorBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaErrorBanners/enums.ts
Due: Shared

chore: Remove outdated README badges (#3198)
  README.md
Due: none

rename cancellation stuff, remove some complexity and it works
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/CancelButton.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/utils.js
Due: Pages

remove consolelogs
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/hooks.js
Due: Pages

remove rules from linter
  .eslintrc.json
Due: none

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
