Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

Update test
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.test.jsx
Due: Pages

Update test
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.jsx
Due: Pages

Update test
  .eslintrc.cjs
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.jsx
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.test.jsx
Due: Pages

Update .eslintrc.cjs
  .eslintrc.cjs
Due: none

Update rule
  .eslintrc.cjs
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.tsx
Due: Pages, Shared

Update rule
  .eslintrc.cjs
Due: none

Update tests
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/ManageAdminCard.test.jsx
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.test.tsx
Due: Pages, Shared

[chore] Add rule to make provider casing more consistent (#3640)
  .eslintrc.cjs
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.jsx
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.test.jsx
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/ManageAdminCard.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.test.jsx
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.test.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
  src/pages/SyncProviderPage/SyncButton.test.tsx
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.test.tsx
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.tsx
  src/shared/utils/loginProviders.ts
  src/shared/utils/provider.test.ts
  src/shared/utils/provider.ts
Due: Pages, Shared

test: Add user dropdown toggle test
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
Due: Layouts

test: Modify test
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
Due: Layouts

chore: Remove unnecessary console log
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
Due: Layouts

feat: Change to new TOS page
  src/pages/TermsOfService/TermsOfService.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
Due: Pages

fix: copy tweak
  src/shared/AppInstallModal/AppInstallModal.tsx
Due: Shared

fix: bold tweak
  src/pages/TermsOfService/TermsOfService.tsx
Due: Pages

dm bg color weird
  src/ui/Select/Select.jsx
Due: UI

test: Add personal organization test
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
Due: UI

fix: name key change
  src/pages/TermsOfService/TermsOfService.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
Due: Pages

feat: Add Success Variant Toast (#3639)
  src/services/toast/ErrorToast/ErrorToast.test.tsx
  src/services/toast/ErrorToast/index.ts
  src/services/toast/GenericToast/GenericToast.test.tsx
  src/services/toast/GenericToast/GenericToast.tsx
  src/services/toast/GenericToast/index.ts
  src/services/toast/SuccessToast/SuccessToast.test.tsx
  src/services/toast/SuccessToast/SuccessToast.tsx
  src/services/toast/renderToast.test.tsx
  src/services/toast/renderToast.tsx
Due: Services

use global upload token secret
  .github/workflows/ci.yml
Due: none

also upload coverage with gut
  .github/workflows/ci.yml
Due: none

only run tests and upload to qa
  .github/workflows/ci.yml
Due: none

only upload coverage
  .github/workflows/ci.yml
Due: none

add in new query to fetch list of bundles for the modal
  src/services/bundleAnalysis/CachedBundlesQueryOpts.tsx
Due: Services

add in tests for new query
  src/services/bundleAnalysis/CachedBundlesQueryOpts.test.tsx
Due: Services

ref: Migrate useRepoConfigurationStatus to TS Query V5 (#3618)
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/RepoConfigurationStatusQueryOpts.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/RepoConfigurationStatusQueryOpts.tsx
Due: Pages

chore: Upgrade to Vite V6 (#3614)
  package.json
  yarn.lock
Due: none

make test commit
  src/App.tsx
Due: none

feat: Add in CachedBundlesQueryOpts (#3644)
  src/services/bundleAnalysis/CachedBundlesQueryOpts.test.tsx
  src/services/bundleAnalysis/CachedBundlesQueryOpts.tsx
Due: Services

chore: remove cached bundle feature flag (#3638)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
Due: Pages

fix: background color on trend selector container for dark mode (#3641)
  src/ui/Select/Select.jsx
Due: UI

update TS and fix tsc
  package.json
  src/pages/RepoPage/context.tsx
  src/shared/AppLink/AppLink.tsx
  src/ui/Breadcrumb/Breadcrumb.test.tsx
  src/ui/Breadcrumb/Breadcrumb.tsx
  yarn.lock
Due: Pages, Shared, UI

dev: Update TS fomr 4.9.5 -> ~5.7.3 (#3647)
  package.json
  src/pages/RepoPage/context.tsx
  src/shared/AppLink/AppLink.tsx
  src/ui/Breadcrumb/Breadcrumb.test.tsx
  src/ui/Breadcrumb/Breadcrumb.tsx
  yarn.lock
Due: Pages, Shared, UI

create new mutation for updating bundle cache state
  src/services/bundleAnalysis/useUpdateBundleCache.tsx
Due: Services

add in tests for new mutation
  src/services/bundleAnalysis/useUpdateBundleCache.test.tsx
Due: Services

Prepare release 25.1.10
  VERSION
Due: none

fix: Only show onboarding for new users, remove older app install modal, remove customer intent
  src/App.test.tsx
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.jsx
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.test.jsx
  src/layouts/BaseLayout/InstallationHelpBanner/index.ts
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
  src/layouts/BaseLayout/hooks/useUserAccessGate.test.tsx
  src/layouts/Header/Header.test.tsx
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/AccountSettings/AccountSettings.test.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.test.jsx
  src/pages/AccountSettings/tabs/Access/Access.test.tsx
  src/pages/AccountSettings/tabs/Admin/Admin.test.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.test.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/pages/DefaultOrgSelector/index.js
  src/pages/OwnerPage/OnboardingContainerContext/context.test.tsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/pages/RepoPage/RepoPage.test.tsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/pages/TermsOfService/constants.ts
  src/services/user/useUser.test.tsx
  src/services/user/useUser.ts
  src/shared/AppInstallModal/AppInstallModal.test.tsx
  src/shared/AppInstallModal/AppInstallModal.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.test.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.test.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/index.ts
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
Due: Layouts, Pages, Services, Shared

test: remove it.only
  src/layouts/BaseLayout/hooks/useUserAccessGate.test.tsx
Due: Layouts

remove new repo flag and update tests
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/services/orgUploadToken/useOrgUploadToken.ts
Due: Pages, Services

chore: Remove new repo flag in LD (#3651)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/services/orgUploadToken/useOrgUploadToken.ts
Due: Pages, Services
