Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

use underscore to silence lint warning
  src/pages/TermsOfService/hooks/useTermsOfService.ts
Due: Pages

build: Audit and update lint rules for Gazebo (#3508)
  .eslintrc.cjs
  .storybook/main.ts
  package.json
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
  src/services/charts/useBranchCoverageMeasurements.tsx
  src/services/commit/useCommitTeam.tsx
  src/services/pull/usePull.tsx
  src/services/pull/usePullTeam.tsx
  src/services/user/useInternalUser.ts
  yarn.lock
Due: Pages, Services

feat: Handle isFirstPullRequest in TA page (#3529)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
Due: Pages

[feat] Add a select all checkbox in the uploads card (#3470)
  scripts/icon-list.mjs
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadItem.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/ui/Checkbox/Checkbox.tsx
  src/ui/Icon/svg/outline/index.jsx
  src/ui/Icon/svg/solid/index.jsx
Due: Pages, UI

update logic in Navigator to handle all cases
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
Due: Layouts

add in new query options for grabbing data for the Navigator
  src/layouts/BaseLayout/hooks/NavigatorDataQueryOpts.test.tsx
  src/layouts/BaseLayout/hooks/NavigatorDataQueryOpts.ts
Due: Layouts

pass props through to Navigator
  src/layouts/Header/Header.tsx
Due: Layouts

update BaseLayout to fetch data for Navigator
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
Due: Layouts

add in v5 query client to app tests and navigator data mock
  src/App.test.tsx
Due: none

remove case where user doesn't belong to org as it removes the escape hatch
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
Due: Layouts

rework logic a bit more
  src/layouts/Header/components/Navigator/Navigator.tsx
Due: Layouts

wrap each banner in their own silent network error wrapper
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
Due: Shared

render the context switcher to the owner page if the user does not have access to a repo
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
Due: Layouts

add tests where use belongs to org but doesn't have access to a repo
  src/layouts/Header/components/Navigator/Navigator.test.tsx
Due: Layouts

add in test for failing to parse
  src/layouts/BaseLayout/hooks/NavigatorDataQueryOpts.test.tsx
Due: Layouts

add some extra context in comment
  src/layouts/Header/components/Navigator/Navigator.tsx
Due: Layouts

render fallback only if the owner exists
  src/layouts/Header/components/Navigator/Navigator.tsx
Due: Layouts

update tests as there were some issues with the routing in the wrapper
  src/layouts/Header/components/Navigator/Navigator.test.tsx
Due: Layouts

Initial commit
  src/index.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
Due: Pages

Update index.tsx
  src/index.tsx
Due: none

calculate the coverage change between the first and last points of measurements
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.ts
Due: Pages

update coverage trend to use the coverage change value
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.tsx
Due: Pages

should be index 0
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.ts
Due: Pages

fix tests
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.test.tsx
Due: Pages

tweak colours slightly so that it doesn't show uncovered for 0%
  src/ui/TotalsNumber/TotalsNumber.tsx
Due: UI

update logic for totals number
  src/ui/TotalsNumber/TotalsNumber.test.tsx
  src/ui/TotalsNumber/TotalsNumber.tsx
Due: UI

fix: framework tabs copy
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.test.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.tsx
Due: Pages

fix: formatting
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.test.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.tsx
Due: Pages

chore: Remove enterprise cloud support plan flag (#3506)
  src/pages/PlanPage/subRoutes/CancelPlanPage/useProPlanMonth.js
  src/pages/PlanPage/subRoutes/CancelPlanPage/useProPlanMonth.test.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/useEnterpriseCloudPlanSupport.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/useEnterpriseCloudPlanSupport.test.js
  src/shared/utils/billing.test.ts
  src/shared/utils/billing.ts
Due: Pages, Shared

Fix non-GH onboard links (#3517)
  src/assets/onboarding/env_variable_screenshot.png
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/services/navigation/useNavLinks/useNavLinks.test.tsx
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/services/navigation/useNavLinks/useStaticNavLinks.test.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.ts
Due: Pages, Services

build: Vendor Split Popular Packages (#3499)
  vite.config.mjs
Due: none

fix: CoverageTrend not displaying coverage percentage (#3530)
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/index.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.ts
  src/ui/TotalsNumber/TotalsNumber.test.tsx
  src/ui/TotalsNumber/TotalsNumber.tsx
Due: Pages, UI

add in test for repo page user not being a vistor
  src/layouts/Header/components/Navigator/Navigator.test.tsx
Due: Layouts

fix: framework tabs copy (#3534)
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.test.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.tsx
Due: Pages

refactor usePullPageData to PullPageDataQueryOpts
  src/pages/PullRequestPage/hooks/index.ts
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.test.tsx
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.tsx
Due: Pages

update useTabsCounts to use query opts
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/index.ts
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/useTabsCounts.test.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/useTabsCounts.ts
Due: Pages

update FileViewer to use query opts
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.test.jsx
Due: Pages

update PullCoverageTabs to use new query opts
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.test.jsx
Due: Pages

update PullCoverage to use query opts
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.test.jsx
Due: Pages

update PullRequestPage to use new query opts
  src/pages/PullRequestPage/PullRequestPage.test.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
Due: Pages
