Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

initial commit
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
Due: Pages, Services, Shared

feat: Create OKTA hooks and hook them up with form (#2991)
  src/pages/AccountSettings/tabs/OktaAccess/OktaAccess.spec.tsx
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.spec.tsx
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
  src/pages/AccountSettings/tabs/OktaAccess/hooks/index.ts
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useOktaConfig.spec.tsx
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useOktaConfig.tsx
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useUpdateOktaConfig.spec.tsx
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useUpdateOktaConfig.tsx
Due: Pages

feat: Add self-hosted items to new header (#2996)
  src/layouts/EnterpriseLoginLayout/Header/Header.tsx
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/AdminLink/AdminLink.spec.tsx
  src/layouts/Header/components/AdminLink/AdminLink.tsx
  src/layouts/Header/components/AdminLink/index.ts
  src/layouts/Header/components/SeatDetails/SeatDetails.spec.tsx
  src/layouts/Header/components/SeatDetails/SeatDetails.tsx
  src/layouts/Header/components/SeatDetails/index.ts
  src/layouts/OldHeader/DesktopMenu.tsx
  src/ui/A/A.jsx
Due: Layouts, UI

Fix admin link variant for oldheader
  src/layouts/Header/components/AdminLink/AdminLink.tsx
  src/layouts/OldHeader/AdminLink.tsx
Due: Layouts

invoice taxId updates, copy changes, and some TS conversions
  public/logo.png
  public/logo.svg
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/InvoiceDetail.spec.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/index.ts
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceHeader.spec.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceHeader.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceOverview.tsx
  src/services/account/mocks.js
  src/services/account/useInvoice.ts
  src/services/account/useInvoices.ts
Due: Pages, Services

fix: Oldheader admin link has wrong link variant (#3001)
  src/layouts/Header/components/AdminLink/AdminLink.tsx
  src/layouts/OldHeader/AdminLink.tsx
Due: Layouts

remove taxId hard code
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceHeader.tsx
Due: Pages

WIP 2-tests
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/services/repo/index.ts
  src/services/repo/useRepoRateLimitStatus.spec.tsx
  src/services/repo/useRepoRateLimitStatus.tsx
Due: Pages, Services

PR comments and prop type cleanup
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/InvoiceDetail.spec.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceHeader.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceOverview.tsx
Due: Pages

fix some test coverage
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/InvoiceDetail.spec.tsx
Due: Pages

taxIds not taxId
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/InvoiceDetail.spec.tsx
Due: Pages

feat: Add TaxId to Invoice Page (#3002)
  public/logo.png
  public/logo.svg
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/InvoiceDetail.spec.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/index.ts
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceHeader.spec.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceHeader.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceOverview.tsx
  src/services/account/mocks.js
  src/services/account/useInvoice.ts
  src/services/account/useInvoices.ts
Due: Pages, Services

chore: remove accidentally committed code
  src/pages/TermsOfService/TermsOfService.tsx
Due: Pages

fix: review ternary changes with naming and typing changes
  src/pages/PlanPage/context.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/hooks/useUpgradeControls.js
  src/ui/Alert/Alert.spec.tsx
  src/ui/Alert/Alert.stories.tsx
  src/ui/Alert/Alert.tsx
  src/ui/Alert/index.ts
Due: Pages, UI

test: more coverage
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
Due: Pages

test: add and fix tests
  src/pages/PlanPage/context.spec.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/ui/Alert/Alert.tsx
Due: Pages, UI

feat: swap successful plan change msg to banner
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/context.js
  src/pages/PlanPage/context.spec.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/hooks/useUpgradeControls.js
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.jsx
Due: Pages, Shared

chore: ts convert PlanPage context; modify context typing
  src/pages/PlanPage/context.spec.js
  src/pages/PlanPage/context.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/ui/Alert/Alert.tsx
  src/ui/Alert/index.ts
Due: Pages, UI

chore: add field to Breadcrumb type
  src/pages/PlanPage/context.tsx
Due: Pages

feat: Add percentage to size column (#2990)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/index.ts
  src/shared/utils/bundleAnalysis.spec.ts
  src/shared/utils/bundleAnalysis.ts
Due: Pages, Shared

small tweaks to Sparkline to allow use in the assets table
  src/ui/Sparkline/Sparkline.tsx
Due: UI

add sparkline to assets table
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

fix issue with bundle content tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
Due: Pages

update schema for account details
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/services/account/useAccountDetails.ts
Due: Pages, Services

fix: Update schema for account details with correct tax info (#3003)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/BillingDetails.tsx
  src/services/account/useAccountDetails.ts
Due: Pages, Services

Refactor repo breadcrumb context
  src/layouts/BaseLayout/BaseLayout.jsx
  src/layouts/BaseLayout/BaseLayout.spec.jsx
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/layouts/Header/components/Navigator/index.ts
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.tsx
  src/pages/RepoPage/PullsTab/PullsTab.tsx
  src/pages/RepoPage/RepoBreadcrumb.jsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/context.js
  src/pages/RepoPage/context.spec.tsx
  src/pages/RepoPage/context.tsx
Due: Layouts, Pages

Add test
  src/pages/RepoPage/context.spec.tsx
Due: Pages

Fix tests
  src/services/repo/useRepoRateLimitStatus.spec.tsx
  src/services/repo/useRepoRateLimitStatus.tsx
Due: Services

Add Navigator tests
  src/layouts/Header/components/Navigator/Navigator.spec.tsx
Due: Layouts

Fix all tests
  src/layouts/EnterpriseLoginLayout/Header/Header.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/services/repo/useRepoRateLimitStatus.spec.tsx
  src/services/repo/useRepoRateLimitStatus.tsx
Due: Layouts, Pages, Services

styling
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
Due: Shared

formatting
  src/layouts/EnterpriseLoginLayout/Header/Header.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
Due: Layouts, Pages

create helper functions for the asset table
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/assetTableHelpers.spec.ts
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/assetTableHelpers.ts
Due: Pages

refactor ModulesTable so that it properly aligns with AssetsTable
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
Due: Pages

Update AssetsTable to have change over time column
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

Throw if useCrumbs used outside of RepoBreadcrumbProvider
  src/layouts/Header/components/Navigator/Navigator.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.spec.tsx
  src/pages/RepoPage/context.spec.tsx
  src/pages/RepoPage/context.tsx
Due: Layouts, Pages

ref: Rework RepoBreadcrumbContext so it's available in new header (#3004)
  src/layouts/BaseLayout/BaseLayout.jsx
  src/layouts/BaseLayout/BaseLayout.spec.jsx
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/Navigator/Navigator.spec.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/layouts/Header/components/Navigator/index.ts
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/Summary.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/SummaryTeamPlan/SummaryTeamPlan.tsx
  src/pages/RepoPage/PullsTab/PullsTab.tsx
  src/pages/RepoPage/RepoBreadcrumb.jsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/context.js
  src/pages/RepoPage/context.spec.tsx
  src/pages/RepoPage/context.tsx
Due: Layouts, Pages

feat: swap successful plan change msg to banner (#2992)
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/context.js
  src/pages/PlanPage/context.spec.js
  src/pages/PlanPage/context.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/hooks/useUpgradeControls.js
  src/shared/plan/ScheduledPlanDetails/ScheduledPlanDetails.jsx
  src/ui/Alert/Alert.spec.tsx
  src/ui/Alert/Alert.stories.tsx
  src/ui/Alert/Alert.tsx
  src/ui/Alert/index.ts
Due: Pages, Shared, UI

add check for nullish for link users
  src/services/account/useAccountDetails.ts
Due: Services

fix: nullish defaultPaymentMethod for Link users (#3006)
  src/services/account/useAccountDetails.ts
Due: Services
