Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

add usesInvoice condition to hide link, convert to ts and add test
  src/pages/MembersPage/MembersActivation/Activation/Activation.jsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.jsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.test.jsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.test.tsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.tsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/index.js
Due: Pages

fix test import
  src/pages/MembersPage/MembersActivation/Activation/Activation.test.jsx
Due: Pages

chore: Remove use of barrel files in services/pull (#3753)
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/usePullForCompareSummary.js
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/usePullForCompareSummary.test.js
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/NameColumn/NameColumn.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/hooks/useImpactedFilesTable.js
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/NameColumn/NameColumn.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.ts
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.tsx
  src/services/pull/index.ts
Due: Pages, Services

fix: usesInvoice should hide change plan button on members page (#3782)
  src/pages/MembersPage/MembersActivation/Activation/Activation.jsx
  src/pages/MembersPage/MembersActivation/Activation/Activation.test.jsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.jsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.test.jsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.test.tsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.tsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/index.js
Due: Pages

fix: Remove the default error
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.tsx
Due: Pages

fix: Remove the default error for failed tests error banner (#3784)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.tsx
Due: Pages

profile sunburst chart
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

add in lots of spans
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

add callback to useState
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

feat: Profile sunburst chart (#3785)
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

make patchCoverage nullable
  src/services/pull/usePullCompareTotalsTeam.tsx
Due: Services

fix: usePullCompareTotalsTeam parsing error (#3786)
  src/services/pull/usePullCompareTotalsTeam.tsx
Due: Services

set document policy header for running in dev mode for sentry profiling
  vite.config.mjs
Due: none

conditionally add spotlight browser integration
  src/sentry.ts
Due: none

bump to latest version of sentry sdk and vite plugin
  package.json
  yarn.lock
Due: none

feat: Setup Spotlight integration for local dev (#3787)
  package.json
  src/sentry.ts
  vite.config.mjs
  yarn.lock
Due: none

Update yarn to 4.7.0
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: none

Prepare release 25.3.3
  VERSION
Due: none

chore: Update yarn to 4.7.0 (#3789)
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: none

optimize root state looping and create depth map
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

create a pathIndex map
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

render only what is visible
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Sunburst/Sunburst.jsx
  src/ui/SunburstChart/SunburstChart.jsx
Due: Pages

tidy up things
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

re-instument optimized Sunburst with Sentry
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

fix issues with sunburst after updating with sentry
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

okay this actually resolves the re-renders
  src/ui/SunburstChart/SunburstChart.jsx
Due: none

fix: Add back sync repos feature in list
  src/shared/ListRepo/ListRepo.test.tsx
  src/shared/ListRepo/ListRepo.tsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.tsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.tsx
Due: Shared

test: Add canRefetch to more tests
  src/shared/ListRepo/ListRepo.test.tsx
Due: Shared

fix: Add back sync repos feature in list (#3790)
  src/shared/ListRepo/ListRepo.test.tsx
  src/shared/ListRepo/ListRepo.tsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.tsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.tsx
Due: Shared

Release 25.3.3 (#3788)
  VERSION
Due: none

feat: Add overwatch to github actions
  .github/workflows/ci.yml
Due: none

add ssl dep
  .github/workflows/ci.yml
Due: none

ref: Render only two levels of the sunburst (#3783)
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Sunburst/Sunburst.jsx
  src/ui/SunburstChart/SunburstChart.jsx
Due: Pages

update HomePageRedirect to redirect on any to parameter unless setup action is set
  src/App.tsx
Due: none

add in test to check for redirect
  src/App.test.tsx
Due: none

don't touch redirect if it is set to plan
  src/App.tsx
Due: none

add in test to see if redirects back home
  src/App.test.tsx
Due: none

fix: Change plan update banner to new alert and refresh seat count (#3778)
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageStripeCallback/InfoMessageStripeCallback.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageStripeCallback/InfoMessageStripeCallback.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/hooks/useUpgradeControls.ts
Due: Pages

update useInfiniteUser zod schema
  src/services/users/useInfiniteUser.test.tsx
  src/services/users/useInfiniteUser.tsx
Due: Services
