Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

update useSelfHostedSeatsAndLicense
  src/services/selfHosted/useSelfHostedSeatsAndLicense.test.tsx
Due: Services

update useSelfHostedHasAdmins
  src/services/selfHosted/useSelfHostedHasAdmins.test.jsx
Due: Services

update useSelfHostedCurrentUser
  src/services/selfHosted/useSelfHostedCurrentUser.test.jsx
Due: Services

update index file
  src/services/selfHosted/index.ts
Due: Services

update useUser
  src/services/user/useUser.test.tsx
Due: Services

update useUpdateProfile
  src/services/user/useUpdateProfile.test.jsx
Due: Services

update useResyncUser
  src/services/user/useResyncUser.test.jsx
Due: Services

update useOwnerRateLimit
  src/services/user/useOwnerRateLimitStatus.test.tsx
Due: Services

update useOwner
  src/services/user/useOwner.test.jsx
Due: Services

update useOnboardUser
  src/services/user/useOnboardUser.test.jsx
Due: Services

update useMyContexts
  src/services/user/useMyContexts.test.tsx
Due: Services

update useIsCurrentUserAnAdmin
  src/services/user/useIsCurrentUserAnAdmin.test.jsx
Due: Services

update useInternalUser
  src/services/user/useInternalUser.test.tsx
Due: Services

update index
  src/services/user/index.ts
Due: Services

More tests
  src/pages/CodecovAIPage/CodecovAIPage.spec.tsx
  src/pages/CodecovAIPage/CodecovAIPage.tsx
  src/pages/CodecovAIPage/ConfiguredRepositories/ConfiguredRepositories.tsx
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
  src/services/codecovAI/useCodecovAIInstallation.tsx
  src/services/codecovAI/useCodecovAIInstalledRepos.tsx
Due: Pages, Services

fix test
  src/services/charts/useBranchCoverageMeasurements.spec.tsx
  src/services/charts/useBranchCoverageMeasurements.tsx
  src/services/charts/useReposCoverageMeasurements.ts
Due: Services

update Toggle stories
  src/ui/Toggle/Toggle.stories.jsx
  src/ui/Toggle/Toggle.stories.tsx
Due: none

forgot to rename the file type
  src/ui/Toggle/Toggle.test.tsx
Due: UI

update Toggle to TypeScript
  src/ui/Toggle/Toggle.tsx
  src/ui/Toggle/index.ts
Due: UI

update Toggle tests
  src/ui/Toggle/Toggle.spec.tsx
Due: UI

chore: Update ui/TabNavigation to Vitest (#3234)
  src/ui/TabNavigation/TabNavigation.jsx
  src/ui/TabNavigation/TabNavigation.spec.jsx
  src/ui/TabNavigation/TabNavigation.test.jsx
  src/ui/TabNavigation/index.ts
Due: UI

chore: Update ui/Toggle to Vitest (#3232)
  src/ui/Toggle/Toggle.stories.jsx
  src/ui/Toggle/Toggle.stories.tsx
  src/ui/Toggle/Toggle.test.tsx
  src/ui/Toggle/Toggle.tsx
  src/ui/Toggle/index.ts
Due: UI

chore: Update ui/RadioTileGroup to Vitest (#3244)
  src/ui/RadioTileGroup/RadioTileGroup.test.tsx
Due: UI

chore: Update ui/RadioInput to Vitest (#3245)
  src/pages/TermsOfService/TermsOfService.tsx
  src/ui/RadioInput/RadioInput.stories.jsx
  src/ui/RadioInput/RadioInput.stories.tsx
  src/ui/RadioInput/RadioInput.test.tsx
  src/ui/RadioInput/RadioInput.tsx
Due: Pages, UI

update AdminSettingsSidebar
  src/pages/AdminSettings/AdminSettingsSidebar/AdminSettingsSidebar.test.jsx
Due: Pages

update MemberTable
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.test.jsx
Due: Pages

update MemberList
  src/pages/AdminSettings/AdminMembers/MemberList/MemberList.test.jsx
Due: Pages

update AutoActivateMembers
  src/pages/AdminSettings/AdminMembers/ActivationInfo/AutoActivateMembers/AutoActivateMembers.test.jsx
Due: Pages

update ActivationLimit
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationLimit.test.jsx
Due: Pages

update ActivationCount
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationCount/ActivationCount.test.jsx
Due: Pages

update ActivationInfo
  src/pages/AdminSettings/AdminMembers/ActivationInfo/ActivationInfo.test.jsx
Due: Pages

update AdminMembers
  src/pages/AdminSettings/AdminMembers/AdminMembers.test.jsx
Due: Pages

update useAdminAccessList
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.test.tsx
Due: Pages

update AdminAccessTable
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/AdminAccessTable.test.tsx
Due: Pages

update AdminAccess
  src/pages/AdminSettings/AdminAccess/AdminAccess.test.tsx
Due: Pages

update AdminSettings
  src/pages/AdminSettings/AdminSettings.test.jsx
Due: Pages

update tabs
  src/pages/AnalyticsPage/Tabs/Tabs.test.tsx
Due: Pages

update chart selectors
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.test.jsx
Due: Pages

update useCoverage
  src/pages/AnalyticsPage/Chart/useCoverage.test.jsx
Due: Pages

update chart
  src/pages/AnalyticsPage/Chart/Chart.test.jsx
Due: Pages
