Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

fix: Clean up okta feature flag
  src/pages/AccountSettings/AccountSettings.jsx
  src/pages/AccountSettings/AccountSettings.spec.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.spec.jsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.tsx
Due: Pages, Shared

feat: Add new meta-framework onboarding doc tabs (#3127)
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/metricHelpers.ts
  src/pages/RepoPage/RepoPage.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

add a test, change dark mode comment to svg from png
  src/App.tsx
  src/assets/svg/onboardingTests/testsPRCommentDark.png
  src/assets/svg/onboardingTests/testsPRCommentDark.svg
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
  src/shared/utils/loginProviders.spec.ts
Due: Assets, Pages, Shared

fix: Clean up okta feature flag (#3144)
  src/pages/AccountSettings/AccountSettings.jsx
  src/pages/AccountSettings/AccountSettings.spec.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.spec.jsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.tsx
Due: Pages, Shared

ref: Optimize SVGs (#3142)
  src/assets/billing/amex.svg
  src/assets/billing/dinners-club.svg
  src/assets/billing/discover.svg
  src/assets/billing/jcb.svg
  src/assets/billing/mastercard.svg
  src/assets/billing/union-pay.svg
  src/assets/billing/visa.svg
  src/assets/flagManagement.svg
  src/assets/plan/sentry_codecov.svg
  src/assets/providers/bitbucket-icon.svg
  src/assets/providers/github-icon.svg
  src/assets/providers/gitlab-icon.svg
  src/assets/providers/okta-icon.svg
  src/assets/providers/sentry-icon.svg
  src/assets/repoConfig/codecov-report.svg
  src/assets/svg/flagManagement.svg
  src/assets/svg/graphs/icicle.svg
  src/assets/svg/graphs/sunburst.svg
  src/assets/svg/graphs/tree.svg
  src/assets/svg/invoice.svg
  src/assets/svg/signIn.svg
Due: Assets

Add same change to flags tab
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.spec.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/FlagsTab.jsx
  src/pages/RepoPage/CoverageTab/FlagsTab/FlagsTab.spec.jsx
Due: Pages

feat: Even more language support (#3138)
  src/shared/utils/prismLanguageMapper.spec.ts
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

move summaryDropdown color, update storybook colors
  src/DarkModeColors.mdx
  src/LightModeColors.mdx
  src/ui/SummaryDropdown/SummaryDropdown.tsx
  tailwind.config.js
Due: UI

Update to reflect is current user part of org
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/CommitDetailPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/TokensTeam/TokensTeam.spec.js
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.spec.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.tsx
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/FlagsTab.jsx
  src/pages/RepoPage/CoverageTab/FlagsTab/FlagsTab.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FlagMultiSelect.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/services/repo/useRepoSettingsTeam.spec.tsx
  src/services/repo/useRepoSettingsTeam.tsx
Due: Pages, Services

fix test for helpdropdown
  src/layouts/Header/components/HelpDropdown/HelpDropdown.spec.tsx
Due: Layouts

fix: Show enable button in components/flags for activated users only (#3145)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/CommitDetailPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/TokensTeam/TokensTeam.spec.js
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.spec.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.tsx
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/FlagsTab.jsx
  src/pages/RepoPage/CoverageTab/FlagsTab/FlagsTab.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FlagMultiSelect.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/services/repo/useRepoSettingsTeam.spec.tsx
  src/services/repo/useRepoSettingsTeam.tsx
Due: Pages, Services

Use theme instead of hardcoded value for modal border color
  src/ui/Modal/BaseModal.tsx
Due: UI

output github head ref when calling craco config
  craco.stats.config.js
Due: none

run bundle steps on forks
  .github/workflows/ci.yml
Due: none

log to error
  craco.stats.config.js
Due: none

it doesn't have access to secrets
  craco.stats.config.js
Due: none

update some colors
  src/globals.css
  src/ui/A/A.jsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.tsx
Due: UI

ternary and tests
  src/layouts/Header/Header.spec.tsx
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.spec.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.tsx
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
Due: Layouts

tailwind style
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
Due: Layouts

8px is 2px in tw? idk
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
Due: Layouts

change feedback banner cta to darker blue for dark
  src/globals.css
Due: none

address pr comments
  src/App.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.spec.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.spec.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
  src/pages/LoginPage/LoginButton.jsx
  src/pages/LoginPage/LoginButton.spec.jsx
  src/pages/LoginPage/LoginPage.spec.jsx
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.spec.tsx
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
  src/shared/ThemeContext/ThemeContext.spec.tsx
  src/shared/ThemeContext/ThemeContext.tsx
  src/shared/ThemeContext/index.ts
Due: Layouts, Pages, Shared

Add type checking for metrics
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/services/codecovEventMetrics/useStoreCodecovEventMetric.tsx
Due: Pages, Services

Update test
  src/services/codecovEventMetrics/useStoreCodecovEventMetric.spec.tsx
Due: Services

update themeContext
  src/shared/ThemeContext/ThemeContext.tsx
Due: Shared

adjust button dark mode color
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
  src/ui/Button/Button.jsx
Due: Layouts, UI

remove console log
  src/layouts/Header/Header.tsx
Due: Layouts

color update on plan page, some dark hover fixes
  src/globals.css
  src/pages/SyncProviderPage/SyncButton.tsx
  src/ui/Button/Button.jsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/DateRangePicker/DateRangePicker.tsx
  src/ui/Dropdown/Dropdown.tsx
Due: Pages, UI

Not a flaky, just missing one more test
  src/shared/GlobalTopBanners/BundleFeedbackBanner/BundleFeedbackBanner.spec.tsx
Due: Shared

rename tailwind classes
  public/index.html
  src/old_ui/Pagination/Pagination.jsx
  src/pages/AccountSettings/tabs/YAML/YamlEditor/codecov-theme.css
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressForm.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Title/Title.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Title/Title.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/pages/RepoPage/PullsTab/PullsTable/Title/Title.tsx
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
  src/shared/utils/prismTheme.css
  src/ui/A/A.jsx
  src/ui/Button/Button.jsx
  src/ui/Chart/Chart.tsx
  src/ui/CodeRenderer/DiffLine/DiffLine.tsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/DateRangePicker/DateRangePicker.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.tsx
  src/ui/Label/Label.jsx
  src/ui/List/List.jsx
  src/ui/Modal/BaseModal.tsx
  src/ui/MultiSelect/MultiSelect.jsx
  src/ui/Sparkline/Sparkline.tsx
  src/ui/SummaryDropdown/SummaryDropdown.tsx
  src/ui/Table/Table.css
  src/ui/ToggleElement/ToggleElement.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
  tailwind.config.js
Due: Pages, Shared, UI

Add type checking for codecov metrics (#3148)
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/services/codecovEventMetrics/useStoreCodecovEventMetric.spec.tsx
  src/services/codecovEventMetrics/useStoreCodecovEventMetric.tsx
Due: Pages, Services

fix: update FailedTestsTab
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.spec.tsx
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/index.ts
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabsCard.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabsCard.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/index.ts
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
Due: Pages

fix: update FailedTestsTab (#3150)
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.spec.tsx
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/FrameworkTabs.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabs/index.ts
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabsCard.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/FrameworkTabsCard.tsx
  src/pages/RepoPage/FailedTestsTab/FrameworkTabsCard/index.ts
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
Due: Pages

Create new tooltip component
  package.json
  src/ui/Tooltip/Tooltip.spec.tsx
  src/ui/Tooltip/Tooltip.stories.tsx
  src/ui/Tooltip/Tooltip.tsx
  src/ui/Tooltip/index.ts
  yarn.lock
Due: UI

use theme context for CreditCardForm, AddressForm
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressForm.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CreditCardForm.tsx
Due: Pages

fix tests
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressCard.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.spec.jsx
Due: Pages

remove all the multipleTiers calls, fix the spec where needed
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.js
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.spec.js
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/Header/Header.spec.tsx
  src/pages/CommitDetailPage/Header/Header.tsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.spec.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/SpecialOffer/SpecialOffer.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/pages/PullRequestPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/Header/Header.tsx
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.spec.tsx
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.spec.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/index.ts
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/ListRepo.spec.jsx
Due: Pages, Shared

chore: Remove multipleTiers FF calls throughout app (#3153)
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.js
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.spec.js
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/Header/Header.spec.tsx
  src/pages/CommitDetailPage/Header/Header.tsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.spec.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/SpecialOffer/SpecialOffer.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/pages/PullRequestPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/Header/Header.tsx
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.spec.tsx
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.spec.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/index.ts
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/ListRepo.spec.jsx
Due: Pages, Shared

optimizations before splitting
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/index.ts
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.ts
  src/services/commit/useCommit.tsx
  src/shared/utils/extractUploads.js
  src/shared/utils/extractUploads.spec.ts
  src/shared/utils/extractUploads.ts
Due: Pages, Services, Shared
