Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

update BundleContent
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
Due: Pages

feat: Grab the plugin name for the given bundle (#3535)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
  src/services/bundleAnalysis/BundleAssetsQueryOpts.test.tsx
  src/services/bundleAnalysis/BundleAssetsQueryOpts.tsx
Due: Pages, Services

few more test fixes
  src/pages/AccountSettings/AccountSettingsSideMenu.test.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.test.jsx
  src/services/account/usePlanData.test.tsx
Due: Pages, Services

4 seemingly unrelated tests left
  src/pages/AccountSettings/AccountSettings.test.jsx
  src/pages/MembersPage/MembersActivation/Activation/ChangePlanLink/ChangePlanLink.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/PlanPricing/PlanPricing.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/PlanPricing/PlanPricing.test.jsx
  src/services/account/usePlanData.ts
Due: Pages, Services

clean up test conditional
  src/pages/AccountSettings/AccountSettings.test.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.test.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.test.jsx
Due: Pages

migrate useSelfHostedSeatsAndLicense to SelfHostedSeatsAndLicenseQueryOpts
  src/services/selfHosted/SelfHostedSeatsAndLicenseQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedSeatsAndLicenseQueryOpts.ts
  src/services/selfHosted/index.ts
Due: Services

update usage in SelfHostedLicenseExpiration and refactor to TS
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/index.ts
Due: Shared

add in comment about short circut
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
Due: Shared

fix typo
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
Due: Shared

make empty commit
  README.md
Due: none

add in filepath to table before rendering
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

add widths split into 24ths to tailwind config
  tailwind.config.mjs
Due: none

add in a list of supported file path plugins
  src/shared/utils/bundleAnalysis.ts
Due: Shared

update modules table styles and empty file path column
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
Due: Pages

update BundleContent tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
Due: Pages

add in new conditional file path column
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

add in new and update old empty table
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.tsx
Due: Pages

add in feature flag to control the new column
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

fix rebase issue
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
Due: Pages

one leftover rebase mistake
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
Due: Pages

create test commit
  README.md
Due: none

migrate useSelfHostedHasAdmins to SelfHostedHasAdminsQueryOpts
  src/services/selfHosted/SelfHostedHasAdminsQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedHasAdminsQueryOpts.ts
  src/services/selfHosted/index.ts
  src/services/selfHosted/useSelfHostedHasAdmins.ts
Due: Services

update usage in MissingDesignatedAdmins
  src/shared/GlobalBanners/MissingDesignatedAdmins/MissingDesignatedAdmins.jsx
  src/shared/GlobalBanners/MissingDesignatedAdmins/MissingDesignatedAdmins.test.jsx
Due: Shared

make App tests happy
  src/App.test.tsx
Due: none

feat: Update AssetsTable to conditionally render file path column (#3565)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
  src/shared/utils/bundleAnalysis.ts
  tailwind.config.mjs
Due: Pages, Shared

migrate useSelfHostedSeatsConfig to SelfHostedSeatsConfigQueryOpts
  src/services/selfHosted/SelfHostedSeatsConfigQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedSeatsConfigQueryOpts.ts
  src/services/selfHosted/index.ts
Due: Services

migrate usage in SeatDetails
  src/layouts/Header/components/SeatDetails/SeatDetails.test.tsx
  src/layouts/Header/components/SeatDetails/SeatDetails.tsx
Due: Layouts

migrate usage in ActivationBanner
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/ActivationBanner.jsx
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/ActivationBanner.test.jsx
Due: Pages

migrate usage in ActivationRequriedSelfHosted
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
Due: Pages

migrate usage in ActivationRequiredSelfHosted
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
Due: Pages

fix issue in Profile tests
  src/pages/AccountSettings/tabs/Profile/Profile.test.jsx
Due: Pages

Convert shared P5 to TypeScript (#3563)
  src/layouts/Header/components/Navigator/MyContextSwitcher.test.tsx
  src/layouts/Header/components/Navigator/MyContextSwitcher.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/components/FeatureGroup/FeatureGroup.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
  src/pages/RepoPage/CoverageTab/CoverageTabNavigator.tsx
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/shared/AppLink/AppLink.tsx
  src/shared/AppLink/index.js
  src/shared/AppLink/index.ts
  src/shared/GlobalBanners/GlobalBanners.test.tsx
  src/shared/GlobalBanners/GlobalBanners.tsx
  src/shared/GlobalBanners/MissingDesignatedAdmins/MissingDesignatedAdmins.tsx
  src/shared/GlobalBanners/MissingDesignatedAdmins/index.ts
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/index.ts
  src/shared/featureFlags/featureFlag.test.tsx
  src/shared/featureFlags/featureFlag.ts
  src/shared/featureFlags/index.ts
  src/shared/useRedirect/hooks.test.ts
  src/shared/useRedirect/hooks.ts
  src/shared/useRedirect/index.ts
  src/ui/Button/Button.tsx
  src/ui/Button/index.ts
  src/ui/Sidemenu/Sidemenu.tsx
Due: Layouts, Pages, Services, Shared, UI

remove flare graph from pr comment
  codecov.yml
Due: none

migrate useSelfHostedCurrentUser to SelfHostedCurrentUserQueryOpts
  src/services/selfHosted/SelfHostedCurrentUserQueryOpts.test.tsx
  src/services/selfHosted/SelfHostedCurrentUserQueryOpts.ts
  src/services/selfHosted/index.ts
Due: Services

update AdminLink
  src/layouts/Header/components/AdminLink/AdminLink.test.tsx
  src/layouts/Header/components/AdminLink/AdminLink.tsx
Due: Layouts

update Profile
  src/pages/AccountSettings/tabs/Profile/Profile.jsx
  src/pages/AccountSettings/tabs/Profile/Profile.test.jsx
Due: Pages

update ActivationBanner
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/ActivationBanner.jsx
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/ActivationBanner.test.jsx
Due: Pages

update useSelfActivationMutation
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/useSelfActivationMutation.js
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/useSelfActivationMutation.test.jsx
Due: Pages
