Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

set width to 16rem for branch selector
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
Due: Pages

some slight tweaks to bundle summary
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
Due: Pages

create new bundle selector
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

remove unused tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.spec.tsx
Due: Pages

should be using bundle not branch
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.spec.tsx
Due: Pages

feat: Create bundle selector for bundles tab (#2617)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/services/branches/useBranchBundlesNames.spec.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
  src/ui/Select/Select.jsx
Due: Pages, Services, UI

pull out blurb into separate component, add to all org token files
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
Due: Pages

Redirect user to repos page after a trial is kicked off (#2608)
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/OwnerPage/OwnerPage.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/services/trial/useStartTrial.spec.tsx
  src/services/trial/useStartTrial.ts
Due: Pages, Services

initial implementation of component, linked up to GH new page
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
Due: Pages, Services

move to folder
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
Due: Pages

add UTs to all components
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
Due: Pages

better tests
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
Due: Pages

fix copy
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
Due: Pages

move bundle services into its own dir
  src/services/branches/index.js
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBranchBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
  src/services/bundleAnalysis/useBranchBundlesNames.spec.tsx
  src/services/bundleAnalysis/useBranchBundlesNames.tsx
Due: Services

update imports
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.tsx
Due: Pages

create new hook to fetch updated bundle summary data
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Services

create new tests
  src/services/bundleAnalysis/useBundleSummary.spec.tsx
Due: Services

create a new hook to fetch a list of assets for a given bundle
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

add in tests for new hook
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
Due: Services

modify import to include only type
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Services

does it not like the type being inside the brackets?
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Services

bundle entry could be null
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

add in new hook to fetch a list of modules belonging to an asset
  src/services/bundleAnalysis/useBundleAssetModules.tsx
Due: Services

add in tests for new hook
  src/services/bundleAnalysis/useBundleAssetModules.spec.tsx
Due: Services

add an an
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
Due: Pages

Feat: #1051 - Update Active/Inactive Button copy to Configure/Not Configured (#2610)
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/ListRepo.spec.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.spec.jsx
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.spec.jsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/context/activeContext.js
  src/ui/A/A.jsx
Due: Shared, UI

Feat: #1057 - Clarify prerequisite of coverage reports (#2613)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/ui/Icon/svg/outline/index.js
  src/ui/Icon/svg/solid/index.js
Due: Pages, UI

Handle branch contents
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.js
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.spec.js
  src/services/pathContents/branch/dir/useRepoBranchContents.jsx
  src/services/pathContents/branch/dir/useRepoBranchContents.spec.js
Due: Services

Feat: #1053 - Unsure of Yaml Placement (#2618)
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/trial/useStartTrial.spec.tsx
Due: Pages, Services

Update test
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.spec.js
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.js
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.spec.js
  src/services/pathContents/branch/dir/useRepoBranchContents.jsx
Due: Pages, Services

Fix test
  src/services/pathContents/branch/dir/useRepoBranchContents.jsx
  src/services/pathContents/branch/dir/useRepoBranchContents.spec.js
  src/services/pathContents/commit/dir/constants.js
  src/services/pathContents/pull/dir/constants.js
  src/services/pull/fragments.js
Due: Services

fix all tests
  src/pages/CommitDetailPage/subRoute/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.spec.js
  src/pages/PullRequestPage/subroute/FileExplorer/hooks/useRepoPullContentsTable.spec.js
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/services/comparison/constants.js
  src/services/pathContents/branch/dir/useRepoBranchContents.spec.js
  src/services/pathContents/commit/dir/usePrefetchCommitDirEntry.js
  src/services/pathContents/commit/dir/usePrefetchCommitDirEntry.spec.js
  src/services/pathContents/commit/dir/useRepoCommitContents.js
  src/services/pathContents/commit/dir/useRepoCommitContents.spec.js
  src/services/pathContents/pull/dir/useRepoPullContents.spec.js
  src/services/pull/fragments.js
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.jsx
Due: Pages, Services, Shared

More tests
  src/services/pathContents/commit/dir/useRepoCommitContents.spec.js
  src/services/pathContents/pull/dir/useRepoPullContents.js
  src/services/pathContents/pull/dir/useRepoPullContents.spec.js
Due: Services

update queries
  src/services/comparison/constants.js
  src/services/pull/fragments.js
Due: Services

Update test
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.spec.jsx
Due: Shared

update test
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.spec.jsx
Due: Shared

Convert TokensTable to tanstack table
  src/pages/AccountSettings/tabs/Access/TokensTable.jsx
  src/pages/AccountSettings/tabs/Access/TokensTable.spec.tsx
  src/pages/AccountSettings/tabs/Access/TokensTable.tsx
Due: Pages

feat: Create hook to fetch bundle tab summary data (#2619)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.tsx
  src/services/branches/index.js
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBranchBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
  src/services/bundleAnalysis/useBranchBundlesNames.spec.tsx
  src/services/bundleAnalysis/useBranchBundlesNames.tsx
  src/services/bundleAnalysis/useBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Pages, Services

feat: Create hook to fetch a list of assets for an upcoming table (#2620)
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

feat: Create hook to fetch list of modules for a given asset (#2621)
  src/services/bundleAnalysis/useBundleAssetModules.spec.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
Due: Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
