Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

formatting changes
  src/ui/FileViewer/ToggleHeader/ToggleHeader.jsx
Due: UI

update usePullBADropdownSummary hook to pull in updated data fields
  src/services/pull/usePullBADropdownSummary.spec.tsx
  src/services/pull/usePullBADropdownSummary.tsx
Due: Services

Update pull bundle message to use new values
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.tsx
Due: Pages

update tests
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
Due: Pages

Add test for non critical file
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.tsx
Due: Pages

Get rid of support text in trial banner
  src/shared/GlobalTopBanners/TrialBanner/OngoingBanner.spec.tsx
  src/shared/GlobalTopBanners/TrialBanner/OngoingBanner.tsx
Due: Shared

udpate hook to fetch data from new fields
  src/services/commit/useCommitBADropdownSummary.spec.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
Due: Services

update commit bundle message component
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
Due: Pages

update tests
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
Due: Pages

ref: Update pull bundle summary to use new data (#2646)
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/services/pull/usePullBADropdownSummary.spec.tsx
  src/services/pull/usePullBADropdownSummary.tsx
Due: Pages, Services

update hook to fetch data from new fields
  src/services/pull/usePullBundleHeadList.spec.tsx
  src/services/pull/usePullBundleHeadList.tsx
Due: Services

update table to grab data from new fields
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleHeadTable/PullBundleHeadTable.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleHeadTable/PullBundleHeadTable.tsx
Due: Pages

update hook to fetch data from new field
  src/services/pull/usePullBundleComparisonList.spec.tsx
  src/services/pull/usePullBundleComparisonList.tsx
Due: Services

update table to use new data from new fields
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleComparisonTable/PullBundleComparisonTable.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleComparisonTable/PullBundleComparisonTable.tsx
Due: Pages

update useCommitBundleList hook to fetch data from new fields
  src/services/commit/useCommitBundleList.spec.tsx
  src/services/commit/useCommitBundleList.tsx
Due: Services

update tables to grab new data from fields
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.tsx
Due: Pages

add zod ignore for these tests, fix a number of them though and solidify schema
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/services/account/mocks.js
  src/services/account/useAccountDetails.spec.tsx
  src/services/account/useAccountDetails.ts
  src/setupTestGlobal.js
Due: Pages, Services

feat: Add deleted file status to files changed tables (#2639)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageSummary/CommitCoverageSummary.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageSummary/hooks/useCommitForSummary.spec.js
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
  src/services/commit/useCommit.tsx
Due: Pages, Services

revert some changes in MemberTable mocks causing test failure
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.spec.jsx
Due: Pages

ref: Update commit bundle summary to use new data (#2648)
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
  src/services/commit/useCommitBADropdownSummary.spec.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
Due: Pages, Services

ref: Update pull bundle comparison list hook (#2650)
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleComparisonTable/PullBundleComparisonTable.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleComparisonTable/PullBundleComparisonTable.tsx
  src/services/pull/usePullBundleComparisonList.spec.tsx
  src/services/pull/usePullBundleComparisonList.tsx
Due: Pages, Services

ref: Update commit bundle list and table (#2651)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.tsx
  src/services/commit/useCommitBundleList.spec.tsx
  src/services/commit/useCommitBundleList.tsx
Due: Pages, Services

ref: Update pull bundle head list hook (#2649)
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleHeadTable/PullBundleHeadTable.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleHeadTable/PullBundleHeadTable.tsx
  src/services/pull/usePullBundleHeadList.spec.tsx
  src/services/pull/usePullBundleHeadList.tsx
Due: Pages, Services

Move loading spinner
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

Get rid of support text in trial banner (#2647)
  src/shared/GlobalTopBanners/TrialBanner/OngoingBanner.spec.tsx
  src/shared/GlobalTopBanners/TrialBanner/OngoingBanner.tsx
Due: Shared

proper mocks, and zod update for null plan
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/LatestInvoiceCard/LatestInvoiceCard.spec.tsx
  src/services/account/useAccountDetails.ts
Due: Pages, Services

small style tweaks to pulls team table
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.tsx
Due: Pages

small style tweaks to pulls table
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
Due: Pages

small style tweaks to repo page commits team table
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
Due: Pages

small style tweaks to repo page commits table
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
Due: Pages

small style tweaks to pulls page commits team table
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
Due: Pages

small style tweaks to pulls page commits table
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
Due: Pages

fix up tests
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.spec.tsx
Due: Pages

fix: Commits and pulls tab sizing (#2654)
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.tsx
Due: Pages

build: fix upload test results secrets accessing
  .github/workflows/ci.yml
Due: none

build: fix upload test results secrets accessing (#2652)
  .github/workflows/ci.yml
Due: none

update useUploads to use useRepoOverview over useRepoSettings
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.js
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.spec.js
Due: Pages

update PullRequestPage to use useRepoOverview over useRepoSettings
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
Due: Pages

update PullCoverage to use useRepoOverview over useRepoSettings
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
Due: Pages

update PullCoverageTabs to use useRepoOverview over useRepoSettings
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
Due: Pages
