Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

some testing, maintain existing behavior
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.ts
  src/shared/utils/extractUploads.spec.ts
  src/shared/utils/extractUploads.ts
Due: Pages, Shared

Pass classname to arrow/fix stuff
  src/ui/Tooltip/Tooltip.spec.tsx
  src/ui/Tooltip/Tooltip.stories.tsx
  src/ui/Tooltip/Tooltip.tsx
Due: UI

fix a few typeerror sentry errors
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
  src/shared/utils/unsupportedExtensionsMapper.spec.ts
  src/shared/utils/unsupportedExtensionsMapper.ts
  src/shared/utils/url.spec.ts
  src/shared/utils/url.ts
Due: Shared

feat: Create a new stat component
  src/ui/Badge/Badge.stories.tsx
  src/ui/Badge/Badge.tsx
  src/ui/StatCard/StatCard.spec.tsx
  src/ui/StatCard/StatCard.stories.tsx
  src/ui/StatCard/StatCard.tsx
  src/ui/StatCard/index.ts
Due: UI

feat: Create new tooltip component (#3152)
  package.json
  src/ui/Tooltip/Tooltip.spec.tsx
  src/ui/Tooltip/Tooltip.stories.tsx
  src/ui/Tooltip/Tooltip.tsx
  src/ui/Tooltip/index.ts
  yarn.lock
Due: UI

Update name to MetricCard for simplicity
  src/ui/MetricCard/MetricCard.spec.tsx
  src/ui/MetricCard/MetricCard.stories.tsx
  src/ui/MetricCard/MetricCard.tsx
  src/ui/MetricCard/index.ts
  src/ui/StatCard/StatCard.stories.tsx
  src/ui/StatCard/index.ts
Due: UI

Prepare release 24.9.3
  VERSION
Due: none

Release 24.9.3 (#3155)
  VERSION
Due: none

currSystem typo fix, and use themeContext
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.spec.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.spec.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
Due: Pages

handle undefined document or body
  src/shared/ThemeContext/ThemeContext.tsx
Due: Shared

Update MetricCard width
  src/ui/MetricCard/MetricCard.tsx
Due: UI

Update MetricCard border
  src/ui/MetricCard/MetricCard.tsx
Due: UI

Update MetricCard.tsx
  src/ui/MetricCard/MetricCard.tsx
Due: UI

fix object equality always being true
  src/services/tracking/pendo.js
  src/services/tracking/pendo.spec.js
Due: Services

let's see what is happening
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.spec.tsx
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.ts
  src/services/tracking/pendo.js
Due: Pages, Services

add hook to repo page
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

lets see if this works
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.spec.tsx
Due: Pages

add repo overview mock to app.spec
  src/App.spec.tsx
Due: none

check to see if it has been called
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.spec.tsx
Due: Pages

so that wasn't it
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.spec.tsx
Due: Pages

add in new hook to track js or ts users on the repo page via pendo
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.spec.tsx
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.ts
Due: Pages

add in some more debugging stuff
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.ts
  src/services/repo/useRepoOverview.tsx
Due: Pages, Services

i cannot tell what is failing the parsing
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.spec.tsx
  src/services/repo/useRepoOverview.tsx
Due: Pages, Services

this should fix everything
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.spec.tsx
  src/pages/RepoPage/hooks/useJSorTSPendoTracking.ts
  src/services/repo/useRepoOverview.tsx
Due: Pages, Services

bump up z index in select
  src/ui/Select/Select.jsx
Due: UI

bump up z index in multi select
  src/ui/MultiSelect/MultiSelect.jsx
Due: UI

Update with codecov colors
  src/ui/MetricCard/MetricCard.tsx
Due: UI

fix: z-index issues on pulls and commits (#3159)
  src/ui/MultiSelect/MultiSelect.jsx
  src/ui/Select/Select.jsx
Due: UI

PR comments
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.jsx
  src/shared/utils/extractUploads.ts
Due: Pages, Shared

ref: Convert useUploads to TS + performance improvements (#3156)
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/index.ts
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.ts
  src/services/commit/useCommit.tsx
  src/shared/utils/extractUploads.js
  src/shared/utils/extractUploads.spec.ts
  src/shared/utils/extractUploads.ts
Due: Pages, Services, Shared

fix: Sentry errors related to unsafe .at() (#3160)
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
  src/shared/utils/unsupportedExtensionsMapper.spec.ts
  src/shared/utils/unsupportedExtensionsMapper.ts
  src/shared/utils/url.spec.ts
  src/shared/utils/url.ts
Due: Shared

fixes for hover, regenerate button known regression
  src/pages/LoginPage/LoginButton.jsx
  src/pages/SyncProviderPage/SyncButton.tsx
  src/ui/Button/Button.jsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/Dropdown/Dropdown.tsx
  src/ui/Select/Select.jsx
Due: Pages, UI

fix: hover styles for dark mode on selectors (#3161)
  src/pages/LoginPage/LoginButton.jsx
  src/pages/SyncProviderPage/SyncButton.tsx
  src/ui/Button/Button.jsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/Dropdown/Dropdown.tsx
  src/ui/Select/Select.jsx
Due: Pages, UI

feat: Convert query param to path param for branch selection
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.spec.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.ts
  src/pages/RepoPage/CoverageTab/CoverageTab.tsx
  src/pages/RepoPage/CoverageTab/CoverageTabNavigator.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Pages, Services

fix components tab click carrying over branch
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Pages, Services

remove console logs
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
Due: Pages

fix: Reflect number of uploads after deleting duplicate carried forward uploads
  src/mocks/handlers.js
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummary.jsx
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummary.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChanged.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/hooks/useImpactedFilesTable.spec.js
  src/pages/PullRequestPage/PullCoverage/routes/FlagsTab/FlagsTab.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangesTab.spec.jsx
  src/services/pull/hooks.spec.js
  src/services/pull/usePull.tsx
  src/shared/utils/extractUploads.spec.ts
Due: Pages, Services, Shared

Resolve conflicts
  src/shared/utils/extractUploads.spec.ts
  src/shared/utils/extractUploads.ts
Due: Shared

update extract uploads
  src/shared/utils/extractUploads.spec.ts
Due: Shared

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
