Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

revert: Revert upload token to repo token (#2477)
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/NewRepoTab/GitHubActions/GitHubActions.tsx
Due: Pages

use a container queries to handle changing sizes of tab nav indivdually
  src/ui/TabNavigation/TabNavigation.jsx
Due: UI

wrap commit detail page content in a div with a container selector
  src/pages/CommitDetailPage/CommitDetailPageContent/CommitDetailPageContent.jsx
Due: Pages

swap to using specific selectors for the commit detail page so other tab navs are not effected
  src/ui/TabNavigation/TabNavigation.jsx
Due: UI

update spotlight to latest version
  package-lock.json
  package.json
Due: none

fix: Update TabNav styles to fix hiding tabs (#2478)
  src/pages/CommitDetailPage/CommitDetailPageContent/CommitDetailPageContent.jsx
  src/ui/TabNavigation/TabNavigation.jsx
Due: Pages, UI

Add app install banner+modal
  src/shared/GlobalTopBanners/AppInstallBanner/AppInstallBanner.spec.tsx
  src/shared/GlobalTopBanners/AppInstallBanner/AppInstallBanner.tsx
  src/shared/GlobalTopBanners/AppInstallBanner/index.ts
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
Due: Shared

remove banner from global banners
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
Due: Shared

Add useRepoATS hook
  src/services/ats/useRepoATS.spec.tsx
  src/services/ats/useRepoATS.tsx
Due: Services

Change variable names
  src/services/ats/useRepoATS.spec.tsx
  src/services/ats/useRepoATS.tsx
Due: Services

Add ATS ui elements
  src/pages/RepoPage/ATSTab/ATSConfigured.spec.tsx
  src/pages/RepoPage/ATSTab/ATSConfigured.tsx
  src/pages/RepoPage/ATSTab/ATSNotConfigured.spec.tsx
  src/pages/RepoPage/ATSTab/ATSNotConfigured.tsx
  src/ui/Icon/svg/outline/index.js
Due: Pages, UI

make planUserCount nullable
  src/services/account/usePlanData.ts
Due: Services

fix: Plan user count can be a nullable value (#2485)
  src/services/account/usePlanData.ts
Due: Services

update with new table, first pass
  src/pages/RepoPage/PullsTab/PullsTable/Coverage/Coverage.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.jsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
  src/services/pulls/usePulls.tsx
Due: Pages, Services

Update to remove the condition^^
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
Due: Pages

update tests
  src/pages/AccountSettings/AccountSettingsSideMenu.spec.jsx
Due: Pages

gatekeep org upload tokens to admins
  src/pages/AccountSettings/AccountSettingsSideMenu.jsx
Due: Pages

add org upload token link to self hosted settings link list
  src/pages/AccountSettings/AccountSettingsSideMenu.jsx
Due: Pages

fix: Display Org Upload Token Tab in Self Hosted/Dedicated Cloud (#2486)
  src/pages/AccountSettings/AccountSettingsSideMenu.jsx
  src/pages/AccountSettings/AccountSettingsSideMenu.spec.jsx
Due: Pages

Update styling
  src/pages/RepoPage/ATSTab/ATSConfigured.tsx
  src/pages/RepoPage/ATSTab/ATSNotConfigured.tsx
Due: Pages

Reduce gap
  src/pages/RepoPage/ATSTab/ATSConfigured.tsx
  src/pages/RepoPage/ATSTab/ATSNotConfigured.tsx
Due: Pages

Update with refactor
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.spec.jsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
Due: Pages

ref: Refactor pulls table to use the new table
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
Due: Pages

reduce gap and update styles
  src/pages/RepoPage/ATSTab/ATSConfigured.tsx
  src/pages/RepoPage/ATSTab/ATSNotConfigured.tsx
Due: Pages

update button styles
  src/pages/RepoPage/ATSTab/ATSConfigured.tsx
  src/pages/RepoPage/ATSTab/ATSNotConfigured.tsx
Due: Pages

use nullable
  src/services/ats/useRepoATS.tsx
Due: Services

[feat] Add useRepoATS hook (#2481)
  src/services/ats/useRepoATS.spec.tsx
  src/services/ats/useRepoATS.tsx
Due: Services

create function to format bundle size to readable string
  src/shared/utils/bundleAnalysis.ts
Due: Shared

add in test for format size to string function
  src/shared/utils/bundleAnalysis.spec.ts
Due: Shared

fix: Fix BB bug
  src/pages/TermsOfService/hooks/useTermsOfService.spec.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
Due: Pages

fix: Fix BB bug (#2488)
  src/pages/TermsOfService/hooks/useTermsOfService.spec.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
Due: Pages

ref: Remove TOS feature flag
  src/App.spec.jsx
  src/layouts/BaseLayout/BaseLayout.spec.jsx
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
  src/layouts/BaseLayout/hooks/useUserAccessGate.spec.tsx
Due: Layouts

feat: Create function to format bundle size strings (#2487)
  src/shared/utils/bundleAnalysis.spec.ts
  src/shared/utils/bundleAnalysis.ts
Due: Shared

it filters null anyway, dunno why it still complains
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
Due: Pages

ref: Refactor pulls table to use the new table (#2489)
  src/pages/RepoPage/PullsTab/PullsTable/Coverage/Coverage.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.jsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.spec.jsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
  src/services/pulls/usePulls.tsx
Due: Pages, Services

ref: Remove components select feature flag
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/CommitDetailPage/subRoute/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/subRoute/FilesChangedTab/FilesChangedTab.tsx
  src/pages/PullRequestPage/subroute/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/PullRequestPage/subroute/ComponentsSelector/ComponentsSelector.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.spec.jsx
Due: Pages

write hook to fetch bundle analysis summary data for commit page dropdown
  src/services/commit/useCommitBASummary.tsx
Due: Services

write tests for new hook
  src/services/commit/useCommitBASummary.spec.tsx
Due: Services

rename hook and files
  src/services/commit/useCommitBADropdownSummary.spec.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
Due: Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
