Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

Add darkmode styles to login buttons
  src/globals.css
  src/ui/Button/Button.jsx
  tailwind.config.js
Due: UI

some minor fixes and move somethings to useEffect when dealing with refs cause they don't exist when layout effects run
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

fix border line
  src/globals.css
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/ui/Label/Label.jsx
  src/ui/Table/Table.css
  tailwind.config.js
Due: Shared, UI

use consolidated color names except in old_ui
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
  src/pages/AccountSettings/shared/BackLink/BackLink.jsx
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AddAdmins/AddAdmins.jsx
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
  src/pages/AccountSettings/tabs/Profile/NameEmailCard/NameEmailCard.jsx
  src/pages/MembersPage/MembersList/MembersList.jsx
  src/pages/NotFound/NotFound.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/EnterprisePlanCard/EnterprisePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradePro/PlanUpgradePro.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/InvoiceDetail.jsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceHeader.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/sections/InvoiceOverview.tsx
  src/pages/PlanPage/subRoutes/InvoicesPage/InvoiceCard.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/pages/PullRequestPage/PullCoverage/Summary/CompareSummary/CompareSummary.jsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/pages/TermsOfService/TermsOfService.tsx
  src/ui/A/A.jsx
  src/ui/Checkbox/Checkbox.stories.jsx
  src/ui/CodeRenderer/CriticalFileLabel/CriticalFileLabel.jsx
  src/ui/ExpandableSection/ExpandableSection.tsx
  src/ui/Icon/Icon.stories.jsx
  src/ui/List/List.jsx
  src/ui/RadioInput/RadioInput.stories.jsx
  tailwind.config.js
Due: Layouts, Pages, UI

update pink default, comment out prefers for flag stuff
  src/globals.css
  src/pages/AccountSettings/tabs/YAML/YamlEditor/codecov-theme.css
  src/ui/A/A.jsx
  src/ui/Badge/Badge.tsx
  src/ui/BundleTrendChart/chart.css
  src/ui/Button/Button.jsx
  src/ui/Card/Card.stories.tsx
  src/ui/CheckList/CheckList.jsx
  src/ui/CoverageAreaChart/chart.css
  src/ui/DateRangePicker/DateRangePicker.tsx
  src/ui/Label/Label.stories.jsx
  src/ui/LoadingLogo/LoadingLogo.jsx
Due: Pages, UI

toggle with flag
  src/layouts/Header/Header.tsx
Due: Layouts

remove console log
  src/layouts/Header/Header.tsx
Due: Layouts

add chosen theme metric
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
  src/shared/utils/metrics.ts
Due: Layouts, Shared

fix removed DEFAULT key color names
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.jsx
  src/pages/AccountSettings/tabs/Access/Access.tsx
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTableTeam/FilesChangedTableTeam.tsx
  src/pages/DefaultOrgSelector/GitHubHelpBanner/GitHubHelpBanner.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/DeleteFlagModal/DeleteFlagModal.tsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.tsx
  src/ui/A/A.jsx
  src/ui/Badge/Badge.spec.tsx
  src/ui/Card/Card.stories.tsx
  src/ui/CopyClipboard/CopyClipboard.stories.tsx
  src/ui/FileList/FileList.stories.tsx
  src/ui/Icon/Icon.stories.jsx
  src/ui/Label/Label.stories.jsx
  src/ui/TruncatedMessage/TruncatedMessage.tsx
Due: Layouts, Pages, Shared, UI

Add dark mode to Card
  src/globals.css
  src/ui/Card/Card.tsx
Due: UI

Add dark mode to summary dropdown
  src/globals.css
  src/ui/SummaryDropdown/SummaryDropdown.tsx
  tailwind.config.js
Due: UI

fix: Set correct scroll margin in new file renderer (#3130)
  src/shared/RawFileViewer/RawFileViewer.spec.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: Shared, UI

Apply dark mode to modal
  src/globals.css
  src/ui/Modal/BaseModal.tsx
  tailwind.config.js
Due: UI

storybook color updates
  .storybook/main.ts
  src/DarkModeColors.mdx
  src/LightModeColors.mdx
Due: none

some red opacity updates
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.tsx
  src/ui/TotalsNumber/TotalsNumber.tsx
Due: UI

fix repo list badge, update media selector tailwind config
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
  tailwind.config.js
Due: Shared

use selector to prevent spillage
  tailwind.config.js
Due: none

new green, update some opacities that were wrong
  src/globals.css
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.tsx
  src/ui/TotalsNumber/TotalsNumber.tsx
  tailwind.config.js
Due: UI

uncovered lines, remove dup key
  src/globals.css
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.tsx
  tailwind.config.js
Due: Pages, UI

update file renderer dark color
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

fix toggle colors
  src/globals.css
  src/ui/Toggle/Toggle.jsx
  tailwind.config.js
Due: UI

gap and button color fix
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/ui/A/A.jsx
Due: Pages, UI

fix: Destruct isDirty directly from formstate object
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
Due: Pages

Clean up form local test changes
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
Due: Pages

More clean up
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
Due: Pages

Tooltip new component
  package.json
  src/ui/Tooltip/Tooltip.stories.tsx
  src/ui/Tooltip/Tooltip.tsx
  yarn.lock
Due: UI

fix: Destruct isDirty directly from formstate object (#3139)
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.tsx
Due: Pages

update DetailsSection
  src/pages/AccountSettings/tabs/Admin/DetailsSection/DetailsSection.jsx
Due: Pages

update NameEmailCard
  src/pages/AccountSettings/tabs/Profile/NameEmailCard/NameEmailCard.jsx
Due: Pages

update YAML
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
Due: Pages

update TermsOfService
  src/pages/TermsOfService/TermsOfService.tsx
Due: Pages

fix: Other instances of incorrect use of formState (#3140)
  src/pages/AccountSettings/tabs/Admin/DetailsSection/DetailsSection.jsx
  src/pages/AccountSettings/tabs/Profile/NameEmailCard/NameEmailCard.jsx
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/TermsOfService/TermsOfService.tsx
Due: Pages

Update with commits badges
  src/assets/svg/badges/coverageChampionBronze.svg
  src/assets/svg/badges/coverageChampionGold.svg
  src/assets/svg/badges/coverageChampionSilver.svg
  src/assets/svg/badges/index.ts
  src/assets/svg/badges/patchPerfectionistBronze.svg
  src/assets/svg/badges/patchPerfectionistGold.svg
  src/assets/svg/badges/patchPerfectionistSilver.svg
  src/assets/svg/badges/prsPowerhouseBronze.svg
  src/assets/svg/badges/prsPowerhouseGold.svg
  src/assets/svg/badges/prsPowerhouseSilver.svg
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Title/AuthorBadges/AuthorBadges.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Title/AuthorBadges/index.ts
  src/pages/RepoPage/CommitsTab/CommitsTable/Title/Title.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/services/commits/useCommits.tsx
  src/ui/Tooltip/index.ts
Due: Assets, Pages, Services, UI

Fix tests
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/services/commits/useCommits.spec.tsx
Due: Pages, Services

Add border for org picker on darkmode
  src/ui/ContextSwitcher/ContextSwitcher.jsx
Due: UI

Use correct darkmode color for org picker border
  src/ui/ContextSwitcher/ContextSwitcher.jsx
Due: UI

add in Sentry browser profiling
  src/sentry.ts
Due: none

add Sentry profiler to old code renderer
  src/ui/CodeRenderer/CodeRenderer.spec.tsx
  src/ui/CodeRenderer/CodeRenderer.tsx
Due: UI

add profiler to new virtual renderer
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI
