Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

Update tests for PR#3798 at 1742221084
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
Due: Pages

This PR has been updated to add tests for #3798
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
Due: Pages

Update tests for PR#3798 at 1742221100
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
Due: Pages

Test commit
  src/services/codecovAI/space.ts
Due: Services

Add Tests for PR#3811
  src/services/codecovAI/space.test.ts
Due: Services

ref: Convert BranchDirEntry to tsx (#3810)
  src/shared/ContentsTable/TableEntries/BaseEntries/DirEntry.tsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.jsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.test.jsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.test.tsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.tsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchFileEntry.test.tsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchFileEntry.tsx
  src/shared/ContentsTable/TableEntries/BranchEntries/useTypeSafeFilters.ts
Due: Shared

Update tests for PR#3814 at 1742223797
  src/services/codecovAI/space.test.ts
  src/services/codecovAI/space.ts
Due: Services

Update tests for PR#3814 at 1742224329
  src/services/codecovAI/space.test.ts
Due: Services

Update tests for PR#3813 at 1742225732
  src/services/codecovAI/space.test.ts
Due: Services

Update tests for PR#3813 at 1742226677
  src/services/codecovAI/space.test.ts
Due: Services

Fix pytest instructions
  src/pages/RepoPage/CoverageOnboarding/UseFrameworkInstructions.tsx
Due: Pages

Update tests for PR#3817 at 1742227612
  src/services/codecovAI/space.test.ts
Due: Services

This PR has been updated to add tests for #3817
  src/services/codecovAI/space.test.ts
  src/services/codecovAI/space.ts
Due: Services

fix: Pytest instructions wrong command (#3816)
  src/pages/RepoPage/CoverageOnboarding/UseFrameworkInstructions.tsx
Due: Pages

This PR has been updated to add tests for #3818
  src/services/codecovAI/index.ts
  src/services/codecovAI/space.test.ts
Due: Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
