Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

update this spec
  src/pages/RepoPage/RepoPage.spec.tsx
Due: Pages

prettier
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
Due: Pages

Create okta banners
  src/pages/AccountSettings/tabs/OktaAccess/OktaAccess.spec.tsx
  src/pages/AccountSettings/tabs/OktaAccess/OktaConfigForm/OktaConfigForm.spec.tsx
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useOktaConfig.spec.tsx
  src/pages/AccountSettings/tabs/OktaAccess/hooks/useOktaConfig.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.tsx
  src/shared/GlobalTopBanners/OktaBanners/index.ts
Due: Pages, Shared

Create more tests
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.spec.tsx
  src/shared/GlobalTopBanners/OktaBanners/OktaBanners.tsx
  src/shared/GlobalTopBanners/OktaEnabledBanner/OktaEnabledBanner.spec.tsx
  src/shared/GlobalTopBanners/OktaEnabledBanner/OktaEnabledBanner.tsx
  src/shared/GlobalTopBanners/OktaEnabledBanner/index.ts
  src/shared/GlobalTopBanners/OktaEnforcedBanner/OktaEnforcedBanner.spec.tsx
  src/shared/GlobalTopBanners/OktaEnforcedBanner/OktaEnforcedBanner.tsx
  src/shared/GlobalTopBanners/OktaEnforcedBanner/index.ts
Due: Shared

feat: Create hook for test results
  src/pages/RepoPage/FailedTestsTab/hooks/index.ts
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.spec.tsx
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.tsx
Due: Pages

Update first to 20
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.tsx
Due: Pages

feat: Add configuration manager tab to repo settings (#3040)
  src/layouts/SidebarLayout/SidebarLayout.jsx
  src/pages/RepoPage/SettingsTab/SettingsTab.spec.jsx
  src/pages/RepoPage/SettingsTab/SettingsTab.spec.tsx
  src/pages/RepoPage/SettingsTab/SettingsTab.tsx
  src/pages/RepoPage/SettingsTab/SideMenuSettings.jsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/index.ts
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Layouts, Pages, Services

Update with Nick comments
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.tsx
Due: Pages

PR comments, clean up console logs
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

add in new lint command
  package.json
Due: none

add in new ci step
  .github/workflows/ci.yml
Due: none

fix spec
  src/pages/RepoPage/RepoPageTabs.spec.tsx
Due: Pages

feat: Create hook for test results (#3044)
  src/pages/RepoPage/FailedTestsTab/hooks/index.ts
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.spec.tsx
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.tsx
Due: Pages

run with --quiet
  package.json
Due: none

fix routing, update spec
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

add back removed logic for search param
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.tsx
Due: Pages

fix: Update Enterprise Login header
  src/layouts/EnterpriseLoginLayout/EnterpriseLoginLayout.tsx
Due: Layouts

ref: Move bundle details (#3035)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/index.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/index.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleDetails.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/index.ts
Due: Pages

feat: Add testResultsCount to useTestResults
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.spec.tsx
  src/pages/RepoPage/FailedTestsTab/hooks/useInfiniteTestResults.tsx
Due: Pages

Apply suggestions from code review
  package.json
Due: none

add in new TypeSelector component
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.tsx
Due: Pages

update queries to allow filters to be passed
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.ts
  src/services/bundleAnalysis/useBundleAssets.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Pages, Services

fix small bug in bundle selector and reset type selector when bundle is updated
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
Due: Pages

update BundleDetails to grab the search param and pass it through
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.tsx
Due: Pages

add in test for useBundleAssetsTable
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.spec.tsx
Due: Pages

add type selector to bundle selection
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.tsx
Due: Pages

move things into constants file
  src/pages/RepoPage/BundlesTab/BundleContent/constants.ts
Due: Pages

update useBundleCharts to also respect the type filter
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
Due: Pages

import values from constants file
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.tsx
Due: Pages

fix: show team plan on upgrade plan page when click team upgrade and has sentryId (#3046)
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.tsx
Due: Pages

PR naming comments and add more redirects
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

UI updates
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.tsx
Due: Pages

update spec
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/services/account/mocks.ts
  src/services/account/useAccountDetails.ts
Due: Pages, Services

remove dead code, add period
  src/mocks/handlers.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/services/account/mocks.ts
Due: Pages, Services

feat: Add delinquent alert when user has due payment (#3051)
  src/mocks/handlers.js
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/services/account/mocks.ts
  src/services/account/useAccountDetails.ts
Due: Pages, Services

navlinks spec
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Services

feat: Add routing for Failed Test Table and init FailedTestTable Component (Part 1) (#3042)
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/index.ts
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

fix: make readonly yaml editor appear less editable
  src/pages/AccountSettings/tabs/YAML/YamlEditor/YamlEditor.tsx
  src/pages/AccountSettings/tabs/YAML/YamlEditor/codecov-theme.css
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.jsx
Due: Pages

link up hook, table seems to work but is rough
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.tsx
Due: Pages

update header, fix test
  src/layouts/EnterpriseLoginLayout/EnterpriseLoginLayout.spec.tsx
  src/layouts/EnterpriseLoginLayout/EnterpriseLoginLayout.tsx
Due: Layouts

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
