Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

remove barrel file from services/commitErrors
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YamlModal.jsx
  src/services/commitErrors/index.ts
Due: Pages, Services

remove barrel file from services/commits
  src/services/commits/index.ts
Due: Services

remove barrel files from services comparisons
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/Header/HeaderTeam/queries/CommitHeaderDataTeamQueryOpts.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
  src/pages/PullRequestPage/Header/HeaderTeam/queries/PullHeadDataTeamQueryOpts.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/queries/ComponentComparisonQueryOpts.tsx
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.tsx
  src/services/bundleAnalysis/BranchBundleSummaryQueryOpts.tsx
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.tsx
  src/services/bundleAnalysis/BundleAssetsQueryOpts.tsx
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.tsx
  src/services/bundleAnalysis/CachedBundlesQueryOpts.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
  src/services/commit/useCommit.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
  src/services/commit/useCommitBundleList.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
  src/services/commit/useCommitTeam.tsx
  src/services/commit/useCompareTotals.tsx
  src/services/commit/useCompareTotalsTeam.tsx
  src/services/commits/useCommits.tsx
  src/services/comparison/index.ts
  src/services/comparison/schemas/index.ts
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
  src/services/pathContents/commit/dir/constants.ts
  src/services/pathContents/pull/dir/constants.ts
  src/services/pull/usePrefetchSingleFileComp.tsx
  src/services/pull/usePull.tsx
  src/services/pull/usePullBADropdownSummary.tsx
  src/services/pull/usePullBundleComparisonList.tsx
  src/services/pull/usePullCompareTotalsTeam.tsx
  src/services/pull/usePullComponents.tsx
  src/services/pull/usePullCoverageDropdownSummary.tsx
  src/services/pull/usePullTeam.tsx
  src/services/pull/useSingularImpactedFileComparison.tsx
  src/services/pulls/usePulls.tsx
  src/services/repo/useRepoFlagsSelect.tsx
Due: Pages, Services

remove old rejectNetworkError
  src/shared/api/helpers.test.ts
  src/shared/api/helpers.ts
Due: Shared

rename caller to callingFn
  src/shared/api/rejectNetworkError.test.ts
  src/shared/api/rejectNetworkError.ts
Due: Shared

remove underscore from new rejectNetworkError
  src/shared/api/rejectNetworkError.test.ts
  src/shared/api/rejectNetworkError.ts
Due: Shared

feat: Add recently visited repo at top of list (#3734)
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/utils/getFilteredRecentlyVisitedRepo.test.ts
  src/shared/utils/getFilteredRecentlyVisitedRepo.ts
  src/shared/utils/transformStringToLocalStorageKey.test.ts
  src/shared/utils/transformStringToLocalStorageKey.ts
Due: Shared

feat: Open coverage dropdown when linking from file explorer
  src/shared/ContentsTable/TableEntries/BaseEntries/DirEntry.jsx
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.jsx
Due: Shared

fix: Change double amp render to ternary
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.jsx
Due: Shared

fix: Change to only commit and pulls and fix tests
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/shared/RepoContentsResult.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.jsx
  src/shared/ContentsTable/TableEntries/BaseEntries/DirEntry.jsx
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.test.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.test.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.test.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.test.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.tsx
Due: Pages, Shared

feat: Open coverage dropdown when linking from file explorer (#3752)
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/shared/RepoContentsResult.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.test.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.test.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.test.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.test.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.tsx
Due: Pages, Shared

update casing rule so it removes duplicate key issue, and also works for string literals
  .eslintrc.cjs
Due: none

remove extra space in classname
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
Due: UI

remove type error from package update
  src/ui/VirtualRenderers/LineNumber.tsx
Due: UI

add in todo comment
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
Due: UI

remove test console log
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
Due: UI

fix: Virtual file renderer not resetting when changing branch (#3760)
  .eslintrc.cjs
  package.json
  src/ui/VirtualRenderers/LineNumber.tsx
  src/ui/VirtualRenderers/VirtualFileRenderer.tsx
  yarn.lock
Due: UI

Convert OptionButton and DisplayTypeButton to TS
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/PlanDetailsControls/PlanDetailsControls.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.test.jsx
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.test.tsx
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.tsx
  src/shared/ContentsTable/DisplayTypeButton/index.js
  src/ui/OptionButton/OptionButton.jsx
  src/ui/OptionButton/OptionButton.stories.jsx
  src/ui/OptionButton/OptionButton.stories.tsx
  src/ui/OptionButton/OptionButton.test.tsx
  src/ui/OptionButton/OptionButton.tsx
  src/ui/OptionButton/index.ts
Due: Pages, Shared, UI

Simplify a bit of DisplayTypeButton
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.tsx
Due: Shared

Add test for default onChange
  src/ui/OptionButton/OptionButton.test.tsx
Due: UI

ref: Convert OptionButton and DisplayTypeButton to TS (#3759)
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/PlanDetailsControls/PlanDetailsControls.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.test.jsx
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.test.tsx
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.tsx
  src/shared/ContentsTable/DisplayTypeButton/index.js
  src/ui/OptionButton/OptionButton.jsx
  src/ui/OptionButton/OptionButton.stories.jsx
  src/ui/OptionButton/OptionButton.stories.tsx
  src/ui/OptionButton/OptionButton.test.tsx
  src/ui/OptionButton/OptionButton.tsx
  src/ui/OptionButton/index.ts
Due: Pages, Shared, UI

remove barrel file and move files around to tidy up directory
  src/services/navigation/index.ts
  src/services/navigation/useNavLinks.test.tsx
  src/services/navigation/useNavLinks.ts
  src/services/navigation/useNavLinks/index.ts
  src/services/navigation/useStaticNavLinks.test.tsx
  src/services/navigation/useStaticNavLinks.ts
Due: Services

more test fixes
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.test.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/Header/Header.test.jsx
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.test.tsx
Due: Pages

fix up failing tests
  src/App.test.tsx
  src/shared/ContentsTable/useTableDefaultSort/useTableDefaultSort.test.tsx
Due: Shared

update useAdminAccessList
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.test.tsx
  src/pages/AdminSettings/AdminAccess/AdminAccessTable/useAdminAccessList.ts
Due: Pages

update PullHeadDataQueryOpts
  src/pages/PullRequestPage/Header/HeaderDefault/queries/PullHeadDataQueryOpts.test.tsx
  src/pages/PullRequestPage/Header/HeaderDefault/queries/PullHeadDataQueryOpts.tsx
Due: Pages

update PullHeadDataTeamQueryOpts
  src/pages/PullRequestPage/Header/HeaderTeam/queries/PullHeadDataTeamQueryOpts.test.tsx
  src/pages/PullRequestPage/Header/HeaderTeam/queries/PullHeadDataTeamQueryOpts.tsx
Due: Pages

update SessionsQueryOpts
  src/services/access/SessionsQueryOpts.test.tsx
  src/services/access/SessionsQueryOpts.ts
Due: Services

update useAccountDetails
  src/services/account/useAccountDetails.test.tsx
  src/services/account/useAccountDetails.ts
Due: Services

update useAvailablePlans
  src/services/account/useAvailablePlans.test.tsx
  src/services/account/useAvailablePlans.ts
Due: Services

update useInvoice
  src/services/account/useInvoice.test.tsx
  src/services/account/useInvoice.ts
Due: Services

update useInvoices
  src/services/account/useInvoices.test.tsx
  src/services/account/useInvoices.ts
Due: Services

update usePlanData
  src/services/account/usePlanData.test.tsx
  src/services/account/usePlanData.ts
Due: Services

update useRepoATS
  src/services/ats/useRepoATS.test.tsx
  src/services/ats/useRepoATS.tsx
Due: Services

update useBranch
  src/services/branches/useBranch.test.tsx
  src/services/branches/useBranch.tsx
Due: Services
