Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

update AdminSettings
  src/pages/AdminSettings/AdminSettings.jsx
  src/pages/AdminSettings/AdminSettings.test.jsx
Due: Pages

update ActivationRequiredSelfHosted
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
Due: Pages

update ActivationRequiredSelfHosted
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
Due: Pages

feat: new UI to clarify adding token
  src/assets/onboarding/org_secret_dark.png
  src/assets/onboarding/org_secret_light.png
  src/assets/onboarding/repo_secret_dark.png
  src/assets/onboarding/repo_secret_light.png
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/MergeStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/MergeStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/types.ts
  src/services/codecovEventMetrics/useStoreCodecovEventMetric.tsx
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.js
Due: Pages, Services

test: Fix tests
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
Due: Pages

chore: styling
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.test.tsx
Due: Pages

fix: refactor and codecov action version
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
Due: Pages

fix: Render and style changes
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
Due: Pages

fix: Swap step number conditional
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
Due: Pages

fix: Use repo secret screenshot when repo token selected
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
Due: Pages

test: Remove duplicated nested describe
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/MergeStep.test.tsx
Due: Pages

fix: Fix conditional for variable step num
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
Due: Pages

fix: Alternative without useEffect for prev generated token
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
Due: Pages

fix: Fix alt text for screenshots
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
Due: Pages

remove flare graph from pr comment (#3581)
  codecov.yml
Due: none

feat: new UI to clarify adding token (#3552)
  src/assets/onboarding/org_secret_dark.png
  src/assets/onboarding/org_secret_light.png
  src/assets/onboarding/repo_secret_dark.png
  src/assets/onboarding/repo_secret_light.png
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/MergeStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/MergeStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/OutputCoverageStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/types.ts
  src/services/codecovEventMetrics/useStoreCodecovEventMetric.tsx
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/services/orgUploadToken/useRegenerateOrgUploadToken.js
Due: Pages, Services

another test
  README.md
Due: none

test commit 3
  README.md
Due: none

remove console.log
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
Due: Pages

dummy test
  README.md
Due: none

make test fail
  src/pages/RepoPage/RepoPage.test.tsx
Due: Pages

update storybook
  package.json
  yarn.lock
Due: none

Revert "update storybook"
  package.json
  yarn.lock
Due: none

chore: Update Storybook from ^8.2.6 -> ^8.4.7 (#3586)
  package.json
  yarn.lock
Due: none

remove usages of helpers including in tests, make a lot of planNames into plans for the upgrade controllers
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/Controller.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/shared/utils/billing.test.ts
  src/shared/utils/billing.ts
  src/shared/utils/upgradeForm.ts
Due: Pages, Shared

fix tests, clean up some weirdness with the zod schema for upgrade form, confirm with testing
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/PlanDetailsControls/PlanDetailsControls.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/PlanDetailsControls/PlanDetailsControls.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/Controller.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/ErrorBanner/ErrorBanner.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/ErrorBanner/ErrorBanner.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/hooks/useUpgradeControls.js
  src/services/account/useUpgradePlan.ts
  src/shared/utils/upgradeForm.test.ts
  src/shared/utils/upgradeForm.ts
Due: Pages, Services, Shared

tsc fixes
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.test.tsx
  src/services/account/useUpgradePlan.test.tsx
Due: Pages, Services

update usage in useSelfActivationMutation
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/useSelfActivationMutation.js
  src/pages/AccountSettings/tabs/Profile/ActivationBanner/useSelfActivationMutation.test.jsx
Due: Pages

Update yarn to 4.5.3
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
Due: none

chore: Update yarn to 4.5.3 (#3589)
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
Due: none

fix: Fix rendered header error
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
Due: Layouts

inital setup
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/UpgradeDetails.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/Controller.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
  src/services/account/usePlanData.ts
Due: Pages, Services

update the null
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
Due: Pages

replace account details plan occurences
  src/pages/MembersPage/MembersActivation/Activation/Activation.jsx
  src/pages/MembersPage/MembersActivation/Activation/Activation.test.jsx
  src/pages/MembersPage/MembersList/MembersList.test.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.test.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.test.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.test.jsx
  src/shared/utils/upgradeForm.test.ts
  src/shared/utils/upgradeForm.ts
Due: Pages, Shared

update plan types
  src/pages/PlanPage/subRoutes/UpgradePlanPage/PlanDetailsControls/PlanDetailsControls.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/UpgradeDetails.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/Controller.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/ErrorBanner/ErrorBanner.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateBlurb/UpdateBlurb.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.tsx
  src/services/account/useUpgradePlan.test.tsx
  src/services/account/useUpgradePlan.ts
  src/shared/utils/upgradeForm.ts
Due: Pages, Services, Shared

update tests
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.test.jsx
Due: Pages
