Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

update commit detail page query to include isCached field
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

update msw mock responses with new field
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
  src/pages/CommitDetailPage/CommitDetailPage.test.tsx
Due: Pages

make schema validation stricter
  src/services/user/useUpdateProfile.test.tsx
  src/services/user/useUpdateProfile.ts
  src/services/user/useUser.ts
Due: Services

update PullPageDataQueryOpts to fetch the isCached field
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.test.tsx
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.tsx
Due: Pages

fix tests
  src/pages/AccountSettings/tabs/Admin/DetailsSection/DetailsSection.test.jsx
  src/pages/AccountSettings/tabs/Profile/NameEmailCard/NameEmailCard.test.jsx
Due: Pages

update msw mock responses in tests with isCached field
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.test.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/useTabsCounts.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.test.jsx
  src/pages/PullRequestPage/PullRequestPage.test.tsx
Due: Pages

chore: Migrate updateProfile to ts (#3607)
  src/pages/AccountSettings/tabs/Admin/DetailsSection/DetailsSection.test.jsx
  src/pages/AccountSettings/tabs/Profile/NameEmailCard/NameEmailCard.test.jsx
  src/services/user/useUpdateProfile.test.tsx
  src/services/user/useUpdateProfile.ts
  src/services/user/useUser.ts
Due: Pages, Services

feat: Add appless pre-PAT onboarding container
  src/App.tsx
  src/assets/onboarding/org_list_install_app.png
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/constants.ts
  src/pages/DefaultOrgSelector/index.js
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/pages/OwnerPage/OnboardingContainerContext/context.tsx
  src/pages/OwnerPage/OnboardingOrg/OnboardingOrg.tsx
  src/pages/OwnerPage/OnboardingOrg/constants.ts
  src/pages/OwnerPage/OnboardingOrg/index.ts
  src/pages/OwnerPage/OwnerPage.jsx
  src/services/navigation/useLocationParams.ts
  src/shared/ListRepo/ListRepo.jsx
Due: Layouts, Pages, Services, Shared

fix: Update viewFile toggle in commit detail page
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
Due: Pages

Appless non-PAT org dropdown clarity changes
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: UI

Prepare release 25.1.3
  VERSION
Due: none

Update
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
  src/pages/CommitDetailPage/Header/PullLabel/PullLabel.test.jsx
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.test.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/SyncProviderPage/SyncButton.test.tsx
  src/pages/SyncProviderPage/SyncProviderPage.test.tsx
  src/shared/utils/loginProviders.test.ts
  src/shared/utils/loginProviders.ts
  src/shared/utils/provider.ts
Due: Pages, Shared

Release 25.1.3 (#3624)
  VERSION
Due: none

fix test
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.test.tsx
Due: Pages

chore: Revert "ref: Migrate useReposTeam to TS Query V5 (#3615)"
  src/services/repos/config.ts
  src/services/repos/index.ts
  src/services/repos/useRepos.tsx
  src/services/repos/useReposTeam.test.tsx
  src/services/repos/useReposTeam.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.jsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/ListRepo/ReposTableTeam/index.js
Due: Services, Shared

Fix initialPageParam for ReposTeamQueryOpts
  src/services/repos/ReposTeamQueryOpts.test.tsx
  src/services/repos/ReposTeamQueryOpts.tsx
Due: Services

fix: empty string initialPageParam breaking ReposTeamQueryOpts (#3626)
  src/services/repos/ReposTeamQueryOpts.test.tsx
  src/services/repos/ReposTeamQueryOpts.tsx
Due: Services

fix other tables
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
Due: Pages

fix tests
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.test.tsx
Due: Pages

fix tests
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
Due: Pages

feat: Fetch isCached Field with CommitPageDataQueryOpts (#3621)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
  src/pages/CommitDetailPage/CommitDetailPage.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

Revert "feat: Fetch isCached Field with CommitPageDataQueryOpts (#3621)"
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
  src/pages/CommitDetailPage/CommitDetailPage.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

Revert "feat: Fetch isCached Field with CommitPageDataQueryOpts" (#3630)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
  src/pages/CommitDetailPage/CommitDetailPage.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

resolve issue with union type not being checked correctly
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

tidy up union types so we can reuse the MissingHeadReportSchema typename
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.tsx
Due: Pages

feat: Fetch isCached Field with CommitPageDataQueryOpts - Round 2 (#3631)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
  src/pages/CommitDetailPage/CommitDetailPage.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

add in new banner component
  src/shared/CachedBundleContentBanner/CachedBundleContentBanner.tsx
Due: Shared

add in test for banner component
  src/shared/CachedBundleContentBanner/CachedBundleContentBanner.test.tsx
Due: Shared

fix: Update copy for tokenless tab
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.test.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.tsx
Due: Pages

fix: Update copy for tokenless tab (#3633)
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.test.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.tsx
Due: Pages

update usage in ChartSelectors and refactor tests
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.test.jsx
Due: Pages

migrate hook to query options API
  src/services/repos/ReposQueryOpts.test.tsx
  src/services/repos/ReposQueryOpts.tsx
  src/services/repos/index.ts
Due: Services

update usage in ReposTable
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

resolve linting issues
  src/pages/AdminSettings/AdminMembers/MemberList/MemberTable.tsx
  src/services/repos/ReposQueryOpts.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/shared/utils/demo.ts
Due: Pages, Services, Shared

update affected import changes
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/shared/ListRepo/ListRepo.jsx
  src/shared/ListRepo/OrgControlTable/OrgControlTable.test.jsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
Due: Pages, Shared

add in TS helpers to extract data from queryOptions and infiniteQueryOptions
  src/shared/utils/queries.ts
Due: Shared

fix typo
  src/shared/utils/queries.ts
Due: Shared

optimize helper types
  src/shared/utils/demo.ts
  src/shared/utils/queries.ts
Due: Shared
