Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

update field name
  src/services/bundleAnalysis/BundleAssetsQueryOpts.tsx
Due: Services

feat: Update useBundleAssets to fetch routes field (#3527)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
  src/services/bundleAnalysis/useBundleAssets.test.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Pages, Services

resolve issue where click checkboxes doesn't update the query cache
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadItem.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadItem.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
Due: Pages

fix: Do not allow removing sorting from repos table
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

chore: Migrate useCommitHeaderData to TS Query V5 (#3548)
  src/pages/CommitDetailPage/Header/HeaderDefault/HeaderDefault.jsx
  src/pages/CommitDetailPage/Header/HeaderDefault/HeaderDefault.test.jsx
  src/pages/CommitDetailPage/Header/HeaderDefault/hooks/index.ts
  src/pages/CommitDetailPage/Header/HeaderDefault/queries/CommitHeaderDataQueryOpts.test.tsx
  src/pages/CommitDetailPage/Header/HeaderDefault/queries/CommitHeaderDataQueryOpts.tsx
Due: Pages

chore: Migrate useCommitHeaderDataTeam to TS Query V5 (#3549)
  src/pages/CommitDetailPage/Header/HeaderTeam/HeaderTeam.jsx
  src/pages/CommitDetailPage/Header/HeaderTeam/HeaderTeam.test.jsx
  src/pages/CommitDetailPage/Header/HeaderTeam/hooks/index.ts
  src/pages/CommitDetailPage/Header/HeaderTeam/queries/CommitHeaderDataTeamQueryOpts.test.tsx
  src/pages/CommitDetailPage/Header/HeaderTeam/queries/CommitHeaderDataTeamQueryOpts.tsx
Due: Pages

get all selector working as well
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
Due: Pages

refactor: Convert GlobalBanners, featureFlag and useRedirect hooks to TS
  src/shared/GlobalBanners/GlobalBanners.test.tsx
  src/shared/GlobalBanners/GlobalBanners.tsx
  src/shared/GlobalBanners/MissingDesignatedAdmins/MissingDesignatedAdmins.tsx
  src/shared/GlobalBanners/MissingDesignatedAdmins/index.ts
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.test.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/index.ts
  src/shared/featureFlags/featureFlag.test.tsx
  src/shared/featureFlags/featureFlag.ts
  src/shared/featureFlags/index.ts
  src/shared/useRedirect/hooks.test.ts
  src/shared/useRedirect/hooks.ts
  src/shared/useRedirect/index.ts
Due: Shared

refactor: add back TS conversion changes to SelfHosted file
  src/shared/GlobalBanners/SelfHostedLicenseExpiration/SelfHostedLicenseExpiration.tsx
Due: Shared

chore: Migrate useIgnoredIds to TS Query V5 (#3547)
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadItem.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadItem.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/CommitDetailPage/hooks/useIgnoredIds.test.tsx
  src/pages/CommitDetailPage/hooks/useIgnoredIds.ts
  src/pages/CommitDetailPage/queries/IgnoredIdsQueryOptions.test.tsx
  src/pages/CommitDetailPage/queries/IgnoredIdsQueryOptions.ts
Due: Pages

request plugin name in the new info field and move to only query options
  src/services/bundleAnalysis/BundleAssetsQueryOpts.test.tsx
  src/services/bundleAnalysis/BundleAssetsQueryOpts.tsx
Due: Services

update useBundleAssetsTable
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.ts
Due: Pages

update for TSQ V5 and grab new bundle info data
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

update BundleContent
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
Due: Pages

tsc fixes for storybook files
  .storybook/Layout.tsx
  .storybook/preview.tsx
Due: none

Filter out indirect files
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.tsx
Due: Pages

dev: Node 22 LTS (#3507)
  .nvmrc
  .storybook/Layout.tsx
  .storybook/preview.tsx
  docker/Dockerfile
  package.json
  tsconfig.json
  yarn.lock
Due: none

fix: Do not allow removing sorting from repos table (#3554)
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

refactor: convert AppLink to typescript
  src/layouts/Header/components/Navigator/MyContextSwitcher.test.tsx
  src/layouts/Header/components/Navigator/MyContextSwitcher.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/components/FeatureGroup/FeatureGroup.tsx
  src/pages/RepoPage/CoverageTab/CoverageTabNavigator.tsx
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/shared/AppLink/AppLink.tsx
  src/shared/AppLink/index.js
  src/shared/AppLink/index.ts
  src/shared/GlobalBanners/MissingDesignatedAdmins/MissingDesignatedAdmins.tsx
  src/shared/featureFlags/featureFlag.ts
  src/ui/Button/Button.tsx
  src/ui/Button/index.ts
  src/ui/Sidemenu/Sidemenu.tsx
Due: Layouts, Pages, Services, Shared, UI

add new deps for eslint rules
  yarn.lock
Due: none

also remove storybook create-react-app preset
  yarn.lock
Due: none

enable base eslint recomendations
  .eslintrc.cjs
Due: none

enable typescript-eslint recommended rules
  .eslintrc.cjs
Due: none

apply recommended rules
  .eslintrc.cjs
  src/layouts/Header/components/Navigator/MyContextSwitcher.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageSummary/hooks/useCommitForSummary.test.jsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.tsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.test.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/CancelButton/utils.js
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/NameColumn/NameColumn.jsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.test.jsx
  src/pages/RepoPage/ConfigTab/tabs/BadgesAndGraphsTab/Badges/Badges.test.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/hooks/useRepoComponentsTable.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useBranchSelector.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/summaryHooks/useCoverageRedirect.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.tsx
  src/sentry.ts
  src/services/branches/useBranches.test.tsx
  src/services/charts/useReposCoverageMeasurements.ts
  src/services/user/useMyContexts.test.tsx
  src/shared/ContentsTable/TableEntries/BaseEntries/DirEntry.jsx
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.jsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.jsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/useRedirect/hooks.test.js
  src/ui/MultiSelect/MultiSelect.jsx
  src/ui/Select/Select.jsx
Due: Layouts, Pages, Services, Shared, UI

remove ignored unused arg
  src/ui/Sparkline/Sparkline.tsx
Due: UI

remove type ignore and type issue
  src/ui/TopBanner/TopBanner.tsx
  src/ui/VirtualRenderers/LineNumber.tsx
Due: UI

resovle new lint violations
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/ui/Button/Button.tsx
Due: Pages, UI

remove these two quick changes that aren't lint related
  src/services/access/useDeleteSession.ts
  src/services/access/useRevokeUserToken.ts
Due: Services

expect ts error for useUpdateRepo as it's not typed yet
  src/services/repo/useUpdateRepo.test.tsx
Due: Services

lower the hash count down to 21
  vite.config.mjs
Due: none

fix up ts generic issue
  src/ui/VirtualRenderers/LineNumber.tsx
Due: UI

update git blame ignore with lint commit
  .git-blame-ignore-revs
Due: none

fix: Text formatting
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
Due: Pages
