Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

update bundleAnalysis tests
  src/shared/utils/bundleAnalysis.test.ts
Due: Shared

update billing tests
  src/shared/utils/billing.test.js
Due: Shared

update animationFrameUtils tests
  src/shared/utils/animationFrameUtils.test.ts
Due: Shared

chore: Update layouts/shared tests to Vitest (#3214)
  src/layouts/shared/ErrorBoundary/ErrorBoundary.test.jsx
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.test.jsx
  src/layouts/shared/NetworkErrorBoundary/index.ts
  src/layouts/shared/NetworkErrorBoundary/networkErrorMetrics.test.ts
  src/layouts/shared/SilentNetworkError/SilentNetworkError.test.jsx
  src/layouts/shared/SilentNetworkError/index.ts
  src/layouts/shared/SilentNetworkErrorWrapper/SilentNetworkErrorWrapper.test.tsx
  src/layouts/shared/SilentNetworkErrorWrapper/SilentNetworkErrorWrapper.tsx
  src/layouts/shared/SilentNetworkErrorWrapper/index.ts
Due: Layouts

chore: Update layouts/SidebarLayout to Vitest (#3216)
  src/layouts/SidebarLayout/SidebarLayout.test.tsx
  src/layouts/SidebarLayout/SidebarLayout.tsx
  src/layouts/SidebarLayout/index.ts
Due: Layouts

set icon labels in CopyClipboard
  src/ui/CopyClipboard/CopyClipboard.tsx
Due: UI

refactor TokenWrapper to TS and migrate tests to vitest
  src/ui/TokenWrapper/TokenWrapper.spec.jsx
  src/ui/TokenWrapper/TokenWrapper.stories.jsx
  src/ui/TokenWrapper/TokenWrapper.stories.tsx
  src/ui/TokenWrapper/TokenWrapper.test.tsx
  src/ui/TokenWrapper/TokenWrapper.tsx
  src/ui/TokenWrapper/index.ts
Due: UI

chore: Update layouts/ToastNotifications to Vitest (#3217)
  src/layouts/ToastNotifications/ToastNotifications.test.jsx
  src/layouts/ToastNotifications/index.ts
Due: Layouts

chore: Update ui/VirtualFileRenderer test to Vitest (#3218)
  src/ui/VirtualFileRenderer/ColorBar.test.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.test.tsx
Due: UI

update ui/ToggleElement
  src/ui/ToggleElement/ToggleElement.test.tsx
Due: UI

refactor components into separate sections, write a simple test for page
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/BranchSelector.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/index.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.tsx
Due: Pages

update index file to ts
  src/ui/TextInput/index.ts
Due: UI

update TextInput to use cva for variants
  src/ui/TextInput/TextInput.tsx
Due: UI

update to use CVA to handle variants and cn to merge classnames
  src/ui/TextInput/TextInput.tsx
Due: UI

update tests to vitest
  src/ui/TextInput/TextInput.spec.tsx
  src/ui/TextInput/TextInput.test.tsx
Due: UI

update index file to ts
  src/ui/TabNavigation/index.ts
Due: UI

tidy up TabNavigation
  src/ui/TabNavigation/TabNavigation.jsx
Due: UI

update TabNavigation tests
  src/ui/TabNavigation/TabNavigation.spec.jsx
  src/ui/TabNavigation/TabNavigation.test.jsx
Due: UI

update summary dropdown tests
  src/ui/SummaryDropdown/SummaryDropdown.test.tsx
Due: UI

update SummaryField
  src/ui/Summary/SummaryField/SummaryField.spec.jsx
  src/ui/Summary/SummaryField/SummaryField.stories.jsx
  src/ui/Summary/SummaryField/SummaryField.stories.tsx
  src/ui/Summary/SummaryField/SummaryField.test.tsx
  src/ui/Summary/SummaryField/SummaryField.tsx
  src/ui/Summary/SummaryField/index.ts
  src/ui/Summary/SummaryRoot/index.js
Due: UI

update SummaryRoot
  src/ui/Summary/SummaryRoot/SummaryRoot.stories.jsx
  src/ui/Summary/SummaryRoot/SummaryRoot.stories.tsx
  src/ui/Summary/SummaryRoot/SummaryRoot.tsx
  src/ui/Summary/SummaryRoot/index.ts
Due: UI

update Summary to TS and Vitest
  src/ui/Summary/Summary.jsx
  src/ui/Summary/Summary.stories.jsx
  src/ui/Summary/Summary.stories.tsx
  src/ui/Summary/Summary.test.tsx
  src/ui/Summary/Summary.tsx
  src/ui/Summary/index.ts
Due: UI

update tests
  src/ui/Sparkline/Sparkline.spec.tsx
  src/ui/Sparkline/Sparkline.test.tsx
Due: UI

update index file
  src/ui/Sidemenu/index.ts
Due: UI

tidy up Sidemenu
  src/ui/Sidemenu/Sidemenu.jsx
Due: UI

update sidemenu tests
  src/ui/Sidemenu/Sidemenu.spec.jsx
  src/ui/Sidemenu/Sidemenu.test.jsx
Due: UI

update SettingsDescriptor to TS
  src/ui/SettingsDescriptor/SettingsDescriptor.stories.jsx
  src/ui/SettingsDescriptor/SettingsDescriptor.stories.tsx
  src/ui/SettingsDescriptor/SettingsDescriptor.tsx
  src/ui/SettingsDescriptor/index.ts
Due: UI

update tests to ts and vitest
  src/ui/SettingsDescriptor/SettingsDescriptor.spec.jsx
  src/ui/SettingsDescriptor/SettingsDescriptor.test.tsx
Due: UI

update index file to ts
  src/ui/Select/index.ts
Due: UI

update select tests to vitest
  src/ui/Select/Select.test.jsx
Due: UI

update index file to ts
  src/ui/SearchField/index.ts
Due: UI

update search field tests to vitest
  src/ui/SearchField/SearchField.test.jsx
Due: UI

update RadioTileGroup to vitest
  src/ui/RadioTileGroup/RadioTileGroup.test.tsx
Due: UI

update RadioInput to TS and vitest
  src/ui/RadioInput/RadioInput.stories.jsx
  src/ui/RadioInput/RadioInput.stories.tsx
  src/ui/RadioInput/RadioInput.test.tsx
  src/ui/RadioInput/RadioInput.tsx
Due: UI

remove unused lint rule
  src/pages/TermsOfService/TermsOfService.tsx
Due: Pages

update Progress tests to vitest
  src/ui/Progress/Progress.spec.tsx
  src/ui/Progress/Progress.test.tsx
Due: UI

update index file to TS
  src/ui/OptionButton/index.ts
Due: UI

update OptionButton tests to vitest
  src/ui/OptionButton/OptionButton.test.jsx
Due: UI

update index file to ts
  src/ui/MultiSelect/index.ts
Due: UI

update tests to vitest
  src/ui/MultiSelect/MultiSelect.jsx
  src/ui/MultiSelect/MultiSelect.test.jsx
Due: UI

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
