Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

feat: Add recently visited repo at top of list
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/utils/getFilteredRecentlyVisitedRepo.test.ts
  src/shared/utils/getFilteredRecentlyVisitedRepo.ts
  src/shared/utils/transformStringToLocalStorageKey.test.ts
  src/shared/utils/transformStringToLocalStorageKey.ts
Due: Shared

fix: Review changes
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
  src/shared/utils/getFilteredRecentlyVisitedRepo.test.ts
  src/shared/utils/getFilteredRecentlyVisitedRepo.ts
Due: Shared

fix: Add missing import
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

fix: Fix tests
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
Due: Shared

fix: Capitalize recently visited badge
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
Due: Shared

refactor: Change types
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/utils/getFilteredRecentlyVisitedRepo.ts
Due: Shared

feat: Open coverage dropdown when linking from file explorer
  src/shared/ContentsTable/TableEntries/BaseEntries/DirEntry.jsx
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.jsx
Due: Shared

fix: Change to only commit and pulls and fix tests
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/shared/RepoContentsResult.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
  src/shared/ContentsTable/DisplayTypeButton/DisplayTypeButton.jsx
  src/shared/ContentsTable/TableEntries/BaseEntries/DirEntry.jsx
  src/shared/ContentsTable/TableEntries/BaseEntries/FileEntry.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.test.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.test.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.test.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.test.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullFileEntry.tsx
Due: Pages, Shared

test: fix tests
  src/shared/ListRepo/ReposTable/ReposTable.test.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.test.tsx
  src/shared/utils/transformStringToLocalStorageKey.test.ts
  src/shared/utils/transformStringToLocalStorageKey.ts
Due: Shared

fix: Add fixes and new rules to tokenless banner show logic
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/constants.ts
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/index.ts
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/useSetUploadTokenRequired.tsx
  src/services/user/useOwner.ts
  src/shared/GlobalTopBanners/TokenlessBanner/TokenNotRequiredBanner/TokenNotRequiredBanner.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenRequiredBanner/TokenRequiredBanner.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
  src/ui/TopBanner/TopBanner.test.tsx
  src/ui/TopBanner/TopBanner.tsx
Due: Pages, Services, Shared, UI

Unify and slightly reword account deletion (#3742)
  src/pages/AccountSettings/tabs/Admin/Admin.jsx
  src/pages/AccountSettings/tabs/Admin/Admin.test.jsx
  src/pages/AccountSettings/tabs/Admin/DeletionCard/DeletionCard.tsx
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.test.tsx
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.tsx
  src/pages/AccountSettings/tabs/DeletionCard/index.ts
  src/pages/AccountSettings/tabs/Profile/DeletionCard/DeletionCard.test.tsx
  src/pages/AccountSettings/tabs/Profile/DeletionCard/DeletionCard.tsx
  src/pages/AccountSettings/tabs/Profile/DeletionCard/index.ts
  src/pages/AccountSettings/tabs/Profile/Profile.jsx
Due: Pages

Reintroduce the "delete account" action
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.test.tsx
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.tsx
  src/pages/AccountSettings/tabs/DeletionCard/EraseOwnerModal.tsx
Due: Pages

remove barrel file from services/branches
  src/services/branches/index.ts
Due: Services

update imports from services/branches
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/hooks/useCommitsTabBranchSelector.ts
  src/pages/RepoPage/ConfigTab/tabs/BadgesAndGraphsTab/Badges/Badges.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DefaultBranch/DefaultBranch.jsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useBranchSelector.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/summaryHooks/useSummary.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/BranchSelector.tsx
Due: Pages

use branch type from useBranch
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useBranchSelector.ts
  src/services/branches/useBranch.tsx
Due: Pages, Services

remove barrel file
  src/services/commit/index.ts
Due: Services

update imports
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageSummary/hooks/useCommitForSummary.js
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.ts
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YAMLViewer.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YAMLViewer.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.tsx
  src/services/commit/useCommit.test.tsx
  src/services/commit/useCommitYaml.test.tsx
  src/shared/utils/extractUploads.ts
Due: Pages, Services, Shared

add in support for 400 request
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.test.jsx
Due: Layouts

do not export new helper function
  src/shared/api/rejectNetworkError.ts
Due: Shared

start working on updated rejectNetworkError function
  src/shared/api/rejectNetworkError.ts
Due: Shared

enable vite preview
  package.json
  vite.config.mjs
Due: none

feat: Move initial sunburst data into react state (#3751)
  src/ui/SunburstChart/SunburstChart.jsx
  src/ui/SunburstChart/utils.js
Due: none

chore: Remove use of barrel files in services/commit (#3750)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageSummary/hooks/useCommitForSummary.js
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.ts
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YAMLViewer.jsx
  src/pages/CommitDetailPage/CommitCoverage/YamlModal/YAMLViewer.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.tsx
  src/services/commit/index.ts
  src/services/commit/useCommit.test.tsx
  src/services/commit/useCommitYaml.test.tsx
  src/shared/utils/extractUploads.ts
Due: Pages, Services, Shared

small tweaks to rejectNetworkError
  src/shared/api/rejectNetworkError.ts
Due: Shared

add in tests for helper
  src/shared/api/rejectNetworkError.test.ts
Due: Shared

remove barrel file from deleteComponentMeasurements
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.tsx
  src/services/deleteComponentMeasurements/index.ts
Due: Pages, Services

remove barrel file from deleteFlag
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/DeleteFlagModal/DeleteFlagModal.tsx
  src/services/deleteFlag/index.js
Due: Pages, Services

remove barrel file from file
  src/services/file/index.ts
  src/shared/RawFileViewer/RawFileViewer.tsx
Due: Services, Shared

remove barrel file from impactedFiles
  src/services/commit/useCommit.tsx
  src/services/impactedFiles/schemas/index.ts
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/services/pathContents/commit/dir/constants.ts
  src/services/pathContents/pull/dir/constants.ts
Due: Services

remove barrel file from impersonate
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/EnterpriseLoginLayout/Header/Header.tsx
  src/layouts/Header/Header.test.tsx
  src/layouts/Header/Header.tsx
  src/services/impersonate/index.js
Due: Layouts, Services

Update FailedTestsErrorBanner.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.tsx
Due: Pages

remove barrel file from orgUploadToken
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/useGenerateOrgUploadToken.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/services/orgUploadToken/index.js
Due: Pages, Services

Fix grammar
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.tsx
Due: Pages

add in default case and tests for level and code helpers
  src/shared/api/rejectNetworkError.test.ts
  src/shared/api/rejectNetworkError.ts
Due: Shared

Update FailedTestsErrorBanner.tsx (#3755)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.tsx
Due: Pages

feat: Expand utility of rejectNetworkError (#3743)
  package.json
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.jsx
  src/layouts/shared/NetworkErrorBoundary/NetworkErrorBoundary.test.jsx
  src/shared/api/rejectNetworkError.test.ts
  src/shared/api/rejectNetworkError.ts
  vite.config.mjs
Due: Layouts, Shared

bump to TSV latest
  package.json
  yarn.lock
Due: none

chore: Remove barrel files from services part 2 (#3757)
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/EnterpriseLoginLayout/Header/Header.tsx
  src/layouts/Header/Header.test.tsx
  src/layouts/Header/Header.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/useGenerateOrgUploadToken.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/DeleteFlagModal/DeleteFlagModal.tsx
  src/services/commit/useCommit.tsx
  src/services/deleteComponentMeasurements/index.ts
  src/services/deleteFlag/index.js
  src/services/file/index.ts
  src/services/impactedFiles/schemas/index.ts
  src/services/impersonate/index.js
  src/services/orgUploadToken/index.js
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/services/pathContents/commit/dir/constants.ts
  src/services/pathContents/pull/dir/constants.ts
  src/shared/RawFileViewer/RawFileViewer.tsx
Due: Layouts, Pages, Services, Shared

chore: Remove use of barrel files in services/branches (#3749)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BranchSelector.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.jsx
  src/pages/RepoPage/CommitsTab/hooks/useCommitsTabBranchSelector.ts
  src/pages/RepoPage/ConfigTab/tabs/BadgesAndGraphsTab/Badges/Badges.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DefaultBranch/DefaultBranch.jsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useBranchSelector.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/summaryHooks/useSummary.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/BranchSelector/BranchSelector.tsx
  src/services/branches/index.ts
  src/services/branches/useBranch.tsx
Due: Pages, Services

remove barrel file from codecovEventMetrics
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/WorkflowYMLStep.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageOnboarding/OutputCoverageStep/OutputCoverageStep.tsx
  src/services/codecovEventMetrics/index.ts
Due: Pages, Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
