Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

fix: Show enable button in components/flags for activated users only
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/CommitDetailPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/TokensTeam/TokensTeam.spec.js
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.spec.tsx
  src/pages/RepoPage/CoverageTab/ComponentsTab/ComponentsTab.tsx
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.tsx
  src/pages/RepoPage/CoverageTab/FlagsTab/FlagsTab.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FlagMultiSelect.spec.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/services/repo/useRepoSettingsTeam.spec.tsx
  src/services/repo/useRepoSettingsTeam.tsx
Due: Pages, Services

Move to repo level not org
  src/pages/RepoPage/ConfigTab/ConfigTab.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/AchievementsTab.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/index.ts
  src/services/navigation/useNavLinks/useNavLinks.js
Due: Pages, Services

Only show for non perosnal orgs
  src/pages/RepoPage/ConfigTab/ConfigTab.tsx
Due: Pages

update the green to purple
  src/globals.css
Due: none

feat: Add new meta-framework onboarding doc tabs
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/metricHelpers.ts
  src/pages/RepoPage/RepoPage.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

fix: remove comment and remove extraneous word
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

fix: Add default for deciding initial bundler option
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
Due: Pages

add header toggle
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/ThemeToggle/ThemeToggle.spec.tsx
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
  src/layouts/Header/components/ThemeToggle/index.ts
  src/ui/Icon/svg/outline/index.js
Due: Layouts, UI

add theme toggle test TODO
  src/layouts/Header/components/ThemeToggle/ThemeToggle.spec.tsx
Due: Layouts

background color update
  public/index.html
  src/globals.css
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
  tailwind.config.js
Due: Layouts

comment out theme toggle test for now
  src/layouts/Header/components/ThemeToggle/ThemeToggle.spec.tsx
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
Due: Layouts

Port over root css to dark schema
  src/globals.css
Due: none

Change Alert component background and leftside line
  src/globals.css
Due: none

fix theme toggle test
  src/layouts/Header/components/ThemeToggle/ThemeToggle.spec.tsx
Due: Layouts

template classes for container, text, and bg
  public/index.html
  src/globals.css
  src/ui/Chart/Chart.tsx
  src/ui/Dropdown/Dropdown.tsx
  src/ui/LoadingLogo/LoadingLogo.jsx
  src/ui/MultiSelect/MultiSelect.jsx
  src/ui/RadioTileGroup/RadioTileGroup.tsx
  src/ui/Select/Select.jsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
  tailwind.config.js
Due: UI

Add Success, Error and Warning Alert background colors
  src/globals.css
Due: none

Add neutral button color background
  src/globals.css
Due: none

colors
  src/globals.css
  src/old_ui/Card/Card.jsx
  src/old_ui/Pagination/Pagination.jsx
  src/old_ui/Toggle/Toggle.jsx
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AddAdmins/AddAdmins.jsx
  src/pages/CommitDetailPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PlanPage/subRoutes/InvoiceDetailsPage/InvoiceDetail.jsx
  src/pages/PullRequestPage/Header/ToggleHeader/ToggleHeader.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/Title/Title.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/Title/Title.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/PullsTab/PullsTable/Title/Title.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/shared/ListRepo/RepoTitleLink/RepoTitleLink.jsx
  src/ui/A/A.jsx
  src/ui/Button/Button.jsx
  src/ui/Chart/Chart.tsx
  src/ui/CodeRenderer/DiffLine/DiffLine.tsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/DateRangePicker/DateRangePicker.tsx
  src/ui/FileViewer/ToggleHeader/Title/CoverageSelect.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.tsx
  src/ui/Modal/BaseModal.tsx
  src/ui/Toggle/Toggle.jsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
  tailwind.config.js
Due: Pages, Shared, UI

append to class list
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
Due: Layouts

Add ds-gray-primary and ds-gray-base
  src/globals.css
Due: none

get resize scroll offset stuff sorted
  src/ui/VirtualFileRenderer/VirtualFileRenderer.spec.tsx
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

make black and white work
  src/globals.css
  src/ui/ContextSwitcher/ContextSwitcher.jsx
Due: UI

some small color tweaks, and removing some classes where not needed
  src/globals.css
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

set localStorage on user input and use media query in css for os pref
  src/globals.css
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
Due: Layouts

small fixes on colors
  src/globals.css
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/List/List.jsx
  tailwind.config.js
Due: Shared, UI

handle repo not active in leaderboards
  src/assets/svg/badges.svg
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/AchievementsTab.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/hooks/useAchievements.tsx
Due: Assets, Pages

swap to just an effect
  src/ui/VirtualFileRenderer/VirtualFileRenderer.tsx
Due: UI

update mocks in raw file viewer
  src/shared/RawFileViewer/RawFileViewer.spec.tsx
Due: Shared

add support for more languages
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

add svelte
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

remove html as it's not a thing
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

remove redundent R map becuase we send the string to lower case now
  src/shared/utils/prismLanguageMapper.ts
Due: Shared

update test cases
  src/shared/utils/prismLanguageMapper.spec.ts
Due: Shared

Push patch perfectionist
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/AchievementsTab.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/PatchLeaderboard/PatchLeaderboard.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/PatchLeaderboard/index.ts
Due: Pages

Update with PRs leaderboard and coverage leaderboard
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/AchievementsTab.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/CoverageLeaderboard/CoverageLeaderboard.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/CoverageLeaderboard/index.ts
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/PatchLeaderboard/index.ts
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/PullsLeaderboard/PullsLeaderboard.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/PullsLeaderboard/index.ts
Due: Pages

Add darkmode to TextInput
  src/ui/TextInput/TextInput.tsx
Due: UI

Add opacity to Alert darkmode
  src/ui/Alert/Alert.tsx
Due: UI

Add dark mode varient for date picker
  src/globals.css
  src/ui/DateRangePicker/DateRangePicker.tsx
Due: UI

Update to no number in text
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/PatchLeaderboard/PatchLeaderboard.tsx
Due: Pages

remove awarded
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/CoverageLeaderboard/CoverageLeaderboard.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/PatchLeaderboard/PatchLeaderboard.tsx
  src/pages/RepoPage/ConfigTab/tabs/AchievementsTab/PullsLeaderboard/PullsLeaderboard.tsx
Due: Pages
