Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

copy change
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

update flake copy as well
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

fix: Copy update on Cumulative Failure tile (#3514)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

test: Fix tests for default closed
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
Due: Pages

feat: Ensure GH action onboarding is clear (#3467)
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
Due: Pages

chore: add a test
  src/shared/ComparisonErrorBanner/ComparisonErrorBanner.test.tsx
Due: Shared

fix: Fix non-GH onboarding links
  src/assets/onboarding/env_variable_screenshot.png
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/services/navigation/useNavLinks/useNavLinks.test.tsx
  src/services/navigation/useNavLinks/useNavLinks.ts
  src/services/navigation/useNavLinks/useStaticNavLinks.test.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.ts
Due: Pages, Services

fix: Swap out screenshot for success state
  src/assets/onboarding/env_variable_screenshot.png
Due: none

fix: Change flags to anchor style
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

Add an activation alert for self hosted
  src/pages/RepoPage/ActivationAlert/ActivationAlert.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/index.ts
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/index.ts
Due: Pages

fix: Add 'users' plan
  src/shared/utils/billing.ts
Due: Shared

fix: Add 'users' plan (#3518)
  src/shared/utils/billing.ts
Due: Shared

add PROCESSING_TIMEOUT upload error code
  src/shared/utils/commit.ts
Due: Shared

chore: Update codecov-action versions
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.test.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
Due: Pages

fix: Change to link
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

Update with 2nd scenario: when user has reached seats limit
  src/pages/RepoPage/ActivationAlert/ActivationAlert.test.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
Due: Pages

Update link
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
Due: Pages

Update
  scripts/icon-list.mjs
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/ui/Checkbox/Checkbox.tsx
Due: Pages, UI

fix tests
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
Due: Pages

fix: Hide navigator on sync page (#3504)
  src/layouts/Header/Header.test.tsx
  src/layouts/Header/Header.tsx
Due: Layouts

quick name fix, pull out styles into a var
  src/pages/RepoPage/ActivationAlert/ActivationAlert.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
Due: Pages

feat: Handle self hosted activation statuses (#3523)
  src/pages/RepoPage/ActivationAlert/ActivationAlert.test.tsx
  src/pages/RepoPage/ActivationAlert/ActivationAlert.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
  src/pages/RepoPage/ActivationAlert/ActivationRequiredSelfHosted/index.ts
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationBanner.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.test.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/ActivationRequiredSelfHosted.tsx
  src/pages/RepoPage/CoverageOnboarding/ActivationBanner/ActivationRequiredSelfHosted/index.ts
Due: Pages

fix: Change flags to anchor style (#3519)
  src/pages/RepoPage/CoverageTab/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

feat: Migrate bundle analysis services to Query V5 (#3430)
  src/App.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.tsx
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.test.tsx
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.tsx
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.test.tsx
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.tsx
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBranchBundleSummary.test.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
  src/services/bundleAnalysis/useBundleAssetModules.test.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
  src/services/bundleAnalysis/useBundleAssets.test.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
  src/services/bundleAnalysis/useBundleSummary.test.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Pages, Services

update other test mocks
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
Due: Pages

update useBundleAssets to grab new routes field
  src/services/bundleAnalysis/useBundleAssets.test.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

feat: Handle isFirstPR in TA page
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
Due: Pages

bump index file to TS
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/index.ts
Due: Pages

refactor and fix issue with CoverageTrend
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.tsx
Due: Pages

refactor tests to ts and to use msw mocks
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.test.tsx
Due: Pages

update eslint related packages
  package.json
  yarn.lock
Due: none

build out eslint config based off of react-scripts lint rules
  .eslintrc.cjs
Due: none

add new deps for eslint rules
  package.json
  yarn.lock
Due: none

also remove storybook create-react-app preset
  .storybook/main.ts
  package.json
  yarn.lock
Due: none

allow unused vars to be ignored with an underscore
  .eslintrc.cjs
Due: none

remove duplicated or deprecated rules
  .eslintrc.cjs
Due: none

ignore errors in catch statement with underscores
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/services/user/useInternalUser.ts
Due: Pages, Services

remove unused vars for their respective type declartions
  src/services/charts/useBranchCoverageMeasurements.tsx
  src/services/commit/useCommitTeam.tsx
  src/services/pull/usePull.tsx
  src/services/pull/usePullTeam.tsx
Due: Services

re-org rules to be split between modified base rules and custom rules
  .eslintrc.cjs
Due: none

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
