Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 6

ignore:
  - ./src/**/*.stories.js
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.js
  - ./src/sentry.js
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

fix/ref: 1460 - remove trial start when org has no private repos (#2787)
  src/pages/DefaultOrgSelector/DefaultOrgSelector.jsx
  src/pages/DefaultOrgSelector/DefaultOrgSelector.spec.jsx
  src/services/defaultOrganization/index.ts
  src/services/defaultOrganization/useUpdateDefaultOrganization.spec.tsx
  src/services/defaultOrganization/useUpdateDefaultOrganization.ts
  src/services/deleteComponentMeasurements/useDeleteComponentMeasurements.ts
  src/services/trial/useStartTrial.ts
Due: Pages, Services

Fix flake
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.spec.tsx
Due: Pages

dev: Add webpack loading bar when starting gazebo (#2789)
  craco.config.js
  package-lock.json
  package.json
Due: none

s/hr/hours
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.tsx
Due: Pages

Fix flake (#2796)
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.spec.tsx
Due: Pages

update components tab UI (#2795)
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.tsx
  src/pages/RepoPage/ComponentsTab/Header/Header.tsx
Due: Pages

add tests, and validation for provider
  src/pages/TermsOfService/hooks/useTermsOfService.ts
  src/shared/api/api.js
  src/shared/api/api.test.js
  src/shared/api/helpers.ts
Due: Pages, Shared

Add class-variance-authority (aliased as cva)
  package-lock.json
  package.json
Due: none

Add class-variance-authority (aliased as cva) (#2798)
  package-lock.json
  package.json
Due: none

Fix Learn more casing in yaml editor
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
Due: Pages

initial commit
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.js
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.tsx
  src/services/pathContents/commit/dir/constants.js
  src/services/pathContents/commit/dir/useRepoCommitContents.js
  src/services/pathContents/commit/dir/useRepoCommitContents.tsx
  src/services/pathContents/commit/file/usePrefetchCommitFileEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.tsx
Due: Pages, Services, Shared

Fix Learn more casing in yaml editor (#2801)
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
Due: Pages

fix params
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.tsx
Due: Pages

test with some console logs
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.tsx
  src/services/pathContents/commit/dir/useRepoCommitContents.tsx
Due: Pages, Services

update scehma
  src/services/pathContents/commit/dir/useRepoCommitContents.tsx
Due: Services

update schema
  src/services/pathContents/commit/dir/useRepoCommitContents.tsx
Due: Services

move off of repo deprecated
  src/services/pathContents/commit/dir/constants.js
  src/services/pathContents/commit/dir/constants.ts
  src/services/pathContents/commit/dir/useRepoCommitContents.tsx
Due: Services

do not use username
  src/services/pathContents/commit/dir/constants.ts
  src/services/pathContents/commit/dir/useRepoCommitContents.tsx
Due: Services

Fix bug with first page being requested repeatedly
  src/pages/MembersPage/MembersList/MembersList.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
  src/services/users/useInfiniteUser.tsx
Due: Pages, Services

conversions and tests wip
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.tsx
  src/services/pathContents/commit/dir/useRepoCommitContents.spec.tsx
  src/services/pathContents/commit/dir/useRepoCommitContents.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitFileEntry.spec.tsx
Due: Pages, Services, Shared

Fix bug with first page being requested repeatedly (#2803)
  src/pages/MembersPage/MembersList/MembersList.jsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
  src/services/users/useInfiniteUser.tsx
Due: Pages, Services

wip 2
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.tsx
  src/services/pathContents/commit/dir/useRepoCommitContents.tsx
Due: Pages, Services

wip 3
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.spec.tsx
Due: Pages

all tests
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.spec.tsx
  src/services/pathContents/commit/dir/useRepoCommitContents.spec.tsx
Due: Pages, Services

update tree paths
  src/shared/treePaths/useCommitTreePath.js
Due: Shared

Add extra test
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.spec.tsx
Due: Pages

Update sunburst params (#2781)
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/hooks/useSunburstChart.js
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/hooks/useSunburstChart.spec.js
  src/services/charts/useSunburstCoverage.ts
  src/services/charts/useSunburtsCoverage.spec.tsx
Due: Pages, Services

Refactor old cards into one
  src/old_ui/Card/Card.jsx
  src/old_ui/Modal/Modal.jsx
  src/pages/AccountSettings/tabs/Admin/DeletionCard/DeletionCard.jsx
  src/pages/AccountSettings/tabs/Profile/DeletionCard/DeletionCard.jsx
  src/pages/AccountSettings/tabs/Profile/NameEmailCard/NameEmailCard.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.jsx
  src/pages/PlanPage/subRoutes/InvoicesPage/InvoiceCard.jsx
  src/ui/Card/Card.jsx
Due: Pages, UI

Remove ui/Card
  src/ui/Card/Card.jsx
  src/ui/Card/Card.spec.jsx
  src/ui/Card/Card.stories.jsx
  src/ui/Card/index.js
Due: UI

Update old_ui/Card tests
  src/old_ui/Card/Card.spec.jsx
Due: none

Remove ui/Card to make room for new Card (#2800)
  src/old_ui/Card/Card.jsx
  src/old_ui/Card/Card.spec.jsx
  src/old_ui/Modal/Modal.jsx
  src/pages/AccountSettings/tabs/Admin/DeletionCard/DeletionCard.jsx
  src/pages/AccountSettings/tabs/Profile/DeletionCard/DeletionCard.jsx
  src/pages/AccountSettings/tabs/Profile/NameEmailCard/NameEmailCard.jsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/DowngradePlan/DowngradePlan.jsx
  src/pages/PlanPage/subRoutes/InvoicesPage/InvoiceCard.jsx
  src/ui/Card/Card.jsx
  src/ui/Card/Card.spec.jsx
  src/ui/Card/Card.stories.jsx
  src/ui/Card/index.js
Due: Pages, UI

Update context switcher
  src/pages/OwnerPage/Header/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/pages/OwnerPage/Header/HeaderBanners/GithubConfigBanner/GithubConfigBanner.spec.jsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/ContextSwitcher/ContextSwitcher.spec.jsx
Due: Pages, Services, UI

Maintain switch context
  src/ui/ContextSwitcher/ContextSwitcher.jsx
Due: UI

Refactor GH Actions repo onboarding into one file
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/index.ts
  src/services/orgUploadToken/useOrgUploadToken.ts
Due: Pages, Services

add test
  src/ui/ContextSwitcher/ContextSwitcher.spec.jsx
Due: UI

Fix test
  src/ui/ContextSwitcher/ContextSwitcher.spec.jsx
Due: UI

Add tests
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
Due: Pages

Update test desc
  src/services/pathContents/commit/dir/useRepoCommitContents.spec.tsx
Due: Services

Move things to useMemo
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.tsx
  src/shared/treePaths/useCommitTreePath.js
Due: Pages, Shared

Remove duplicate tests
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
Due: Pages
