Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

update usage
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
Due: Pages

point to prod
  .github/workflows/ci.yml
Due: none

add eslint
  .github/workflows/ci.yml
Due: none

use eslint v8
  .github/workflows/ci.yml
Due: none

fix: useInfiniteUser schema parsing error (#3793)
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
  src/services/users/useInfiniteUser.test.tsx
  src/services/users/useInfiniteUser.tsx
Due: Pages, Services

feat: Add expanded redirect to App.tsx (#3792)
  src/App.test.tsx
  src/App.tsx
Due: none

move login from static links to nav links
  src/services/navigation/useNavLinks.test.tsx
  src/services/navigation/useNavLinks.ts
  src/services/navigation/useStaticNavLinks.test.tsx
  src/services/navigation/useStaticNavLinks.ts
Due: Services

update Login button to grab to param and append to login redirect
  src/pages/LoginPage/LoginButton.jsx
  src/pages/LoginPage/LoginButton.test.jsx
Due: Pages

update ProviderButton to grab to param and append to login redirect
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.tsx
Due: Pages

update SyncButton to grab to param and append to login redirect
  src/pages/SyncProviderPage/SyncButton.test.tsx
  src/pages/SyncProviderPage/SyncButton.tsx
Due: Pages

ensure that login works properly
  src/services/navigation/useNavLinks.test.tsx
  src/services/navigation/useNavLinks.ts
Due: Services

Add Tests for PR#3533
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
Due: Pages

Add Tests for PR#3795
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
Due: Pages

Update tests for PR#3798 at 1741211415
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
Due: Pages

add in test for missing line in internal provider card
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
Due: Pages

feat: Update signIn paths to append extra redirect (#3794)
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.tsx
  src/pages/LoginPage/LoginButton.jsx
  src/pages/LoginPage/LoginButton.test.jsx
  src/pages/SyncProviderPage/SyncButton.test.tsx
  src/pages/SyncProviderPage/SyncButton.tsx
Due: Pages

feat: Update login nav link to append to redirect (#3799)
  src/services/navigation/useNavLinks.test.tsx
  src/services/navigation/useNavLinks.ts
  src/services/navigation/useStaticNavLinks.test.tsx
  src/services/navigation/useStaticNavLinks.ts
Due: Services

update GuestHeader component
  src/layouts/Header/components/GuestHeader/GuestHeader.test.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.tsx
Due: Layouts

update FilesChangedTab/CommitFileDiff login with redirect
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

update IndirectChangesTab/CommitFileDiff login with redirect
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

Update fetch-depth in our example gh actions
  src/pages/RepoPage/CoverageOnboarding/UseFrameworkInstructions.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
Due: Pages

update FilesChangedTab/PullFileDiff login with redirect
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/PullFileDiff/PullFileDiff.tsx
Due: Pages

update IndirectChangesTab/PullFileDiff login with redirect
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/PullFileDiff/PullFileDiff.tsx
Due: Pages

update login links in RawFileViewer
  src/shared/RawFileViewer/RawFileViewer.test.tsx
  src/shared/RawFileViewer/RawFileViewer.tsx
Due: Shared

update schema to make branches nullable
  src/services/branches/useBranches.tsx
Due: Services

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
