Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

feat: Create hook to fetch list of bundles for a branch (#2615)
  src/services/branches/index.js
  src/services/branches/useBranchBundleSummary.spec.tsx
  src/services/branches/useBranchBundleSummary.tsx
  src/services/branches/useBranchBundlesNames.spec.tsx
  src/services/branches/useBranchBundlesNames.tsx
Due: Services

Redirect user to repos page after a trial is kicked off (#2608)
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/OwnerPage/OwnerPage.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/services/trial/useStartTrial.spec.tsx
  src/services/trial/useStartTrial.ts
Due: Pages, Services

ref: Branch selector into just a single component (#2614)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleBranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleBranchSelector.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/hooks/useBundleSummary.ts
Due: Pages

feat: Create bundle selector for bundles tab (#2617)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BranchSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/services/branches/useBranchBundlesNames.spec.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
  src/ui/Select/Select.jsx
Due: Pages, Services, UI

Feat: #1053 - Unsure of Yaml Placement (#2618)
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/ExampleBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/ExampleBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/trial/useStartTrial.spec.tsx
Due: Pages, Services

feat: Create hook to fetch bundle tab summary data (#2619)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.tsx
  src/services/branches/index.js
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBranchBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
  src/services/bundleAnalysis/useBranchBundlesNames.spec.tsx
  src/services/bundleAnalysis/useBranchBundlesNames.tsx
  src/services/bundleAnalysis/useBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Pages, Services

Feat: #1057 - Clarify prerequisite of coverage reports (#2613)
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/ui/Icon/svg/outline/index.js
  src/ui/Icon/svg/solid/index.js
Due: Pages, UI

feat: Create hook to fetch a list of assets for an upcoming table (#2620)
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

[feat] Handle invalid path errors from GraphQL (#2546)
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorer.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.js
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/hooks/useRepoCommitContentsTable.spec.js
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/hooks/useRepoPullContentsTable.js
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/hooks/useRepoPullContentsTable.spec.js
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileExplorer.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.js
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.spec.js
  src/services/pathContents/branch/dir/constants.js
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.js
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.spec.js
  src/services/pathContents/branch/dir/useRepoBranchContents.js
  src/services/pathContents/branch/dir/useRepoBranchContents.spec.js
  src/services/pathContents/commit/dir/constants.js
  src/services/pathContents/commit/dir/usePrefetchCommitDirEntry.js
  src/services/pathContents/commit/dir/usePrefetchCommitDirEntry.spec.js
  src/services/pathContents/commit/dir/useRepoCommitContents.js
  src/services/pathContents/commit/dir/useRepoCommitContents.spec.js
  src/services/pathContents/pull/dir/constants.js
  src/services/pathContents/pull/dir/useRepoPullContents.js
  src/services/pathContents/pull/dir/useRepoPullContents.spec.js
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/CommitEntries/CommitDirEntry.spec.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.jsx
Due: Pages, Services, Shared

ref: Convert TokensTable to tanstack table (#2612)
  src/pages/AccountSettings/tabs/Access/Access.spec.jsx
  src/pages/AccountSettings/tabs/Access/TokensTable.jsx
  src/pages/AccountSettings/tabs/Access/TokensTable.spec.tsx
  src/pages/AccountSettings/tabs/Access/TokensTable.tsx
  src/services/access/useRevokeUserToken.spec.tsx
  src/services/access/useRevokeUserToken.ts
  src/services/access/useSessions.js
  src/services/access/useSessions.spec.tsx
  src/services/access/useSessions.ts
Due: Pages, Services

feat: Create hook to fetch list of modules for a given asset (#2621)
  src/services/bundleAnalysis/useBundleAssetModules.spec.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
Due: Services

Chore: add Lodash import rule (#2627)
  .eslintrc.json
  src/services/file/useCoverageWithFilters.spec.js
  src/services/pathContents/useFileWithMainCoverage.spec.js
Due: Services

fix: Repo Page tabs rendering when they should not (#2628)
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

feat: Create bundles tab summary section (#2622)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleDetails.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleDetails.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSummary.tsx
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBranchBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
  src/services/repo/useRepoOverview.tsx
  src/ui/Select/Select.jsx
Due: Pages, Services, UI

Refactor indirect changed files table on pull page (#2623)
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/NameColumn/NameColumn.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/NameColumn/NameColumn.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.js
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.ts
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/index.ts
  src/services/pull/usePull.tsx
Due: Pages, Services

fix: Sync page to pull in dynamic list of sync providers (#2528)
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.spec.tsx
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.tsx
  src/pages/SyncProviderPage/SyncButton.spec.tsx
  src/pages/SyncProviderPage/SyncButton.tsx
  src/pages/SyncProviderPage/SyncProviderPage.spec.tsx
  src/pages/SyncProviderPage/SyncProviderPage.tsx
  src/services/config/index.ts
  src/services/config/useLoginProviders.spec.tsx
  src/services/config/useLoginProviders.ts
  src/services/config/useSyncProviders.spec.tsx
  src/services/config/useSyncProviders.ts
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/ui/Button/Button.jsx
Due: Pages, Services, UI

Upgrade to FSL-1.1 (#2626)
  LICENSE.md
Due: none

feat: Create table to display list of assets (#2631)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/EmptyTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/index.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Pages, Services

build: add test results action to the CI (#2633)
  .github/workflows/ci.yml
Due: none

[feat] Add feedback banner for team plan users (#2632)
  src/services/navigation/useNavLinks/useNavLinks.js
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.spec.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/index.js
Due: Services, Shared

style: Polish plan and upgrade plan pages (#2629)
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/EnterprisePlanCard/EnterprisePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradePro/PlanUpgradePro.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/PlanPricing/PlanPricing.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
Due: Pages

style: Fix settings style inconsistencies (#2630)
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/RepoPage/SettingsTab/SettingsTab.jsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Graphs/URLEmbed.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/GraphToken/GraphToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YamlTab.jsx
  src/ui/SettingsDescriptor/SettingsDescriptor.jsx
Due: Pages, UI

[feat] Add initial billing metrics (#2625)
  src/pages/PlanPage/PlanMetrics/planMetrics.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
Due: Pages

bump up storybook version (#2636)
  package-lock.json
  package.json
Due: none

feat: Update assets table to have modules table expander (#2635)
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
Due: Pages, Services

feat: Auto expand dropdowns if query param is present (#2624)
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.tsx
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
Due: Pages

bump up the z-index of the model a little bit (#2641)
  src/ui/Modal/Modal.tsx
Due: UI

feat: Add bundle analysis column to commits tab (#2638)
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/useTabsCounts.spec.js
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/services/commits/useCommits.spec.tsx
  src/services/commits/useCommits.tsx
Due: Pages, Services

ref: Change check that enables bundle analysis in onboarding steps (#2634)
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

Make width consistent on multi selects in repo page (#2643)
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
Due: Pages

feat: Add deleted file status to files changed tables (#2639)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageSummary/CommitCoverageSummary.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageSummary/hooks/useCommitForSummary.spec.js
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/IndirectChangesTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
  src/services/commit/useCommit.tsx
Due: Pages, Services

ref: Update pull bundle summary to use new data (#2646)
  src/pages/PullRequestPage/Dropdowns/PullBundleDropdown.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/services/pull/usePullBADropdownSummary.spec.tsx
  src/services/pull/usePullBADropdownSummary.tsx
Due: Pages, Services

feat: Add bundle analysis column to pulls tables (#2644)
  src/pages/RepoPage/PullsTab/PullsTable/Coverage/Coverage.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.tsx
  src/services/pulls/usePulls.spec.tsx
  src/services/pulls/usePulls.tsx
  src/services/pulls/usePullsTeam.spec.tsx
  src/services/pulls/usePullsTeam.tsx
Due: Pages, Services

feat: Add BA column to commits team tables (#2640)
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
  src/services/commits/useCommitsTeam.spec.tsx
  src/services/commits/useCommitsTeam.tsx
Due: Pages, Services

ref: Update commit bundle summary to use new data (#2648)
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/BundleMessage/BundleMessage.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitBundleDropdown.spec.tsx
  src/services/commit/useCommitBADropdownSummary.spec.tsx
  src/services/commit/useCommitBADropdownSummary.tsx
Due: Pages, Services

ref: Update pull bundle comparison list hook (#2650)
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleComparisonTable/PullBundleComparisonTable.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleComparisonTable/PullBundleComparisonTable.tsx
  src/services/pull/usePullBundleComparisonList.spec.tsx
  src/services/pull/usePullBundleComparisonList.tsx
Due: Pages, Services

Get rid of support text in trial banner (#2647)
  src/shared/GlobalTopBanners/TrialBanner/OngoingBanner.spec.tsx
  src/shared/GlobalTopBanners/TrialBanner/OngoingBanner.tsx
Due: Shared

ref: Update commit bundle list and table (#2651)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysisTable/CommitBundleAnalysisTable.tsx
  src/services/commit/useCommitBundleList.spec.tsx
  src/services/commit/useCommitBundleList.tsx
Due: Pages, Services

build: fix upload test results secrets accessing (#2652)
  .github/workflows/ci.yml
Due: none

fix: Commits and pulls tab sizing (#2654)
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/CommitsTable.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/CommitsTableTeam.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTableTeam/createCommitsTableTeamData.tsx
  src/pages/RepoPage/PullsTab/PullsTable/PullsTable.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTable/createPullsTableData.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/PullsTableTeam.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.spec.tsx
  src/pages/RepoPage/PullsTab/PullsTableTeam/createPullsTableTeamData.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
