Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

chore: remove sunset Codecov AI page
  src/assets/codecovAI/pr-review-example-dark-mode.png
  src/assets/codecovAI/pr-review-example-light-mode.png
  src/assets/codecovAI/test-gen-example-dark-mode.png
  src/assets/codecovAI/test-gen-example-light-mode.png
  src/config.js
  src/pages/CodecovAIPage/CodecovAICommands/CodecovAICommands.tsx
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
  src/pages/CodecovAIPage/CodecovAIPage.tsx
  src/pages/CodecovAIPage/ConfiguredRepositories/ConfiguredRepositories.tsx
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
  src/pages/CodecovAIPage/LearnMoreBlurb/LearnMoreBlurb.tsx
  src/pages/CodecovAIPage/Tabs/Tabs.tsx
  src/pages/CodecovAIPage/index.tsx
  src/services/codecovAI/useCodecovAIInstallation.test.tsx
  src/services/codecovAI/useCodecovAIInstallation.tsx
  src/services/codecovAI/useCodecovAIInstalledRepos.test.tsx
  src/services/codecovAI/useCodecovAIInstalledRepos.tsx
  src/services/navigation/useStaticNavLinks.ts
Due: Pages, Services

refactor: remove LaunchDarkly from gazebo code
  src/index.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.test.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/Tokens.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/Tokens.test.jsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/TermsOfService/TermsOfService.test.tsx
  src/sentry.ts
  src/services/tracking/featureFlags.js
  src/services/tracking/featureFlags.test.jsx
  src/services/tracking/useTracking.js
  src/shared/GlobalTopBanners/TokenlessBanner/TokenNotRequiredBanner/TokenNotRequiredBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenRequiredBanner/TokenRequired.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
  src/shared/ListRepo/ListRepo.test.tsx
  src/shared/featureFlags/featureFlag.test.tsx
  src/shared/featureFlags/featureFlag.ts
  src/shared/featureFlags/index.ts
  src/shared/utils/billing.test.ts
  src/ui/FileViewer/ToggleHeader/Title/Title.test.tsx
Due: Pages, Services, Shared, UI

refactor: keep staticAnalysisToken and bundle file path cloud-only
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/Tokens.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/Tokens.test.jsx
Due: Pages

chore: remove LaunchDarkly build and config wiring
  .env.development
  .env.production
  .eslintrc.cjs
  package.json
  public/_headers
  yarn.lock
Due: none

chore: remove sunset Codecov AI page (#4033)
  src/assets/codecovAI/pr-review-example-dark-mode.png
  src/assets/codecovAI/pr-review-example-light-mode.png
  src/assets/codecovAI/test-gen-example-dark-mode.png
  src/assets/codecovAI/test-gen-example-light-mode.png
  src/config.js
  src/pages/CodecovAIPage/CodecovAICommands/CodecovAICommands.tsx
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
  src/pages/CodecovAIPage/CodecovAIPage.tsx
  src/pages/CodecovAIPage/ConfiguredRepositories/ConfiguredRepositories.tsx
  src/pages/CodecovAIPage/InstallCodecovAI/InstallCodecovAI.tsx
  src/pages/CodecovAIPage/LearnMoreBlurb/LearnMoreBlurb.tsx
  src/pages/CodecovAIPage/Tabs/Tabs.tsx
  src/pages/CodecovAIPage/index.tsx
  src/services/codecovAI/useCodecovAIInstallation.test.tsx
  src/services/codecovAI/useCodecovAIInstallation.tsx
  src/services/codecovAI/useCodecovAIInstalledRepos.test.tsx
  src/services/codecovAI/useCodecovAIInstalledRepos.tsx
  src/services/navigation/useStaticNavLinks.ts
Due: Pages, Services

refactor: remove LaunchDarkly from gazebo code (#4034)
  src/index.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.test.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/OrgUploadToken.tsx
  src/pages/AccountSettings/tabs/OrgUploadToken/TokenlessSection/TokenlessSection.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/Tokens.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/Tokens/Tokens.test.jsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.test.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/TokenStep.test.tsx
  src/pages/TermsOfService/TermsOfService.test.tsx
  src/sentry.ts
  src/services/tracking/featureFlags.js
  src/services/tracking/featureFlags.test.jsx
  src/services/tracking/useTracking.js
  src/shared/GlobalTopBanners/TokenlessBanner/TokenNotRequiredBanner/TokenNotRequiredBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenRequiredBanner/TokenRequired.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.test.tsx
  src/shared/GlobalTopBanners/TokenlessBanner/TokenlessBanner.tsx
  src/shared/ListRepo/ListRepo.test.tsx
  src/shared/featureFlags/featureFlag.test.tsx
  src/shared/featureFlags/featureFlag.ts
  src/shared/featureFlags/index.ts
  src/shared/utils/billing.test.ts
  src/ui/FileViewer/ToggleHeader/Title/Title.test.tsx
Due: Pages, Services, Shared, UI

chore: remove LaunchDarkly build and config wiring (#4035)
  .env.development
  .env.production
  .eslintrc.cjs
  package.json
  public/_headers
  yarn.lock
Due: none

chore: remove FOSSA job from CI workflow
  .github/workflows/ci.yml
Due: none

chore: remove FOSSA job from CI workflow (#4051)
  .github/workflows/ci.yml
Due: none

fix(deps): remediate critical and high alerts
  package.json
  vitest.config.mjs
  yarn.lock
Due: none

feat(account-settings): add self-serve account and org deletion
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.test.tsx
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.tsx
  src/pages/AccountSettings/tabs/DeletionCard/EraseOwnerModal.test.tsx
  src/pages/AccountSettings/tabs/DeletionCard/EraseOwnerModal.tsx
  src/services/account/useEraseAccount.js
  src/services/account/useEraseAccount.test.tsx
  src/services/account/useEraseAccount.tsx
Due: Pages, Services

test: fix flaky TrialBanner isFetching waits
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.test.tsx
Due: Shared

test: stabilize CI flakes and improve deletion card coverage
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.test.tsx
Due: Pages

test: cover deletion loading states and erase account error paths
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.test.tsx
  src/services/account/useEraseAccount.test.tsx
Due: Pages, Services

test: fix useEraseAccount network failure test typing
  src/services/account/useEraseAccount.test.tsx
Due: Services

test: reach full useEraseAccount coverage for codecov patch
  codecov.yml
  src/services/account/useEraseAccount.test.tsx
Due: Services

test: stabilize Team and Pro BillingOptions radio assertions
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.test.tsx
Due: Pages

fix(deps): remediate critical and high Dependabot alerts (#4065)
  package.json
  vitest.config.mjs
  yarn.lock
Due: none

fix(deps): clear remaining Dependabot high alerts
  package.json
  yarn.lock
Due: none

fix(account): require canceling billing before self-serve deletion
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.test.tsx
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.tsx
  src/services/account/useEraseAccount.test.tsx
  src/services/account/useEraseAccount.tsx
Due: Pages, Services

fix(account): resolve DeletionCard type-check errors for CI
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.test.tsx
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.tsx
Due: Pages

Use Owner.hasGithubApp instead of deprecated integrationId.
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.jsx
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.test.jsx
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/OwnerPage/OwnerPage.test.jsx
  src/pages/OwnerPage/hooks/useOwnerPageData.js
  src/pages/OwnerPage/hooks/useOwnerPageData.test.jsx
  src/services/user/useOwner.ts
Due: Pages, Services

Use Owner.hasGithubApp instead of deprecated integrationId (#4077)
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.jsx
  src/pages/AccountSettings/tabs/Admin/GithubIntegrationSection/GithubIntegrationSection.test.jsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.jsx
  src/pages/CommitDetailPage/CommitCoverage/BotErrorBanner/BotErrorBanner.test.jsx
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/OwnerPage/OwnerPage.test.jsx
  src/pages/OwnerPage/hooks/useOwnerPageData.js
  src/pages/OwnerPage/hooks/useOwnerPageData.test.jsx
  src/services/user/useOwner.ts
Due: Pages, Services

feat(account-settings): add self-serve account and org deletion (#4072)
  codecov.yml
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.test.tsx
  src/pages/AccountSettings/tabs/DeletionCard/DeletionCard.tsx
  src/pages/AccountSettings/tabs/DeletionCard/EraseOwnerModal.test.tsx
  src/pages/AccountSettings/tabs/DeletionCard/EraseOwnerModal.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.test.tsx
  src/services/account/useEraseAccount.js
  src/services/account/useEraseAccount.test.jsx
  src/services/account/useEraseAccount.test.tsx
  src/services/account/useEraseAccount.tsx
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.test.tsx
Due: Pages, Services, Shared

fix(deps): clear remaining Dependabot high alerts (#4074)
  package.json
  yarn.lock
Due: none
