Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

Fix loading spinner on repo page(#2653)
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

update styles for responsiveness
  src/ui/FileViewer/ToggleHeader/ToggleHeader.jsx
Due: UI

remove old function
  src/shared/utils/bundleAnalysis.spec.ts
  src/shared/utils/bundleAnalysis.ts
Due: Shared

update old table hook
  src/services/bundleAnalysis/useBranchBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
Due: Services

update BundleTable component
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.tsx
Due: Pages

update BundleSummaryOld component
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
Due: Pages

update PullBundleHeadTable
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleHeadTable/PullBundleHeadTable.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleHeadTable/PullBundleHeadTable.tsx
Due: Pages

udpate BundleContent tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
Due: Pages

remove extra data in mock
  src/services/bundleAnalysis/useBranchBundleSummary.spec.tsx
Due: Services

fix: Swap to using repo overview instead of settings (#2655)
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.js
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/useUploads/useUploads.spec.js
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.spec.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.spec.jsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
Due: Pages

Stack components
  src/ui/FileViewer/ToggleHeader/ToggleHeader.jsx
Due: UI

mass react.FC update along with some minor UT updates from PR Comments
  src/pages/CommitDetailPage/CommitCoverage/routes/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/PlanPage/subRoutes/CancelPlanPage/CancelPlanPage.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/CurrentPlanCard.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageCancellation/InfoMessageCancellation.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageStripeCallback/InfoMessageStripeCallback.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsSelector/ComponentsSelector.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.spec.tsx
  src/pages/TermsOfService/TermsOfService.spec.tsx
  src/services/access/useRevokeUserToken.spec.tsx
  src/services/access/useSessions.spec.tsx
  src/services/account/useAccountDetails.spec.tsx
  src/services/orgUploadToken/useOrgUploadToken.spec.tsx
  src/services/repo/useRepoConfig.spec.tsx
  src/services/selfHosted/useSelfHostedSeatsAndLicense.spec.tsx
  src/services/tier/useTier.spec.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.spec.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.spec.tsx
  src/shared/ListRepo/InactiveRepo/InactiveRepo.spec.tsx
Due: Pages, Services, Shared

remove extra styles
  src/ui/FileViewer/ToggleHeader/ToggleHeader.jsx
Due: UI

teeny change with render call
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/InfoMessageCancellation/InfoMessageCancellation.spec.tsx
Due: Pages

ref: Remove old deprecated format time to string (#2656)
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleHeadTable/PullBundleHeadTable.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleHeadTable/PullBundleHeadTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummaryOld/BundleSummaryOld.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleTable/BundleTable.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.spec.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
  src/shared/utils/bundleAnalysis.spec.ts
  src/shared/utils/bundleAnalysis.ts
Due: Pages, Services, Shared

rebase and check against zod schema for hook test
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/services/account/useAccountDetails.spec.tsx
  src/services/account/useAccountDetails.ts
Due: Pages, Services

don't get planData if user is not in org
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
Due: Shared

don't get planData if user is not in org (#2657)
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
Due: Shared

update tests to include useInvoice case, add conditional
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentOrgPlan.tsx
  src/services/account/useAccountDetails.ts
Due: Pages, Services

remove unused tsexpecterror
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/EmailAddress/EmailAddress.tsx
Due: Pages

Update select placement in Fileviewer (#2645)
  src/pages/RepoPage/CoverageTab/subroute/ComponentsMultiSelect/ComponentsMultiSelect.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FlagMultiSelect.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/shared/RawFileviewer/RawFileviewer.jsx
  src/ui/FileViewer/ToggleHeader/Title/Title.jsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.jsx
Due: Pages, Shared, UI

nullable discount fix
  src/services/account/useAccountDetails.ts
Due: Services

fix: Sentry -> Sentries
  src/layouts/Footer/Footer.jsx
Due: Layouts

fix: more innocuous change
  src/App.jsx
  src/layouts/Footer/Footer.jsx
Due: Layouts

bunch of TS conversions for flag table, yak shaving
  src/pages/RepoPage/FlagsTab/BackfillBanners/hooks.spec.js
  src/pages/RepoPage/FlagsTab/BackfillBanners/hooks.spec.ts
  src/pages/RepoPage/FlagsTab/BackfillBanners/hooks.ts
  src/services/account/useAccountDetails.ts
  src/services/repo/useRepoBackfilled.js
  src/services/repo/useRepoBackfilled.ts
  src/shared/utils/determineProgressColor.spec.ts
  src/shared/utils/determineProgressColor.ts
  src/ui/CoverageProgress/CoverageProgress.jsx
  src/ui/CoverageProgress/CoverageProgress.spec.tsx
  src/ui/CoverageProgress/CoverageProgress.tsx
  src/ui/Progress/Progress.spec.tsx
  src/ui/Progress/Progress.tsx
  src/ui/Progress/index.ts
  src/ui/Spinner/Spinner.tsx
  src/ui/Spinner/index.ts
  src/ui/TotalsNumber/TotalsNumber.spec.tsx
  src/ui/TotalsNumber/TotalsNumber.tsx
  src/ui/TotalsNumber/index.ts
Due: Pages, Services, Shared, UI

fix up the TSC errors and respective typings
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTable/createCommitsTableData.tsx
  src/shared/ListRepo/ReposTable/getReposColumnsHelper.tsx
  src/ui/FileList/FileList.stories.tsx
  src/ui/TotalsNumber/TotalsNumber.tsx
Due: Pages, Shared, UI

fix: blank
  src/App.jsx
Due: none

fix: space
  src/layouts/Footer/Footer.jsx
Due: Layouts

fix: new space
  src/layouts/Footer/Footer.jsx
Due: Layouts

Revert "don't get planData if user is not in org (#2657)"
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
Due: Shared

Revert "don't get planData if user is not in org (#2657)" (#2661)
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
Due: Shared

Revert "Revert "don't get planData if user is not in org (#2657)" (#2661)"
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
Due: Shared

make nullish to avoid error
  src/services/account/useAccountDetails.ts
Due: Services

Revert "Revert "don't get planData if user is not in org (#2657)" (#2661)" (#2662)
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
Due: Shared

make nullish to avoid error (#2663)
  src/services/account/useAccountDetails.ts
Due: Services

more nullables
  src/services/account/useAccountDetails.ts
Due: Services

Quick fix (#2664)
  src/services/account/useAccountDetails.ts
Due: Services

create new Sentry metrics wrapper for internal use
  src/shared/utils/metrics.spec.ts
  src/shared/utils/metrics.ts
Due: Shared

globally mock out sentry metrics implementation
  src/setupTests.js
Due: none

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
