Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

Refactor GH Actions repo onboarding into one file (#2805)
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/index.ts
  src/services/orgUploadToken/useOrgUploadToken.ts
Due: Pages, Services

Refactor CircleCI repo onboarding into one file
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/index.ts
Due: Pages

Remove duplicate tests
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
Due: Pages

Refactor Other CI repo onboarding into one file
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCIRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBox.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/InstructionBoxRepoToken.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/index.js
  src/pages/RepoPage/CoverageOnboarding/OtherCI/TerminalInstructions/index.ts
  src/pages/RepoPage/CoverageOnboarding/OtherCI/index.ts
Due: Pages

Remove duplicate tests
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
Due: Pages

Use bracket notation over array.at()
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTableTeam/FilesChangedTableTeam.tsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.ts
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
Due: Pages, Shared

Use bracket notation over array.at() (#2808)
  src/pages/AccountSettings/tabs/Admin/ManageAdminCard/AdminTable/AdminTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTable/FilesChangedTable.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTableTeam/FilesChangedTableTeam.tsx
  src/pages/MembersPage/MembersList/MembersTable/MembersTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/FilesChangedTable/FilesChangedTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/TableTeam/TableTeam.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.ts
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/ListRepo/ReposTableTeam/ReposTableTeam.tsx
Due: Pages, Shared

Assortment of UI changes for coverage over time for components
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/query.ts
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/useComponentComparison.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/useComponentComparison.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.spec.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/ComponentsTab/Header/Header.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/repo/useActivateMeasurements.tsx
  src/shared/ComponentsNotConfigured/ComponentsNotConfigured.tsx
Due: Pages, Services, Shared

string interpolation
  src/services/repo/useActivateMeasurements.tsx
Due: Services

fix ts-expect-error
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
Due: Pages

add a test, convert to TS, update to homepage redirect component
  src/App.spec.tsx
  src/App.tsx
Due: none

try this out
  src/App.tsx
  src/services/user/useInternalUser.ts
Due: Services

add error case
  src/services/user/useInternalUser.spec.tsx
Due: Services

swap from max to avg data
  src/pages/AnalyticsPage/Chart/useCoverage.js
  src/pages/AnalyticsPage/Chart/useCoverage.spec.js
  src/services/charts/useReposCoverageMeasurements.spec.tsx
  src/services/charts/useReposCoverageMeasurements.ts
Due: Pages, Services

add in label to inform users that data is average of all selected repos
  src/pages/AnalyticsPage/Chart/Chart.jsx
  src/pages/AnalyticsPage/Chart/Chart.spec.jsx
Due: Pages

code review changes
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
Due: Pages

Assortment of UI changes for coverage over time for components (#2809)
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.spec.jsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/query.ts
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/useComponentComparison.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/useComponentComparison.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/SyncingBanner/SyncingBanner.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.spec.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/ComponentsTab/Header/Header.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/DeleteComponentModal/DeleteComponentModal.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/repo/useActivateMeasurements.tsx
  src/shared/ComponentsNotConfigured/ComponentsNotConfigured.tsx
Due: Pages, Services, Shared

swap to SentryRoute
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundlesTab.tsx
Due: Pages

bump to beta 4
  package-lock.json
  package.json
Due: none

GitHub app installation banner update and CTA location update (#2804)
  src/pages/OwnerPage/Header/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/pages/OwnerPage/Header/HeaderBanners/GithubConfigBanner/GithubConfigBanner.spec.jsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/ContextSwitcher/ContextSwitcher.spec.jsx
Due: Pages, Services, UI

feat: Swap to avg and add in data source label (#2811)
  src/pages/AnalyticsPage/Chart/Chart.jsx
  src/pages/AnalyticsPage/Chart/Chart.spec.jsx
  src/pages/AnalyticsPage/Chart/useCoverage.js
  src/pages/AnalyticsPage/Chart/useCoverage.spec.js
  src/services/charts/useReposCoverageMeasurements.spec.tsx
  src/services/charts/useReposCoverageMeasurements.ts
Due: Pages, Services

fix: Small Sentry route fixes (#2812)
  package-lock.json
  package.json
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundlesTab.tsx
Due: Pages

remove the extra line below the header
  src/pages/RepoPage/ComponentsTab/Header/Header.tsx
Due: Pages

small ui tweaks
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/shared/ComponentsNotConfigured/ComponentsNotConfigured.tsx
Due: Pages, Shared

A few UI tweaks for coverage over time for components (#2813)
  src/pages/RepoPage/ComponentsTab/Header/Header.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/shared/ComponentsNotConfigured/ComponentsNotConfigured.tsx
Due: Pages, Shared

Update hooks
  src/pages/RepoPage/RepoPage.tsx
  src/services/repo/useRepo.tsx
  src/services/repo/useRepoOverview.spec.tsx
  src/services/repo/useRepoOverview.tsx
Due: Pages, Services

return object for proper types
  src/ui/CodeRenderer/hooks/useScrollToLine.js
Due: UI

update DiffLine to TS and accept stickyPadding prop
  src/ui/CodeRenderer/DiffLine/DiffLine.spec.tsx
  src/ui/CodeRenderer/DiffLine/DiffLine.stories.jsx
  src/ui/CodeRenderer/DiffLine/DiffLine.stories.tsx
  src/ui/CodeRenderer/DiffLine/DiffLine.tsx
Due: UI

add in types and sticky padding const
  src/shared/utils/fileviewer.tsx
Due: Shared

update Diff calls with sticky padding values
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileViewer/CommitDetailFileViewer.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/shared/FileDiff/FileDiff.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/FileDiff/FileDiff.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.jsx
Due: Pages

update FileList story
  src/ui/FileList/FileList.stories.tsx
Due: UI

update index file to TS
  src/ui/CodeRenderer/DiffLine/index.ts
Due: UI

Implement Card component
  src/ui/Card/Card.spec.tsx
  src/ui/Card/Card.stories.tsx
  src/ui/Card/Card.tsx
  src/ui/Card/index.ts
Due: UI

Update export for nice dot notation
  src/ui/Card/Card.spec.tsx
  src/ui/Card/Card.stories.tsx
  src/ui/Card/Card.tsx
  src/ui/Card/index.ts
Due: UI

Use named export over default export
  src/ui/Card/Card.spec.tsx
  src/ui/Card/Card.stories.tsx
  src/ui/Card/Card.tsx
  src/ui/Card/index.ts
Due: UI

Add card title size variant
  src/ui/Card/Card.stories.tsx
  src/ui/Card/Card.tsx
Due: UI

Use lg instead of large for size variant
  src/ui/Card/Card.tsx
Due: UI

Add control for title size prop
  src/ui/Card/Card.stories.tsx
Due: UI

Remove unnecessary subcomponent specification
  src/ui/Card/Card.stories.tsx
Due: UI

Change display names
  src/ui/Card/Card.tsx
Due: UI

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
