Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

conditionally add react sourcemaps when also adding sentry's vite plugin
  vite.config.mjs
Due: none

adjust how we get the line coverage value
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
Due: UI

quickly enabling debug mode to see if this is working
  vite.config.mjs
Due: none

fix: New diff renderer coverage off by one (#3405)
  src/ui/VirtualRenderers/VirtualDiffRenderer.tsx
Due: UI

things are working
  vite.config.mjs
Due: none

chore: Add react source maps to our builds (#3404)
  package.json
  vite.config.mjs
  yarn.lock
Due: none

Add account organizations list
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/AccountOrgs/AccountOrgs.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useInfiniteAccountOrganizations.ts
Due: Pages

Update react-intersection-observer
  package.json
  yarn.lock
Due: none

Test AccountOrgs org list
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/AccountOrgs/AccountOrgs.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/AccountOrgs/AccountOrgs.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/hooks/useInfiniteAccountOrganizations.test.tsx
Due: Pages

fix: Format date for durations in TA (#3397)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/shared/utils/dates.js
  src/shared/utils/dates.test.js
Due: Pages, Shared

PR comments
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

merge conflicts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
Due: Pages

some copy updates to static
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
Due: Pages

feat: Test Analytics Metrics buttons and small query linkages (#3400)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useInfiniteTestResults/useInfiniteTestResults.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestResultsAggregates.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestsResultsAggregates.test.tsx
Due: Pages

add in chart colours for new stacked area chart
  src/globals.css
Due: none

add chart colours to tailwind config
  tailwind.config.mjs
Due: none

update Chart
  src/ui/Chart/Chart.tsx
Due: UI

update useBundleChartData
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
Due: Pages

update BundleChart
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.tsx
Due: Pages

make comment make a bit more sense
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
Due: Pages

small logic error
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
Due: Pages

update BundleContent tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
Due: Pages

add UNKNOWN_SIZE as potential report type
  src/services/bundleAnalysis/useBundleTrendData.tsx
Due: Services

handle unknown as media in BundleChart
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.tsx
Due: Pages

add unknown size to useBundleChartData
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
Due: Pages

add in custom ignored errors array with an LD error
  src/sentry.ts
Due: none

ignore failed to fetch dynamically imported module
  src/sentry.ts
Due: none

fix testing issues
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.test.tsx
Due: Pages

tidy somethings up for better testing
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.tsx
Due: Pages

Update with search functionality
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/index.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/TableHeader/TableHeader.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/TableHeader/TableHeader.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/TableHeader/index.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useFlakeAggregates/useFlakeAggregates.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsAggregates/useTestsResultsAggregates.test.tsx
Due: Pages

Update tests
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.tsx
Due: Pages

wip
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Sunburst/Sunburst.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Sunburst/Sunburst.tsx
  src/ui/Breadcrumb/Breadcrumb.jsx
  src/ui/Breadcrumb/Breadcrumb.stories.tsx
  src/ui/Breadcrumb/Breadcrumb.test.tsx
  src/ui/Breadcrumb/Breadcrumb.tsx
Due: Pages, UI

Fix type errors in vitest setup
  src/vitest.setup.ts
Due: none

add white stroke to dot in dark mode
  src/ui/Chart/Chart.tsx
Due: UI

Add comment back
  src/vitest.setup.ts
Due: none

chore: Update react-intersection-observer (#3406)
  package.json
  src/vitest.setup.ts
  yarn.lock
Due: none

bump codecov plugin version
  package.json
  yarn.lock
Due: none

update vite config with different output file names and polyfill Promise.allSettled
  vite.config.mjs
Due: none

fix: Move from commit SHA to 22 char hash and polyfill Promise.allSettled (#3410)
  package.json
  vite.config.mjs
  yarn.lock
Due: none

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/**/*.stories.jsx, src/**/*.stories.ts, src/**/*.stories.tsx, src/setupTests.js, src/setupProxy.js, src/ts-override.d.ts, src/types.ts, src/vite-env.d.ts, src/vitest.setup.ts, src/reportWebVitals.js, scripts/*, src/index.ts, src/sentry.ts, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/**/mocks.ts, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js, src/**/*.svg, src/**/*.png, src/**/*.jpg
