Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

Ajay changes pt1
  src/services/events/events.ts
  src/services/events/stub.ts
  src/shared/utils/provider.ts
Due: Services, Shared

Convert EventTracker to abstract class and object payloads
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/events.ts
  src/services/events/stub.ts
  src/services/events/types.ts
  src/services/user/useUser.ts
  src/shared/ListRepo/InactiveRepo/InactiveRepo.tsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Pages, Services, Shared, UI

Iterate on EventTracker
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/events.ts
  src/services/events/stub.ts
  src/services/events/types.ts
  src/services/repo/useRepo.tsx
  src/services/user/useOwner.ts
  src/services/user/useUser.ts
  src/shared/ListRepo/InactiveRepo/InactiveRepo.tsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Pages, Services, Shared, UI

Couple small fixes
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/types.ts
  src/services/user/useUser.ts
Due: Layouts, Pages, Services

Nick changes
  src/services/events/amplitude/amplitude.ts
  src/services/events/events.ts
  src/services/events/hooks.tsx
  src/services/events/stub.ts
  src/services/events/types.ts
Due: Services

Little bit of clean up
  src/services/events/events.ts
  src/services/events/hooks.tsx
  src/services/user/useUser.ts
  src/shared/utils/provider.ts
Due: Services, Shared

Fix tests
  src/services/repo/useRepo.tsx
  src/services/user/useUser.ts
Due: Services

Fix type errors
  src/shared/GlobalTopBanners/TrialBanner/TrialBanner.tsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
  src/shared/utils/provider.ts
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Shared, UI

Add tests for EventTracker code
  src/layouts/BaseLayout/BaseLayout.tsx
  src/services/events/amplitude/amplitude.test.tsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/events.test.tsx
  src/services/events/events.ts
  src/services/events/hooks.test.tsx
  src/services/events/hooks.tsx
  src/services/events/types.ts
Due: Layouts, Services

Fix coverage
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.test.tsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.test.jsx
  src/services/events/__mocks__/events.ts
  src/services/events/events.test.tsx
  src/services/events/hooks.test.tsx
  src/shared/ListRepo/InactiveRepo/InactiveRepo.test.tsx
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
Due: Layouts, Pages, Services, Shared, UI

incorporate pr comments
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/BankInformation.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.tsx
  src/services/account/useAccountDetails.ts
  src/services/account/useUpdatePaymentMethod.ts
Due: Pages, Services

fix: Add size classname prop for modal
  src/ui/Modal/Modal.tsx
Due: UI

duplicate test case
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.test.tsx
  src/shared/utils/billing.ts
Due: Pages, Shared

format files
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
Due: Pages

fix: Fix public repos not shown
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Shared

more occurences
  src/pages/AnalyticsPage/Chart/useCoverage.ts
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
Due: Pages

Is repo public bug (#3669)
  src/pages/AnalyticsPage/Chart/useCoverage.ts
  src/pages/AnalyticsPage/ChartSelectors/ChartSelectors.jsx
  src/shared/ListRepo/ReposTable/ReposTable.tsx
Due: Pages, Shared

migrate hook to TSQ V5 queryOptions
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/hooks/index.ts
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/queries/RepoForTokensTeamQueryOpts.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/queries/RepoForTokensTeamQueryOpts.tsx
Due: Pages

update GeneralTab tests and use query options API and also refactor to TS
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/GeneralTab.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/GeneralTab.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/index.ts
Due: Pages

migrate hook to query options version
  src/pages/RepoPage/CoverageTab/OverviewTab/queries/CoverageTabDataQueryOpts.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/queries/CoverageTabDataQueryOpts.tsx
Due: Pages

update OverviewTab with new hook
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
Due: Pages

Reword the "Erase Repo" action
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/DangerZone.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepo.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepo.test.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/EraseRepoModal.jsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepo/index.js
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/EraseRepoContent/index.js
  src/services/repo/useEraseRepoContent.test.tsx
  src/services/repo/useEraseRepoContent.tsx
Due: Pages, Services

ref: useCoverageTabData to TS Query V5 (#3658)
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/OverviewTab.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/queries/CoverageTabDataQueryOpts.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/queries/CoverageTabDataQueryOpts.tsx
Due: Pages

ref: useRepoForTokensTeam to TS Query V5 (#3657)
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/GeneralTab.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/GeneralTab.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/hooks/index.ts
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/index.ts
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/queries/RepoForTokensTeamQueryOpts.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/queries/RepoForTokensTeamQueryOpts.tsx
Due: Pages

update version in package json
  package.json
Due: none

update lockfile
  yarn.lock
Due: none

chore: Update Codecov Bundler Plugin (#3671)
  package.json
  yarn.lock
Due: none

cleanup
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/BankInformation.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CardInformation.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/services/account/propTypes.js
Due: Pages, Services

feat: Cut over to Stripe PaymentElement (#3665)
  src/assets/billing/bank.svg
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/PlanPage.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressCard.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/BankInformation.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/CardInformation.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentMethodForm.tsx
  src/services/account/index.ts
  src/services/account/propTypes.js
  src/services/account/useAccountDetails.ts
  src/services/account/useUpdatePaymentMethod.ts
  src/shared/ThemeContext/ThemeContext.tsx
  src/stripe.ts
Due: Pages, Services, Shared

feat: Add img component for light and dark src
  src/ui/LightDarkImg/LightDarkImg.test.tsx
  src/ui/LightDarkImg/LightDarkImg.tsx
Due: UI

typo
  src/pages/RepoPage/ConfigTab/tabs/GeneralTab/DangerZone/DangerZone.jsx
Due: Pages

feat: Add ACH payment flows
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.jsx
Due: Pages

Implement EventTracker abstraction and Amplitude implementation
  src/index.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/services/events/amplitude/amplitude.ts
  src/services/events/events.ts
  src/services/user/useUser.ts
  src/shared/ListRepo/InactiveRepo/InactiveRepo.tsx
  src/shared/utils/provider.ts
  src/ui/ContextSwitcher/ContextSwitcher.tsx
Due: Layouts, Services, Shared, UI
