Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: yes

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: yes
    changes: no

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

Only show BA feature block when JS or TS is present
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/useRepoConfigurationStatus.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/useRepoConfigurationStatus.tsx
Due: Pages

feat: Implement Bundle analysis feature group (#3073)
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/useRepoConfigurationStatus.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/hooks/useRepoConfigurationStatus/useRepoConfigurationStatus.tsx
Due: Pages

Implement TA configuration manager block
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.tsx
Due: Pages

Add tests
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.spec.tsx
Due: Pages

feat: Implement Test analytics feature group (#3072)
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.tsx
Due: Pages

fix: hide readonly yaml cursor
  src/pages/AccountSettings/tabs/YAML/YamlEditor/codecov-theme.css
Due: Pages

update to numeric type on failed test table
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.tsx
Due: Pages

fix: Use numeric type on Failed Test Table columns (#3078)
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.tsx
Due: Pages

add breadcrumb to bundle content
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

fix: Use new orgs fetched from GH resync
  src/services/user/useResyncUser.js
Due: Services

fix: add breadcrumb to bundle content page (#3080)
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

[feat] Add rate limit messaging on repo list page (#3025)
  src/services/user/index.js
  src/services/user/useOwnerRateLimitStatus.spec.tsx
  src/services/user/useOwnerRateLimitStatus.tsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.jsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.spec.tsx
  src/shared/ListRepo/OrgControlTable/RepoOrgNotFound/RepoOrgNotFound.tsx
Due: Services, Shared

chore: Remove old header (#3076)
  src/layouts/BaseLayout/BaseLayout.jsx
  src/layouts/BaseLayout/BaseLayout.spec.jsx
  src/layouts/OldHeader/AdminLink.spec.tsx
  src/layouts/OldHeader/AdminLink.tsx
  src/layouts/OldHeader/DesktopMenu.spec.tsx
  src/layouts/OldHeader/DesktopMenu.tsx
  src/layouts/OldHeader/Dropdown.spec.tsx
  src/layouts/OldHeader/Dropdown.tsx
  src/layouts/OldHeader/GuestHeader.spec.tsx
  src/layouts/OldHeader/GuestHeader.tsx
  src/layouts/OldHeader/Header.spec.tsx
  src/layouts/OldHeader/Header.tsx
  src/layouts/OldHeader/SeatDetails.spec.tsx
  src/layouts/OldHeader/SeatDetails.tsx
  src/layouts/OldHeader/index.ts
Due: Layouts

Remove old secondary navs
  src/pages/AccountSettings/shared/Header/Header.jsx
  src/pages/AccountSettings/shared/Header/Header.spec.jsx
  src/pages/AdminSettings/AdminSettings.jsx
  src/pages/AdminSettings/AdminSettingsHeader/AdminSettingsHeader.jsx
  src/pages/AdminSettings/AdminSettingsHeader/AdminSettingsHeader.spec.jsx
  src/pages/AdminSettings/AdminSettingsHeader/index.js
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/AnalyticsPage/AnalyticsPage.spec.jsx
  src/pages/CommitDetailPage/CommitDetailPage.spec.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/MembersPage/MembersPage.jsx
  src/pages/MembersPage/MembersPage.spec.jsx
  src/pages/OwnerPage/Header/Header.jsx
  src/pages/OwnerPage/Header/Header.spec.jsx
  src/pages/OwnerPage/Header/index.js
  src/pages/OwnerPage/HeaderBanners/ExceededUploadsAlert/ExceededUploadsAlert.jsx
  src/pages/OwnerPage/HeaderBanners/ExceededUploadsAlert/ExceededUploadsAlert.spec.jsx
  src/pages/OwnerPage/HeaderBanners/ExceededUploadsAlert/index.js
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.jsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/GithubConfigBanner.spec.jsx
  src/pages/OwnerPage/HeaderBanners/GithubConfigBanner/index.js
  src/pages/OwnerPage/HeaderBanners/HeaderBanners.jsx
  src/pages/OwnerPage/HeaderBanners/HeaderBanners.spec.jsx
  src/pages/OwnerPage/HeaderBanners/ReachingUploadLimitAlert/ReachingUploadLimitAlert.jsx
  src/pages/OwnerPage/HeaderBanners/ReachingUploadLimitAlert/ReachingUploadLimitAlert.spec.jsx
  src/pages/OwnerPage/HeaderBanners/ReachingUploadLimitAlert/index.js
  src/pages/OwnerPage/HeaderBanners/index.js
  src/pages/OwnerPage/OwnerPage.jsx
  src/pages/OwnerPage/OwnerPage.spec.jsx
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/PlanPage.spec.jsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/RepoPage/RepoBreadcrumb.jsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

Remove missed instances of newHeader
  src/layouts/LoginLayout/LoginLayout.spec.tsx
  src/pages/AccountSettings/shared/Header/Header.spec.jsx
  src/pages/OwnerPage/OwnerPage.spec.jsx
  src/pages/PlanPage/PlanPage.spec.jsx
  src/pages/PullRequestPage/PullRequestPage.spec.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
Due: Layouts, Pages

Revert baselayout change
  src/layouts/BaseLayout/BaseLayout.spec.jsx
Due: Layouts

Remove missed headers
  src/pages/AnalyticsPage/Header/Header.jsx
  src/pages/AnalyticsPage/Header/Header.spec.jsx
  src/pages/AnalyticsPage/Header/index.js
  src/pages/MembersPage/Header/Header.jsx
  src/pages/MembersPage/Header/Headers.spec.jsx
  src/pages/MembersPage/Header/index.js
  src/pages/PlanPage/Header/Header.jsx
  src/pages/PlanPage/Header/Headers.spec.jsx
  src/pages/PlanPage/Header/index.js
Due: Pages

Remove test in baselayout
  src/layouts/BaseLayout/BaseLayout.spec.jsx
Due: Layouts

Rename repo settings tab to configuration
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/FirstPullRequestBanner/FirstPullRequestBanner.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/FirstPullRequestBanner/FirstPullRequestBanner.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/shared/RepoContentsResult.spec.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/shared/RepoContentsResult.tsx
  src/pages/RepoPage/RepoPage.spec.tsx
  src/pages/RepoPage/RepoPage.tsx
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
  src/pages/RepoPage/SettingsTab/SettingsTab.spec.tsx
  src/pages/RepoPage/SettingsTab/SettingsTab.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Badges/Badges.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/BadgesAndGraphsTab.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Graphs/Graphs.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/ConfigurationManager.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/components/FeatureGroup/FeatureGroup.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/ConfigurationManager/components/FeatureItem/FeatureItem.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/EraseRepoContent/EraseRepoContent.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/RepoState/RepoState.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/RepoState/hooks/useRepoActivation.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DefaultBranch/DefaultBranch.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DefaultBranch/DefaultBranch.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/GeneralTab.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/GraphToken/GraphToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/ImpactAnalysisToken/ImpactAnalysisToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/StaticAnalysisToken.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/Tokens.spec.js
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/TokensTeam/TokensTeam.spec.js
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/SecretString/SecretString.spec.jsx
  src/pages/RepoPage/repo-jest-setup.js
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
  src/services/repo/useEncodeString.spec.tsx
Due: Pages, Services

Adjust tab order
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.tsx
Due: Pages

Move tests too because I must
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.spec.tsx
Due: Pages

Convert pull and commit details banners to new Alert component
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.tsx
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/ErrorBanner/ErrorBanner.tsx
  src/pages/PullRequestPage/PullCoverage/ErrorBanner/ErrorBanner.jsx
Due: Pages

add breadcrumbs failed tests table
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.tsx
Due: Pages

fix: more removal
  src/shared/utils/url.spec.ts
  src/shared/utils/url.ts
Due: Shared

test: Update tests
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Services

feat: Remove unneeded utm tracking code
  src/App.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/tracking/utm.js
  src/services/tracking/utm.spec.js
Due: Services

use existing fn
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.tsx
Due: Pages

breadcrumb update
  src/pages/RepoPage/FailedTestsTab/FailedTestsTable/FailedTestsTable.spec.tsx
Due: Pages

Update messaging and fix div in p
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.tsx
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/ErrorBanner/ErrorBanner.tsx
  src/pages/PullRequestPage/PullCoverage/ErrorBanner/ErrorBanner.jsx
Due: Pages

ref: Convert pull/commit details page error banners to Alert component (#3085)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/ErrorBanner/ErrorBanner.tsx
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/ErrorBanner/ErrorBanner.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/ErrorBanner/ErrorBanner.spec.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/ErrorBanner/ErrorBanner.tsx
  src/pages/PullRequestPage/PullCoverage/ErrorBanner/ErrorBanner.jsx
Due: Pages

Update failed tests onboarding tab
  src/assets/svg/onboardingTests/testsFailedOnboarding.svg
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
Due: Assets, Pages

Update coverage onboarding tab
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/LearnMoreBlurb/LearnMoreBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/LearnMoreBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
Due: Pages, Services

Update bundle onboarding tab
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/IntroBlurb.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/LearnMoreBlurb/LearnMoreBlurb.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/LearnMoreBlurb/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

ref: Use new component for Help, User dropdowns
  src/layouts/Header/components/HelpDropdown/HelpDropdown.tsx
  src/layouts/Header/components/UserDropdown/UserDropdown.tsx
  src/ui/Dropdown/Dropdown.tsx
Due: Layouts, UI

feat: Align onboarding page header styles (#3087)
  src/assets/svg/onboardingTests/testsFailedOnboarding.svg
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/IntroBlurb.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/LearnMoreBlurb/LearnMoreBlurb.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/LearnMoreBlurb/index.ts
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/CircleCI/CircleCI.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActions.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/IntroBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/IntroBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/LearnMoreBlurb/LearnMoreBlurb.tsx
  src/pages/RepoPage/CoverageOnboarding/LearnMoreBlurb/index.ts
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/OtherCI/OtherCI.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.spec.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsTab.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.js
Due: Assets, Pages, Services

fix: hide readonly yaml cursor (#3079)
  src/pages/AccountSettings/tabs/YAML/YamlEditor/codecov-theme.css
Due: Pages

test: separate test for missing base commit vs other error
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
Due: Pages
