Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

update CoverageTrend to use updated useRepoCoverageTimeseries
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.tsx
Due: Pages

update CoverageChart to use updated useRepoCoverageTimeseries
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.tsx
Due: Pages

update useReposCoverageMeasurements to queryOptions API version
  src/services/charts/ReposCoverageMeasurementsQueryOpts.test.tsx
  src/services/charts/ReposCoverageMeasurementsQueryOpts.ts
Due: Services

update usage of new queryOpts version in useCoverage
  src/pages/AnalyticsPage/Chart/useCoverage.test.tsx
  src/pages/AnalyticsPage/Chart/useCoverage.ts
Due: Pages

update usage of useCoverage in Chart.tsx
  src/pages/AnalyticsPage/Chart/Chart.test.tsx
  src/pages/AnalyticsPage/Chart/Chart.tsx
Due: Pages

update with uploads errors
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/index.ts
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/queries/CommitUploadsQueryOpts.tsx
  src/shared/utils/commit.ts
Due: Pages, Shared

Update yarn to 4.6.0
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: none

chore: Update yarn (#3713)
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: none

update appearance of picker buttons
  src/stripe.ts
Due: none

fix: Update picker button colors for ACH on dark mode (#3714)
  src/stripe.ts
Due: none

migrate hook to query options
  src/services/access/SessionsQueryOpts.test.tsx
  src/services/access/SessionsQueryOpts.ts
Due: Services

remove from barrel file
  src/services/access/index.ts
Due: Services

update usage in Access component
  src/pages/AccountSettings/tabs/Access/Access.test.tsx
  src/pages/AccountSettings/tabs/Access/Access.tsx
Due: Pages

Use new amplitude proxy
  src/services/events/amplitude/amplitude.ts
Due: Services

Prepare release 25.2.7
  VERSION
Due: none

fix type issues
  src/pages/AccountSettings/tabs/Access/SessionsTable.test.tsx
  src/pages/AccountSettings/tabs/Access/SessionsTable.tsx
  src/pages/AccountSettings/tabs/Access/TokensTable.tsx
Due: Pages

uploads need a query tweak
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsPage.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/queries/CommitUploadsErrorsQueryOpts.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/queries/CommitUploadsErrorsQueryOpts.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.test.tsx
  src/services/navigation/useNavLinks/useStaticNavLinks.ts
Due: Pages, Services

update field in queryOpts
  src/services/bundleAnalysis/CachedBundlesQueryOpts.test.tsx
  src/services/bundleAnalysis/CachedBundlesQueryOpts.tsx
Due: Services

update field in mutation
  src/services/bundleAnalysis/useUpdateBundleCache.test.tsx
  src/services/bundleAnalysis/useUpdateBundleCache.tsx
Due: Services

migrate isCached usage to cacheConfig
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.test.tsx
  src/pages/RepoPage/ConfigTab/tabs/ConfigurationManager/ConfigurationManager.test.tsx
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.test.tsx
  src/pages/RepoPage/shared/ConfigureCachedBundleModal/ConfigureCachedBundleModal.tsx
Due: Pages

address feedback
  src/services/charts/SunburstCoverageQueryOpts.ts
Due: Services

fix typo
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.ts
Due: Pages

remove extra isPending and just set a count value
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.tsx
Due: Pages

feat: Use amplitude proxy (#3716)
  src/services/events/amplitude/amplitude.ts
Due: Services

fix typo
  src/services/access/SessionsQueryOpts.ts
Due: Services

Release 25.2.7 (#3717)
  VERSION
Due: none

ref: Migrate useSessions to TSQ V5 (#3715)
  src/pages/AccountSettings/tabs/Access/Access.test.tsx
  src/pages/AccountSettings/tabs/Access/Access.tsx
  src/pages/AccountSettings/tabs/Access/SessionsTable.test.tsx
  src/pages/AccountSettings/tabs/Access/SessionsTable.tsx
  src/pages/AccountSettings/tabs/Access/TokensTable.tsx
  src/services/access/SessionsQueryOpts.test.tsx
  src/services/access/SessionsQueryOpts.ts
  src/services/access/index.ts
Due: Pages, Services

update useRevokeUserToken to TSQ V5
  src/services/access/index.ts
  src/services/access/useRevokeUserToken.test.tsx
  src/services/access/useRevokeUserToken.ts
Due: Services

move invalidation to onSuccess
  src/services/access/useRevokeUserToken.ts
Due: Services

update import in TokensTable
  src/pages/AccountSettings/tabs/Access/TokensTable.test.tsx
  src/pages/AccountSettings/tabs/Access/TokensTable.tsx
Due: Pages

ref: Migrate useSunburstCoverage to TSQ V5 (#3701)
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Sunburst/Sunburst.test.jsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Sunburst/hooks/useSunburstChart.js
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Sunburst/hooks/useSunburstChart.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/Sunburst/hooks/useSunburstChart.ts
  src/services/charts/SunburstCoverageQueryOpts.test.tsx
  src/services/charts/SunburstCoverageQueryOpts.ts
  src/services/charts/index.ts
  src/services/charts/useSunburstCoverage.ts
Due: Pages, Services

ref: Migrate useBranchCoverageMeasurements to TSQ V5 (#3711)
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/Summary/CoverageTrend/CoverageTrend.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/hooks/useRepoCoverageTimeseries.ts
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.test.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/CoverageChart/CoverageChart.tsx
  src/services/charts/BranchCoverageMeasurementsQueryOpts.test.tsx
  src/services/charts/BranchCoverageMeasurementsQueryOpts.tsx
Due: Pages, Services

update package json
  package.json
Due: none

update lockfile
  yarn.lock
Due: none

ref: Migrate useReposCoverageMeasurements to TSQ V5 (#3712)
  src/pages/AnalyticsPage/Chart/Chart.test.tsx
  src/pages/AnalyticsPage/Chart/Chart.tsx
  src/pages/AnalyticsPage/Chart/useCoverage.test.tsx
  src/pages/AnalyticsPage/Chart/useCoverage.ts
  src/services/charts/ReposCoverageMeasurementsQueryOpts.test.tsx
  src/services/charts/ReposCoverageMeasurementsQueryOpts.ts
Due: Pages, Services

chore: Update Codecov plugin to 1.9.0 (#3721)
  package.json
  yarn.lock
Due: none

update with latest upload error field
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsErrorBanner/FailedTestsErrorBanner.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/SelectorSection/SelectorSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsTestSuites/useTestResultsTestSuites.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/hooks/useTestResultsTestSuites/useTestResultsTestSuites.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/queries/CommitUploadsErrorsQueryOpts.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/queries/CommitUploadsErrorsQueryOpts.tsx
Due: Pages

bump sentry vite plugin
  package.json
  yarn.lock
Due: none

update version in package json
  package.json
Due: none
