Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

remove metrics from PullBundleAnalysis
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
Due: Pages

remove metrics from PullCoverage
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.test.jsx
Due: Pages

remove metrics from BundleContent
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

remove metrics from bundle onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/metricHelpers.ts
Due: Pages

remove metrics from RequestInstallBanner
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.test.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/index.ts
Due: Shared

Update tests
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
Due: Pages

Undo
  src/index.tsx
Due: none

Update hover
  src/ui/Button/Button.jsx
Due: UI

chore: Remove Sentry metrics (#3457)
  src/layouts/Header/components/ThemeToggle/ThemeToggle.test.tsx
  src/layouts/Header/components/ThemeToggle/ThemeToggle.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
  src/pages/PlanPage/PlanMetrics/planMetrics.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.test.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.test.jsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/NuxtOnboarding/NuxtOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RemixOnboarding/RemixOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SolidStartOnboarding/SolidStartOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/SvelteKitOnboarding/SvelteKitOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.test.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/metricHelpers.ts
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.test.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/RequestInstallBanner.tsx
  src/shared/GlobalTopBanners/RequestInstallBanner/index.ts
  src/shared/utils/metrics.test.ts
  src/shared/utils/metrics.ts
Due: Layouts, Pages, Shared

Revert "fix tests"
  src/App.test.tsx
  src/layouts/Header/components/GuestHeader/GuestHeader.test.tsx
  src/layouts/Header/components/HelpDropdown/HelpDropdown.test.tsx
  src/layouts/LoginLayout/LoginLayout.test.tsx
  src/pages/CodecovAIPage/CodecovAIPage.test.tsx
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.test.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.test.tsx
  src/pages/LoginPage/LoginButton.test.jsx
  src/pages/LoginPage/LoginPage.test.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/Address/AddressCard.test.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/BillingDetails/PaymentCard/PaymentCard.test.jsx
  src/pages/RepoPage/FailedTestsTab/CodecovCLI/CodecovCLI.test.tsx
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.test.tsx
Due: Layouts, Pages

add to global setup
  src/vitest.setup.ts
Due: none

move out of beforeAll
  src/vitest.setup.ts
Due: none

feat: Default color mode to user's current system theme (#3456)
  src/globals.css
  src/shared/ThemeContext/ThemeContext.test.tsx
  src/shared/ThemeContext/ThemeContext.tsx
  src/vitest.setup.ts
Due: Shared

remove reset button when not on default branch and double click selector remove selection + tests
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/TableHeader/TableHeader.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/TableHeader/TableHeader.tsx
Due: Pages

fix the conditional logic
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
Due: Pages

feat: Remove Reset button when not on default branch + double click selector to remove param (#3459)
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/FailedTestsTable/FailedTestsTable.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/MetricsSection/MetricsSection.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/TableHeader/TableHeader.test.tsx
  src/pages/RepoPage/FailedTestsTab/FailedTestsPage/TableHeader/TableHeader.tsx
Due: Pages

some more failing tests
  src/shared/utils/testingTests.test.ts
  src/shared/utils/testingTests.ts
Due: Shared

remove some
  src/shared/utils/testingTests.test.ts
Due: Shared

fix tests
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.tsx
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.test.tsx
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.test.tsx
Due: Pages

fix tests
  src/pages/CommitDetailPage/Dropdowns/CommitCoverageDropdown.test.tsx
  src/services/commit/useCommitCoverageDropdownSummary.tsx
Due: Pages, Services

fix test
  src/pages/CommitDetailPage/CommitCoverage/UploadsCard/UploadsCard.test.tsx
Due: Pages

fix test
  src/pages/CommitDetailPage/CommitCoverage/YamlErrorBanner/YamlErrorBanner.test.tsx
Due: Pages

update useBranchBundlesNames
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBranchBundlesNames.test.tsx
  src/services/bundleAnalysis/useBranchBundlesNames.tsx
Due: Services

update affected tests
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelection.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.tsx
Due: Pages

update useBranchBundleSummary
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBranchBundleSummary.test.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
Due: Services

update affected things
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

be quite app.test.tsx
  src/App.test.tsx
Due: none

update useBundleAssets
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBundleAssets.test.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

update affected things
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
Due: Pages

update useBundleAssetModules
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBundleAssetModules.test.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
Due: Services

update useBundleSummary
  src/services/bundleAnalysis/index.ts
  src/services/bundleAnalysis/useBundleSummary.test.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Services

remove index.tsx
  src/services/bundleAnalysis/index.ts
Due: Services

update BundleDetails
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.test.tsx
Due: Pages

update affected
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/BundleChart.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.test.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
Due: Pages

update BundleTrendDataQuery to Opts API
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.test.tsx
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.tsx
Due: Services

update affected things
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/useBundleAssetsTable.test.tsx
Due: Pages

update hooks and query options to use new rejectNetworkError
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.tsx
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Services

alias things to V5
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.tsx
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Services

update BranchBundlesNamesQueryOpts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/BundleSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/LoadSelector.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSelection/TypeSelector.tsx
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.test.tsx
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.tsx
Due: Pages, Services

tidy up the use of enabled opts
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/ModulesTable.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleChart/useBundleChartData.ts
  src/pages/RepoPage/BundlesTab/BundleContent/BundleDetails/BundleDetails.tsx
  src/services/bundleAnalysis/BranchBundlesNamesQueryOpts.tsx
  src/services/bundleAnalysis/BundleTrendDataQueryOpts.tsx
  src/services/bundleAnalysis/useBranchBundleSummary.tsx
  src/services/bundleAnalysis/useBundleAssetModules.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
  src/services/bundleAnalysis/useBundleSummary.tsx
Due: Pages, Services
