Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

make email field required
  src/sentry.ts
Due: none

fix: Don't set default org if update default org is in progress (#2741)
  src/layouts/BaseLayout/hooks/useUserAccessGate.js
  src/layouts/BaseLayout/hooks/useUserAccessGate.spec.tsx
Due: Layouts

feat: Make email field required when submitting feedback (#2753)
  src/sentry.ts
Due: none

invalidate queries on each poll
  src/services/user/useResyncUser.js
  src/services/user/useResyncUser.spec.js
Due: Services

feat: Create components selector for the components tab
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.spec.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/index.ts
  src/pages/RepoPage/ComponentsTab/Header/Header.jsx
  src/pages/RepoPage/ComponentsTab/Header/Header.spec.jsx
Due: Pages

fix: Reflect new compoennts schema
  src/services/repo/useRepoComponentsSelect.tsx
Due: Services

Update to componentsYaml
  src/services/repo/useRepoComponentsSelect.spec.tsx
  src/services/repo/useRepoComponentsSelect.tsx
Due: Services

feat: Update with self hosted specific layout (#2746)
  src/App.jsx
  src/layouts/EnterpriseLoginLayout/EnterpriseLoginLayout.spec.tsx
  src/layouts/EnterpriseLoginLayout/EnterpriseLoginLayout.tsx
  src/layouts/EnterpriseLoginLayout/Header/Header.spec.tsx
  src/layouts/EnterpriseLoginLayout/Header/Header.tsx
  src/layouts/EnterpriseLoginLayout/Header/index.ts
  src/layouts/EnterpriseLoginLayout/index.ts
Due: Layouts

fix: dnm small whitespace
  src/ui/Avatar/Avatar.jsx
Due: UI

fix: whitespace
  src/ui/A/A.jsx
Due: UI

Add delete component measurements hook (#2749)
  src/services/deleteComponentMeasurements/index.ts
  src/services/deleteComponentMeasurements/useDeleteComponentMeasurements.spec.tsx
  src/services/deleteComponentMeasurements/useDeleteComponentMeasurements.ts
Due: Services

Update with id too
  src/services/repo/useRepoComponentsSelect.spec.tsx
  src/services/repo/useRepoComponentsSelect.tsx
Due: Services

ref: Update Sparkline CSS to match new design
  src/ui/Sparkline/Sparkline.tsx
  src/ui/Sparkline/sparkline.css
Due: UI

Convert useRepoFlagsTable to TS
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.ts
  src/pages/RepoPage/shared/constants.ts
  src/services/repo/useRepoFlags.tsx
Due: Pages, Services

Tune up flags table sorting
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

I am confused
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

Name default sort
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

Fix stuff up
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/index.ts
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.ts
  src/services/repo/useRepoFlags.tsx
Due: Pages, Services

Clean up tests
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

Make Ajay suggestiosn
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.ts
Due: Pages

Fix test
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.tsx
Due: Pages

ref: Convert useRepoFlagsTable to TS (#2744)
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/index.ts
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.ts
  src/pages/RepoPage/shared/constants.ts
  src/services/repo/useRepoFlags.tsx
Due: Pages, Services

Update follow-redirects to 1.15.6
  package-lock.json
Due: none

remove PendoLink component
  src/pages/PullRequestPage/Header/PendoLink/PendoLink.spec.tsx
  src/pages/PullRequestPage/Header/PendoLink/PendoLink.tsx
  src/pages/PullRequestPage/Header/PendoLink/index.js
Due: Pages

remove PendoLink component from header components
  src/pages/PullRequestPage/Header/HeaderDefault/HeaderDefault.jsx
  src/pages/PullRequestPage/Header/HeaderTeam/HeaderTeam.jsx
Due: Pages

Update follow-redirects to 1.15.6 (#2734)
  package-lock.json
Due: none

chore: Remove Pendo link from PR page (#2762)
  src/pages/PullRequestPage/Header/HeaderDefault/HeaderDefault.jsx
  src/pages/PullRequestPage/Header/HeaderTeam/HeaderTeam.jsx
  src/pages/PullRequestPage/Header/PendoLink/PendoLink.spec.tsx
  src/pages/PullRequestPage/Header/PendoLink/PendoLink.tsx
  src/pages/PullRequestPage/Header/PendoLink/index.js
Due: Pages

feat: New components not configrued layout (#2752)
  src/pages/RepoPage/ComponentsTab/ComponentsTab.jsx
  src/pages/RepoPage/ComponentsTab/ComponentsTab.spec.jsx
  src/pages/RepoPage/ComponentsTab/Header/Header.jsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.tsx
  src/shared/ComponentsNotConfigured/ComponentsNotConfigured.spec.tsx
  src/shared/ComponentsNotConfigured/ComponentsNotConfigured.tsx
Due: Pages, Shared

feat: Create components selector for the components tab (#2756)
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.spec.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/index.ts
  src/pages/RepoPage/ComponentsTab/Header/Header.jsx
  src/pages/RepoPage/ComponentsTab/Header/Header.spec.jsx
Due: Pages

update to components measurements
  src/pages/RepoPage/ComponentsTab/BackfillBanners/hooks.spec.js
  src/pages/RepoPage/ComponentsTab/BackfillBanners/hooks.ts
  src/pages/RepoPage/ComponentsTab/ComponentsTab.spec.jsx
Due: Pages

fix: Reflect new components schema (#2757)
  src/services/repo/useRepoComponentsSelect.spec.tsx
  src/services/repo/useRepoComponentsSelect.tsx
Due: Services

backfilled banner update
  src/pages/RepoPage/ComponentsTab/BackfillBanners/BackfillBanners.spec.jsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/BackfillBanners.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/BackfillBanners.tsx
Due: Pages

ref: Rename activate flag to be more general
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/services/repo/index.js
  src/services/repo/useActivateMeasurements.spec.tsx
  src/services/repo/useActivateMeasurements.tsx
Due: Pages, Services

ref: Update Sparkline CSS to match new design (#2761)
  src/ui/Sparkline/Sparkline.tsx
  src/ui/Sparkline/sparkline.css
Due: UI

ref: Rename activate flag to be more general (#2764)
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/FlagsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/services/repo/index.js
  src/services/repo/useActivateMeasurements.spec.tsx
  src/services/repo/useActivateMeasurements.tsx
Due: Pages, Services

initial attempt at fixing the select not updating when page refreshes
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

this seems to fix the issue for good
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

make intial state an empty array
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

bringing in a useEffect ... cause that seems to work
  src/pages/RepoPage/BundlesTab/BundleContent/BundleSummary/BundleSelector.tsx
Due: Pages

feat: Update to use components hooks in components tab
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.spec.tsx
  src/pages/RepoPage/ComponentsTab/BackfillBanners/TriggerSyncBanner/TriggerSyncBanner.tsx
  src/pages/RepoPage/ComponentsTab/Header/BranchSelector/BranchSelector.tsx
  src/pages/RepoPage/ComponentsTab/Header/Header.jsx
  src/pages/RepoPage/ComponentsTab/Header/Header.spec.jsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
