Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

Convert dir entry stuff to ts
  src/services/pathContents/constants.ts
  src/services/pathContents/pull/dir/constants.js
  src/services/pathContents/pull/dir/constants.ts
  src/services/pathContents/pull/dir/index.ts
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.js
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.spec.tsx
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.jsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.tsx
Due: Services, Shared

Fix tests
  src/services/pathContents/pull/dir/usePrefetchPullDirEntry.spec.tsx
  src/shared/ContentsTable/TableEntries/PullEntries/PullDirEntry.spec.tsx
Due: Services, Shared

ref: Convert useTableDefaultSort to ts (#2695)
  src/shared/ContentsTable/useTableDefaultSort/index.ts
  src/shared/ContentsTable/useTableDefaultSort/useTableDefaultSort.js
  src/shared/ContentsTable/useTableDefaultSort/useTableDefaultSort.spec.tsx
  src/shared/ContentsTable/useTableDefaultSort/useTableDefaultSort.ts
Due: Shared

Convert usePlanPageData to TS
  src/pages/PlanPage/PlanPage.spec.jsx
  src/pages/PlanPage/hooks/usePlanPageData.js
  src/pages/PlanPage/hooks/usePlanPageData.spec.tsx
  src/pages/PlanPage/hooks/usePlanPageData.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
Due: Pages

Add team plan upload counts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.spec.jsx
Due: Pages

Convert PaidPlanCard to ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.tsx
  src/services/account/usePlanData.ts
Due: Pages, Services

Add test for schema parse fail in usePlanPageData
  src/pages/PlanPage/hooks/usePlanPageData.spec.tsx
Due: Pages

Nick changes
  src/pages/PlanPage/hooks/usePlanPageData.spec.tsx
  src/pages/PlanPage/hooks/usePlanPageData.ts
Due: Pages

Make Nick changes part 2
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/hooks/usePlanPageData.spec.tsx
  src/pages/PlanPage/hooks/usePlanPageData.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.tsx
Due: Pages

feat: Show upload count on team plan card (#2689)
  src/pages/PlanPage/PlanPage.jsx
  src/pages/PlanPage/PlanPage.spec.jsx
  src/pages/PlanPage/hooks/usePlanPageData.js
  src/pages/PlanPage/hooks/usePlanPageData.spec.tsx
  src/pages/PlanPage/hooks/usePlanPageData.ts
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.spec.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/PaidPlanCard/PaidPlanCard.tsx
  src/services/account/usePlanData.ts
Due: Pages, Services

Convert adjustListIfUpDir to ts
  src/shared/ContentsTable/utils/adjustListIfUpDir.js
  src/shared/ContentsTable/utils/adjustListIfUpDir.spec.tsx
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
  src/shared/ContentsTable/utils/index.ts
Due: Shared

Convert adjustListIfUpDir to ts (#2696)
  src/shared/ContentsTable/utils/adjustListIfUpDir.js
  src/shared/ContentsTable/utils/adjustListIfUpDir.spec.tsx
  src/shared/ContentsTable/utils/adjustListIfUpDir.tsx
  src/shared/ContentsTable/utils/index.ts
Due: Shared

Fix flaky test
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
Due: Pages

wip 3
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
Due: Pages, Services

Fix flaky test (#2701)
  src/pages/DefaultOrgSelector/hooks/useMyOrganizations.spec.tsx
Due: Pages

show global install help banner
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.spec.tsx
  src/layouts/BaseLayout/InstallationHelpBanner/InstallationHelpBanner.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
Due: Layouts, Shared

init table ref minus styles
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
Due: Pages

Add selector to components tab
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
Due: Pages

some ref with column renders and some leaky styles with table
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/TableEntries/TableSparkline.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/TableEntries/TableSparkline.tsx
  src/ui/Sparkline/Sparkline.tsx
  src/ui/Sparkline/sparkline.css
Due: Pages, UI

convert useRepoFlagsTable to TS
  src/pages/RepoPage/FlagsTab/constants.ts
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/index.ts
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.ts
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.ts
Due: Pages

convert useLocationParams to TS
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.ts
  src/services/navigation/useLocationParams.ts
Due: Pages, Services

add the any array type to location param
  src/services/navigation/useLocationParams.ts
Due: Services

Allow more than 10 seats to be entered in team plan seats input
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
Due: Pages

ref sparkline table to also use tanstack table, clearing the rerender issue aside from td
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.tsx
  src/ui/Sparkline/Sparkline.tsx
  src/ui/Sparkline/sparkline.css
Due: Pages, UI

Fix Rollup tab navigation
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

Update GH onboarding token link
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/services/navigation/useNavLinks/useNavLinks.js
  src/services/navigation/useNavLinks/useNavLinks.spec.js
Due: Pages, Services

Separate key and value of codecov token in coverage onboarding
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsOrgToken.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/GitHubActions/GitHubActionsRepoToken.tsx
Due: Pages

Split up key and value for upload token in bundle onboarding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

Update widths of token sections
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/ImpactAnalysisToken/ImpactAnalysisToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/StaticAnalysisToken/StaticAnalysisToken.jsx
Due: Pages

Remove graphing token from general tab
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/Tokens.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/Tokens.spec.js
Due: Pages

wip 4
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/shared/treePaths/useTreePaths.js
Due: Pages, Services, Shared

Remove console log
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
Due: Services

Remove comments
  src/shared/treePaths/useTreePaths.js
Due: Shared

Working table
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchDirEntry.jsx
  src/shared/ContentsTable/TableEntries/BranchEntries/BranchFileEntry.jsx
Due: Pages, Shared

remove comments
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
Due: Pages

fix: Handle guest feature error, no nested catch
  src/shared/api/api.js
Due: Shared

Update tests to reflect graphql error
  src/shared/api/api.test.js
Due: Shared

Fix when to raise an error
  src/shared/api/api.js
Due: Shared

Fix Rollup tab navigation (#2706)
  src/pages/RepoPage/RepoPage.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
