Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

update hex val
  src/layouts/Footer/Footer.jsx
Due: Layouts

fix: Footer Codecov icon displaying incorrect color (#2858)
  src/layouts/Footer/Footer.jsx
Due: Layouts

wip
  src/services/repo/mocks.js
  src/services/repo/useRepoFlagsSelect.tsx
Due: Services

Refactor
  src/services/repo/useRepoSettings.tsx
  src/services/repo/useRepoSettingsTeam.tsx
Due: Services

fix tests
  src/services/repo/useRepoFlagsSelect.spec.tsx
  src/services/repo/useRepoFlagsSelect.tsx
Due: Services

Update useRepoSettings to move to new repository type (#2851)
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/FilesChangedTab.tsx
  src/pages/CommitDetailPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/Header/Header.spec.tsx
  src/pages/PullRequestPage/PullCoverage/Summary/Summary.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/CommitsTab/CommitsTab.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChangedTab.spec.tsx
  src/pages/RepoPage/CommitsTab/CommitsTab.spec.jsx
  src/pages/RepoPage/ComponentsTab/ComponentsTab.spec.tsx
  src/pages/RepoPage/CoverageTab/CoverageTab.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FlagMultiSelect.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/pages/RepoPage/FlagsTab/FlagsTab.spec.jsx
  src/pages/RepoPage/PullsTab/PullsTab.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/BadgesAndGraphsTab.spec.tsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/DangerZone/RepoState/RepoState.spec.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/Tokens.spec.js
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/TokensTeam/TokensTeam.spec.js
  src/services/repo/useRepoSettings.js
  src/services/repo/useRepoSettings.spec.js
  src/services/repo/useRepoSettings.spec.tsx
  src/services/repo/useRepoSettings.tsx
  src/services/repo/useRepoSettingsTeam.js
  src/services/repo/useRepoSettingsTeam.spec.js
  src/services/repo/useRepoSettingsTeam.spec.tsx
  src/services/repo/useRepoSettingsTeam.tsx
Due: Pages, Services

convert useRepoConfig off repodeprecated
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/CoverageTab/Summary/Summary.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Sunburst/Sunburst.spec.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/services/pathContents/branch/dir/usePrefetchBranchDirEntry.tsx
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/services/repo/useRepoConfig.spec.tsx
  src/services/repo/useRepoConfig.ts
  src/services/repo/useRepoConfig.tsx
  src/services/repos/useRepos.tsx
  src/shared/ListRepo/ReposTable/ReposTable.spec.tsx
Due: Pages, Services, Shared

Fix copy pasta border/padding
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

Page width change
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
Due: Pages

Vite onboarding overhaul
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
Due: Pages

Webpack onboarding overhaul
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

Rollup onboarding overhaul
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
Due: Pages

Fix tests
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
Due: Pages

Update tests
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverageTabs/CommitCoverageTabs.spec.jsx
  src/pages/RepoPage/ComponentsTab/ComponentsTab.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FlagMultiSelect.spec.jsx
  src/pages/RepoPage/CoverageTab/subroute/Fileviewer/Fileviewer.spec.jsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/hooks/useRepoFlagsTable.spec.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.spec.jsx
  src/ui/FileViewer/ToggleHeader/ToggleHeader.spec.jsx
Due: Pages, UI

update import
  src/services/repo/useRepoFlagsSelect.tsx
Due: Services

dep: Update to Sentry RC-1 (#2849)
  package-lock.json
  package.json
Due: none

update tests and move repoBackfilled off repodepre
  src/pages/PullRequestPage/PullCoverage/routes/FileExplorer/FileExplorer.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FlagMultiSelect.spec.jsx
  src/services/repo/hooks.spec.tsx
  src/services/repo/index.ts
  src/services/repo/useRepoBackfilled.ts
  src/services/repo/useRepoBackfilled.tsx
  src/ui/FileViewer/ToggleHeader/Title/Title.spec.jsx
Due: Pages, Services, UI

Fix coverage tab file list table
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.tsx
Due: Pages

Fix coverage tab code tree table tests
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.tsx
Due: Pages

Fix pull indirect changed files table
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.spec.tsx
Due: Pages

Fix commit file explorer table
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.spec.tsx
Due: Pages

Fix missed instance of getByText
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.tsx
Due: Pages

fix the query on local
  src/services/repo/hooks.spec.tsx
  src/services/repo/useRepoBackfilled.tsx
Due: Services

fix: Flaky tests around file explorer tables (#2856)
  src/pages/CommitDetailPage/CommitCoverage/routes/CommitDetailFileExplorer/CommitDetailFileExplorerTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.spec.tsx
  src/pages/RepoPage/CoverageTab/subroute/FileExplorer/FileListTable/FileListTable.spec.tsx
Due: Pages

ref: Convert SessionsTable to tanstack table (#2842)
  src/App.spec.tsx
  src/old_ui/Table/Table.spec.jsx
  src/pages/AccountSettings/tabs/Access/Access.spec.tsx
  src/pages/AccountSettings/tabs/Access/Access.tsx
  src/pages/AccountSettings/tabs/Access/SessionsTable.jsx
  src/pages/AccountSettings/tabs/Access/SessionsTable.spec.jsx
  src/pages/AccountSettings/tabs/Access/SessionsTable.spec.tsx
  src/pages/AccountSettings/tabs/Access/SessionsTable.tsx
  src/pages/AccountSettings/tabs/Access/TokensTable.spec.tsx
  src/pages/AccountSettings/tabs/Access/index.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.tsx
  src/pages/RepoPage/ComponentsTab/subroute/ComponentsTable/ComponentsTable.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/FlagsTab/subroute/FlagsTable/FlagsTable.spec.tsx
  src/services/access/index.ts
  src/services/access/useDeleteSession.spec.tsx
  src/services/access/useDeleteSession.ts
Due: Pages, Services

add metrics to A and Button comp
  src/ui/A/A.jsx
  src/ui/Button/Button.jsx
Due: UI

style: Use Card component in bundle onboarding (#2861)
  src/pages/RepoPage/BundlesTab/BundleOnboarding/BundleOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/RollupOnboarding/RollupOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/ViteOnboarding/ViteOnboarding.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleOnboarding/WebpackOnboarding/WebpackOnboarding.tsx
Due: Pages

remove consolelogs
  src/ui/A/A.jsx
  src/ui/Button/Button.jsx
Due: UI

Use RadioTileGroup for navigation on the repo onboarding page
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
Due: Pages

Pull getInitalProvider out of component
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
Due: Pages

Fix tests
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
Due: Pages

Remove unnecessary div
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
Due: Pages

Update to 8 uploads before comment to avoid many comments
  codecov.yml
Due: none

Oopsie it's actually the ceiling
  codecov.yml
Due: none

export type and use instead
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
  src/services/comparison/utils.ts
Due: Services

chore: Update codecov.yml so that PR comment isn't sent until 9 uploads (#2865)
  codecov.yml
Due: none

ref: Convert useComparisonForCommitAndParent to TS and remove repositoryDeprecated (#2857)
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.spec.jsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.spec.jsx
  src/services/comparison/constants.ts
  src/services/comparison/useComparisonForCommitAndParent/index.ts
  src/services/comparison/useComparisonForCommitAndParent/query.js
  src/services/comparison/useComparisonForCommitAndParent/query.ts
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.js
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.spec.js
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.spec.tsx
  src/services/comparison/useComparisonForCommitAndParent/useComparisonForCommitAndParent.tsx
  src/services/comparison/utils.ts
Due: Pages, Services

update hook to redirect users after mutation is successful and no error is returned
  src/pages/TermsOfService/hooks/useTermsOfService.spec.tsx
  src/pages/TermsOfService/hooks/useTermsOfService.ts
Due: Pages

update TermsOfService component
  src/pages/TermsOfService/TermsOfService.spec.tsx
Due: Pages

feat: Add radio button navigation to repo onboarding (#2839)
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.spec.tsx
  src/pages/RepoPage/CoverageOnboarding/NewRepoTab.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
