Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

add lodash import rule
  .eslintrc.json
  src/services/file/useCoverageWithFilters.spec.js
  src/services/pathContents/useFileWithMainCoverage.spec.js
Due: Services

revert spec
  src/services/file/useCoverageWithFilters.spec.js
  src/services/pathContents/useFileWithMainCoverage.spec.js
Due: Services

tweak render conditions of the repo page tabs
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

update tests
  src/pages/RepoPage/RepoPageTabs.spec.tsx
Due: Pages

Chore: add Lodash import rule (#2627)
  .eslintrc.json
  src/services/file/useCoverageWithFilters.spec.js
  src/services/pathContents/useFileWithMainCoverage.spec.js
Due: Services

Update tests
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
Due: Pages

use default owner val
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
Due: Pages

mock some stuff
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
Due: Pages

fix: Repo Page tabs rendering when they should not (#2628)
  src/pages/RepoPage/RepoPageTabs.spec.tsx
  src/pages/RepoPage/RepoPageTabs.tsx
Due: Pages

update metric keys
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
Due: Pages

fix: Sync page to pull in dynamic list of sync providers (#2528)
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.spec.tsx
  src/pages/EnterpriseLandingPage/EnterpriseLandingPage.tsx
  src/pages/EnterpriseLandingPage/ProviderCard/ProviderCard.tsx
  src/pages/SyncProviderPage/SyncButton.spec.tsx
  src/pages/SyncProviderPage/SyncButton.tsx
  src/pages/SyncProviderPage/SyncProviderPage.spec.tsx
  src/pages/SyncProviderPage/SyncProviderPage.tsx
  src/services/config/index.ts
  src/services/config/useLoginProviders.spec.tsx
  src/services/config/useLoginProviders.ts
  src/services/config/useSyncProviders.spec.tsx
  src/services/config/useSyncProviders.ts
  src/services/navigation/useNavLinks/useStaticNavLinks.js
  src/services/navigation/useNavLinks/useStaticNavLinks.spec.js
  src/ui/Button/Button.jsx
Due: Pages, Services, UI

Unify update plan description for pro and team plan
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
Due: Pages

Update breadcrumbs on plan pages
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.jsx
Due: Pages

Update upgrade form
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/TeamPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/PlanTypeOptions/PlanTypeOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.jsx
Due: Pages

Add missing space on pro plan price callout
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
Due: Pages

Fix tests
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/PlanPricing/PlanPricing.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpgradeForm.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
Due: Pages

Fix layout shift on plan description card
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
Due: Pages

Polish various other plan things
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/ProPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.tsx
Due: Pages

Upgrade Sentry Pro plan stuff and remove space from user/month
  src/pages/PlanPage/subRoutes/CancelPlanPage/subRoutes/TeamPlanSpecialOffer/TeamPlanCard/TeamPlanCard.tsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/FreePlanCard.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradePro/PlanUpgradePro.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/FreePlanCard/PlanUpgradeTeam/PlanUpgradeTeam.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/ActionsBilling/ActionsBilling.spec.jsx
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/PlanPricing/PlanPricing.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/SentryPlanDetails/SentryPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.spec.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/ProPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/PriceCallout/PriceCallout.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/SentryPlanController/SentryPlanController.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/BillingOptions/BillingOptions.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/Controllers/TeamPlanController/PriceCallout/PriceCallout.spec.tsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradePlanPage.spec.jsx
Due: Pages

remove it only
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.spec.tsx
Due: Pages

Use space instead of mr-1
  src/pages/PlanPage/subRoutes/CurrentOrgPlan/CurrentPlanCard/shared/PlanPricing/PlanPricing.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/ProPlanDetails/ProPlanDetails.jsx
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeDetails/TeamPlanDetails/TeamPlanDetails.jsx
Due: Pages

Update imports
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.ts
Due: Pages

Upgrade to FSL-1.1 (#2626)
  LICENSE.md
Due: none

slight tweaks to useBundleAssets hook
  src/services/bundleAnalysis/useBundleAssets.spec.tsx
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

slight tweaks to UX for the assets table
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

allow suspense opt to be passed to useBundleAssets
  src/services/bundleAnalysis/useBundleAssets.tsx
Due: Services

slight tweak to mock names
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.spec.tsx
Due: Pages

update BundleContent tab to support rendering new assets table
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.spec.tsx
  src/pages/RepoPage/BundlesTab/BundleContent/BundleContent.tsx
Due: Pages

Refactor indirect changed files table on pull page (#2623)
  src/pages/PullRequestPage/PullCoverage/routes/FilesChangedTab/FilesChanged/NameColumn/NameColumn.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/IndirectChangedFiles.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/NameColumn/NameColumn.jsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.js
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.spec.tsx
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/hooks/useIndirectChangedFilesTable.ts
  src/pages/PullRequestPage/PullCoverage/routes/IndirectChangesTab/IndirectChangedFiles/index.ts
  src/services/pull/usePull.tsx
Due: Pages, Services

Refactor
  src/pages/PlanPage/PlanMetrics/PlanMetrics.ts
  src/pages/PlanPage/subRoutes/UpgradePlanPage/UpgradeForm/UpdateButton/UpdateButton.tsx
Due: Pages

add team plan feedback banner
  src/services/navigation/useNavLinks/useNavLinks.js
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.spec.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/index.js
Due: Services, Shared

Update global top banners test
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
Due: Shared

[feat] Add feedback banner for team plan users (#2632)
  src/services/navigation/useNavLinks/useNavLinks.js
  src/shared/GlobalTopBanners/GlobalTopBanners.spec.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.spec.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/TeamPlanFeedbackBanner.tsx
  src/shared/GlobalTopBanners/TeamPlanFeedbackBanner/index.js
Due: Services, Shared

Update YAML settings page
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/AccountSettings/tabs/YAML/YamlEditor/YamlEditor.jsx
Due: Pages

Update YAML settings page with correct width
  src/pages/AccountSettings/tabs/YAML/YamlEditor/YamlEditor.jsx
Due: Pages

Update Repo settings general tab layout
  src/pages/RepoPage/SettingsTab/SettingsTab.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/GraphToken/GraphToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.jsx
  src/ui/SettingsDescriptor/SettingsDescriptor.jsx
Due: Pages, UI

Update couple more repo settings widths so that everything is uniform
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Graphs/URLEmbed.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YamlTab.jsx
Due: Pages

Move yaml editor size change out of YamlEditor.jsx
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/AccountSettings/tabs/YAML/YamlEditor/YamlEditor.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.jsx
Due: Pages

Change md: to lg:
  src/pages/AccountSettings/tabs/YAML/YAML.jsx
  src/pages/RepoPage/SettingsTab/tabs/BadgesAndGraphsTab/Graphs/URLEmbed.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/GraphToken/GraphToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/GeneralTab/Tokens/RepoUploadToken/RepoUploadToken.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YAML/YAML.jsx
  src/pages/RepoPage/SettingsTab/tabs/YamlTab/YamlTab.jsx
  src/ui/SettingsDescriptor/SettingsDescriptor.jsx
Due: Pages, UI

fix up the row sorting issues
  src/pages/RepoPage/BundlesTab/BundleContent/AssetsTable/AssetsTable.tsx
Due: Pages

Path conditions:
  Assets: any of: src/assets/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Layouts: any of: src/layouts/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Pages: any of: src/pages/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Services: any of: src/services/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  Shared: any of: src/shared/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
  UI: any of: src/ui/**, but not: src/**/*.stories.js, src/setupTests.js, src/setupProxy.js, src/reportWebVitals.js, scripts/*, src/index.js, src/sentry.js, src/mocks/*.js, src/**/flags/**/*.js, src/**/mocks.js, src/pages/RepoPage/repo-jest-setup.js, src/ui/SunburstChart/*.jsx, src/ui/SunburstChart/*.js
