Repository codecov/gazebo: changes, and which Codecov flags are due for each by the changed paths.
All: Assets, Layouts, Pages, Services, Shared, UI

codecov.yml:

codecov:
  require_ci_to_pass: true

ai_pr_review:
  enabled: false

coverage:
  precision: 2
  round: down
  range: '60...85'

  status:
    project: yes
    patch: true
    changes: false

github_checks:
  annotations: false

comment:
  layout: 'reach, diff, flags, files, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  after_n_builds: 9 # ceil(number of test files / 80). See ci.yml for more details.

ignore:
  - ./src/**/*.stories.js
  - ./src/**/*.stories.jsx
  - ./src/**/*.stories.ts
  - ./src/**/*.stories.tsx
  - ./src/setupTests.js
  - ./src/setupProxy.js
  - ./src/ts-override.d.ts
  - ./src/types.ts
  - ./src/vite-env.d.ts
  - ./src/vitest.setup.ts
  - ./src/reportWebVitals.js
  - ./scripts/*
  - ./src/index.ts
  - ./src/sentry.ts
  - ./src/mocks/*.js
  - ./src/**/flags/**/*.js
  - ./src/**/mocks.js
  - ./src/**/mocks.ts
  - ./src/pages/RepoPage/repo-jest-setup.js
  - ./src/ui/SunburstChart/*.jsx
  - ./src/ui/SunburstChart/*.js
  - './src/**/*.svg'
  - './src/**/*.png'
  - './src/**/*.jpg'

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - '!main'
  individual_components:
    - component_id: dir_assets
      name: Assets
      paths:
        - src/assets/**
    - component_id: dir_layouts
      name: Layouts
      paths:
        - src/layouts/**
    - component_id: dir_pages
      name: Pages
      paths:
        - src/pages/**
    - component_id: dir_services
      name: Services
      paths:
        - src/services/**
    - component_id: dir_shared
      name: Shared
      paths:
        - src/shared/**
    - component_id: dir_ui
      name: UI
      paths:
        - src/ui/**

test_analytics:
  flake_detection: true

update PullBundleAnalysis to use new query opts
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
Due: Pages

update useCommitPageData to query options
  src/pages/CommitDetailPage/hooks/index.js
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

update CommitCoverage
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
Due: Pages

update CommitDetailPage
  src/pages/CommitDetailPage/CommitDetailPage.test.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
Due: Pages

update CommitBundleAnalysis
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
Due: Pages

update banner to remove validation rules
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
Due: Shared

add in tests for banner
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.test.tsx
Due: Shared

fix: HTML Validation issues with GitHub Rate Limit Banner (#3538)
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.test.tsx
  src/shared/GlobalBanners/GitHubRateLimitExceeded/GitHubRateLimitExceededBanner.tsx
Due: Shared

chore: Update usePullPageData to TSQ V5 (#3536)
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.test.tsx
  src/pages/PullRequestPage/PullBundleAnalysis/PullBundleAnalysis.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverage.test.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/PullCoverageTabs.test.jsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/hooks/index.ts
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/useTabsCounts.test.tsx
  src/pages/PullRequestPage/PullCoverage/PullCoverageTabs/useTabsCounts.ts
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.jsx
  src/pages/PullRequestPage/PullCoverage/routes/FileViewer/FileViewer.test.jsx
  src/pages/PullRequestPage/PullRequestPage.test.tsx
  src/pages/PullRequestPage/PullRequestPage.tsx
  src/pages/PullRequestPage/hooks/index.ts
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.test.tsx
  src/pages/PullRequestPage/queries/PullPageDataQueryOpts.tsx
Due: Pages

migrate hook to query options
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/query.ts
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/queries/ComponentComparisonQueryOpts.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/queries/ComponentComparisonQueryOpts.tsx
Due: Pages

update ComponentsTable and tests to use query V5
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
Due: Pages

Prepare release 24.12.2
  VERSION
Due: none

update ContextSwitcher to read owner param
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/ContextSwitcher/ContextSwitcher.stories.jsx
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
Due: UI

render context select always even if there's no owner
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
Due: Layouts

fix: Seperate org name from error banner on 404 page (#3525)
  src/App.test.tsx
  src/layouts/BaseLayout/BaseLayout.test.tsx
  src/layouts/BaseLayout/BaseLayout.tsx
  src/layouts/BaseLayout/hooks/NavigatorDataQueryOpts.test.tsx
  src/layouts/BaseLayout/hooks/NavigatorDataQueryOpts.ts
  src/layouts/Header/Header.tsx
  src/layouts/Header/components/Navigator/Navigator.test.tsx
  src/layouts/Header/components/Navigator/Navigator.tsx
  src/shared/GlobalTopBanners/GlobalTopBanners.tsx
  src/ui/ContextSwitcher/ContextSwitcher.jsx
  src/ui/ContextSwitcher/ContextSwitcher.stories.jsx
  src/ui/ContextSwitcher/ContextSwitcher.test.jsx
Due: Layouts, Shared, UI

migrate hook to query options setup
  src/pages/PullRequestPage/Header/HeaderDefault/hooks/index.ts
  src/pages/PullRequestPage/Header/HeaderDefault/queries/PullHeadDataQueryOpts.test.tsx
  src/pages/PullRequestPage/Header/HeaderDefault/queries/PullHeadDataQueryOpts.tsx
Due: Pages

update default header for ts query v5
  src/pages/PullRequestPage/Header/HeaderDefault/HeaderDefault.test.tsx
  src/pages/PullRequestPage/Header/HeaderDefault/HeaderDefault.tsx
Due: Pages

update usePullHeadDataTeam to TSQ V5
  src/pages/PullRequestPage/Header/HeaderTeam/hooks/index.ts
  src/pages/PullRequestPage/Header/HeaderTeam/queries/PullHeadDataTeamQueryOpts.test.tsx
  src/pages/PullRequestPage/Header/HeaderTeam/queries/PullHeadDataTeamQueryOpts.tsx
Due: Pages

update HeaderTeam to handle migration changes
  src/pages/PullRequestPage/Header/HeaderTeam/HeaderTeam.test.tsx
  src/pages/PullRequestPage/Header/HeaderTeam/HeaderTeam.tsx
Due: Pages

chore: Migrate usePullHeadData to TS Query V5 (#3543)
  src/pages/PullRequestPage/Header/HeaderDefault/HeaderDefault.test.tsx
  src/pages/PullRequestPage/Header/HeaderDefault/HeaderDefault.tsx
  src/pages/PullRequestPage/Header/HeaderDefault/hooks/index.ts
  src/pages/PullRequestPage/Header/HeaderDefault/queries/PullHeadDataQueryOpts.test.tsx
  src/pages/PullRequestPage/Header/HeaderDefault/queries/PullHeadDataQueryOpts.tsx
Due: Pages

chore: Migrate usePullHeadDataTeam to TS Query V5 (#3544)
  src/pages/PullRequestPage/Header/HeaderTeam/HeaderTeam.test.tsx
  src/pages/PullRequestPage/Header/HeaderTeam/HeaderTeam.tsx
  src/pages/PullRequestPage/Header/HeaderTeam/hooks/index.ts
  src/pages/PullRequestPage/Header/HeaderTeam/queries/PullHeadDataTeamQueryOpts.test.tsx
  src/pages/PullRequestPage/Header/HeaderTeam/queries/PullHeadDataTeamQueryOpts.tsx
Due: Pages

remove suspense option
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
Due: Pages

chore: Migrate useComponentComparison to TS Query V5 (#3539)
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.test.jsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/ComponentsTable.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/index.ts
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/hooks/query.ts
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/queries/ComponentComparisonQueryOpts.test.tsx
  src/pages/PullRequestPage/PullCoverage/routes/ComponentsTab/queries/ComponentComparisonQueryOpts.tsx
Due: Pages

chore: Migrate useCommitPageData to TSQ V5 (#3537)
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.test.tsx
  src/pages/CommitDetailPage/CommitBundleAnalysis/CommitBundleAnalysis.tsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.jsx
  src/pages/CommitDetailPage/CommitCoverage/CommitCoverage.test.jsx
  src/pages/CommitDetailPage/CommitDetailPage.test.tsx
  src/pages/CommitDetailPage/CommitDetailPage.tsx
  src/pages/CommitDetailPage/hooks/index.js
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.test.tsx
  src/pages/CommitDetailPage/queries/CommitPageDataQueryOpts.tsx
Due: Pages

add background color to FileExplorer
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.jsx
Due: Pages

fix: RepoPage table header having no BG (#3545)
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileExplorer.jsx
Due: Pages

Update action to v5 in TA onboarding
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
Due: Pages

first round, apply new pagination
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/CodeTreeTable/CodeTreeTable.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/FileListTable/FileListTable.tsx
  src/pages/RepoPage/CoverageTab/OverviewTab/subroute/FileExplorer/hooks/useRepoBranchContentsTable.tsx
  src/services/pathContents/branch/dir/constants.ts
  src/services/pathContents/branch/dir/useRepoBranchContents.tsx
  src/services/pathContents/commit/dir/constants.ts
Due: Pages, Services

migrate useIgnoredIds to TS Query V5
  src/pages/CommitDetailPage/hooks/useIgnoredIds.test.tsx
  src/pages/CommitDetailPage/hooks/useIgnoredIds.ts
  src/pages/CommitDetailPage/queries/IgnoredIdsQueryOptions.test.tsx
  src/pages/CommitDetailPage/queries/IgnoredIdsQueryOptions.ts
Due: Pages

update components and their tests using this migrated hook
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/FilesChangedTab/shared/CommitFileDiff/CommitFileDiff.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.test.tsx
  src/pages/CommitDetailPage/CommitCoverage/routes/IndirectChangesTab/IndirectChangesTable/CommitFileDiff/CommitFileDiff.tsx
Due: Pages

migrate hook to query options API
  src/pages/CommitDetailPage/Header/HeaderDefault/hooks/index.ts
  src/pages/CommitDetailPage/Header/HeaderDefault/queries/CommitHeaderDataQueryOpts.test.tsx
  src/pages/CommitDetailPage/Header/HeaderDefault/queries/CommitHeaderDataQueryOpts.tsx
Due: Pages

update tests
  src/pages/CommitDetailPage/Header/HeaderDefault/HeaderDefault.jsx
  src/pages/CommitDetailPage/Header/HeaderDefault/HeaderDefault.test.jsx
Due: Pages

migrate hook to the query options api
  src/pages/CommitDetailPage/Header/HeaderTeam/hooks/index.ts
  src/pages/CommitDetailPage/Header/HeaderTeam/queries/CommitHeaderDataTeamQueryOpts.test.tsx
  src/pages/CommitDetailPage/Header/HeaderTeam/queries/CommitHeaderDataTeamQueryOpts.tsx
Due: Pages

update use of hook into query
  src/pages/CommitDetailPage/Header/HeaderTeam/HeaderTeam.jsx
  src/pages/CommitDetailPage/Header/HeaderTeam/HeaderTeam.test.jsx
Due: Pages

chore: Update action to v5 in TA onboarding (#3546)
  src/pages/RepoPage/FailedTestsTab/GitHubActions/GitHubActions.tsx
Due: Pages

Release 24.12.2 (#3542)
  VERSION
Due: none

add PROCESSING_TIMEOUT upload error code (#3522)
  src/shared/utils/commit.ts
Due: Shared

refactor: Convert ContextSwitcher to TS
  .storybook/preview.tsx
  src/layouts/Header/components/Navigator/MyContextSwitcher.tsx
  src/ui/Avatar/Avatar.jsx
  src/ui/ContextSwitcher/ContextSwitcher.stories.jsx
  src/ui/ContextSwitcher/ContextSwitcher.stories.tsx
  src/ui/ContextSwitcher/ContextSwitcher.tsx
  src/ui/ContextSwitcher/index.js
  src/ui/ContextSwitcher/index.ts
Due: Layouts, UI

fix: Remove unneeded explicit prop passing
  src/ui/Button/Button.tsx
Due: UI

refactor: convert LoadingLogo to TS
  src/ui/LoadingLogo/LoadingLogo.jsx
  src/ui/LoadingLogo/LoadingLogo.stories.jsx
  src/ui/LoadingLogo/index.js
Due: UI
